
<div class="inner inner2">
    <div class="mcAddTian">
        <p class="clearfix cut">
            <span class="fl tianMsg">备案</span>
            <span class="fr tianMeg">带“ <i class="xing">*</i> ”为必填项</span>
        </p>
        <form action="#">
            <ul class="clearfix dataForm">
                <li class="row">
                    <div class="col-md-12">
                        <label for="" class="col-md-3 text-right sysTitle">
                            <span class="xing">*</span>
                            1.系统拓扑结构及说明：
                        </label>
                        <div class="clearfix sysText col-md-8 uploadBox">
                            <div class="uploadSty">
                                <ul class="fileList" id="fileList"></ul>
                                <el-button type="primary" v-if="formData.topologyDescriptionName!==''" size="small">上传</el-button>
                                <el-button type="primary" v-else size="small">继续上传</el-button>
                            </div>
                            <input type="file" value="" id="file" @change='onUpload'>
                            <p> 附件总量最大 <span class="xing">30M</span>，上传格式为：word、pdf、exl、zip、rar、sep</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="" class="col-md-3 text-right sysTitle">
                            附件名称：
                        </label>
                        <div class="clearfix sysEnclosure col-md-9">
                            <input type="text" class="col-md-11 inpEnclosure" v-model="formData.topologyDescriptionName" name="fileText" id="fileText" disabled>
                        </div>
                    </div>
                </li>
                <li class="row">
                    <div class="col-md-12">
                        <label for="" class="col-md-3 text-right sysTitle">
                            <span class="xing">*</span>
                            2.系统安全组织机构及管理制度：
                        </label>
                        <div class="clearfix sysText col-md-8 uploadBox">
                            <div class="uploadSty">
                                <ul class="fileList" id="fileList2">
                                </ul>
                                <el-button type="primary" v-if="formData.organizationManagementName!==''" size="small">上传</el-button>
                                <el-button type="primary" v-else size="small">继续上传</el-button>
                            </div>
                            <input type="file" value="" id="file" @change='onUpload2'>
                            <p> 附件总量最大 <span class="xing">30M</span>，上传格式为：word、pdf、exl、zip、rar、sep</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="" class="col-md-3 text-right sysTitle">
                            附件名称：
                        </label>
                        <div class="clearfix sysEnclosure col-md-9">
                            <input type="text" class="col-md-11 inpEnclosure" v-model="formData.organizationManagementName" name="upSyst" id="upSyst" disabled>
                        </div>
                    </div>
                </li>
                <li class="row">
                    <div class="col-md-12">
                        <label for="" class="col-md-3 text-right sysTitle">
                            <span class="xing">*</span>
                            3.系统安全保护设施设计实施方案或改建实施方案：
                        </label>
                        <div class="clearfix sysText col-md-8 uploadBox">
                            <div class="uploadSty">
                                <ul class="fileList" id="fileList3">
                                </ul>
                                <el-button type="primary" v-if="formData.implementationPlanName!==''" size="small">上传</el-button>
                                <el-button type="primary" v-else size="small">继续上传</el-button>
                            </div>
                            <input type="file" value="" id="file" @change='onUpload3'>
                            <p> 附件总量最大 <span class="xing">30M</span>，上传格式为：word、pdf、exl、zip、rar、sep</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="" class="col-md-3 text-right sysTitle">
                            附件名称：
                        </label>
                        <div class="clearfix sysEnclosure col-md-9">
                            <input type="text" class="col-md-11 inpEnclosure" v-model="formData.implementationPlanName" name="upBuid" id="upBuid" disabled>
                        </div>
                    </div>
                </li>
                <li class="row">
                    <div class="col-md-12">
                        <label for="" class="col-md-3 text-right sysTitle">
                            <span class="xing">*</span>
                            4.系统使用的安全产品清单及认证、销售许可证明：
                        </label>
                        <div class="clearfix sysText col-md-8 uploadBox">
                            <div class="uploadSty">
                                <ul class="fileList" id="fileList4">
                                </ul>
                                <el-button type="primary" v-if="formData.licenseCertificateName!==''" size="small">上传</el-button>
                                <el-button type="primary" v-else size="small">继续上传</el-button>
                            </div>
                            <input type="file" value="" id="file" @change='onUpload4'>
                            <p> 附件总量最大 <span class="xing">30M</span>，上传格式为：word、pdf、exl、zip、rar、sep</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="" class="col-md-3 text-right sysTitle">
                            附件名称：
                        </label>
                        <div class="clearfix sysEnclosure col-md-9">
                            <input type="text" class="col-md-11 inpEnclosure" v-model="formData.licenseCertificateName" name="upList" id="upList" disabled>
                        </div>
                    </div>
                </li>
                <li class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label for="" class="col-md-6 text-right sysTitle">5.系统等级测评报告：</label>
                            <p class="downDoc col-md-6" @click="downloadFile(formData.evaluationPresentationId)">{{formData.evaluationPresentationName}}</p>
                        </div>
                        <div class="col-md-6">
                            <label for="" class="col-md-3 text-right sysTitle">附件名称：</label>
                            <p class="col-md-4 text-left dixName">{{formData.evaluationPresentationName}}</p>
                        </div>
                    </div>
                </li>
                <li class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label for="" class="col-md-6 text-right sysTitle">6.专家评审情况：</label>
                            <p class="downDoc col-md-6" @click="downloadFile(formData.expertReviewId)">{{formData.expertReviewName}}</p>
                        </div>
                        <div class="col-md-6">
                            <label for="" class="col-md-3 text-right sysTitle">附件名称：</label>
                            <p class="col-md-4 text-left dixName">{{formData.expertReviewName}}</p>
                        </div>
                    </div>
                </li>
                <li class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label for="" class="col-md-6 text-right sysTitle">7.上级主管部门审批意见：</label>
                            <p class="downDoc col-md-6" @click="downloadFile(formData.directorOpinionId)">{{formData.directorOpinionName}}</p>
                        </div>
                        <div class="col-md-6">
                            <label for="" class="col-md-3 text-right sysTitle">附件名称：</label>
                            <p class="col-md-4 text-left dixName">{{formData.directorOpinionName}}</p>
                        </div>
                    </div>
                </li>
                <slot name="materialBtn"></slot>
                <slot name="materialChangeBtn"></slot>
            </ul>
        </form>
    </div>
</div>

