<div class="inner inner2">
    <div class="mcAddTian">
        <p class="clearfix cut">
            <span class="fl tianMsg">定级信息</span>
            <span class="fr tianMeg">带“ <i class="xing">*</i> ”为必填项</span>
        </p>
        <!-- 附件上传弹窗 start -->
<!--         <el-dialog lock-scroll  :close-on-click-modal="ceshi"   title="附件上传" :visible.sync="dialogVisible" width="30%">
        	<i class="failIcon fl" style="margin-left:30px;margin-top:-12px;background-color: #D81E06;text-align: center;color: #fff;border-radius: 50%;width: 60px;height: 60px;font-size: 50px;">!</i>
        	<div class="ceshi" style="text-align:center">
        		<p>附件总量最大 30M，上传格式为：doc,docx,xls,xlsx,pdf,zip,rar,sep</p>		
        	</div>
        	 <div slot="footer" class="dialog-footer">
    			<el-button size="mini" @click="dialogVisible = false">取 消</el-button>
    			<el-button size="mini" type="primary" @click="dialogVisible = false">确 定</el-button>
  			</div>
        </el-dialog> -->
        <!-- 附件上传弹窗 end -->
        <div class="startBox" id="startBoxImportFailed" style="display:none;width:20% !important;">
            <i class="el-icon-warning" style="display:block;color:#D81E06;font-size:32px;float:left;margin-right:12px;"></i><P>上传失败,{{causeFailure}}</P>
        </div>
         <!-- 验证提示弹框 start -->
         <el-dialog lock-scroll  :close-on-click-modal="ceshi2"  title="验证提示" :visible.sync="dialogVisibled" width="30%">
						     <i class="failIcon fl" style="margin-left:30px;margin-top:-12px;background-color: #D81E06;text-align: center;color: #fff;border-radius: 50%;width: 60px;height: 60px;font-size: 50px;line-height:60px">!</i>
						       <div class="ceshi" style="text-align:center;">
						        		<p style="float:none">验证有误，请检查填写信息</p>		
						        	</div>
						        	 <div slot="footer" class="dialog-footer" style="width:80%;margin-left:-35px">
                                        <el-button size="mini" type="primary" @click="dialogVisibled = false">确 定</el-button>
						    			<el-button size="mini" @click="dialogVisibled = false">取 消</el-button>
						  			</div>	
						        </el-dialog>
						        <!-- 验证提示弹框 end -->
        <el-form action="#" id="addFormGrad" :model="formData" :rules="rules" ref="formData" label-width="200px" class="P-addFormGrad">
            <ul class="clearfix liAddsty">
                <li class="row">
                    <el-form-item label="系统名称：">
                        {{formData.gradeRecordSysName}}
                    </el-form-item>
                </li>
                <li class="row">
                    <el-form-item label="确定安全保护等级：" prop="fkSpRanklevel" ref="fkSpRanklevel">
                        <div class="saveTable">
                            <ul class="clearfix">
                                <li class="row saveTableRowLine saveTableRow">
                                    <div class="col-md-2"><div style="margin-left:15px">安全保护等级类型</div></div>
                                    <div class="col-md-8" style="border-left:1px solid #cecece;border-right:1px solid #cecece;"><div style="margin-left:15px">损害客体及损害程度</div></div>
                                    <div class="col-md-2"><div style="margin-left:15px">级别</div></div>
                                </li>
                                <li class="row saveTableRow saveTableHeg" style="height:311px;">
                                    <div class="col-md-2 mcAddSysBuild" style="height:311px;"><div style="margin-left:15px">业务信息</div></div>
                                    <ul class="col-md-10 saveTableLase" id="sysTable"  @change="onBlur">
                                        <li class="saveTableBorder">
                                            <div class="col-md-1">
                                                <input type="radio" v-model="formData.fkBizSPRankLevel" @click="checkFnAll(101)" id="101" value="101"  name="inform" class="inpChoose">
                                            </div>
                                            <div class="col-md-9 saveMsg">
                                                <input @click="fnChecked(101,10101)" id="10101" type="checkbox" class="inpChoose checkFirst checkOnly"><span style="margin-left:10px;">仅对公民、法人和其他组织的合法权益造成伤害</span>
                                            </div>
                                            <div class="col-md-2 saveTableBg saveLevel">
                                                <input type="radio" name="business" id="01" class="inpChoose" disabled><span style="margin-left:10px;">第一级</span>
                                            </div>
                                        </li>
                                        <li class="saveTableBorder">
                                            <div class="col-md-1 saveTableBorB inplast">
                                                <input  type="radio" v-model="formData.fkBizSPRankLevel" @click="checkFnAll(102)" id="102" value="102" name="inform" class="inpChoose inpLase">
                                            </div>
                                            <div class="col-md-9 saveMsg">
                                                <div class="col-md-9">
                                                    <input  id="10201" @click="fnChecked(102,10201)" type="checkbox" class="inpChoose checkName"><span style="margin-left:10px;">对公民、法人和其他组织的合法权益造成特别严重损害</span>
                                                </div>
                                                <div class="col-md-9">
                                                    <input id="10202" @click="fnChecked(102,10202)"  type="checkbox" class="inpChoose checkName"><span style="margin-left:10px;">对社会秩序和公共利益造成损害</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2 saveTableBg saveTableHgh saveLevel">
                                                <input type="radio" name="business" id="02"  class="inpChoose" disabled><span style="margin-left:10px;">第二级</span>
                                            </div>
                                        </li>
                                        <li class="saveTableBorder">
                                            <div class="col-md-1 saveTableBorB inplast" style="height:103px;">
                                                <input type="radio" v-model="formData.fkBizSPRankLevel" @click="checkFnAll(103)" id="103" value="103" name="inform" class="inpChoose inpLase">
                                            </div>
                                            <div class="col-md-9 saveMsg">
                                                <div class="col-md-9">
                                                    <input type="checkbox" id="10301" @click="fnChecked(103,10301)"  class="inpChoose"><span style="margin-left:10px;">对社会秩序和公共利益造成严重损害</span>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="checkbox" id="10302"  @click="fnChecked(103,10302)"  class="inpChoose"><span style="margin-left:10px;">对国家安全造成严重损害</span>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="checkbox" id="10303"  @click="fnChecked(103,10303)" class="inpChoose"><span style="margin-left:10px;">对公民、法人和其他组织的合法权益造成特别严重损害</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2 saveTableBg saveTableHgh saveLevel" style="height:103px;">
                                                <input type="radio" name="business" id="03" class="inpChoose" disabled><span style="margin-left:10px;">第三级</span>
                                            </div>
                                        </li>
                                        <li class="saveTableBorder" >
                                            <div class="col-md-1 saveTableBorB inplast">
                                                <input type="radio" v-model="formData.fkBizSPRankLevel" @click="checkFnAll(104)" id="104" value="104" name="inform" class="inpChoose inpLase">
                                            </div>
                                            <div class="col-md-9 saveMsg">
                                                <div class="col-md-9">
                                                    <input type="checkbox" id="10401" @click="fnChecked(104,10401)" class="inpChoose"><span style="margin-left:10px;">对社会秩序和公共利益造成特别严重损害</span>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="checkbox" id="10402" @click="fnChecked(104,10402)"  class="inpChoose"><span style="margin-left:10px;">对国家安全造成特别严重损害</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2 saveTableBg saveTableHgh saveLevel">
                                                <input type="radio" name="business" id="04" class="inpChoose" disabled><span style="margin-left:10px;">第四级</span>
                                            </div>
                                        </li>
                                        <li class="saveTableBorder"  >
                                            <div class="col-md-1">
                                                <input type="radio" id="" v-model="formData.fkBizSPRankLevel" @click="checkFnAll(105)" id="105" value="105" name="inform" class="inpChoose">
                                            </div>
                                            <div class="col-md-9 saveMsg ">
                                                <input type="checkbox" id="10501"  @click="fnChecked(105,10501)" class="inpChoose checkFirst"><span style="margin-left:10px;">对国家安全造成特别严重损害</span>
                                            </div>
                                            <div class="col-md-2 saveTableBg saveLevel">
                                                <input type="radio" name="business" id="05" class="inpChoose" disabled><span style="margin-left:10px;">第五级</span>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="row saveTableRow saveTableHeg" style="height:311px;">
                                    <div class="col-md-2 mcAddSysBuild" style="height:311px;"><div style="margin-left:15px">系统信息</div></div>
                                    <ul class="col-md-10 saveTableLase"   @change="onBlur">
                                        <li class="saveTableBorder">
                                            <div class="col-md-1">
                                                <input type="radio" id="201" v-model="formData.fkBizSystemLevel" @click="fnCheckAll(201)" value="201"  name="inorm" class="inpChoose">
                                            </div>
                                            <div class="col-md-9 saveMsg">
                                                <input type="checkbox"  @click="checkAll(201,20101)"  id="20101" class="inpChoose checkFirst"><span style="margin-left:10px;">仅对公民、法人和其他组织的合法权益造成伤害</span>
                                            </div>
                                            <div class="col-md-2 saveTableBg saveLevel">
                                                <input type="radio" id="021" name="busine" class="inpChoose" disabled><span style="margin-left:10px;">第一级</span>
                                            </div>
                                        </li>
                                        <li class="saveTableBorder">
                                            <div class="col-md-1 saveTableBorB inplast">
                                                <input type="radio" id="202" v-model="formData.fkBizSystemLevel" @click="fnCheckAll(202)" value="202"   name="inorm" class="inpChoose inpLase">
                                            </div>
                                            <div class="col-md-9 saveMsg">
                                                <div class="col-md-9">
                                                    <input type="checkbox" @click="checkAll(202,20201)" id="20201"  class="inpChoose"><span style="margin-left:10px;">对公民、法人和其他组织的合法权益造成特别严重损害</span>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="checkbox" @click="checkAll(202,20202)" id="20202" class="inpChoose"><span style="margin-left:10px;">对社会秩序和公共利益造成损害</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2 saveTableBg saveTableHgh saveLevel">
                                                <input type="radio" name="busine" id="022" class="inpChoose" disabled><span style="margin-left:10px;">第二级</span>
                                            </div>
                                        </li>
                                        <li class="saveTableBorder">
                                            <div class="col-md-1 saveTableBorB inplast" style="height:103px;">
                                                <input type="radio" name="inorm" id="203" v-model="formData.fkBizSystemLevel" @click="fnCheckAll(203)" value="203"  class="inpChoose inpLase">
                                            </div>
                                            <div class="col-md-9 saveMsg">
                                                <div class="col-md-9">
                                                    <input type="checkbox" @click="checkAll(203,20301)" id="20301" class="inpChoose"><<span style="margin-left:10px;">对社会秩序和公共利益造成严重损害</span>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="checkbox" @click="checkAll(203,20302)" id="20302" class="inpChoose"><span style="margin-left:10px;">对国家安全造成严重损害</span>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="checkbox" @click="checkAll(203,20303)" id="20303" class="inpChoose"><span style="margin-left:10px;">对公民、法人和其他组织的合法权益造成特别严重损害</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2 saveTableBg saveTableHgh saveLevel" style="height:103px;">
                                                <input type="radio" name="busine" id="023" class="inpChoose" disabled><span style="margin-left:10px;">第三级</span>
                                            </div>
                                        </li>
                                        <li class="saveTableBorder">
                                            <div class="col-md-1 saveTableBorB inplast">
                                                <input type="radio" name="inorm" id="204"  v-model="formData.fkBizSystemLevel" @click="fnCheckAll(204)" value="204"   class="inpChoose inpLase">
                                            </div>
                                            <div class="col-md-9 saveMsg">
                                                <div class="col-md-9">
                                                    <input type="checkbox" @click="checkAll(204,20401)" id="20401" class="inpChoose"><span style="margin-left:10px;">对社会秩序和公共利益造成特别严重损害</span>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="checkbox" @click="checkAll(204,20402)" id="20402" class="inpChoose"><span style="margin-left:10px;">对国家安全造成特别严重损害</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2 saveTableBg saveTableHgh saveLevel">
                                                <input type="radio" name="busine" id="024" class="inpChoose" disabled><span style="margin-left:10px;">第四级</span>
                                            </div>
                                        </li>
                                        <li class="saveTableBorder">
                                            <div class="col-md-1">
                                                <input type="radio" id="205" v-model="formData.fkBizSystemLevel" @click="fnCheckAll(205)" value="205"  name="inorm" class="inpChoose">
                                            </div>
                                            <div class="col-md-9 saveMsg ">
                                                <input type="checkbox" @click="checkAll(205,20501)" id="20501" class="inpChoose checkFirst"><span style="margin-left:10px;">对国家安全造成特别严重损害</span>
                                            </div>
                                            <div class="col-md-2 saveTableBg saveLevel">
                                                <input type="radio" name="busine" id="025" class="inpChoose" disabled><span style="margin-left:10px;">第五级</span>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="row saveTableLast">
                                    <div class="col-md-2 saveTableBg saveTableMsy">信息系统安全保护等级</div>
                                    <div class="col-md-10 saveTableBg saveTableLast">
                                        <div class="fl col-md-2">
                                            <span>
                                                <input type="radio" id="" name="Choice" :checked="formData.fkSpRanklevel === '301'||formData.fkSpRanklevel ==301" class="inpChoose" disabled/>
                                            </span><span style="margin-left:10px;">第一级</span>
                                        </div>
                                        <div class="fl col-md-2">
                                            <span>
                                                <input type="radio" id="" name="Choice" :checked="formData.fkSpRanklevel === '302'||formData.fkSpRanklevel ==302" class="inpChoose" disabled/>
                                            </span><span style="margin-left:10px;">第二级</span>
                                        </div>
                                        <div class="fl col-md-2">
                                            <span>
                                                <input type="radio" id="" name="Choice" :checked="formData.fkSpRanklevel === '303'||formData.fkSpRanklevel ==303" class="inpChoose" disabled/>
                                            </span><span style="margin-left:10px;">第三级</span>
                                        </div>
                                        <div class="fl col-md-2">
                                            <span>
                                                <input type="radio" id="" name="Choice" :checked="formData.fkSpRanklevel === '304'||formData.fkSpRanklevel ==304" class="inpChoose" disabled/>
                                            </span><span style="margin-left:10px;">第四级</span>
                                        </div>
                                        <div class="fl col-md-2">
                                            <span>
                                                <input type="radio" id="" name="Choice" :checked="formData.fkSpRanklevel === '305'||formData.fkSpRanklevel ==305" class="inpChoose" disabled/>
                                            </span><span style="margin-left:10px;">第五级</span>
                                        </div>
                                        <br>
                                        <p class="xing">信息系统安全保护等级为三级以上（包含三级）时，需要在备案时填写系统材料情况（备案表4）。</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </el-form-item>
                    <el-form-item label="" prop="fkBizSPRankDegree" v-if="(formData.fkSpRanklevel !==0&&formData.fkSpRanklevel !=='0')&&formData.fkBizSPRankDegree ===''">
                    </el-form-item>
                    <el-form-item label="" prop="fkBizSPRankLevel" v-else-if="(formData.fkSpRanklevel !==0&&formData.fkSpRanklevel !=='0')&&formData.fkBizSPRankLevel ===''">
                    </el-form-item>
                    <el-form-item label="" prop="fkBizSystemDegree" v-else-if="(formData.fkSpRanklevel !==0&&formData.fkSpRanklevel !=='0')&&formData.fkBizSystemDegree ===''">
                    </el-form-item>
                    <el-form-item label="" prop="fkBizSystemLevel" v-else-if="(formData.fkSpRanklevel !==0&&formData.fkSpRanklevel !=='0')&&formData.fkBizSystemLevel ===''">
                    </el-form-item>
                </li>
                <li class="row liMargin">
                    <!-- <el-form-item label="定级说明描述：" prop="rankExplainDesc">
                        <div class="mcTextArea" @click="text">
                            <textarea id="textArea" cols="30" rows="10" placeholder="请输入" v-model="formData.rankExplainDesc" maxlength="200"></textarea>
                            <span class='textAll'><span id="textNum">0</span>/200</span>
                            最多200字符，0处显示的是已经写了多少字符
                        </div>
                    </el-form-item> -->
                    <!--<div class="col-md-12 text-left">-->
                        <!--&lt;!&ndash;<label for="" class="col-md-2 col-sm-1 saveTextTitle text-right">&ndash;&gt;-->
                            <!--&lt;!&ndash;<span class="xing">*</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;{{description}}：&ndash;&gt;-->
                        <!--&lt;!&ndash;</label>&ndash;&gt;-->
                        <!--&lt;!&ndash; 在处理textarea之前，首先需知道textarea是不会显示value值的，-->
                <!--如果想显示需要使用js中的方法 $('#textArea').val('123'); &ndash;&gt;-->
                        <!--<div class="mcTextArea col-md-10 col-md-offset-1 col-sm-3" @click="text">-->
                            <!--<textarea id="textArea" cols="30" rows="10" placeholder="请输入" v-model="formData.rankExplainDesc" maxlength="200" v-prompt="{type:'textnull'}"></textarea>-->
                            <!--<span class='textAll'><span id="textNum">0</span>/200</span>-->
                            <!--&lt;!&ndash; 最多200字符，0处显示的是已经写了多少字符&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                </li>
                <li class="row liMargin">
                    <div class="col-lg-6 col-md-6 P-useData">
                        <el-form-item label="定级时间：" prop="rankTime" onclick="return false" ref="rankTime">
                            <el-date-picker :picker-options="pickerOptions0" class="col-md-6 col-sm-3 liPadding useData" id="rankTime" v-model="formData.rankTime" type="date"></el-date-picker>
                        </el-form-item>
                    </div>
                    <div class="col-lg-6 col-md-6 P-useData">
                        <el-form-item label="是否有主管部门：" prop="competentIsExisting" ref="competentIsExisting">
                            <div class="col-md-6 col-sm-3 mcAddSysBuildChange text-center" id="baseMes1">
                                <input type="hidden"  v-model="formData.competentIsExisting">
                                <div class="col-md-6" @click="btnBoolen($event,1)">是</div>
                                <div class="col-md-6" @click="btnBoolen($event,2)">否</div>
                            </div>
                        </el-form-item>
                    </div>
                </li>
                <li class="row liMargin" id="direHide1" style="display: none;">
                    <div class="col-lg-6 col-md-6 P-useData">
                        <el-form-item label="主管部门名称：" prop="competentName" ref="competentName">
                            <input clearable id="competentNameinput" type="text"  v-model="formData.competentName"  @change="getCompetentNameSuccess"></input>
                        </el-form-item>
                    </div>
                    <div class="col-lg-6 col-md-6 P-useData">
                        <el-form-item label="主管部门审批定级情况：" prop="competentView" ref="competentView">
                            <div class="col-md-6 col-sm-3 mcAddSysBuildChange text-center" id="baseMes2">
                                <input type="hidden"  v-model="formData.competentView" >
                                <div class="col-md-6" @click="getClass($event,1)">已审批</div>
                                <div class="col-md-6" @click="getClass($event,2)">未审批</div>
                            </div>
                        </el-form-item>
                    </div>
                </li>
                <li class="row liMargin file material"  id="approval">
                    <el-form-item label="上级主管部门审批意见：" prop="directorOpinionName" ref="directorOpinionName" style="font-size:14px">
                        <div class="clearfix sysText col-md-8">
                            <div class="uploadSty">
                                <ul class="fileList" id="fileList" @mouseenter="thingMove()">
                                </ul>
                                <el-button type="primary" size="small" id="btn3" style="background-color:#348fe2;color:white">上传</el-button>
                            </div>
                            <input type="file" id="file" @change='onUpload' ref="refOnUpload">
                            <p> 附件总量最大 <span class="xing">30M</span>，上传格式为：doc,docx,xls,xlsx,pdf,zip,rar,sep</p>
                        </div>
                    </el-form-item>
                </li>
                <li class="row liMargin">
                    <div class="col-lg-6 col-md-6 P-useData">
                        <el-form-item label="定级报告：" prop="gradingReportName" ref="gradingReportName">
                            <div class="clearfix sysText">
                                <div class="uploadSty P-uploadSty">
                                    <ul class="fileList" id="fileList1"  @mouseenter="thingMove1()">
                                    </ul>
                                    <el-button id="btn1" type="primary" size="small" style="background-color:#348fe2;color:white">上传</el-button>
                                </div>
                                <input type="file" id="file" @change='onUpload1' ref="refOnUpload1">
                            </div>
                            <!--<div class="col-lg-6 col-md-6 padding-clear formChange">-->
                                <!--<input readonly="readonly" class="col-md-10  padding-clear form-control formControl" id="oInup" type="text"  v-model="formData.gradingReportName"/>-->
                                <!--<div class="addButton"></div>-->
                                <!--<input class="updata" type="file" value="" id="file" @change='onUpload1' >-->
                            <!--</div>-->
                        </el-form-item>
                    </div>
                    <div class="col-lg-6 col-md-6 P-useData">
                        <el-form-item label="定级报告名称：" prop="gradingReportName" ref="gradingReportName1">
	                        <div style="text-overflow:ellipsis;white-space:nowrap;overflow:hidden;" @mouseover="xuanfu(formData.gradingReportName)" :title="tishi">
	                            <input class="promptinput" type="text"  disabled id="fileName" v-model="formData.gradingReportName">
	                        </div>
                        </el-form-item>
                    </div>
                </li>
                <li class="row liMargin">
                    <div class="col-lg-6 col-md-6 P-useData">
                        <el-form-item label="专家评审情况：" prop="expertView" ref="expertView">
                            <div class="col-lg-6 col-md-6 formChange liPadding">
                                <div role="group"  class="mcAddSysBuildChange text-center col-sm-3 col-md-6 p-mcAddSys" id="baseMes3" style="width:50% !important;">
                                    <input type="hidden"  v-model="formData.expertView">
                                    <div class="col-md-6" @click="getExpertClass($event,1)" v-show="expertType||((!expertType)&&formData.fkSpRanklevel==0)">已审批</div>
                                    <div class="col-md-6 btnColor" id="shenp" @click="getExpertClass($event,1)" v-show="(!expertType)&&formData.fkSpRanklevel!=0">已审批</div>
                                    <div class="col-md-6" @click="getExpertClass($event,2)" v-show="expertType||((!expertType)&&formData.fkSpRanklevel==0)">未审批</div>
                                    <div class="col-md-6" style="background-color: #ededed;color: #bbb;" v-show="(!expertType)&&formData.fkSpRanklevel!=0">未审批</div>
                                </div>
                                <div class="uploadSty P-uploadSty">
                                    <ul class="fileList" id="fileList2" style="width: calc(50% - 80px);height: 36px;padding-left:5px"  @mouseenter="thingMove2()">
                                    </ul>
                                    <el-button type="primary" id="btn2" size="small" style="right: 0;height: 36px;background-color:#348fe2;color:white">上传</el-button>
                                </div>
                                <input class="updata inputfiles" type="file" value="" id="file" @change='onUpload2' ref="refOnUpload2">
                                <!--<input class="col-md-10 addReview form-control formControl"  type="text" readonly="readonly" v-model="formData.expertReviewName" />-->
                                <!--<div class="addButton"></div>-->
                                <!--<input class="updata inputfiles" type="file" value="" id="file" @change='onUpload2'>-->
                            </div>
                        </el-form-item>
                    </div>
                    <div class="col-lg-6 col-md-6 P-useData">
                        <el-form-item label="评审附件名称：" prop="expertReviewName" ref="expertReviewName">
                        	<div style="text-overflow:ellipsis;white-space:nowrap;overflow:hidden;" @mouseover="xuanfu(formData.expertReviewName)" :title="tishi">
                            	<input class="promptinput" type="text" disabled id="fileRew" v-model="formData.expertReviewName">
                        	</div>
                        </el-form-item>
                    </div>
                </li>
                <li class="row liMargin">
                    <div class="col-lg-6 col-md-6 P-useData">
                        <el-form-item label="填表人：" prop="filler">
                            <input  clearable type="text" v-model="formData.filler">
                        </el-form-item>
                    </div>
                    <div class="col-lg-6 col-md-6 P-useData">
                        <el-form-item label="填表时间：" prop="fillDate" onclick="return false">
                            <el-date-picker :picker-options="pickerOptions0" class="col-md-6 col-sm-3 liPadding useData"  id="fillDate" v-model="formData.fillDate" type="date" ></el-date-picker>
                        </el-form-item>
                    </div>
                </li>
                <slot name="gradNextBtn"></slot>
                <slot name="gradNextChange"></slot>
                <slot name="materialBtn"></slot>
                <slot name="gradBtn"></slot>
                <slot name="gradChange"></slot>
                <li class="row liMargin" style="height: 30px;"></li>
            </ul>
        </el-form>
    </div>
    <div class="startBox" id="startBoxExporting" style="display:none;width:300px;margin-left:-150px;">
      <i class="el-icon-loading fl" style="font-size:30px;margin-top:5px;margin-right:20px;"></i><P>加载中</P>
    </div>
</div>


