<div id="main" class="inner">
  <p class="recordTitle">{{systemName}}</p>
  <div class="recBtn">
	<button class="btn btn-success btnBack fl" v-show="submitShow&&submitShowLabel=='备案'" type="button" @click="submitRecord('formData')">提交</button>
    <button class="btn btn-danger btnBack fl" v-show="revokeRecordShow&&examineStatus!=2&&submitShowLabel=='备案'" type="submit" @click="revokeRecord">撤销备案</button>
    <button class="btn btn-default btnBack fl" type="button" @click="backRecord">返回</button>
  </div>
  <template>
    <el-tabs v-model="activeName" @tab-click="handleClick" type="border-card">
      <el-tab-pane label="单位信息（备案表一）" name="information">
        <view-details-infor></view-details-infor>
      </el-tab-pane>
      <el-tab-pane label="系统信息（备案表二）" name="system">
        <view-details-system></view-details-system>
      </el-tab-pane>
      <el-tab-pane label="定级信息（备案表三）" name="grad">
        <view-details-grad></view-details-grad>
      </el-tab-pane>
      <el-tab-pane label="提交材料情况（备案表四）" v-if="materialView" name="material">
        <view-details-material></view-details-material>
      </el-tab-pane>
      <el-tab-pane label="自查" name="examination">
        <view-details-selfe>
           <!--排序图标-->
           <img src="/images/home/paixujiantou.png" alt="" th:attr="src=@{/images/home/paixujiantou.png}" slot="paixujiantou">
           <img src="/images/home/paixujiantou.png" alt="" th:attr="src=@{/images/home/paixujiantou.png}" slot="paixujiantou1">
           <img src="/images/home/paixujiantou.png" alt="" th:attr="src=@{/images/home/paixujiantou.png}" slot="paixujiantou2">
           <img src="/images/home/paixujiantou.png" alt="" th:attr="src=@{/images/home/paixujiantou.png}" slot="paixujiantou3">
           <img src="/images/home/paixujiantou.png" alt="" th:attr="src=@{/images/home/paixujiantou.png}" slot="paixujiantou4">
           <img src="/images/home/paixujiantou.png" alt="" th:attr="src=@{/images/home/paixujiantou.png}" slot="paixujiantou5">
        </view-details-selfe>
      </el-tab-pane>
      <el-tab-pane label="测评" name="evaluation">
        <view-details-evalu>
          <!--排序图标-->
	      <img src="/images/home/paixujiantou.png" alt="" th:attr="src=@{/images/home/paixujiantou.png}" slot="paixujiantou">
	      <img src="/images/home/paixujiantou.png" alt="" th:attr="src=@{/images/home/paixujiantou.png}" slot="paixujiantou1">
	      <img src="/images/home/paixujiantou.png" alt="" th:attr="src=@{/images/home/paixujiantou.png}" slot="paixujiantou2">
	      <img src="/images/home/paixujiantou.png" alt="" th:attr="src=@{/images/home/paixujiantou.png}" slot="paixujiantou3">
	      <img src="/images/home/paixujiantou.png" alt="" th:attr="src=@{/images/home/paixujiantou.png}" slot="paixujiantou4">
	      <img src="/images/home/paixujiantou.png" alt="" th:attr="src=@{/images/home/paixujiantou.png}" slot="paixujiantou5">
	      <img src="/images/home/paixujiantou.png" alt="" th:attr="src=@{/images/home/paixujiantou.png}" slot="paixujiantou6">
        </view-details-evalu>
      </el-tab-pane>
      <el-tab-pane label="备案" name="record">
        <record></record>
        <revoke-record></revoke-record>
      </el-tab-pane>
      <el-tab-pane label="审核及处理信息" name="examine">
        <view-details-examine></view-details-examine>
      </el-tab-pane>
    </el-tabs>
  </template>
  <i @click="submitRecord()" >
    <slot class="btn btn-success btnNext fr" name="submitRecord"></slot>
  </i>
</div>

