<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinopec.smcc.cpro.file.mapper.AttachMapper">
  <resultMap id="MainListResult" type="com.sinopec.smcc.cpro.file.entity.AttachResult">
    <result column="mongodbFileId" property="mongodbFileId" jdbcType="VARCHAR" />
    <result column="attachName" property="attachName" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insertAttach" parameterType="com.sinopec.smcc.cpro.file.entity.AttachParam">
      <![CDATA[
        INSERT INTO t_cpro_attach (
          pkId,
          fkSystemId,
          fkSyssonId,
          fkAttachType,
          attachName,
          mongoFileId,
          create_uid,
          create_uname,
          create_date
        )VALUES(
      ]]>
      <trim suffixOverrides="," >
        <![CDATA[
          #{fileId,jdbcType=VARCHAR},
        ]]>
        <![CDATA[
          #{systemId,jdbcType=VARCHAR},
        ]]>
        <![CDATA[
          #{syssonId,jdbcType=VARCHAR},
        ]]>
        <![CDATA[
          #{attachType,jdbcType=VARCHAR},
        ]]>
        <![CDATA[
          #{attachName,jdbcType=VARCHAR},
        ]]>
        <![CDATA[
          #{mongoFileId,jdbcType=VARCHAR},
        ]]>
        <![CDATA[
          #{createUid,jdbcType=VARCHAR},
        ]]>
        <![CDATA[
          #{createUname,jdbcType=VARCHAR},
        ]]>
        <![CDATA[
          #{createDate,jdbcType=VARCHAR},
        ]]>
      </trim>
      <![CDATA[
        )
      ]]>
  </insert>
  <select id="selectAllAttachByParam" parameterType="com.sinopec.smcc.cpro.file.entity.AttachParam" resultMap="MainListResult">
    SELECT
      mongoFileId
    FROM t_cpro_attach AS attach
    <where>
      <if test="fileId != null and fileId != ''">
        <![CDATA[
          AND pkId = #{fileId,jdbcType=VARCHAR}
        ]]>
      </if>
      <if test="systemId != null and systemId != ''">
        <![CDATA[
          AND fkSystemId = #{systemId,jdbcType=VARCHAR}
        ]]>
      </if>
      <if test="syssonId != null and syssonId != ''">
        <![CDATA[
          AND fkSyssonId = #{syssonId,jdbcType=VARCHAR}
        ]]>
      </if>
      <if test="attachType != null and attachType != ''">
        <![CDATA[
          AND fkAttachType = #{attachType,jdbcType=VARCHAR}
        ]]>
      </if>
    </where>
  </select>
  <select id="selectSingleAttachByFileId" parameterType="com.sinopec.smcc.cpro.file.entity.AttachParam" resultMap="MainListResult">
    SELECT
      mongoFileId,
      fkAttachType AS attachType,
      attachName AS attachName,
      attachPath AS attachPath,
      attachName
    FROM t_cpro_attach AS attach
    <where>
      <if test="fileId != null and fileId != ''">
        <![CDATA[
          AND pkId = #{fileId,jdbcType=VARCHAR}
        ]]>
      </if>
      <if test="systemId != null and systemId != ''">
        <![CDATA[
          AND fkSystemId = #{systemId,jdbcType=VARCHAR}
        ]]>
      </if>
      <if test="syssonId != null and syssonId != ''">
        <![CDATA[
          AND fkSyssonId = #{syssonId,jdbcType=VARCHAR}
        ]]>
      </if>
      <if test="attachType != null and attachType != ''">
        <![CDATA[
          AND fkAttachType = #{attachType,jdbcType=VARCHAR}
        ]]>
      </if>
    </where>
  </select>
  <delete id="deleteAllAttachByParam" parameterType="com.sinopec.smcc.cpro.file.entity.AttachParam">
    <![CDATA[
     delete from t_cpro_attach 
    ]]>
    <where>
      <if test="fileId != null and fileId != ''">
        <![CDATA[
          AND pkId = #{fileId,jdbcType=VARCHAR}
        ]]>
      </if>
      <if test="systemId != null and systemId != ''">
        <![CDATA[
          AND fkSystemId = #{systemId,jdbcType=VARCHAR}
        ]]>
      </if>
      <if test="syssonId != null and syssonId != ''">
        <![CDATA[
          AND fkSyssonId = #{syssonId,jdbcType=VARCHAR}
        ]]>
      </if>
      <if test="attachType != null and attachType != ''">
        <![CDATA[
          AND fkAttachType = #{attachType,jdbcType=VARCHAR}
        ]]>
      </if>
    </where>
  </delete>
</mapper>