
<div class="inner">
    <!--表二-->
    <div class="mcAddTian">
        <p class="clearfix cut">
            <span class="fl tianMsg">系统信息</span>
            <span class="fr tianMeg">带“ <i class="xing">*</i> ”为必填项</span>
        </p>
        <div class="mcAddMessge">
            <el-form action="" method="post" id="AddformSystem" name="AddformSystem" :model="formData" :rules="rules" ref="formData" label-width="140px" class="P-addformsystem">
                <ul class="clearfix dataForm">
                    <li class="row">
                        <div class="col-lg-6 col-sm-3" v-if="change">
                            <el-form-item label="信息系统建设类型：" prop="fkInfoSysTypeCon" class="P-addsystem">
                                <div  class="col-md-6 col-sm-3 mcAddSysBuildChange text-center baseMes1" id="baseMes1">
                                    <input type="hidden" name="formData.fkInfoSysTypeCon" v-model="formData.fkInfoSysTypeCon">
                                    <div class="baseMes" >自建</div>
                                    <div class="baseMes" >统建</div>
                                    <div class="baseMes" >总部系统</div>
                                </div>
                                <div class="mcAddSysBuildTxt"></div>
                            </el-form-item>
                        </div>
                        <div class="col-lg-6 col-sm-3" v-else>
                            <el-form-item label="信息系统建设类型：" prop="fkInfoSysTypeCon" class="P-addsystem">
                                <div  class="col-md-6 col-sm-3 mcAddSysBuildChange text-center baseMes1" id="baseMes1">
                                    <input type="hidden" name="formData.fkInfoSysTypeCon" v-model="formData.fkInfoSysTypeCon">
                                    <div class="baseMes" @click="getTypeClass($event,1)">自建</div>
                                    <div class="baseMes" @click="getTypeClass($event,2)">统建</div>
                                    <div class="baseMes" @click="getTypeClass($event,3)">总部系统</div>
                                </div>
                                <div class="mcAddSysBuildTxt"></div>
                            </el-form-item>
                        </div>
                        <div class="col-lg-6 col-sm-3" v-if="change">
                            <el-form-item label="是否为合并系统：" prop="fkSystemIsMerge" class="P-addsystem">
                                <div  class="col-md-6 col-sm-3 mcAddSysBuildChange text-center baseMes1" id="baseMes2">
                                    <input type="hidden" name="formData.fkSystemIsMerge" v-model="formData.fkSystemIsMerge">
                                    <div class="baseMes">是</div>
                                    <div class="baseMes">否</div>
                                </div>
                            </el-form-item>
                        </div>
                        <div class="col-lg-6 col-sm-3" v-else>
                            <el-form-item label="是否为合并系统：" prop="fkSystemIsMerge" class="P-addsystem">
                                <div  class="col-md-6 col-sm-3 mcAddSysBuildChange text-center baseMes1" id="baseMes2">
                                    <input type="hidden" name="formData.fkSystemIsMerge" v-model="formData.fkSystemIsMerge">
                                    <div class="baseMes" @click="getMergeClass($event,1)">是</div>
                                    <div class="baseMes" @click="getMergeClass($event,2)">否</div>
                                </div>
                            </el-form-item>
                        </div>
                        <div class="col-lg-6 col-sm-3 hintBox" v-if="formData.fkInfoSysTypeCon!==''">
                          <i class="fl">!</i><span v-if="formData.fkInfoSysTypeCon==1">企业自建</span><span v-if="formData.fkInfoSysTypeCon==2">总部统建，部署在企业</span><span v-else>总部自建，部署在总部 </span>
                        </div>
                    </li>
                    <li class="row" v-show="systemInfo">
                      <div class="col-lg-6 col-md-6">
                          <el-form-item label="系统名称：" prop="systemName" class="P-addsystem">
                              <el-select v-model="formData.systemName" :disabled = "change"  filterable placeholder="请选择" @change="setStandardizedCode(formData.systemName,1)">
                                  <el-option v-for="item in sysName" :key="item.systemCode" :label="item.systemName" :value="item.systemName" ></el-option>
                              </el-select>
                          </el-form-item>
                      </div>
                      <div class="col-lg-6 col-md-6">
                          <el-form-item label="标准化代码：" prop="standardizedCode" class="P-addsystem">
                            <el-input name="standardizedCode" id="standardizedCode" disabled placeholder="请输入" v-model="formData.standardizedCode"></el-input>
                          </el-form-item>
                      </div>
                   </li>
                    <li class="row" id="trueSys" v-show="systemSonInfo">
                        <ul class="clearfix trueSys" style="position: relative;">
                            <li class="row">
                                <div class="col-lg-6 col-md-3">
                                    <el-form-item label="系统名称：" prop="systemName" class="P-addsystem" style="padding-left: 15px;">
                                        <input type="text" placeholder="请输入" v-model="formData.systemName" id="systemInfo1">
                                    </el-form-item>
                                </div>
                            </li>
                            <li class="row" v-for="(addSys,i) in formData.addSystemSub">
                                <div class="col-lg-6 col-md-6">
                                    <el-form-item :label="formData.addSystemSub[[i]].label" prop="systemName" class="P-addsystem" style="padding-left: 15px;">
                                        <el-select v-model="formData.addSystemSub[[i]].systemName" filterable placeholder="请选择" :disabled = "systemInfo2"  @change="setStandardizedCode(formData.addSystemSub[[i]].systemName,[i+2])">
                                            <el-option v-for="item in sysName" :key="item.systemCode" :label="item.systemName" :value="item.systemName"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </div>
                                <div class="col-lg-6 col-sm-3">
                                    <el-form-item :label="formData.addSystemSub[[i]].labelCode" prop="standardizedCode" class="P-addsystem" style="padding-left: 15px;">
                                        <input type="text" disabled placeholder="" name="standardizedCode" v-model="formData.addSystemSub[[i]].standardizedCode" id="standardizedCode">
                                    </el-form-item>
                                </div>
                            </li>
                            <li class="btn btn-success fr sysSun" @click="addSys($event)" id="add" v-show="addSub">添加更多子系统</li>
                            <li class="btn btn-default fr sysSun" id="add2" v-show="!addSub">添加更多子系统</li>
                        </ul>
                    </li>
                    
                    <li class="row">
                        <div class="col-lg-6 col-md-6">
                            <el-form-item label="等保备案系统名称：" prop="gradeRecordSysName" class="P-addsystem">
                              <el-input name="gradeRecordSysName" id="gradeRecordSysName" placeholder="请输入" v-model="formData.gradeRecordSysName"></el-input>
                            </el-form-item>
                        </div>
                        <div class="col-lg-6 col-sm-3">
                            <el-form-item label="是否为互联网应用：" prop="appIsInternet" class="P-addsystem">
                                <div  class="col-md-6 col-sm-3 mcAddSysBuildChange text-center baseMes1" id="baseMes3">
                                    <input type="hidden" id="appIsInternet" v-model="formData.appIsInternet"/>
                                    <div class="baseMes" @click="getRecordClass($event,1)">是</div>
                                    <div class="baseMes" @click="getRecordClass($event,2)">否</div>
                                </div>
                            </el-form-item>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix dataForm">
                    <li class="sysTitle">
                        <span>系统承受业务情况</span>
                    </li>
                    <li class="lastLine curLine"></li>
                    <li class="row">
                        <div class="col-lg-11 text-center baseMesWrap">
                            <el-form-item label="业务类型：" prop="sysBusSituationType">
                                <div class="col-lg-11 col-sm-3 baseMes1" name="sysType" id="sysType">
                                    <input type="hidden" id="sysBusSituationType" name="sysBusSituationType" v-model="formData.sysBusSituationType">
                                    <div v-for="item in sysType">
                                        <div v-if="item.codeName==='其它'">
                                            <div class="inputLineHeight" @click="getClass($event)" id="sysType1">
                                                其它： <input type="text" class="col-lg-8 baseMesIn" id="busSituationType" name="busSituationType" @change="getBus()">
                                            </div>
                                        </div>
                                        <div v-else>
                                            <div @click="getClass($event)">{{item.codeName}}</div>
                                        </div>
                                    </div>
                                </div>
                            </el-form-item>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-lg-11 text-center baseMesWrap">
                            <el-form-item label="业务描述：" prop="sysBusDescription">
                                <div class="col-lg-11 col-sm-3" @click="text" style="width: 100%;">
                                    <el-input type="textarea" cols="30" rows="10" placeholder="请输入" name="sysBusDescription" id="sysBusDescription" class="sysArea" v-model="formData.sysBusDescription"></el-input>
                                    <span class='textAll'><span id="textNum">0</span>/200</span>
                                    <!-- 最多100字符，0处显示的是已经写了多少字符 -->
                                </div>
                            </el-form-item>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix dataForm">
                    <li class="sysTitle">
                        <span>系统服务情况</span>
                    </li>
                    <li class="lastLine curLine"></li>
                    <li class="row">
                        <div class="col-lg-11 text-center baseMesWrap">
                            <el-form-item label="服务范围：" prop="sysServiceSitScope">
                                <div class="col-lg-11 col-sm-3 baseMes1" name="sysServiceType" id="sysSerScope">
                                    <input type="hidden"  name="sysServiceSitScope" id="sysServiceSitScope" v-model="formData.sysServiceSitScope" >
                                    <div v-for="item in sysServiceScope">
                                        <div v-if="item.codeName==='其它'">
                                            <div class="inputLineHeight" @click="getScopeClass($event)" id="sysSerScope1">
                                                其它： <input type="text" class="col-lg-8 baseMesIn" id="serviceSitScope" name="serviceSitScope" @change="getScope1()">
                                            </div>
                                        </div>
                                        <div v-else-if="item.codeName==='跨省（区、市）跨个'">
                                            <div @click="getScopeClass($event)" id="sysSerScope2">
                                                跨省（区、市）跨： <input type="text" class="col-lg-8 baseMesIn" id="serviceSitScope2" style="width: 30px;padding:0;" name="serviceSitScope2" @change="getScope2()">个
                                            </div>
                                        </div>
                                        <div v-else-if="item.codeName==='跨地（区、市） 跨个'">
                                            <div @click="getScopeClass($event)" id="sysSerScope3">
                                                跨地（区、市） 跨： <input type="text" class="col-lg-8 baseMesIn" id="serviceSitScope3" style="width: 30px;padding:0;" name="serviceSitScope3" @change="getScope3()">个
                                            </div>
                                        </div>
                                        <div v-else>
                                            <div @click="getScopeClass($event)">{{item.codeName}}</div>
                                        </div>
                                    </div>
                                </div>
                            </el-form-item>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-lg-11 text-center baseMesWrap">
                            <el-form-item label="服务对象：" prop="sysServiceSitObject">
                                <div class="col-lg-11 col-sm-3 baseMes1" id="sysSerObject">
                                    <input type="hidden" name="sysServiceSitObject" id="sysServiceSitObject" v-model="formData.sysServiceSitObject" >
                                    <div v-for="item in sysServiceObject">
                                        <div v-if="item.codeName==='其它'">
                                            <div class="inputLineHeight" @click="getObjectClass($event)" id="sysSerObject1">
                                                其它： <input type="text" class="col-lg-8 baseMesIn" id="serviceSitObject" name="serviceSitObject"  @change="getObject()">
                                            </div>
                                        </div>
                                        <div v-else>
                                            <div @click="getObjectClass($event)">{{item.codeName}}</div>
                                        </div>
                                    </div>
                                </div>
                            </el-form-item>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix dataForm">
                    <li class="sysTitle">
                        <span>系统网络平台</span>
                    </li>
                    <li class="lastLine curLine"></li>
                    <li class="row">
                        <div class="col-lg-11 text-center baseMesWrap">
                            <el-form-item label="覆盖范围：" prop="npCoverageRange">
                                <div class="col-lg-11 col-sm-3 baseMes1" name="sysCoverage" id="sysCoverage">
                                    <input type="hidden" name="npCoverageRange" id="npCoverageRange" v-model="formData.npCoverageRange" >
                                    <div v-for="item in sysCoverage">
                                        <div v-if="item.codeName==='其它'">
                                            <div class="inputLineHeight" @click="getCoverageClass($event)" id="sysCoverage1">
                                                其它： <input type="text" class="col-lg-8 baseMesIn" id="coverageRange" name="coverageRange" @change="getCoverage()">
                                            </div>
                                        </div>
                                        <div v-else>
                                            <div @click="getCoverageClass($event)">{{item.codeName}}</div>
                                        </div>
                                    </div>
                                </div>
                            </el-form-item>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-lg-11 text-center baseMesWrap">
                            <el-form-item label="网络性质：" prop="npNetworkProperties">
                                <div class="col-lg-11 col-sm-3 baseMes1" name="sysNetwork" id="sysNetwork">
                                    <input type="hidden" name="npNetworkProperties" id="npNetworkProperties" v-model="formData.npNetworkProperties">
                                    <div v-for="item in sysServiceObject">
                                        <div v-if="item.codeName==='其它'">
                                            <div class="inputLineHeight" @click="getNetworkClass($event)" id="sysNetwork1">
                                                其它： <input type="text" class="col-lg-8 baseMesIn" id="networkProperties" name="networkProperties" @change="getNetwork()">
                                            </div>
                                        </div>
                                        <div v-else>
                                            <div @click="getNetworkClass($event)">{{item.codeName}}</div>
                                        </div>
                                    </div>
                                </div>
                            </el-form-item>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix dataForm">
                    <li class="lastLine curLine"></li>
                    <li class="row">
                        <div class="col-lg-12 text-center baseMesWrap">
                            <el-form-item label="系统互联情况：" prop="interconnectionSit">
                                <div class="col-lg-10 col-sm-3 baseMes1 baseMss" name="sysIntercon" id="sysIntercon">
                                    <input type="hidden" name="interconnectionSit" id="interconnectionSit" v-model="formData.interconnectionSit">
                                    <div v-for="item in sysIntercon">
                                        <div v-if="item.codeName==='其它'">
                                            <div class="inputLineHeight" @click="getSitClass($event)" id="sysIntercon1">
                                                其它： <input type="text" class="col-lg-8 baseMesIn" id="interconnection" name="interconnection" @change="getSit()">
                                            </div>
                                        </div>
                                        <div v-else>
                                            <div @click="getSitClass($event)">{{item.codeName}}</div>
                                        </div>
                                    </div>
                                </div>
                            </el-form-item>
                        </div>
                    </li>
                    <li class="row">
                        <add-form-sys-table></add-form-sys-table>
                    </li>
                    <li class="row">
                        <div class="col-lg-6 col-sm-3">
                            <el-form-item label="所属单位名称：" prop="companyName" class="P-addsystem">
                              <el-select filterable placeholder="请选择所属单位名称" clearable name="companyName" class="formControl" v-model="formData.companyName">
                                <el-option v-for="item in msgName" :key="item.companyCode" :label="item.companyName" :value="item.companyCode"></el-option>
                              </el-select>
                            </el-form-item>
                        </div>
                        <div class="col-lg-6 col-sm-3">
                            <el-form-item label="何时投入使用：" prop="whenInvestmentUse" class="P-addsystem">
                                <el-date-picker id="whenInvestmentUseinput" class="col-md-6 col-sm-3 useData" v-model="formData.whenInvestmentUse" type="date"></el-date-picker>
                            </el-form-item>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-lg-6 col-sm-3">
                            <el-form-item label="主管处室名称：" prop="executiveOfficeName" class="P-addsystem">
                               <el-input name="executiveOfficeName" id="executiveOfficeName" placeholder="请输入" v-model="formData.executiveOfficeName"></el-input>
                            </el-form-item>
                        </div>
                        <div class="col-lg-6 col-sm-3">
                            <el-form-item label="系统是否为分系统：" prop="subIsSystem" class="P-addsystem">
                                <div  class="col-md-6 col-sm-3 mcAddSysBuildChange text-center baseMes1" name="sysSubsystem" id="sysSubsystem">
                                    <input type="hidden" name="subIsSystem" v-model="formData.subIsSystem">
                                    <div class="baseMes" @click="getSubClass($event,1)">是</div>
                                    <div class="baseMes" @click="getSubClass($event,2)">否</div>
                                </div>
                            </el-form-item>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-lg-6 col-sm-3">
                            <el-form-item label="主管联系人：" prop="executiveDireCon" class="P-addsystem">
                               <el-input name="executiveDireCon" id="executiveDireCon" placeholder="请输入" v-model="formData.executiveDireCon"></el-input>
                            </el-form-item>
                        </div>
                        <div class="col-lg-6 col-sm-3">
                            <el-form-item label="主管联系人电话：" prop="executiveDireConTel" class="P-addsystem">
                              <el-input name="executiveDireConTel" id="executiveDireConTel" placeholder="请输入" v-model="formData.executiveDireConTel"></el-input>
                            </el-form-item>
                        </div>
                    </li>
                    <li class="fr">
                        <slot name="addSysBtn"></slot>
                        <slot name="newSys"></slot>
                        <slot name="changeBtn"></slot>
                    </li>
                </ul>
            </el-form>
        </div>
    </div>
</div>