
<div class="inner">
    <!--表二-->
    <div class="mcAddTian">
        <p class="clearfix cut">
            <span class="fl tianMsg">系统信息</span>
            <span class="fr tianMeg">带“ <i class="xing">*</i> ”为必填项</span>
        </p>
        <div class="mcAddMessge">
            <form action="" method="post" id="AddformSystem" name="AddformSystem">
                <ul class="clearfix dataForm">
                    <li class="row">
                        <div class="col-lg-6 col-sm-3" v-if="change">
                            <label for="" class="col-lg-3 col-md-3 text-right">
                                <span class="xing">*</span> 信息系统建设类型：
                            </label>
                            <div  class="col-md-6 col-sm-3 mcAddSysBuildChange text-center baseMes1" id="baseMes1">
                              <input type="hidden" name="formData.fkInfoSysTypeCon" v-model="formData.fkInfoSysTypeCon">
                              <div class="baseMes" >自建</div>
                              <div class="baseMes" >统建</div>
                              <div class="baseMes" >总部系统</div>
                            </div>
                            <div class="mcAddSysBuildTxt"></div>
                        </div>
                        <div class="col-lg-6 col-sm-3" v-else>
                            <label for="" class="col-lg-3 col-md-3 text-right">
                                <span class="xing">*</span> 信息系统建设类型：
                            </label>
                            <div  class="col-md-6 col-sm-3 mcAddSysBuildChange text-center baseMes1" id="baseMes1">
                              <input type="hidden" name="formData.fkInfoSysTypeCon" v-model="formData.fkInfoSysTypeCon">
                              <div class="baseMes" @click="getTypeClass($event,1)">自建</div>
                              <div class="baseMes" @click="getTypeClass($event,2)">统建</div>
                              <div class="baseMes" @click="getTypeClass($event,3)">总部系统</div>
                            </div>
                            <div class="mcAddSysBuildTxt"></div>
                        </div>
                        <div class="col-lg-6 col-sm-3" v-if="change">
                            <label class="col-lg-3 col-md-3 text-right">
                                <span class="xing">*</span>是否为合并系统：
                            </label>
                            <div  class="col-md-6 col-sm-3 mcAddSysBuildChange text-center baseMes1" id="baseMes2">
                              <input type="hidden" name="formData.fkSystemIsMerge" v-model="formData.fkSystemIsMerge">
                              <div class="baseMes">是</div>
                              <div class="baseMes">否</div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-3" v-else>
                            <label class="col-lg-3 col-md-3 text-right">
                                <span class="xing">*</span>是否为合并系统：
                            </label>
                            <div  class="col-md-6 col-sm-3 mcAddSysBuildChange text-center baseMes1" id="baseMes2">
                              <input type="hidden" name="formData.fkSystemIsMerge" v-model="formData.fkSystemIsMerge">
                              <div class="baseMes" @click="getMergeClass($event,1)">是</div>
                              <div class="baseMes" @click="getMergeClass($event,2)">否</div>
                            </div>
                        </div>
                    </li>
                    <li class="row" v-show="systemInfo">
                      <div class="col-lg-6 col-md-6">
                          <label class="col-lg-3 col-md-3 text-right">
                              <span class="xing">*</span>系统名称：
                          </label>
                          <div class="col-lg-6 col-md-6">
                            <el-select v-model="formData.systemName" :disabled = "change"  filterable placeholder="请选择" @change="setStandardizedCode(formData.systemName,1)">
                              <el-option v-for="item in sysName" :key="item.systemCode" :label="item.systemName" :value="item.systemName" ></el-option>
                            </el-select>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                          <label class="col-lg-3 col-md-3 text-right">标准化代码：
                          </label>
                          <div class="col-lg-6 col-md-6">
                              <input type="text" disabled placeholder="" name="standardizedCode" v-model="formData.standardizedCode" id="standardizedCode">
                          </div>
                      </div>
                   </li>
                    <li class="row" id="trueSys" v-show="systemSonInfo">
                        <ul class="clearfix trueSys" style="position: relative;">
                            <li class="row">
                                <div class="col-lg-6 col-md-3">
                                    <label class="col-lg-3 col-md-3 text-right" style="padding-left: 15px;">
                                        <span class="xing">*</span> 系统名称：
                                    </label>
                                    <div class="col-lg-6 col-md-6 childSystem">
                                        <input type="text" placeholder="请输入" v-model="formData.systemName">
                                    </div>
                                </div>
                            </li>
                            <li class="row">
                                <div class="col-lg-6 col-md-6">
                                    <label class="col-lg-3 col-md-3 text-right">
                                        <span class="xing">*</span>子系统1系统名称：
                                    </label>
                                    <div class="col-lg-6 col-md-6 childSystem">
                                        <el-select v-model="formData.addSystemSub[0].systemName" filterable placeholder="请选择" @change="setStandardizedCode(formData.addSystemSub[0].systemName,2)">
                                          <el-option v-for="item in sysName" :key="item.systemCode" :label="item.systemName" :value="item.systemName" ></el-option>
                                        </el-select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-3">
                                    <label for="" class="col-lg-3 col-md-3 text-right"> 子系统1标准化代码：
                                    </label>
                                    <div  class="col-md-6 col-md-6 childSystem">
                                        <input type="text" disabled placeholder="" name="standardizedCode" v-model="formData.addSystemSub[0].standardizedCode" id="standardizedCode">
                                    </div>
                                </div>
                            </li>
                            <li class="row" id="newNode">
                                <div class="col-lg-6 col-md-6">
                                    <label class="col-lg-3 col-md-3 text-right">
                                        <span class="xing">*</span> 子系统2系统名称：
                                    </label>
                                    <div class="col-lg-6 col-md-6 childSystem">
                                        <el-select v-model="formData.addSystemSub[1].systemName" filterable placeholder="请选择" @change="setStandardizedCode(formData.addSystemSub[1].systemName,3)">
                                          <el-option v-for="item in sysName" :key="item.systemCode" :label="item.systemName" :value="item.systemName" ></el-option>
                                        </el-select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-3">
                                    <label for="" class="col-lg-3 col-md-3 text-right">
                                        子系统2标准化代码：
                                    </label>
                                    <div  class="col-md-6 col-md-6 childSystem">
                                        <input type="text" disabled placeholder="" name="standardizedCode" v-model="formData.addSystemSub[1].standardizedCode" id="standardizedCode">
                                    </div>
                                </div>
                            </li>
                            <li class="btn btn-success fr sysSun" @click="addSys($event)" id="add">添加更多子系统</li>
                        </ul>
                    </li>
                    <li class="row">
                        <div class="col-lg-6 col-md-6">
                            <label class="col-lg-3 col-md-3 text-right">
                                等保备案系统名称：
                            </label>
                            <div class="col-lg-6 col-md-6">
                                <input type="text" placeholder="请输入" name="gradeRecordSysName" id="gradeRecordSysName" v-model="formData.gradeRecordSysName">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-3">
                            <label for="" class="col-lg-3 col-md-3 text-right">
                                <span class="xing">*</span>
                                是否为互联网应用：
                            </label>
                            <div  class="col-md-6 col-sm-3 mcAddSysBuildChange text-center baseMes1" id="baseMes3">
                              <input type="hidden" id="appIsInternet" v-model="formData.appIsInternet"/>
                              <div class="baseMes" @click="getRecordClass($event,1)">是</div>
                              <div class="baseMes" @click="getRecordClass($event,2)">否</div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix dataForm">
                    <li class="sysTitle">
                        <span>系统承受业务情况</span>
                    </li>
                    <li class="lastLine curLine"></li>
                    <li class="row">
                        <div class="col-lg-11 text-center baseMesWrap">
                            <label for="" class="col-lg-1 col-sm-1">
                                <span class="xing">*</span>
                                业务类型：
                            </label>
                            <div class="col-lg-11 col-sm-3 baseMes1" name="sysType" id="sysType">
                              <input type="hidden" id="sysBusSituationType" name="sysBusSituationType" v-model="formData.sysBusSituationType">
                              <div v-for="item in sysType">
                                <div v-if="item.codeName==='其它'">
                                  <div @click="getClass($event)" id="sysType1">
                                                                                                           其它： <input type="text" class="col-lg-8 baseMesIn" id="busSituationType" name="busSituationType">
                                  </div>
                                </div>
                                <div v-else>
                                  <div @click="getClass($event)">{{item.codeName}}</div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-lg-11 text-center baseMesWrap">
                            <label for="" class="col-lg-1 col-sm-1">
                                <span class="xing">*</span> 业务描述：
                            </label>
                            <!-- 在处理textarea之前，首先需知道textarea是不会显示value值的，
如果想显示需要使用js中的方法 $('#textArea').val('123'); -->
                            <div class="mcTextArea col-lg-11 col-sm-3" @click="text">
                                <textarea cols="30" rows="10" placeholder="请输入" name="sysBusDescription" id="sysBusDescription" class="sysArea" v-model="formData.sysBusDescription"></textarea>
                                <span class='textAll'><span id="textNum">0</span>/200</span>
                                <!-- 最多100字符，0处显示的是已经写了多少字符 -->
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix dataForm">
                    <li class="sysTitle">
                        <span>系统服务情况</span>
                    </li>
                    <li class="lastLine curLine"></li>
                    <li class="row">
                        <div class="col-lg-11 text-center baseMesWrap">
                            <label for="" class="col-lg-1 col-sm-1">
                                <span class="xing">*</span> 服务范围：
                            </label>
                            <div class="col-lg-11 col-sm-3 baseMes1" name="sysServiceType" id="sysSerScope">
                              <input type="hidden"  name="sysServiceSitScope" id="sysServiceSitScope" v-model="formData.sysServiceSitScope">
                              <div v-for="item in sysServiceScope">
                                <div v-if="item.codeName==='其它'">
                                  <div @click="getScopeClass($event)" id="sysSerScope1">
                                                                                                           其它： <input type="text" class="col-lg-8 baseMesIn" id="serviceSitScope" name="serviceSitScope">
                                  </div>
                                </div>
                                <div v-else>
                                  <div @click="getScopeClass($event)">{{item.codeName}}</div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-lg-11 text-center baseMesWrap">
                            <label for="" class="col-lg-1 col-sm-1">
                                <span class="xing">*</span>  服务对象：
                            </label>
                            <div class="col-lg-11 col-sm-3 baseMes1" id="sysSerObject">
                              <input type="hidden" name="sysServiceSitObject" id="sysServiceSitObject" v-model="formData.sysServiceSitObject">
                              <div v-for="item in sysServiceObject">
                                <div v-if="item.codeName==='其它'">
                                  <div @click="getObjectClass($event)" id="sysSerObject1">
                                                                                                           其它： <input type="text" class="col-lg-8 baseMesIn" id="serviceSitObject" name="serviceSitObject">
                                  </div>
                                </div>
                                <div v-else>
                                  <div @click="getObjectClass($event)">{{item.codeName}}</div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix dataForm">
                    <li class="sysTitle">
                        <span>系统网络平台</span>
                    </li>
                    <li class="lastLine curLine"></li>
                    <li class="row">
                        <div class="col-lg-11 text-center baseMesWrap">
                            <label for="" class="col-lg-1 col-sm-1">
                                <span class="xing">*</span>
                                覆盖范围：
                            </label>
                            <div class="col-lg-11 col-sm-3 baseMes1" name="sysCoverage" id="sysCoverage">
                              <input type="hidden" name="npCoverageRange" id="npCoverageRange" v-model="formData.npCoverageRange">
                              <div v-for="item in sysCoverage">
                                <div v-if="item.codeName==='其它'">
                                  <div @click="getCoverageClass($event)" id="sysCoverage1">
                                                                                                           其它： <input type="text" class="col-lg-8 baseMesIn" id="coverageRange" name="coverageRange">
                                  </div>
                                </div>
                                <div v-else>
                                  <div @click="getCoverageClass($event)">{{item.codeName}}</div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-lg-11 text-center baseMesWrap">
                            <label for="" class="col-lg-1 col-sm-1">
                                <span class="xing">*</span>
                                网络性质：
                            </label>
                            <div class="col-lg-11 col-sm-3 baseMes1" name="sysNetwork" id="sysNetwork">
                              <input type="hidden" name="npNetworkProperties" id="npNetworkProperties" v-model="formData.npNetworkProperties">
                              <div v-for="item in sysServiceObject">
                                <div v-if="item.codeName==='其它'">
                                  <div @click="getNetworkClass($event)" id="sysNetwork1">
                                                                                                           其它： <input type="text" class="col-lg-8 baseMesIn" id="networkProperties" name="networkProperties">
                                  </div>
                                </div>
                                <div v-else>
                                  <div @click="getNetworkClass($event)">{{item.codeName}}</div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix dataForm">
                    <li class="lastLine curLine"></li>
                    <li class="row">
                        <div class="col-lg-12 text-center baseMesWrap">
                            <label for="" class="col-lg-2 col-sm-1 baseMse">
                                <span class="xing">*</span>
                                系统互联情况：
                            </label>
                            <div class="col-lg-10 col-sm-3 baseMes1 baseMss" name="sysIntercon" id="sysIntercon">
                              <input type="hidden" name="interconnectionSit" id="interconnectionSit" v-model="formData.interconnectionSit">
                              <div v-for="item in sysIntercon">
                                <div v-if="item.codeName==='其它'">
                                  <div @click="getSitClass($event)" id="sysIntercon1">
                                                                                                           其它： <input type="text" class="col-lg-8 baseMesIn" id="interconnection" name="interconnection">
                                  </div>
                                </div>
                                <div v-else>
                                  <div @click="getSitClass($event)">{{item.codeName}}</div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <add-form-sys-table></add-form-sys-table>
                    </li>
                    <li class="row">
                        <div class="col-lg-6 col-sm-3">
                            <label for="" class="col-lg-3 col-md-3 text-right">
                                <span class="xing">*</span>
                                所属单位名称：
                            </label>
                            <div class="col-lg-6 col-sm-3 industry">
                                <!-- <select name="sysComName" id="sysComName" class="formControl" >
                                    <option value="">请选择</option>
                                    <option value="">XXX</option>
                                    <option value="">XXX</option>
                                    <option value="">XXXX</option>
                                    <option value="">xxxx</option>
                                </select> -->
                                <select name="fkCompanyCode" class="formControl" id="fkCompanyCode" v-model="formData.fkCompanyCode">
                                  <option v-for="item in msgName"
                                    :key="item.orgCode" :label="item.orgName" :value="item.orgName"></option>
                                </select> <span class="caretd"></span>
                                <span class="caretd"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-3">
                            <label for="" class="col-lg-3 col-md-3 text-right">
                                <span class="xing">*</span>
                                何时投入使用：
                            </label>
                            <el-date-picker class="col-md-6 col-sm-3 useData" v-model="formData.whenInvestmentUse" type="date" placeholder="选择日期"></el-date-picker>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-lg-6 col-sm-3">
                            <label for="" class="col-lg-3 col-md-3 text-right">
                                主管处室名称：
                            </label>
                            <div  class="col-md-6 col-sm-3">
                                <input type="text"  placeholder="请输入" name="executiveOfficeName" id="executiveOfficeName" v-model="formData.executiveOfficeName">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-3">
                            <label for="" class="col-lg-3 col-md-3 text-right">
                                <span class="xing">*</span>
                                系统是否为分系统：
                            </label>
                            <div  class="col-md-6 col-sm-3 mcAddSysBuildChange text-center baseMes1" name="sysSubsystem" id="sysSubsystem">
                                <input type="hidden" name="subIsSystem" v-model="formData.subIsSystem">
                                <div class="baseMes" @click="getSubClass($event,1)">是</div>
                                <div class="baseMes" @click="getSubClass($event,2)">否</div>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-lg-6 col-sm-3">
                            <label for="" class="col-lg-3 col-md-3 text-right">
                                主管联系人：
                            </label>
                            <div  class="col-md-6 col-sm-3">
                                <input type="text"  placeholder="请输入" name="executiveDireCon" id="executiveDireCon" v-model="formData.executiveDireCon">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-3">
                            <label for="" class="col-lg-3 col-md-3 text-right">
                                主管联系人电话：
                            </label>
                            <div  class="col-md-6 col-sm-3">
                                <input type="text"  placeholder="请输入" name="executiveDireConTel" id="executiveDireConTel" v-model="formData.executiveDireConTel">
                            </div>
                        </div>
                    </li>
                    <li class="fr">
                        <slot name="addSysBtn"></slot>
                        <slot name="newSys"></slot>
                        <slot name="changeBtn"></slot>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>