<div class="inner mcAddCover" id="app">
  <!--新建单位信息表一-->
  <div class="mcAddTian">
    <p class="clearfix cut">
      <span class="fl tianMsg">单位信息</span> <span class="fr tianMeg">带“
        <i class="xing">*</i> ”为必填项
      </span>
    </p>
    <div class="mcAddMessge clearfix">
      <form action="" name="addform" id="addform" method="post">
        <input name="companyId" id="companyId" type="hidden" v-model="formData.companyId"/>
        <ul class="clearfix">
          <li class="row" >
              <div class="col-lg-6 col-sm-3 choosePro">
                <label for="" class="col-lg-3 col-md-3 text-right">
                  <span class="xing">*</span> 单位名称:
                </label>
                <div class="col-md-8 col-sm-6">
                  <select placeholder="请选择" name="companyName" class="formControl" id="companyName" @change="msgNameMethod()" v-model="formData.companyName" :disabled="nameReadonly">
                    <option v-for="item in msgName"
                      :key="item.orgCode" :label="item.orgName" :value="item.orgCode"></option>
                  </select> <span class="caretd"></span>
                </div>
              </div>
              <div class="col-lg-6 col-sm-3">
                  <label for="companyCode" class="col-lg-3 col-sm-3 text-right">
                      <span class="xing">*</span>单位编码:
                  </label>
                  <div  class="col-md-6 col-sm-3 text-right">
                      <input id="companyCode" name="companyCode" type="text" disabled placeholder="请输入" v-model="formData.companyCode">
                  </div>
              </div>
          </li>
          <li class="row">
            <div class="col-lg-6 col-sm-3 ">
              <label for="companyAddress" class="col-lg-3 col-md-3 text-right">单位地址: </label>
              <div class="col-md-6 col-sm-3">
                <input type="text" placeholder="请输入" id="companyAddress" name="companyAddress" v-model="formData.companyAddress">
              </div>
            </div>
            <div class="col-lg-6 col-sm-3">
              <label for="postalCode" class="col-lg-3 col-md-3 text-right">
                <span class="xing">*</span> 邮政编码:
              </label>
              <div class="col-md-6 col-sm-3">
                <input type="text" name="postalCode" id="postalCode" placeholder="请输入" v-model="formData.postalCode">
              </div>
            </div>
          </li>
          <li class="row">
            <div class="col-lg-6 col-sm-3 choosePro">
              <label for="fkSubordinatePro" class="col-lg-3 col-md-3 text-right">
                <span class="xing">*</span> 所属省份:
              </label>
              <div class="col-md-8 col-sm-6">
                <select placeholder="请选择" name="fkSubordinatePro" id="fkSubordinatePro" class="formControl" v-model="formData.fkSubordinatePro">
                  <option v-for="item in msgProvince"
                    :key="item.systemCode" :label="item.codeName"
                    :value="item.systemCode"></option>
                </select> <span class="caretd"></span>
              </div>
            </div>
            <div class="col-lg-6 col-sm-3">
              <label for="administrativeNum" class="col-lg-3 col-md-3 text-right"> 行政区划编码: </label>
              <div class="col-md-6 col-sm-3">
                <input type="text" name="administrativeNum" id="administrativeNum" placeholder="请输入" v-model="formData.administrativeNum">
              </div>
            </div>
          </li>
          <li class="lastLine"></li>
        </ul>
        <ul class="clearfix">
          <li class="fl baseMsgLeft">
            <div class="col-lg-11 col-sm-3 baseMsgBto">
              <label for="compPrincipalName" class="col-lg-3 col-sm-3 text-right">
                <span class="xing">*</span> 单位负责人姓名:
              </label>
              <div class="col-md-6 col-sm-3 text-right">
                <input type="text" id="compPrincipalName" name="compPrincipalName" placeholder="请输入" v-model="formData.compPrincipalName">
              </div>
            </div>
            <div class="col-lg-11 col-sm-3 baseMsgBto">
              <label for="compPrincipalWorkTel" class="col-lg-3 col-sm-3 text-right">
                <span class="xing">*</span> 办公电话:
              </label>
              <div class="col-md-6 col-sm-3 text-right">
                <input type="text" name="compPrincipalWorkTel" id="compPrincipalWorkTel" placeholder="请输入" v-model="formData.compPrincipalWorkTel">
              </div>
            </div>
            <div class="col-lg-11 col-sm-3 baseMsgBto">
              <label for="compPrincipalPhone" class="col-lg-3 col-sm-3 text-right">
                <span class="xing">*</span> 移动电话:
              </label>
              <div class="col-md-6 col-sm-3 text-right">
                <input type="text" name="compPrincipalPhone" id="compPrincipalPhone" placeholder="请输入" v-model="formData.compPrincipalPhone">
              </div>
            </div>
          </li>
          <li class="fr baseMsgRight">
            <div class="col-lg-12 col-sm-3 baseMsgBto">
              <label for="compPrincipalPost" class="col-lg-3 col-sm-3 text-right">
                <span class="xing">*</span> 职务/职称:
              </label>
              <div class="col-md-6 col-sm-3 text-right">
                <input type="text" id="compPrincipalPost" name="compPrincipalPost" placeholder="请输入" v-model="formData.compPrincipalPost">
              </div>
            </div>
            <div class="col-lg-12 col-sm-3 baseMsgBto">
              <label for="compPrincipalEm" class="col-lg-3 col-sm-3 text-right">
                <span class="xing">*</span> 电子邮件:
              </label>
              <div class="col-md-6 col-sm-3 text-right">
                <input type="text" id="compPrincipalEm" name="compPrincipalEm" placeholder="请输入" v-model="formData.compPrincipalEm">
              </div>
            </div>
          </li>
          <li class="lastLine fl"></li>
        </ul>
        <ul class="clearfix">
          <li class="fl baseMsgLeft">
            <div class="col-lg-9 col-sm-3 baseMsgBto baseMsgBot">
              <label for="ldContactName" class="col-lg-4 col-sm-3 text-left">
                <span class="xing">*</span> 责任部门联系人姓名:
              </label>
              <div class="col-md-8 col-sm-3 text-right">
                <input type="text" name="ldContactName" id="ldContactName" placeholder="请输入" v-model="formData.ldContactName">
              </div>
            </div>
            <div class="col-lg-11 col-sm-3 baseMsgBto">
              <label for="ldContactWorkTel" class="col-lg-3 col-sm-3 text-right">
                <span class="xing">*</span> 办公电话:
              </label>
              <div class="col-md-6 col-sm-3 text-right">
                <input type="text" id="ldContactWorkTel" name="ldContactWorkTel" placeholder="请输入" v-model="formData.ldContactWorkTel">
              </div>
            </div>
            <div class="col-lg-11 col-sm-3 baseMsgBto">
              <label for="ldContactPhone" class="col-lg-3 col-sm-3 text-right">
                <span class="xing">*</span> 移动电话:
              </label>
              <div class="col-md-6 col-sm-3 text-right">
                <input type="text" name="ldContactPhone" id="ldContactPhone" placeholder="请输入" v-model="formData.ldContactPhone">
              </div>
            </div>
          </li>
          <li class="fr baseMsgRight biseMsgRight">
            <div class="col-lg-12 col-sm-3 baseMsgBto">
              <label for="ldContactPost" class="col-lg-3 col-sm-3 text-right">
                <span class="xing">*</span> 职务/职称:
              </label>
              <div class="col-md-6 col-sm-3 text-right">
                <input type="text" name="ldContactPost" id="ldContactPost" placeholder="请输入" v-model="formData.ldContactPost">
              </div>
            </div>
            <div class="col-lg-12 col-sm-3 baseMsgBto">
              <label for="ldContactEmail" class="col-lg-3 col-sm-3 text-right">
                <span class="xing">*</span> 电子邮件:
              </label>
              <div class="col-md-6 col-sm-3 text-right">
                <input type="text" name="ldContactEmail" id="ldContactEmail" placeholder="请输入" v-model="formData.ldContactEmail">
              </div>
            </div>
          </li>
          <li class="lastLine fl"></li>
        </ul>
        <ul class="clearfix">
          <li class="row">
            <div class="col-lg-6 col-sm-3">
              <label for="rDepartment" class="col-lg-3 col-sm-3 text-right">
                <span class="xing">*</span> 责任部门:
              </label>
              <div class="col-md-6 col-sm-3 text-right">
                <input type="text" name="rDepartment" id="rDepartment" placeholder="请输入"  v-model="formData.rDepartment">
              </div>
            </div>
            <div class="col-lg-6 col-sm-3">
              <label for="gpReportingComp" class="col-lg-3 col-sm-3 text-right">
                <span class="xing">*</span> 等保上报单位名称:
              </label>
              <div class="col-md-6 col-sm-3 text-right">
                <input type="text" name="gpReportingComp" id="gpReportingComp" placeholder="请输入"  v-model="formData.gpReportingComp">
              </div>
            </div>
          </li>
          <li class="row">
            <div class="col-lg-6 col-sm-3">
              <label for="fkIndustryCategory" class="col-lg-3 col-md-3 text-right">
                <span class="xing">*</span> 行业类别:
              </label>
              <div class="col-md-8 col-sm-6 industry">
                <input type="text" name="fkIndustryCategory" id="fkIndustryCategory" placeholder="请输入"  @click="industryCategory()"  v-model="formData.fkIndustryCategory">
              </div>
            </div>
          </li>
          <li class="row">
            <div class="col-lg-11 text-center baseMesWrap">
              <label for="fkAffiliation" class="col-lg-1 col-sm-1"> <span
                class="xing">*</span> 隶属关系:
              </label>
              <div class="col-lg-11 col-sm-3 baseMes1" id="baseMes1" name="baseMes1">
                <input type="hidden" id="fkAffiliation" name="fkAffiliation" v-model="formData.fkAffiliation">
                <div v-for="item in msgaAffi">
                  <div v-if="item.codeName==='其它'">
                    <div @click="getClass($event)" id="other1">
                      其它: <input type="text" class="col-lg-8 baseMesIn" id="affiliation" name="affiliation">
                    </div>
                  </div>
                  <div v-else>
                    <div @click="getClass($event)">{{item.codeName}}</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="row">
            <div class="col-lg-11 text-center baseMesWrap">
              <label for="" class="col-lg-1 col-sm-1"> <span
                class="xing">*</span> 单位类型:
              </label>
              <div class="col-lg-11 col-sm-3 baseMes1" id="baseMes2">
                <input type="hidden" id="fkCompanyType" name="fkCompanyType" v-model="formData.fkCompanyType">
                <div v-for="item in msgUintType">
                  <div v-if="item.codeName==='其它'">
                    <div @click="getUintTypeClass($event)" id="other2">
                      其它: <input type="text" class="col-lg-8 baseMesIn" id="companyType" name="companyType" >
                    </div>
                  </div>
                  <div v-else>
                    <div @click="getUintTypeClass($event)">{{item.codeName}}</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="row">
            <div class="col-lg-11 text-center baseMesWrap">
              <label for="" class="col-lg-1 col-sm-1"> <span
                class="xing">*</span> 板块类型:
              </label>
              <div class="col-lg-11 col-sm-3 baseMes1" id="baseMes3">
                 <input type="hidden" id="fkPlateType" name="fkPlateType" v-model="formData.fkPlateType">
                <div v-for="item in msgPlate">
                  <div v-if="item.codeName==='其它'">
                    <div @click="getPlateClass($event)" id="other3">
                                                                   其它: <input type="text" class="col-lg-8 baseMesIn" id="plateType" name="plateType">
                    </div>
                  </div>
                  <div v-else>
                    <div @click="getPlateClass($event)">{{item.codeName}}</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <slot class="btn btn-success btnNext fr" name="addInf"></slot>
        <slot class="btn btn-success btnNext fr" name="changeInf"></slot>
      </form>
    </div>
  </div>
</div>

