<div class="recordMain">
 <!-- 文件大小弹窗 start -->
                                <el-dialog lock-scroll  :close-on-click-modal="ceshi"   title="附件上传" :visible.sync="dialogVisible" width="30%">
						        	<i class="failIcon fl" style="margin-left:30px;margin-top:-12px;background-color: #D81E06;text-align: center;color: #fff;border-radius: 50%;width: 60px;height: 60px;font-size: 50px;line-height:60px">!</i>
						        	<div class="ceshi" style="text-align:center;">
						        		<p style="float:none">附件总量最大 30M</p>		
						        	</div>
						        	 <div slot="footer" class="dialog-footer">
						    			<el-button size="mini" @click="dialogVisible = false">取 消</el-button>
						    			<el-button size="mini" type="primary" @click="dialogVisible = false">确 定</el-button>
						  			</div>	
						        </el-dialog>
						        <!-- 文件大小弹窗 end -->
						        <!-- 文件限制弹窗 start -->
						         <el-dialog lock-scroll  :close-on-click-modal="ceshi1"   title="文件限制" :visible.sync="dialogVisibles" width="30%">
						        	<i class="failIcon fl" style="margin-left:30px;margin-top:-12px;background-color: #D81E06;text-align: center;color: #fff;border-radius: 50%;width: 60px;height: 60px;font-size: 50px;line-height:60px">!</i>
						        	<div class="ceshi" style="text-align:center;">
						        		<p style="float:none">上传格式只能为：doc,docx,xls,xlsx,pdf,zip,rar,sep</p>		
						        	</div>
						        	 <div slot="footer" class="dialog-footer">
						    			<el-button size="mini" @click="dialogVisibles = false">取 消</el-button>
						    			<el-button size="mini" type="primary" @click="dialogVisibles = false">确 定</el-button>
						  			</div>	
						        </el-dialog>
						        <!-- 文件限制弹窗 end  -->
						        <!-- 验证提示框 start -->
						        <el-dialog lock-scroll  :close-on-click-modal="ceshi2"  title="验证提示" :visible.sync="dialogVisibled" width="30%">
						        	<i class="failIcon fl" style="margin-left:30px;margin-top:-12px;background-color: #D81E06;text-align: center;color: #fff;border-radius: 50%;width: 60px;height: 60px;font-size: 50px;line-height:60px">!</i>
						        	<div class="ceshi" style="text-align:center;">
						        		<p style="float:none">验证有误，请检查填写信息</p>		
						        	</div>
						        	 <div slot="footer" class="dialog-footer">
						    			<el-button size="mini" @click="dialogVisibled = false">取 消</el-button>
						    			<el-button size="mini" type="primary" @click="dialogVisibled = false">确 定</el-button>
						  			</div>	
						        </el-dialog>
						         <!-- 验证提示框 end -->
  <div>
    <p class="">
      <span class="cut">备案</span>
    </p>
  </div>
  <div class="recordPro">
    <p class="recTitle">备案流程</p>
    <ul class="process">
      <li class="datas" @click="changeLi($event)">
        <span class="datasBgAll"></span>
        <p class="datasText">向公安部门提交等保资料（备案表1，2，3，4）</p>
        <i class="dataLise"></i> <span class="line"></span>
      </li>
      <li class="audit" @click="changeLi">
        <span class="datasBgAll auditBg"></span>
        <p class="datasText">管局审核</p>
        <i class="dataLise dataAudit"></i>
        <span class="line"></span>
      </li>
      <li class="fillIn" @click="changeLi">
        <span class="datasBgAll fillInBg"></span>
        <p class="datasText">填写备案信息</p>
        <i class="dataLise dataFillIn"></i>
        <span class="line"></span>
      </li>
      <li class="over" @click="changeLi">
        <span class="datasBgAll overBg"></span>
        <p class="datasText">完成</p>
        <i class="dataLast"></i>
      </li>
    </ul>
    <div class="datasMain" style="display: block;">
                所有备案表需要导出下载，并将备案表提交给相关公安部门，等待公安部门审核。点击下载备案 
      <a href="javascript:;" @click="downloadFile(1)">表1</a>，
      <a href="javascript:;" @click="downloadFile(2)">表2</a>，
      <a href="javascript:;" @click="downloadFile(3)">表3</a>
<!--       <span  v-if="(formData.fkSpRanklevel >=303  && formData.recordStatus != 4) || showTable4"> -->
			<span  v-if="showTable4">
      	<a href="javascript:;" @click="downloadFile(4)">，表4</a>     
      </span>
    </div>
    <div class="datasMain">
                相关公安部门人员将会对递交的材料进行审核，查验，通过审核的备案会得到信息系统安全等级保护备案证明。
    </div>
    <div class="datasMain">
      <el-form  ref="formData" :rules="rules" :model="formData" label-width="210px">
        <ul class="clearfix dataForm">
          <li class="row P-record">
            <div class="col-lg-6 col-sm-3" style="width:50% !important">
              <el-form-item label="备案编号：" prop="recordCode" ref= 'recordCode'>
                <input type="text" placeholder="请输入" name="recordCode" id="recordCode" v-model="formData.recordCode" @change="changeData('recordCode')">
              </el-form-item>
            </div>
            <div class="col-lg-6 col-sm-3" style="width:50% !important">
              <el-form-item label="备案单位：" prop="recordCompany" ref= 'recordCompany'>
                <input type="text" placeholder="请输入" name="recordCompany" id="recordCompany" v-model="formData.recordCompany" @change="changeData('recordCompany')">
              </el-form-item>
            </div>
          </li>
          <li class="row P-record">
            <div class="col-lg-6 col-sm-3" style="width:50% !important">
              <el-form-item label="备案时间：" prop="recordDate">
                <el-date-picker class="col-md-6 col-sm-3 useData" style="height:34px;overflow:hidden;" v-model="formData.recordDate" type="date"></el-date-picker>
              </el-form-item>
            </div>
            <div class="col-lg-6 col-sm-3" style="width:50% !important">
              <el-form-item label="受理备案单位：" prop="acceptCompany" ref= 'acceptCompany'>
                <input type="text" placeholder="请输入" name="acceptCompany" id="acceptCompany" v-model="formData.acceptCompany" @change="changeData('acceptCompany')">
              </el-form-item>
            </div>
          </li>
          <li class="row P-record">
            <div class="col-lg-6 col-sm-3" style="width:50% !important">
              <el-form-item label="受理日期：" prop="acceptDate">
                <el-date-picker class="col-md-6 col-sm-3 useData" style="height:34px;overflow:hidden;" v-model="formData.acceptDate" type="date"></el-date-picker>
              </el-form-item>
            </div>
          </li>
          <li class="row lastFile P-record" style="margin-bottom: 35px;">
            <div class="col-md-12">
              <el-form-item label="信息系统安全等级保护备案证明：" prop="recordReportName" ref= 'recordReportName'>
                <div class="clearfix sysText col-md-9 uploadBox">
                  <div class="uploadSty">
                    <ul class="fileList" id="fileList">
                      <li v-if="!(formData.recordReportName == null || formData.recordReportName == '')">
                        <div class="fl"  @click="fileDownload(formData.recordReportPath,formData.recordReportName,formData.recordReportId)" >{{formData.recordReportName}}</div>
                        <i @click="fileDel(formData.recordReportPath,formData.recordReportName,formData.recordReportId)" class="el-icon-close fl"></i>
                      </li>
                    </ul>
                    <el-button type="primary" size="small" style="bottom:22px" id="btn4">上传</el-button>
                  </div>
                  <input type="file" value="" id="file" @change='onUpload' ref="refOnUpload">
                  <p>
                    附件总量最大 <span class="xing">30M</span>，上传格式为：doc,docx,xls,xlsx,pdf,zip,rar,sep
                  </p>
                </div>
              </el-form-item>
            </div>
          </li>
        </ul>
      </el-form>
    </div>
    <div class="datasMain">备案已完成</div>
  </div>
        <!-- 首页表格的删除弹窗 -->
  <div class="dialogShaw" id="recordDialogShaw">
    <div class="startBox" v-show="deleteDialog">
      <div v-show="deleteSuccessDialog"><i class="el-icon-circle-check" style="color:#5DAE51;"></i><P>删除成功!</P></div>
      <div v-show="deleteFailDialog"><i class="el-icon-circle-close" style="color:red;"></i><P>删除失败!</P></div>
    </div>
    <div class="inquiry" style="display:none" id="recordInquiry">
      <div class="cenrerBox">
        <i class="failIcon fl">!</i>
        <div class="fl">
          <p>是否确认提交备案？</p>
        </div>
      </div>
      <div class="inquiryBtn">
          <button type="button" class="btn btn-success fl" @click="submitRecordDia('formData')">确定</button>
          <button type="button" class="btn btn-default fr" @click="closes">取消</button>
      </div>
     </div>
  </div>
   <div class="startBox" id="startBoxRecord" style="display:none;">
      <i class="el-icon-circle-check" style="color:#5DAE51;"></i><P>提交成功!</P>
    </div>
</div>

