<div class="" style="padding-left: 15px;">
    <!-- <div class="col-lg-12 text-center formTable" > -->
    <div class="col-lg-12 text-center formTable" >
        <el-form-item label="关键产品使用情况：" prop="systemKeyProducts">
            <div class="table-responsive col-md-10 addForm2Table">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>产品类型</th>
                        <th>数量</th>
                        <th>是否使用国产品</th>
                        <th>使用国产品率</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    <tr v-for="(itme,index) in sysProductType">
                        <th>{{index+1}}</th>
                        <td class="tdLineHei">{{itme.codeName}}
                            <div class="inputLineHeight" v-if="itme.codeName=='其它'">
                                <input type="text" v-model="formData.systemKeyProducts[index].otherName"  class="col-lg-8 baseMesIn" @change="a()"/>
                            </div>
                        </td>
                        <td class="tdSelect">
                            <el-select v-model="formData.systemKeyProducts[index].productsNumber" filterable @change="a()">
                                <el-option v-for="number in sysNumber" :key="number.systemCode" :label="number.systemCode" :value="number.systemCode" ></el-option>
                            </el-select>
                        </td>
                        <td>
                            <span class="dowmBg"></span>
                            <el-select class="form-control" v-model="formData.systemKeyProducts[index].fkNationalIsProducts" filterable @change="a()">
                                <el-option v-for="prod in sysNationalProducts" :key="prod.systemCode" :label="prod.codeName" :value="prod.systemCode"></el-option>
                            </el-select>
                            <!--<select class="form-control" v-model="formData.systemKeyProducts[index].fkNationalIsProducts">-->
                                <!--<option value="">请选择</option>-->
                                <!--<option v-for="prod in sysNationalProducts" :key="prod.systemCode" :label="prod.codeName" :value="prod.systemCode"></option>-->
                            <!--</select>-->
                        </td>
                        <td>
                            <!--<div>-->
                            <input class="form-control pull-left tdWith" v-model="formData.systemKeyProducts[index].nUseProbability" @change="a()">
                            <!--<span class="sticNum">0</span>-->
                            <i class="addNum" @click="addNum($event,index)"></i>
                            <i class="oddNum" @click="oddNum($event,index)"></i>
                            <span class="pull-left" style="margin:10px">%</span>
                            <!--</div>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </el-form-item>
        <div v-if="(formData.systemKeyProducts[0].productsNumber !==''&&formData.systemKeyProducts[0].fkNationalIsProducts ===''&&formData.systemKeyProducts[0].nUseProbability ==='')||(formData.systemKeyProducts[0].productsNumber ===''&&formData.systemKeyProducts[0].fkNationalIsProducts !==''&&formData.systemKeyProducts[0].nUseProbability ==='')||(formData.systemKeyProducts[0].productsNumber !==''&&formData.systemKeyProducts[0].fkNationalIsProducts ===''&&formData.systemKeyProducts[0].nUseProbability !=='')||(formData.systemKeyProducts[0].productsNumber !==''&&formData.systemKeyProducts[0].fkNationalIsProducts !==''&&formData.systemKeyProducts[0].nUseProbability ==='')||(formData.systemKeyProducts[0].productsNumber ===''&&formData.systemKeyProducts[0].fkNationalIsProducts !==''&&formData.systemKeyProducts[0].nUseProbability !=='')">
          <el-form-item label="" prop="systemKeyProductsNumber" v-if="formData.systemKeyProducts[0].productsNumber ===''"></el-form-item>
          <el-form-item label="" prop="systemKeyFkNationalIsProducts" v-else-if="formData.systemKeyProducts[0].fkNationalIsProducts ===''"></el-form-item>
          <el-form-item label="" prop="systemKeyNUseProbability" v-else-if="formData.systemKeyProducts[0].nUseProbability ==='' "></el-form-item>
        </div>
        <div v-else-if="(formData.systemKeyProducts[1].productsNumber !==''&&formData.systemKeyProducts[1].fkNationalIsProducts ===''&&formData.systemKeyProducts[1].nUseProbability ==='')||(formData.systemKeyProducts[1].productsNumber ===''&&formData.systemKeyProducts[1].fkNationalIsProducts !==''&&formData.systemKeyProducts[1].nUseProbability ==='')||(formData.systemKeyProducts[1].productsNumber !==''&&formData.systemKeyProducts[1].fkNationalIsProducts ===''&&formData.systemKeyProducts[1].nUseProbability !=='')||(formData.systemKeyProducts[1].productsNumber !==''&&formData.systemKeyProducts[1].fkNationalIsProducts !==''&&formData.systemKeyProducts[1].nUseProbability ==='')||(formData.systemKeyProducts[1].productsNumber ===''&&formData.systemKeyProducts[1].fkNationalIsProducts !==''&&formData.systemKeyProducts[1].nUseProbability !=='')">
          <el-form-item label="" prop="systemKeyProductsNumber" v-if="formData.systemKeyProducts[1].productsNumber ===''"></el-form-item>
          <el-form-item label="" prop="systemKeyFkNationalIsProducts" v-else-if="formData.systemKeyProducts[1].fkNationalIsProducts ===''"></el-form-item>
          <el-form-item label="" prop="systemKeyNUseProbability" v-else-if="formData.systemKeyProducts[1].nUseProbability ==='' "></el-form-item>
        </div>
        <div v-else-if="(formData.systemKeyProducts[2].productsNumber !==''&&formData.systemKeyProducts[2].fkNationalIsProducts ===''&&formData.systemKeyProducts[2].nUseProbability ==='')||(formData.systemKeyProducts[2].productsNumber ===''&&formData.systemKeyProducts[2].fkNationalIsProducts !==''&&formData.systemKeyProducts[2].nUseProbability ==='')||(formData.systemKeyProducts[2].productsNumber !==''&&formData.systemKeyProducts[2].fkNationalIsProducts ===''&&formData.systemKeyProducts[2].nUseProbability !=='')||(formData.systemKeyProducts[2].productsNumber !==''&&formData.systemKeyProducts[2].fkNationalIsProducts !==''&&formData.systemKeyProducts[2].nUseProbability ==='')||(formData.systemKeyProducts[2].productsNumber ===''&&formData.systemKeyProducts[2].fkNationalIsProducts !==''&&formData.systemKeyProducts[2].nUseProbability !=='')">
          <el-form-item label="" prop="systemKeyProductsNumber" v-if="formData.systemKeyProducts[2].productsNumber ===''"></el-form-item>
          <el-form-item label="" prop="systemKeyFkNationalIsProducts" v-else-if="formData.systemKeyProducts[2].fkNationalIsProducts ===''"></el-form-item>
          <el-form-item label="" prop="systemKeyNUseProbability" v-else-if="formData.systemKeyProducts[2].nUseProbability ==='' "></el-form-item>
        </div>
        <div v-else-if="(formData.systemKeyProducts[3].productsNumber !==''&&formData.systemKeyProducts[3].fkNationalIsProducts ===''&&formData.systemKeyProducts[3].nUseProbability ==='')||(formData.systemKeyProducts[3].productsNumber ===''&&formData.systemKeyProducts[3].fkNationalIsProducts !==''&&formData.systemKeyProducts[3].nUseProbability ==='')||(formData.systemKeyProducts[3].productsNumber !==''&&formData.systemKeyProducts[3].fkNationalIsProducts ===''&&formData.systemKeyProducts[3].nUseProbability !=='')||(formData.systemKeyProducts[3].productsNumber !==''&&formData.systemKeyProducts[3].fkNationalIsProducts !==''&&formData.systemKeyProducts[3].nUseProbability ==='')||(formData.systemKeyProducts[3].productsNumber ===''&&formData.systemKeyProducts[3].fkNationalIsProducts !==''&&formData.systemKeyProducts[3].nUseProbability !=='')">
          <el-form-item label="" prop="systemKeyProductsNumber" v-if="formData.systemKeyProducts[3].productsNumber ===''"></el-form-item>
          <el-form-item label="" prop="systemKeyFkNationalIsProducts" v-else-if="formData.systemKeyProducts[3].fkNationalIsProducts ===''"></el-form-item>
          <el-form-item label="" prop="systemKeyNUseProbability" v-else-if="formData.systemKeyProducts[3].nUseProbability ==='' "></el-form-item>
        </div>
        <div v-else-if="(formData.systemKeyProducts[4].productsNumber !==''&&formData.systemKeyProducts[4].fkNationalIsProducts ===''&&formData.systemKeyProducts[4].nUseProbability ==='')||(formData.systemKeyProducts[4].productsNumber ===''&&formData.systemKeyProducts[4].fkNationalIsProducts !==''&&formData.systemKeyProducts[4].nUseProbability ==='')||(formData.systemKeyProducts[4].productsNumber !==''&&formData.systemKeyProducts[4].fkNationalIsProducts ===''&&formData.systemKeyProducts[4].nUseProbability !=='')||(formData.systemKeyProducts[4].productsNumber !==''&&formData.systemKeyProducts[4].fkNationalIsProducts !==''&&formData.systemKeyProducts[4].nUseProbability ==='')||(formData.systemKeyProducts[4].productsNumber ===''&&formData.systemKeyProducts[4].fkNationalIsProducts !==''&&formData.systemKeyProducts[4].nUseProbability !=='')">
          <el-form-item label="" prop="systemKeyProductsNumber" v-if="formData.systemKeyProducts[4].productsNumber ===''"></el-form-item>
          <el-form-item label="" prop="systemKeyFkNationalIsProducts" v-else-if="formData.systemKeyProducts[4].fkNationalIsProducts ===''"></el-form-item>
          <el-form-item label="" prop="systemKeyNUseProbability" v-else-if="formData.systemKeyProducts[4].nUseProbability ==='' "></el-form-item>
        </div>
        <div v-else-if="(formData.systemKeyProducts[5].productsNumber !==''&&formData.systemKeyProducts[5].fkNationalIsProducts ===''&&formData.systemKeyProducts[5].nUseProbability ==='')||(formData.systemKeyProducts[5].productsNumber ===''&&formData.systemKeyProducts[5].fkNationalIsProducts !==''&&formData.systemKeyProducts[5].nUseProbability ==='')||(formData.systemKeyProducts[5].productsNumber !==''&&formData.systemKeyProducts[5].fkNationalIsProducts ===''&&formData.systemKeyProducts[5].nUseProbability !=='')||(formData.systemKeyProducts[5].productsNumber !==''&&formData.systemKeyProducts[5].fkNationalIsProducts !==''&&formData.systemKeyProducts[5].nUseProbability ==='')||(formData.systemKeyProducts[5].productsNumber ===''&&formData.systemKeyProducts[5].fkNationalIsProducts !==''&&formData.systemKeyProducts[0].nUseProbability !=='')">
          <el-form-item label="" prop="systemKeyProductsNumber" v-if="formData.systemKeyProducts[5].productsNumber ===''"></el-form-item>
          <el-form-item label="" prop="systemKeyFkNationalIsProducts" v-else-if="formData.systemKeyProducts[5].fkNationalIsProducts ===''"></el-form-item>
          <el-form-item label="" prop="systemKeyNUseProbability" v-else-if="formData.systemKeyProducts[5].nUseProbability ==='' "></el-form-item>
          <el-form-item label="" prop="systemKeyOtherName" v-else-if="formData.systemKeyProducts[5].otherName ==='' "></el-form-item>
        </div>
        <div v-else>
          <div v-if="formData.systemKeyProducts[5].otherName !==''||formData.systemKeyProducts[5].productsNumber !==''||formData.systemKeyProducts[5].fkNationalIsProducts !==''">
            <el-form-item label="" prop="systemKeyProductsNumber" v-if="formData.systemKeyProducts[5].productsNumber ===''"></el-form-item>
            <el-form-item label="" prop="systemKeyFkNationalIsProducts" v-else-if="formData.systemKeyProducts[5].fkNationalIsProducts ===''"></el-form-item>
            <el-form-item label="" prop="systemKeyNUseProbability" v-else-if="formData.systemKeyProducts[5].nUseProbability ==='' "></el-form-item>
            <el-form-item label="" prop="systemKeyOtherName" v-else-if="formData.systemKeyProducts[5].otherName ==='' "></el-form-item>
          </div>
          <div v-else-if="formData.systemKeyProducts[0].productsNumber ===''&&formData.systemKeyProducts[1].productsNumber ===''&&formData.systemKeyProducts[2].productsNumber ===''&&formData.systemKeyProducts[3].productsNumber ===''&&formData.systemKeyProducts[4].productsNumber ===''&&formData.systemKeyProducts[5].productsNumber ===''">
            <el-form-item label="" prop="systemKeyProductsNumber" v-if="formData.systemKeyProducts[5].productsNumber ===''"></el-form-item>
            <el-form-item label="" prop="systemKeyFkNationalIsProducts" v-else-if="formData.systemKeyProducts[5].fkNationalIsProducts ===''"></el-form-item>
            <el-form-item label="" prop="systemKeyNUseProbability" v-else-if="formData.systemKeyProducts[5].nUseProbability ==='' "></el-form-item>
            <el-form-item label="" prop="systemKeyOtherName" v-else-if="formData.systemKeyProducts[5].otherName ==='' "></el-form-item>
          </div>
        </div>
    </div>
    <div class="col-lg-12 text-center formTable">
    <!-- <div class="col-lg-12 text-center formTable" > -->
        <el-form-item label="系统采用服务情况：" prop="systemUseServices">
            <div class="table-responsive col-md-10 addForm2Table">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>服务类型</th>
                        <th>是否采用</th>
                        <th>服务责任方类型</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(itme,index) in sysServiceType">
                        <th>{{index+1}}</th>
                        <td class="tdLineHei proWidth">{{itme.codeName}}
                            <div class="inputLineHeight" v-if="itme.codeName=='其它'">
                                <input type="text" v-model="formData.systemUseServices[index].otherName"  class="col-lg-8 baseMesIn"/>
                            </div>
                            <input type="hidden" v-model="formData.systemUseServices[index].fkProductsType" value="itme.systemCode"/>
                        </td>
                        <td class="proWidth">
                            <span class="dowmBg"></span>
                            <div>
                                <el-select class="form-control" v-model="formData.systemUseServices[index].serviceIsUse">
                                    <el-option v-for="i in sysIs" :key="i.systemCode" :label="i.codeName" :value="i.systemCode"></el-option>
                                </el-select>
                            </div>
                        </td>
                        <td class="proWidth">
                            <span class="dowmBg"></span>
                            <el-select class="form-control" v-model="formData.systemUseServices[index].fkResponsibleType">
                                <el-option v-for="prod in sysResponsible" :key="prod.systemCode" :label="prod.codeName" :value="prod.systemCode"></el-option>
                            </el-select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </el-form-item>
    </div>
</div>