<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinopec.smcc.cpro.review.mapper.CheckMapper">
  <resultMap id="CheckResultMap" type="com.sinopec.smcc.cpro.review.entity.CheckResult">
    <id column="pkId" property="checkId"/>
    <result column="fkSystemId" property="fkSystemId"/>
    <result column="fkExaminStatus" property="fkExaminStatus"/>
    <result column="fkBusinessNode" property="fkBusinessNode"/>
    <result column="instanceName" property="instanceName"/>
    <result column="initiator" property="initiator"/>
    <result column="prevExecutor" property="prevExecutor"/>
    <result column="executeTime" property="executeTime"/>
    <result column="scoreCheckResult" property="scoreCheckResult"/>
    <result column="scoreCheckReason" property="scoreCheckReason"/>
    <result column="scoreCheckChangeResult" property="scoreCheckChangeResult"/>
    <result column="scoreCheckChangeReason" property="scoreCheckChangeReason"/>
    <result column="cancelRecordsResult" property="cancelRecordsResult"/>
    <result column="cancelRecordsReason" property="cancelRecordsReason"/>
    <result column="deleteStatus" property="deleteStatus"/>
    <result column="createUserName" property="createUserName"/>
    <result column="createTime" property="createTime"/>
    <result column="updateTime" property="updateTime"/>
    <result column="remark" property="remark"/>
    <result column="expertReviewId" property="expertReviewId"/>
    <result column="expertReviewName" property="expertReviewName"/>
    <result column="recordReportId" property="recordReportId"/>
    <result column="recordReportName" property="recordReportName"/>
    <result column="fkInfoSysTypeCon" property="fkInfoSysTypeCon"/>
  </resultMap>
  <resultMap id="CheckListResult" type="com.sinopec.smcc.cpro.review.entity.CheckListResult">
    <id column="pkId" property="checkId"/>
    <result column="fkSystemId" property="fkSystemId"/>
    <result column="instanceName" property="instanceName"/>
    <result column="initiator" property="initiator"/>
    <result column="prevExecutor" property="prevExecutor"/>
    <result column="executeTime" property="executeTime"/>
    <result column="fkBusinessNode" property="fkBusinessNode"/>
    <result column="fkExaminStatus" property="fkExaminStatus"/>
    <result column="expertReviewId" property="expertReviewId"/>
    <result column="expertReviewName" property="expertReviewName"/>
    <result column="recordReportId" property="recordReportId"/>
    <result column="recordReportName" property="recordReportName"/>
    <result column="fkInfoSysTypeCon" property="fkInfoSysTypeCon"/>
  </resultMap>
  <!-- 获取审核列表 -->
  <select id="selectAllByCheckParam" parameterType="com.sinopec.smcc.cpro.review.entity.CheckParam" resultMap="CheckListResult">
  	<![CDATA[
  		SELECT
				che.pkId AS checkId,
				che.fkSystemId,
				che.instanceName,
				che.initiator,
				che.prevExecutor,
				che.executeTime,
				che.fkBusinessNode,
				che.fkExaminStatus,
				expertReview.pkId AS expertReviewId,
				expertReview.attachName AS expertReviewName,
				recordReport.pkId AS recordReportId,
				recordReport.attachName AS recordReportName,
				sys.fkInfoSysTypeCon
			FROM
				t_cpro_check che
			LEFT JOIN t_cpro_system sys ON che.fkSystemId = sys.pkId
			LEFT JOIN t_cpro_attach expertReview ON che.fkSystemId = expertReview.fkSystemId AND expertReview.fkAttachType = 'expertReview'
			LEFT JOIN t_cpro_attach recordReport ON che.fkSystemId = recordReport.fkSystemId AND recordReport.fkAttachType = 'recordReport'
  	]]>
  	<where>
  		<if test="instanceName != null and instanceName != ''">
        <bind name="instanceName" value="'%' + _parameter.instanceName + '%'" />
        <![CDATA[
          AND instanceName like #{instanceName}
        ]]>
      </if>
      <if test="initiator != null and initiator != ''">
        <bind name="initiator" value="'%' + _parameter.initiator + '%'" />
        <![CDATA[
          AND initiator like #{initiator}
        ]]>
      </if>
      <if test="attachName != null and attachName != ''">
        <bind name="attachName" value="'%' + _parameter.attachName + '%'" />
        <![CDATA[
          AND (expertReview.attachName like #{attachName} OR recordReport.attachName like #{attachName})
        ]]>
      </if>
      <if test="fkBusinessNode != null and fkBusinessNode != ''">
        <![CDATA[
          AND fkBusinessNode = #{fkBusinessNode}
        ]]>
      </if>
      <if test="fkExaminStatus != null and fkExaminStatus != ''">
        <![CDATA[
          AND fkExaminStatus = #{fkExaminStatus}
        ]]>
      </if>
      <choose>
      	<when test="handlingState == 1">
      		<choose>
      			<when test="'企业审核员' == '企业审核员'">
      				AND fkExaminStatus = '1'
      			</when>
      			<when test="'总部安全管理员' == '总部安全管理员1'">
      				AND fkExaminStatus = '2'
      			</when>
      		</choose>
      	</when>
      	<when test="handlingState == 2">
      		<choose>
      			<when test="'企业审核员' == '企业审核员'">
      				AND 
      				(
      					(
	      					(
	      						fkExaminStatus = '2' 
	      						OR fkExaminStatus = '4' 
	      						OR fkExaminStatus = '5' 
	      					) 
	      					AND 
	      					(
	      						sys.fkInfoSysTypeCon = '1' 
	      						OR sys.fkInfoSysTypeCon = '2' 
	      					)
	      				)
	      				OR fkExaminStatus = '3' 
	      			)
      			</when>
      			<when test="'总部安全管理员' == '总部安全管理员1'">
      				AND 
      				(
      					fkExaminStatus = '4' OR fkExaminStatus = '5' 
      				)
      			</when>
      		</choose>
      	</when>
      </choose>
  	</where>
  </select>
  
  <update id="updateCheckBySystemId" parameterType="com.sinopec.smcc.cpro.review.entity.CheckParam">
  	<![CDATA[
      UPDATE t_cpro_check AS examine
      LEFT JOIN t_cpro_system AS system
        ON system.pkId = examine.fkSystemId
    ]]>
    <set>
    	<if test="scoreCheckResult != null ">
        <![CDATA[
          examine.scoreCheckResult = #{scoreCheckResult},
          examine.scoreCheckReason = #{scoreCheckReason},
        ]]>
        <!-- 如果申请定级通过，则审核状态改为已完成-->
        <if test="scoreCheckResult ==1">
	        <![CDATA[
	          system.examineStatus = 3,
	        ]]>
        </if>
        <!-- 如果申请定级未通过，则审核状态改为进行中-->
        <if test="scoreCheckResult ==2">
          <![CDATA[
            system.examineStatus = 2,
          ]]>
        </if>
      </if>
    	<if test="scoreCheckChangeResult != null ">
        <![CDATA[
          examine.scoreCheckChangeResult = #{scoreCheckChangeResult},
          examine.scoreCheckChangeReason = #{scoreCheckChangeReason},
        ]]>
        <!-- 如果申请变更通过，则审核状态改为已完成 -->
         <if test="scoreCheckChangeResult ==1">
          <![CDATA[
            system.examineStatus = 3,
          ]]>
        </if>
        <!-- 如果申请变更未通过，则审核状态改为进行中 -->
        <if test="scoreCheckChangeResult ==2">
          <![CDATA[
            system.examineStatus = 2,
          ]]>
        </if>
      </if>
    	<if test="cancelRecordsResult != null ">
        <![CDATA[
          examine.cancelRecordsResult = #{cancelRecordsResult},
          examine.cancelRecordsReason = #{cancelRecordsReason},
        ]]>
        <!-- 如果撤销备案通过，则初始化定级状态、审核状态、备案状态、测评状态、自查状态。备案状态未已撤销 -->
        <if test="cancelRecordsResult==1">
	        <![CDATA[
	         system.recordStatus = 4,
	         system.gradingStatus = 1,
	         system.examineStatus = 1,
	         system.evaluationStatus = 1,
	         system.examinationStatus = 1,
	        ]]>
        </if>
        <!-- 如果撤销备案未通过，则审核状态改为未通过 -->
        <if test="cancelRecordsResult==2">
          <![CDATA[
            system.examineStatus = 2,
          ]]> 
        </if>
      </if>
      <if test="fkExaminStatus != null">
      	<![CDATA[
          examine.fkExaminStatus = #{fkExaminStatus},
      	]]>
      </if>
      <if test="prevExecutor != null">
      	<![CDATA[
          examine.prevExecutor = #{prevExecutor},
      	]]>
      </if>
      <if test="executeTime != null">
      	<![CDATA[
          examine.executeTime = #{executeTime},
      	]]>
      </if>
    </set>
    <where>
    	<![CDATA[
        AND examine.fkSystemId = #{fkSystemId}
      ]]>
    </where>
  </update>
</mapper>