<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinopec.smcc.cpro.review.mapper.CheckMapper">
  <resultMap id="CheckResultMap" type="com.sinopec.smcc.cpro.review.entity.CheckResult">
    <id column="pkId" property="checkId"/>
    <result column="fkSystemId" property="fkSystemId"/>
    <result column="fkExaminStatus" property="fkExaminStatus"/>
    <result column="fkBusinessNode" property="fkBusinessNode"/>
    <result column="instanceName" property="instanceName"/>
    <result column="initiator" property="initiator"/>
    <result column="prevExecutor" property="prevExecutor"/>
    <result column="executeTime" property="executeTime"/>
    <result column="scoreCheckResult" property="scoreCheckResult"/>
    <result column="scoreCheckReason" property="scoreCheckReason"/>
    <result column="scoreCheckChangeResult" property="scoreCheckChangeResult"/>
    <result column="scoreCheckChangeReason" property="scoreCheckChangeReason"/>
    <result column="cancelRecordsResult" property="cancelRecordsResult"/>
    <result column="cancelRecordsReason" property="cancelRecordsReason"/>
    <result column="deleteStatus" property="deleteStatus"/>
    <result column="createUserName" property="createUserName"/>
    <result column="createTime" property="createTime"/>
    <result column="updateTime" property="updateTime"/>
    <result column="remark" property="remark"/>
    <result column="expertReviewId" property="expertReviewId"/>
    <result column="expertReviewName" property="expertReviewName"/>
    <result column="recordReportId" property="recordReportId"/>
    <result column="recordReportName" property="recordReportName"/>
    <result column="fkInfoSysTypeCon" property="fkInfoSysTypeCon"/>
  </resultMap>
  <resultMap id="CheckListResult" type="com.sinopec.smcc.cpro.review.entity.CheckListResult">
    <id column="pkId" property="checkId"/>
    <result column="fkSystemId" property="fkSystemId"/>
    <result column="instanceName" property="instanceName"/>
    <result column="initiator" property="initiator"/>
    <result column="prevExecutor" property="prevExecutor"/>
    <result column="executeTime" property="executeTime"/>
    <result column="fkBusinessNode" property="fkBusinessNode"/>
    <result column="fkExaminStatus" property="fkExaminStatus"/>
    <result column="expertReviewId" property="expertReviewId"/>
    <result column="expertReviewName" property="expertReviewName"/>
    <result column="recordReportId" property="recordReportId"/>
    <result column="recordReportName" property="recordReportName"/>
    <result column="fkInfoSysTypeCon" property="fkInfoSysTypeCon"/>
  </resultMap>
  <!-- 获取审核列表 -->
  <select id="selectAllByCheckParam" parameterType="com.sinopec.smcc.cpro.review.entity.CheckParam" resultMap="CheckListResult">
  	<![CDATA[
  		SELECT
				che.pkId AS checkId,
				che.fkSystemId,
        com.pkId AS companyId,
				che.instanceName,
				che.initiator,
				che.prevExecutor,
				che.executeTime,
				che.fkBusinessNode,
				che.fkExaminStatus,
				expertReview.pkId AS expertReviewId,
				expertReview.attachName AS expertReviewName,
				recordReport.pkId AS recordReportId,
				recordReport.attachName AS recordReportName,
				sys.fkInfoSysTypeCon
			FROM
				t_cpro_check che
			LEFT JOIN t_cpro_system sys ON che.fkSystemId = sys.pkId
      LEFT JOIN t_cpro_company com ON com.companyCode = sys.fkCompanyCode
			LEFT JOIN t_cpro_attach expertReview ON che.fkSystemId = expertReview.fkSystemId AND expertReview.fkAttachType = 'expertReview'
			LEFT JOIN t_cpro_attach recordReport ON che.fkSystemId = recordReport.fkSystemId AND recordReport.fkAttachType = 'recordReport'
  	]]>
  	<where>
      <if test="companyList != null">
        <![CDATA[
          AND com.companyCode IN  
        ]]>
        <foreach collection="companyList" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>
      </if>
      <if test="plateList != null">
        <![CDATA[
          AND com.fkPlateType IN  
        ]]>
        <foreach collection="plateList" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>
      </if>
  		<if test="instanceName != null and instanceName != ''">
        <bind name="instanceName" value="'%' + _parameter.instanceName + '%'" />
        <![CDATA[
          AND instanceName like #{instanceName}
        ]]>
      </if>
      <if test="initiator != null and initiator != ''">
        <bind name="initiator" value="'%' + _parameter.initiator + '%'" />
        <![CDATA[
          AND initiator like #{initiator}
        ]]>
      </if>
      <if test="attachName != null and attachName != ''">
        <bind name="attachName" value="'%' + _parameter.attachName + '%'" />
        <![CDATA[
          AND (expertReview.attachName like #{attachName} OR recordReport.attachName like #{attachName})
        ]]>
      </if>
      <if test="fkBusinessNode != null and fkBusinessNode != ''">
        <![CDATA[
          AND fkBusinessNode = #{fkBusinessNode}
        ]]>
      </if>
      <if test="fkExaminStatus != null and fkExaminStatus != ''">
        <![CDATA[
          AND fkExaminStatus = #{fkExaminStatus}
        ]]>
      </if>
      <choose>
      	<when test="handlingState == 1">
      		<choose>
      			<when test="'企业审核员' == '企业审核员'">
      				AND fkExaminStatus = '1'
      			</when>
      			<when test="'总部安全管理员' == '总部安全管理员1'">
      				AND fkExaminStatus = '2'
      			</when>
      		</choose>
      	</when>
      	<when test="handlingState == 2">
      		<choose>
      			<when test="'企业审核员' == '企业审核员'">
      				AND 
      				(
      					(
	      					(
	      						fkExaminStatus = '2' 
	      						OR fkExaminStatus = '4' 
	      						OR fkExaminStatus = '5' 
	      					) 
	      					AND 
	      					(
	      						sys.fkInfoSysTypeCon = '1' 
	      						OR sys.fkInfoSysTypeCon = '2' 
	      					)
	      				)
	      				OR fkExaminStatus = '3' 
	      			)
      			</when>
      			<when test="'总部安全管理员' == '总部安全管理员1'">
      				AND 
      				(
      					fkExaminStatus = '4' OR fkExaminStatus = '5' 
      				)
      			</when>
      		</choose>
      	</when>
      </choose>
  	</where>
  </select>
  
  <update id="updateCheckBySystemId" parameterType="com.sinopec.smcc.cpro.review.entity.CheckParam">
  	<![CDATA[
      UPDATE t_cpro_check AS examine
    ]]>
    <set>
    	<if test="scoreCheckResult != null ">
        <![CDATA[
          examine.scoreCheckResult = #{scoreCheckResult},
          examine.scoreCheckReason = #{scoreCheckReason},
        ]]>
      </if>
    	<if test="scoreCheckChangeResult != null ">
        <![CDATA[
          examine.scoreCheckChangeResult = #{scoreCheckChangeResult},
          examine.scoreCheckChangeReason = #{scoreCheckChangeReason},
        ]]>
      </if>
    	<if test="cancelRecordsResult != null ">
        <![CDATA[
          examine.cancelRecordsResult = #{cancelRecordsResult},
          examine.cancelRecordsReason = #{cancelRecordsReason},
        ]]>
      </if>
      <if test="fkExaminStatus != null">
      	<![CDATA[
          examine.fkExaminStatus = #{fkExaminStatus},
      	]]>
      </if>
      <if test="prevExecutor != null">
      	<![CDATA[
          examine.prevExecutor = #{prevExecutor},
      	]]>
      </if>
      <if test="executeTime != null">
      	<![CDATA[
          examine.executeTime = #{executeTime},
      	]]>
      </if>
    </set>
    <where>
    	<![CDATA[
        AND examine.fkSystemId = #{fkSystemId}
      ]]>
    </where>
  </update>
  
  <update id="updateCheckStatusBySystemId" parameterType="com.sinopec.smcc.cpro.review.entity.CheckParam">
    <![CDATA[
      UPDATE t_cpro_check 
    ]]>
    <set>
      <if test="fkExaminStatus != null ">
        <![CDATA[
          fkExaminStatus = #{fkExaminStatus},
        ]]>
      </if>
      <if test="fkBusinessNode != null ">
        <![CDATA[
          fkBusinessNode = #{fkBusinessNode},
        ]]>
      </if>
      <if test="scoreCheckResult != null ">
        <![CDATA[
          scoreCheckResult = #{scoreCheckResult},
        ]]>
      </if>
      <if test="scoreCheckReason != null ">
        <![CDATA[
          scoreCheckReason = #{scoreCheckReason},
        ]]>
      </if>
      <if test="scoreCheckChangeResult != null ">
        <![CDATA[
          scoreCheckChangeResult = #{scoreCheckChangeResult},
        ]]>
      </if>
      <if test="scoreCheckChangeReason != null ">
        <![CDATA[
          scoreCheckChangeReason = #{scoreCheckChangeReason},
        ]]>
      </if>
      <if test="cancelRecordsResult != null ">
        <![CDATA[
          cancelRecordsResult = #{cancelRecordsResult},
        ]]>
      </if>
      <if test="cancelRecordsReason != null ">
        <![CDATA[
          cancelRecordsReason = #{cancelRecordsReason},
        ]]>
      </if>
      <if test="prevExecutor != null ">
        <![CDATA[
          prevExecutor = #{prevExecutor},
        ]]>
      </if>
      <if test="executeTime != null ">
        <![CDATA[
          executeTime = #{executeTime}
        ]]>
      </if>
    </set>
    <where>
      <![CDATA[
        AND fkSystemId = #{fkSystemId}
      ]]>
    </where>
  </update>
  
    <insert id="insertCheck" parameterType="com.sinopec.smcc.cpro.review.entity.CheckParam" >
    INSERT INTO t_cpro_check
      (
      pkId,fkSystemId,fkExaminStatus,fkBusinessNode,instanceName,
      initiator,prevExecutor,executeTime,scoreCheckResult,scoreCheckReason,
      scoreCheckChangeResult,scoreCheckChangeReason,cancelRecordsResult,cancelRecordsReason,
      deleteStatus,createUserName,createTime,updateTime,remark
      )VALUES(
        <trim suffixOverrides="," >
          <![CDATA[
            #{checkId},
          ]]>
          <choose>
            <when test="fkSystemId != null and fkSystemId != ''">
              <![CDATA[
                #{fkSystemId},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="fkExaminStatus != null and fkExaminStatus != ''">
              <![CDATA[
                #{fkExaminStatus},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="fkBusinessNode != null and fkBusinessNode != ''">
              <![CDATA[
                #{fkBusinessNode},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="instanceName != null and instanceName != ''">
              <![CDATA[
                #{instanceName},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="initiator != null and initiator != ''">
              <![CDATA[
                #{initiator},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="prevExecutor != null and prevExecutor != ''">
              <![CDATA[
                #{prevExecutor},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="executeTime != null">
              <![CDATA[
                #{executeTime},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="scoreCheckResult != null">
              <![CDATA[
                #{scoreCheckResult},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="scoreCheckReason != null and scoreCheckReason != ''">
              <![CDATA[
                #{scoreCheckReason},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="scoreCheckChangeResult != null and scoreCheckChangeResult != ''">
              <![CDATA[
                #{scoreCheckChangeResult},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="scoreCheckChangeReason != null and scoreCheckChangeReason != ''">
              <![CDATA[
                #{scoreCheckChangeReason},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="cancelRecordsResult != null and cancelRecordsResult != ''">
              <![CDATA[
                #{cancelRecordsResult},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="cancelRecordsReason != null and cancelRecordsReason != ''">
              <![CDATA[
                #{cancelRecordsReason},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="deleteStatus != null">
              <![CDATA[
                #{deleteStatus},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="createUserName != null">
              <![CDATA[
                #{createUserName},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="createTime != null">
              <![CDATA[
                #{createTime},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="updateTime != null">
              <![CDATA[
                #{updateTime},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="remark != null">
              <![CDATA[
                #{remark},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
        </trim>
      )
       ON DUPLICATE KEY UPDATE
      <trim suffixOverrides=",">
        <if test="fkExaminStatus != null and fkExaminStatus != ''">
          fkExaminStatus = #{fkExaminStatus},
        </if>
        <if test="fkBusinessNode != null and fkBusinessNode !='' ">
          fkBusinessNode = #{fkBusinessNode},
        </if>
        <if test="instanceName != null and instanceName !='' ">
          instanceName = #{instanceName},
        </if>
        <if test="initiator != null and initiator !='' ">
          initiator = #{initiator},
        </if>
        <if test="prevExecutor != null and prevExecutor !='' ">
          prevExecutor = #{prevExecutor},
        </if>
        <if test="executeTime != null">
          executeTime = #{executeTime},
        </if>
        <if test="scoreCheckResult != null and scoreCheckResult !='' ">
          scoreCheckResult = #{scoreCheckResult},
        </if>
        <if test="scoreCheckReason != null and scoreCheckReason !='' ">
          scoreCheckReason = #{scoreCheckReason},
        </if>
        <if test="scoreCheckChangeResult != null and scoreCheckChangeResult !='' ">
          scoreCheckChangeResult = #{scoreCheckChangeResult},
        </if>
        <if test="scoreCheckChangeReason != null and scoreCheckChangeReason !='' ">
          scoreCheckChangeReason = #{scoreCheckChangeReason},
        </if>
        <if test="cancelRecordsResult != null and cancelRecordsResult !='' ">
          cancelRecordsResult = #{cancelRecordsResult},
        </if>
        <if test="cancelRecordsReason != null and cancelRecordsReason !='' ">
          cancelRecordsReason = #{cancelRecordsReason},
        </if>
      </trim>
  </insert>
  <select id="selectCheckInfoBySystemId" parameterType="com.sinopec.smcc.cpro.review.entity.CheckParam" resultMap="CheckResultMap">
    SELECT 
        che.pkId AS checkId,
        che.fkSystemId,
        che.instanceName,
        che.initiator,
        che.prevExecutor,
        che.executeTime,
        che.fkBusinessNode,
        che.fkExaminStatus 
    FROM
      t_cpro_check AS che
    WHERE 
      che.deleteStatus = 1
      AND  che.fkSystemId = #{fkSystemId}
  </select>
  <delete id="deleteCheckByCheckId" parameterType="com.sinopec.smcc.cpro.review.entity.CheckParam">
    DELETE FROM t_cpro_check WHERE pkId = #{checkId}
  </delete>
</mapper>