<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinopec.smcc.cpro.records.mapper.RecordsMapper">
  <resultMap id="BaseResultMap" type="com.sinopec.smcc.cpro.records.entity.RecordsListResult">
    <id column="pkId" property="recordsId"/>
    <result column="recordCompany" property="recordCompany" jdbcType="VARCHAR"/>
    <result column="fkSystemId" property="fkSystemId" jdbcType="VARCHAR"/>
    <result column="recordDate" property="recordDate" jdbcType="DATE"/>
    <result column="acceptDate" property="acceptDate" jdbcType="DATE"/>
    <result column="acceptCompany" property="acceptCompany" jdbcType="VARCHAR"/>
  </resultMap>
  <resultMap id="RecordsResult" type="com.sinopec.smcc.cpro.records.entity.RecordsResult">
    <id column="pkId" property="recordsId"/>
    <result column="fkSystemId" property="fkSystemId"/>
    <result column="recordCode" property="recordCode"/>
    <result column="recordCompany" property="recordCompany"/>
    <result column="recordDate" property="recordDate"/>
    <result column="acceptDate" property="acceptDate"/>
    <result column="acceptCompany" property="acceptCompany"/>
    <result column="recordReportId" property="recordReportId"/>
    <result column="recordReportName" property="recordReportName"/>
  </resultMap>
  <resultMap type="com.sinopec.smcc.cpro.records.entity.RevokeRecordsResult" id="RevokeRecordsResult">
  	<id column="pkId" property="recordsId"/>
  	<result column="fkSystemId" property="fkSystemId" jdbcType="VARCHAR"/>
  	<result column="fkrevokematter" property="fkrevokematter" jdbcType="VARCHAR"/>
  	<result column="revokereason" property="revokereason" jdbcType="VARCHAR"/>
  	<result column="revokeRecordsId" property="revokeRecordsId" jdbcType="VARCHAR"/>
  	<result column="revokeRecordsName" property="revokeRecordsName" jdbcType="VARCHAR"/>
  </resultMap>
  <resultMap id="RecordsDetailResult" type="com.sinopec.smcc.cpro.records.entity.RecordsDetailResult">
    <id column="pkId" property="recordsId"/>
    <result column="fkSystemId" property="fkSystemId"/>
    <result column="recordCode" property="recordCode"/>
    <result column="recordCompany" property="recordCompany"/>
    <result column="recordDate" property="recordDate"/>
    <result column="acceptDate" property="acceptDate"/>
    <result column="acceptCompany" property="acceptCompany"/>
    <result column="recordReportId" property="recordReportId"/>
    <result column="recordReportName" property="recordReportName"/>
  	<result column="fkrevokematter" property="fkrevokematter"/>
  	<result column="revokereason" property="revokereason"/>
  	<result column="revokeRecordsId" property="revokeRecordsId"/>
  	<result column="revokeRecordsName" property="revokeRecordsName"/>
  </resultMap>
  <insert id="insertRecords" parameterType="com.sinopec.smcc.cpro.records.entity.RecordsParam" >
  	INSERT INTO t_cpro_records 
      (
        pkId,fkSystemId,fkrevokematter,recordCode,recordCompany,
        recordDate,acceptCompany,acceptDate,acceptReason,revokereason,
        revokecontent,deleteStatus,createUserName,updateTime,createTime,
        remark
      ) VALUES (
      <trim suffixOverrides="," >
        <![CDATA[
          #{recordsId},
        ]]>
        <choose>
          <when test="fkSystemId != null and fkSystemId != ''">
            <![CDATA[
              #{fkSystemId},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="fkrevokematter != null">
            <![CDATA[
            #{fkrevokematter},
          ]]>
          </when>
          <otherwise>
            <![CDATA[
            DEFAULT,
          ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="recordCode != null and recordCode != ''">
            <![CDATA[
              #{recordCode},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="recordCompany != null and recordCompany != ''">
            <![CDATA[
              #{recordCompany},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="recordDate != null">
            <![CDATA[
              #{recordDate},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="acceptCompany != null and acceptCompany != ''">
            <![CDATA[
              #{acceptCompany},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="acceptDate != null">
            <![CDATA[
              #{acceptDate},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="acceptReason != null and acceptReason !=''">
            <![CDATA[
              #{acceptReason},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="revokereason != null and revokereason != ''">
            <![CDATA[
              #{revokereason},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="revokecontent != null and revokecontent != ''">
            <![CDATA[
              #{revokecontent},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="deleteStatus != null">
            <![CDATA[
              #{deleteStatus},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="createUserName != null and createUserName != ''">
            <![CDATA[
              #{createUserName},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="updateTime != null ">
            <![CDATA[
              #{updateTime},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="createTime != null ">
            <![CDATA[
              #{createTime},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="remark != null and remark != ''">
            <![CDATA[
              #{remark},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
      </trim>				                					                
    )
    ON DUPLICATE KEY UPDATE
    <trim suffixOverrides=",">
      <if test="recordCode != null and recordCode != ''">
      	recordCode = #{recordCode},
      </if>
      <if test="recordCompany != null and recordCompany !='' ">
    		recordCompany = #{recordCompany},
      </if>
      <if test="recordDate != null">
    		recordDate = #{recordDate},
      </if>
      <if test="acceptDate != null">
    		acceptDate = #{acceptDate},
      </if>
      <if test="acceptCompany != null and acceptCompany !='' ">
    		acceptCompany = #{acceptCompany},
      </if>
    </trim>
  </insert> 
  <select id="selectRecordsByFkSystemId" parameterType="com.sinopec.smcc.cpro.records.entity.RecordsParam" resultMap="RecordsResult">
    SELECT
			rec.pkId,
			rec.fkSystemId,
			rec.recordCode,
			rec.recordCompany,
			rec.recordDate,
			rec.acceptCompany,
			rec.acceptDate,
			att.pkId AS recordReportId,
			att.attachName AS recordReportName
		FROM
			t_cpro_records AS rec
		LEFT JOIN t_cpro_attach AS att ON rec.pkId = att.fkSyssonId
		AND rec.fkSystemId = att.fkSystemId
		AND att.fkAttachType = 'recordReport'
    WHERE 
      rec.deleteStatus = 1
    AND rec.fkSystemId = #{fkSystemId}
    LIMIT 0,1
  </select>
  <update id="updateRecordsBySystemId" parameterType="com.sinopec.smcc.cpro.records.entity.RecordsParam">
    UPDATE t_cpro_records 
    SET acceptReason = #{acceptReason}
    WHERE fkSystemId = #{fkSystemId}
  </update> 
  <!-- 点击撤销备案，填写信息后保存 -->
  <update id="updateRecordsBySystemIdForRevokeRecords" parameterType="com.sinopec.smcc.cpro.records.entity.RecordsParam">
  	UPDATE t_cpro_records 
  	SET revokereason = #{revokereason},fkrevokematter = #{fkrevokematter} 
    WHERE fkSystemId = #{fkSystemId} 
  </update>
  <!-- 获取撤销备案信息 -->
  <select id="selectRecordsByFkSystemIdForRevokeRecords" parameterType="com.sinopec.smcc.cpro.records.entity.RecordsParam" resultMap="RevokeRecordsResult">
  	SELECT
			rec.pkId,
			rec.fkSystemId,
			rec.fkrevokematter,
			rec.revokereason,
			att.pkId AS revokeRecordsId,
			att.attachName AS revokeRecordsName
		FROM
			t_cpro_records rec
		LEFT JOIN t_cpro_attach att ON rec.fkSystemId = att.fkSystemId
		AND rec.pkId = att.fkSyssonId
		AND att.fkAttachType = 'revokeRecordsReport'
		WHERE rec.fkSystemId = #{fkSystemId}
    LIMIT 0,1
  </select>
  <!-- 查询备案详情 -->
  <select id="selectRecordsByFkSystemIdForRecordsDetail" parameterType="com.sinopec.smcc.cpro.records.entity.RecordsParam" resultMap="RecordsDetailResult">
  	SELECT
			rec.pkId,
			rec.fkSystemId,
			rec.recordCode,
			rec.recordCompany,
			rec.recordDate,
			rec.acceptCompany,
			rec.acceptDate,
			rec.fkrevokematter,
			rec.revokereason,
			recordReport.pkId AS recordReportId,
			recordReport.attachName AS recordReportName,
			revokeRecordsReport.pkId AS revokeRecordsId,
			revokeRecordsReport.attachName AS revokeRecordsName
		FROM
			t_cpro_records AS rec
		LEFT JOIN t_cpro_attach AS recordReport 
			ON rec.pkId = recordReport.fkSyssonId
			AND rec.fkSystemId = recordReport.fkSystemId
			AND recordReport.fkAttachType = 'recordReport'
		LEFT JOIN t_cpro_attach revokeRecordsReport 
			ON rec.fkSystemId = revokeRecordsReport.fkSystemId
			AND rec.pkId = revokeRecordsReport.fkSyssonId
			AND revokeRecordsReport.fkAttachType = 'revokeRecordsReport'
    WHERE 
      rec.deleteStatus = 1
    AND rec.fkSystemId = #{fkSystemId}
    LIMIT 0,1
  </select>
  <select id="selectRecordCompany" parameterType="com.sinopec.smcc.cpro.records.entity.RecordsParam" resultMap="BaseResultMap">
    SELECT
      DISTINCT
      acceptCompany 
    FROM
      t_cpro_records
    WHERE 
      deleteStatus = 1
  </select>
</mapper>
