<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinopec.smcc.cpro.records.mapper.RecordsMapper">
  <resultMap id="BaseResultMap" type="com.sinopec.smcc.cpro.records.entity.RecordsListResult">
    <id column="pkId" property="recordsId"/>
    <result column="recordCompany" property="recordCompany" jdbcType="VARCHAR"/>
    <result column="fkSystemId" property="fkSystemId" jdbcType="VARCHAR"/>
    <result column="recordDate" property="recordDate" jdbcType="DATE"/>
    <result column="acceptDate" property="acceptDate" jdbcType="DATE"/>
    <result column="acceptCompany" property="acceptCompany" jdbcType="VARCHAR"/>
  </resultMap>
   <resultMap id="RecordsResult" type="com.sinopec.smcc.cpro.records.entity.RecordsResult">
    <id column="pkId" property="recordsId"/>
    <result column="recordCompany" property="recordCompany" jdbcType="VARCHAR"/>
    <result column="fkSystemId" property="fkSystemId" jdbcType="VARCHAR"/>
    <result column="recordDate" property="recordDate" jdbcType="DATE"/>
    <result column="acceptDate" property="acceptDate" jdbcType="DATE"/>
    <result column="acceptCompany" property="acceptCompany" jdbcType="VARCHAR"/>
  </resultMap>
  <insert id="insertRecords" parameterType="com.sinopec.smcc.cpro.records.entity.RecordsParam" >
  	INSERT INTO t_cpro_records 
      (
        pkId,fkSystemId,fkrevokematter,recordCode,recordCompany,
        recordDate,acceptCompany,acceptDate,acceptReason,revokereason,
        revokecontent,deleteStatus,createUserName,updateTime,createTime,
        remark
      ) VALUES (
      <trim suffixOverrides="," >
        <![CDATA[
          #{recordsId,jdbcType=VARCHAR},
        ]]>
        <choose>
          <when test="fkSystemId != null and fkSystemId != ''">
            <![CDATA[
              #{fkSystemId,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="fkrevokematter != null">
            <![CDATA[
            #{fkrevokematter,jdbcType=INTEGER},
          ]]>
          </when>
          <otherwise>
            <![CDATA[
            DEFAULT,
          ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="recordCode != null and recordCode != ''">
            <![CDATA[
              #{recordCode,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="recordCompany != null and recordCompany != ''">
            <![CDATA[
              #{recordCompany,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="recordDate != null">
            <![CDATA[
              #{recordDate,jdbcType=DATE},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="acceptCompany != null and acceptCompany != ''">
            <![CDATA[
              #{acceptCompany,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="acceptDate != null">
            <![CDATA[
              #{acceptDate,jdbcType=DATE},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="acceptReason != null and acceptReason !=''">
            <![CDATA[
              #{acceptReason,jdbcType=INTEGER},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="revokereason != null and revokereason != ''">
            <![CDATA[
              #{revokereason,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="revokecontent != null and revokecontent != ''">
            <![CDATA[
              #{revokecontent,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="deleteStatus != null">
            <![CDATA[
              #{deleteStatus,jdbcType=INTEGER},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="createUserName != null and createUserName != ''">
            <![CDATA[
              #{createUserName,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="updateTime != null ">
            <![CDATA[
              #{updateTime,jdbcType=DATE},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="createTime != null ">
            <![CDATA[
              #{createTime,jdbcType=DATE},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="remark != null and remark != ''">
            <![CDATA[
              #{remark,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
      </trim>				                					                
    )
    ON DUPLICATE KEY UPDATE
    <trim suffixOverrides=",">
      <if test="recordCode != null and recordCode != ''">
      	recordCode = #{recordCode},
      </if>
      <if test="recordCompany != null and recordCompany !='' ">
    		recordCompany = #{recordCompany},
      </if>
      <if test="recordDate != null">
    		recordDate = #{recordDate},
      </if>
      <if test="acceptDate != null">
    		acceptDate = #{acceptDate},
      </if>
      <if test="acceptCompany != null and acceptCompany !='' ">
    		acceptCompany = #{acceptCompany},
      </if>
    </trim>
  </insert> 
   <select id="selectRecordsByFkSystemId" parameterType="com.sinopec.smcc.cpro.records.entity.RecordsParam" resultMap="RecordsResult">
    SELECT
      pkId AS recordsId,
      fkSystemId,
      recordCode,
      recordCompany,
      recordDate,
      acceptDate,
      acceptCompany
    FROM t_cpro_records
    WHERE 
      deleteStatus = 1
      AND fkSystemId = #{fkSystemId}
  </select>
  <update id="updateRecordsBySystemId" parameterType="com.sinopec.smcc.cpro.records.entity.RecordsParam">
    UPDATE t_cpro_records 
    SET acceptReason = #{acceptReason}
    WHERE fkSystemId = #{fkSystemId}
  </update> 
</mapper>
