<div  class="wrap cover">
  <div class="revokeBg">
  <div class="revoke">
    <span class="closes" @click="closesDir"></span>
    <p class="clearfix cuto">
      <span class="fl revokeTitle">撤销备案</span>
      <span class="fr tianMsg">带“ <span class="xing">*</span>”为必填项</span>
    </p>
    <el-form class="chexiao" action="#" ref="formData" :rules="rules" :model="formData" >
      <ul class="clearfix" style="margin: 0 15px !important;">
        <li class="row P-record">
          <el-form-item style="margin-left:-150px" label="变更事项：" prop="">
            <div style="line-height: 34px">撤销备案</div>
          </el-form-item>
        </li>
        <li class="row P-record">
          <el-form-item label="撤销证明：" style="margin-left:-142px" prop="revokeAttachName" ref='revokeAttachName'>
            <div class=" col-md-9 uploadBox" style="width:100%">
              <div class="uploadSty">
                <ul class="fileList" id="fileList">
                  <li v-if="!(formData.revokeAttachName == null || formData.revokeAttachName == '')">
                    <div class="fl"  @click="fileDownload(formData.revokeAttachPath,formData.revokeAttachName,formData.revokeAttachId)" >{{formData.revokeAttachName}}</div>
                    <i @click="fileDel(formData.recordReportPath,formData.recordReportName,formData.recordReportId)" class="el-icon-close fl"></i>
                  </li>
                </ul>
                <el-button type="primary" size="small" style="margin-right:-15px;cursor:pointer">上传</el-button>
              </div>
              <input type="file" value="" id="file" @change='onUpload' ref="refOnUpload">
              <p>附件总量最大 <span class="xing">30M</span>，上传格式为：doc,docx,xls,xlsx,pdf,zip,rar,sep</p>
            </div>
          </el-form-item>
        </li>
        <li class="row P-record">
        	<el-form-item label="撤销原因：" style="margin-left:-142px" prop="revokereason" ref='revokereason'>
            <div class="mcTextArea col-md-11 col-sm-3" @click="text" style="width:100%;">
              <textarea id="textArea" cols="30" rows="10" placeholder="请输入" v-model="formData.revokereason"></textarea>
              <span class='textAll'><span id="textNum">0</span>/200</span>
              <!-- 最多200字符，0处显示的是已经写了多少字符-->
            </div>
          </el-form-item>
        </li>
      </ul>
      <p class="fr" style="margin-right:-30px">
        <button class="btn btn-success fl" type="button" @click="submitRevokeRecordDir('formData')">提交</button>
        <button class="btn btn-default fl btnRight" type="button" @click="closesDir()">取消</button>
      </p>
    </el-form>
  </div>
</div>      <!-- 首页表格的删除弹窗 -->
  <div class="dialogShaw" id="revokeRecordDialogShaw" style="z-index: 150">
    <div class="startBox" v-show="deleteDialog">
      <div v-show="deleteSuccessDialog"><i class="el-icon-circle-check" style="color:#5DAE51;"></i><P>删除成功!</P></div>
      <div v-show="deleteFailDialog"><i class="el-icon-circle-close" style="color:red;"></i><P>删除失败!</P></div>
    </div>
    <div class="inquiry" id="revokeRecordInquiry" style="display:none">
      <div class="cenrerBox">
        <i class="failIcon fl">!</i>
        <div class="fl">
          <p>是否确认提交撤销备案？</p>
        </div>
      </div>
      <div class="inquiryBtn">
          <button type="button" class="btn btn-success fl" @click="submitRevokeRecord('formData')">确定</button>
          <button type="button" class="btn btn-default fr" @click="closes">取消</button>
      </div>
     </div>
  </div>
   <div class="startBox" id="startBoxRevokeRecord" style="display:none;">
      <i class="el-icon-circle-check" style="color:#5DAE51;"></i><P>提交成功!</P>
    </div>
</div>

