<div class="margin-clear">
    <ol class="breadcrumb"  style="background-color: transparent;">
        <li style="width: 100%">
            <a v-for="(a,index) in breadcrumb"
                :href="a.href"  style="color: #565656;">{{a.name}} <span
                v-if="index !== (breadcrumb.length-1)">></span>
            </a>

            <i  @click="hReturn()">
                <slot name="breadcrumb-return"></slot>
            </i>
            <i  @click="returnHome()">
                <slot name="return"></slot>
            </i>
                <i @click="submit('ruleForm')" > 
                <slot name="breadcrumb-sumbit"></slot>
            </i>
            <!-- <div v-if="grad"> -->
              <slot name="gradChange"></slot>
            <!-- </div>
            <div v-else> -->
              <slot name="materialChangeBtn"></slot>
            <!-- </div> -->
        </li>
    </ol>
    <slot name="returnBtn"></slot>
    <div class="clear"></div>
</div>