<div class="container h-padding" style="margin:0"  v-loading="loading"  element-loading-text="加载中">
	<!-- 批量导入 -->
	<div id="dialog"  class="evaluationAlert hDiaSelfCheck"
		style="display: none;position: fixed;top:0;left: 0;background: rgba(0,0,0,0.5);width:100%;height:100%;z-index:100">
		<div class="evaluation"
			style="padding:15px;border: 1px solid #cecece;background:#fff; width: 65%;height:35%;  position: absolute;top: 0;left: 0;bottom:0;right:0;margin:auto;  z-index: 1s2;">
			<p class="clearfix cut" style="margin:10px 0 0 0 ">
			<span class="fr tianMsg">带“ <span class="xing">*</span>”为必填项
			</span>
				<span class="fl revokeTitle" style="margin-top:-10px">批量导入</span> <span @click="closes1"
					style="cursor: pointer;
    					display: block;
    					width: 50px;
    					height: 50px;
    					border: 1px solid rgb(255, 255, 255);
					    border-radius: 50%;
					    background: url(../../images/close.png) no-repeat;
					    position: absolute;
					    top: -8%;
					    right: -8%;"></span>
			</p>
			<div>
				<div class="row" style="margin:0;margin-top:30px;">
					<el-form :model="systemForm" :rules="systemForm.rules"
						ref="systemForm" label-width="100px" class="demo-ruleForm">
					<div class="col-md-12 p-up">
						<el-form-item label="上传附件：" prop="importSystemInfo" ref="importSystemInfo" style="margin-left: -35px;">
						<div class="clearfix sysText col-md-12 uploadBox" style="width: 107%;margin-left: -35px;">
							<div class="uploadSty">
								<ul class="fileList" id="fileList" style="margin-left:20px !important;">
									<li v-if="!(systemForm.importSystemInfo == null || systemForm.importSystemInfo =='')">
										<div class="fl">{{systemForm.importSystemInfo}}</div> 
										<i @click="fileDel(systemForm.importSystemPath)" class="el-icon-close fl"></i>
									</li>
								</ul>
                            <el-button type="primary" size="small"
                                style="bottom:26px;background: rgb(61,149,223);right:18px !important">选择文件</el-button>
							</div>
							<input type="file" value="" id="file" @change='onUpload'
								ref="refOnUpload">
							<p>
								附件总量最大 <span class="xing">30M</span>，上传格式为：excel(xls、xlsx、xlsm)
							</p>
						</div>
						</el-form-item>
					</div>
					<div class="h-p" style="width: 100%;overflow:hidden;">
						<el-button class="btn btn-default fr" @click="closes1">取消</el-button>
						<el-button class="btn fr" type="primary"
							style="background: rgb(61,149,223);color: #fff;"
							@click="submitForm">确认</el-button>
					</div>
					</el-form>
				</div>
			</div>
		</div>
	</div>
	 <!-- 文件大小弹窗 start -->
                                <el-dialog lock-scroll  :close-on-click-modal="ceshi"   title="附件上传" :visible.sync="dialogVisible" width="30%">
						        	<i class="failIcon fl" style="margin-left:30px;margin-top:-12px;background-color: #D81E06;text-align: center;color: #fff;border-radius: 50%;width: 60px;height: 60px;font-size: 50px;line-height:60px">!</i>
						        	<div class="ceshi" style="text-align:center;">
						        		<p style="float:none">附件总量最大 30M</p>		
						        	</div>
						        	 <div slot="footer" class="dialog-footer">
						    			<el-button size="mini" @click="dialogVisible = false" style="background:#FFF;width:70px;height:40px;border:1px solid #ededed;color:#333">取 消</el-button>
						    			<el-button size="mini" type="primary" @click="dialogVisible = false" style="background:#0065ba;width:70px;height:40px;border:1px solid #ededed;color:white">确 定</el-button>
						  			</div>	
						        </el-dialog>
						        <!-- 文件大小弹窗 end -->
						        <!-- 文件限制弹窗 start -->
						         <el-dialog lock-scroll  :close-on-click-modal="ceshi1"   title="文件限制" :visible.sync="dialogVisibles" width="30%">
						        	<i class="failIcon fl" style="margin-left:30px;margin-top:-12px;background-color: #D81E06;text-align: center;color: #fff;border-radius: 50%;width: 60px;height: 60px;font-size: 50px;line-height:60px">!</i>
						        	<div class="ceshi" style="text-align:center;">
						        		<p style="float:none">上传格式只能为：excel(xls、xlsx、xlsm)</p>		
						        	</div>
						        	 <div slot="footer" class="dialog-footer">
						    			<el-button size="mini" @click="dialogVisibles = false" style="background:#FFF;width:70px;height:40px;border:1px solid #ededed;color:#333">取 消</el-button>
						    			<el-button size="mini" type="primary" @click="dialogVisibles = false"  style="background:#0065ba;width:70px;height:40px;border:1px solid #ededed;color:white">确 定</el-button>
						  			</div>	
						        </el-dialog>
						        <!-- 文件限制弹窗 end  -->
						        <!-- 填写信息 start -->
						         <el-dialog lock-scroll  :close-on-click-modal="ceshi3"   title="填写信息" :visible.sync="dialogVisiblesd" width="30%">
						        	<i class="failIcon fl" style="margin-left:30px;margin-top:-12px;background-color: #D81E06;text-align: center;color: #fff;border-radius: 50%;width: 60px;height: 60px;font-size: 50px;line-height:60px">!</i>
						        	<div class="ceshi" style="text-align:center;">
						        		<p style="float:none">请填写信息</p>		
						        	</div>
						        	 <div slot="footer" class="dialog-footer">
						    			<el-button size="mini" type="primary" @click="dialogVisiblesd = false"  style="background:#0065ba;width:70px;height:40px;border:1px solid #ededed;color:white">确 定</el-button>
						  			</div>	
						        </el-dialog>
						           <!-- 填写信息 end -->
						        
	<div class="container h-table-border"
		style="background:#fff;padding: 15px;margin-top: -15px">
		<div style="height: 50px;line-height: 50px;margin-top: -15px">
			<i class="h-list-line" style="vertical-align:middle;"></i> 系统基本信息列表
		</div>
		<div class="h-bottom-line  h-bottom-position" style="margin: 0 -15px"></div>
		<div class="row" style="margin-top: 15px">
			<div class="col-md-12">
				<div class="col-md-3 h-system h-padding"
					style="width: 60px;min-width: 58px;">系统名称:</div>
				<div class="col-md-3 h-col-md-9 h-padding pos-relative">
					<!--  <input type="text" class="h-form-control" 
                           style="width: 74%" 
                           v-model="systemForm.queryData.systemName"/> -->
					<el-input placeholder="请输入内容"
						v-model="systemForm.queryData.systemName" clearable
						class="h-form-control"> </el-input>
				</div>
				<div style="float: right" class=" btn-group btn-group-sm"
					role="group" aria-label="...">
					<button type="button" @click="querySystemListInfoMethod()"
						class="btn btn-defaults"
						style="padding:5px 20px;width:70px;margin-right:5px;background:#3d95df;color:#fff;">查询</button>
					<button type="button" class="btn btn-default nu"
						style="padding:5px 20px;width:70px;" @click="clearHeadle">
						清空</button>
				</div>
			</div>
		</div>
		<!--</div>-->
		<div class="h-bottom-line  h-bottom-position" style="margin: 0 -15px"></div>

		<p class="h-p" style="margin: 15px 0;">
            <button  title="新建"  class="h-btn btn h-btn-add" 
            id="h-btn-add"
             @click="newSystemInfoMethod()" 
            style="border: none;"> </button>
            
            <button type="button" class="btn btn-default float-ri" @click="systemInfoImprot" style="margin-right: 10px">  批量导入</button>
            <button type="button" 
                    @click="systemInfoExport"
                    class="btn btn-default float-ri" 
                    style="margin-right: 10px;">
                       模版导出 <!-- pointer-events: none;  -->
            </button>
        </p>

		<div class="row" style="margin:0">
            <div class="col-md-12">
                <div class="row table-responsive">
                    <table id="h-list-show" class="table table-bordered table-striped">
                        <tr class="tr-row rowOneSysInfo rowOne">
                            <!-- <th class="firstChecked"
                                style="width:4%;padding: 0; line-height:39px;  margin-top:50%;  border:none;  border-bottom: 1px;">
                                <input class="checkName frist" type="checkbox" id="checkboxAll1" @click="checkboxAllMethod()"  style=" margin: 4px 36%;"></th> -->
                            <th style="min-width:30px">序号</th>
                            <th>系统名称
                                <slot name="paixujiantou"></slot>
                            </th>
                            <th>业务类型
                                <slot name="paixujiantou2"></slot>
                            </th>
                            <th>业务描述

                                <slot name="paixujiantou3"></slot>
                            </th>
                            <th>投入使用时间

                                <slot name="paixujiantou4"></slot>
                            </th>
                            <th>操作</th>
                        </tr>
                        <tr class="tr-row c" v-for="(item,index) in systemForm.formData">
                            <!-- <td class="firstChecked"
                                style="min-width:34px;padding: 0; line-height:39px; margin-top:28%;  border:none;  border-bottom: 1px;">
                                <input class="checkName ids" type="checkbox" style=" margin: 4px 36%;" @click="checkboxMethod($event,item.systemId)"></td> -->
                            <td>{{index+1}}</td>
                            <td>{{item.systemName}} </td>
                            <td>{{item.sysBusSituationType}}</td>
                            <td><div style="
																									width: 200px;
																									white-space: nowrap;
																									overflow: hidden;
																									text-overflow:ellipsis;" 
																									@mouseover="xuanfu(item.sysBusDescription)" :title="tishi">
																									{{item.sysBusDescription}}</div></td>
                            <td>{{systemForm.time}}</td>
                            <!--操作-->
                            <td style="color:#1e91e2;">
                              <!--class="hide3"-->
                              <a class="hide3">
                                <el-button @click="handleClick(item.systemId)" type="text" size="small" id="bianj1">编辑</el-button>
                              </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--分页-->
        <div class="h-page-box1" style="position:relative;width:100%;height:64px;margin-right: 0;">
          <span style="float: left;padding-top: 18px">
            <div v-if="systemForm.currentPage==0">
                            显示0到0行，共0行记录
            </div>
            <div v-else>
                            显示{{((systemForm.currentPage-1)*systemForm.pagesize)+1}}到{{(systemForm.currentPage)*(systemForm.pagesize)}}行，共{{systemForm.total}}行记录
            </div>
          </span>
          <div class="h-page">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li @click="clickPage(systemForm.currentPage-1)">
                  <a href="javascript:;" aria-label="Previous">
                    <span aria-hidden="true">上一页</span>
                  </a>
                </li>
                <li v-for="n in totalPages==0?1:totalPages" :class="[n==systemForm.currentPage ? 'current' : '' ]">
                  <a href="javascript:;" @click="clickPage(n)">{{n}}</a>
                </li>
                <li @click="clickPage(systemForm.currentPage+1)">
                  <a href="javascript:;" aria-label="Next">
                    <span aria-hidden="true">下一页</span>
                  </a>
                </li> 共{{systemForm.totalPages}}页，跳到
                <li>
                <input type="text" id="txt" v-model="systemForm.txt" @keydown.enter="hpageNum(this)" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" style="overflow: visible;">
                  <div class="box" id="box"></div></li> 页
              </ul>
            </nav>
          </div>
        </div>
    </div>
    <div class="startBox" id="startBoxExporting" style="display:none;width:300px;margin-left:-150px;z-index:999 !important;">
      <i class="el-icon-loading fl" style="font-size:30px;margin-top:5px;margin-right:20px;"></i><P>加载中</P>
    </div>
    <div class="startBox" id="startBoxTest" style="display:none;">
      <i class="el-icon-circle-check"  style="color:#5DAE51;"></i><P>导入成功!</P>
    </div>
    <div class="startBox" id="startBoxImporta" style="display:none;">
      <i class="el-icon-warning" style="display:block;color:#D81E06;font-size:32px;float:left;margin-right:12px;"></i><P>导入失败！</P>
    </div>
    <mainSystemInfoDialog></mainSystemInfoDialog>
</div>
