<div class="container h-padding" style="margin:0">
    <div class="container h-table-border" style="background:#fff;padding: 15px;margin-top: -15px">
        <div style="height: 50px;line-height: 50px;margin-top: -15px">
            <i class="h-list-line" style="vertical-align:middle;"></i>
            系统基本信息列表
        </div>
        <div class="h-bottom-line  h-bottom-position" style="margin: 0 -15px"></div>
        <div class="row" style="margin-top: 15px">
            <div class="col-md-12">
                <div class="col-md-3 h-system h-padding" style="width: 5%">
                    系统名称:
                </div>
                <div class="col-md-3 h-col-md-9 h-padding pos-relative">
                    <input type="text" class="h-form-control" style="width: 74%" v-model="systemForm.queryData.systemName"/>
                </div>
                <div style="float: right" class=" btn-group btn-group-sm" role="group" aria-label="...">
                    <button type="button" @click="querySystemListInfoMethod()" class="btn btn-default" style="width:70px;background:#3d95df;color:#fff;">查询</button>
                    <button type="button" class="btn btn-default" style="width:70px" @click="clearHeadle">   清空</button>
                </div>
            </div>
        </div>
        <!--</div>-->
        <div class="h-bottom-line  h-bottom-position" style="margin: 0 -15px"></div>

        <p class="h-p" style="margin: 15px 0;">
            <button type="button" class="h-btn btn btn-default" id="h-btn-add" @click="newSystemInfoMethod()">
                <img class="h-add   btn-default" src="/images/home/xinzengdengbao.png" alt="">
                <slot name="xinzengdengbao"></slot>
            </button>
            <button type="button" class="btn btn-default float-ri" style="margin-right: 10px">  批量导入</button>
            <button type="button" class="btn btn-default float-ri" style="margin-right: 10px;pointer-events: none; cursor: default; opacity: 0.6;background: #cecece">
                                           模版导出</button>
        </p>

        <div class="row" style="margin:0">
            <div class="col-md-12">
                <div class="row table-responsive">
                    <table id="h-list-show" class="table table-bordered table-striped">
                        <tr class="tr-row rowOne">
                            <th class="firstChecked"
                                style="width:4%;padding: 0; line-height:39px;  margin-top:50%;  border:none;  border-bottom: 1px;">
                                <input class="checkName frist" type="checkbox" id="checkboxAll1" @click="checkboxAllMethod()"  style=" margin: 4px 36%;"></th>
                            <th style="min-width:47px">序号</th>
                            <th>系统名称
                                <slot name="paixujiantou"></slot>
                            </th>
                            <th>业务类型
                                <slot name="paixujiantou2"></slot>
                            </th>
                            <th>业务描述

                                <slot name="paixujiantou3"></slot>
                            </th>
                            <th>投入使用时间

                                <slot name="paixujiantou4"></slot>
                            </th>
                            <th>操作</th>
                        </tr>
                        <tr class="tr-row" v-for="(item,index) in systemForm.formData">
                            <td class="firstChecked"
                                style="min-width:34px;padding: 0; line-height:39px; margin-top:28%;  border:none;  border-bottom: 1px;">
                                <input class="checkName ids" type="checkbox" style=" margin: 4px 36%;" @click="checkboxMethod($event,item.systemId)"></td>
                            <td>{{index+1}}</td>
                            <td>{{item.systemName}} </td>
                            <td>{{item.sysBusDescription}}</td>
                            <td>{{item.sysBusSituationType}}</td>
                            <td>{{item.whenInvestmentUse}}</td>
                            <!--操作-->
                            <td style="color:#1e91e2;">
                                <!--class="hide3"-->
                                <a class="hide3">
                                  <el-button @click="handleClick(item.systemId)" type="text" size="small">编辑</el-button>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--分页-->
        <div class="h-page-box1" style="position:relative;width:100%;height:64px;margin-right: 0;">
          <span style="float: left;padding-top: 18px">
            <div v-if="systemForm.currentPage==0">
                            显示0到0行，共0行记录
            </div>
            <div v-else>
                            显示{{((systemForm.currentPage-1)*systemForm.pagesize)+1}}到{{(systemForm.currentPage)*(systemForm.pagesize)}}行，共{{systemForm.total}}行记录
            </div>
          </span>
          <div class="h-page">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li @click="clickPage(systemForm.currentPage-1)">
                  <a href="javascript:;" aria-label="Previous">
                    <span aria-hidden="true">上一页</span>
                  </a>
                </li>
                <li v-for="n in systemForm.totalPages==0?1:systemForm.totalPages" :class="[n==systemForm.currentPage ? 'current' : '' ]">
                  <a href="javascript:;" @click="clickPage(n)">{{n}}</a>
                </li>
                <li @click="clickPage(systemForm.currentPage+1)">
                  <a href="javascript:;" aria-label="Next">
                    <span aria-hidden="true">下一页</span>
                  </a>
                </li> 共{{systemForm.totalPages}}页，跳到
                <li>
                <input type="text" id="txt" v-model="systemForm.txt" @keydown.enter="hpageNum(this)" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" style="overflow: visible;">
                  <div class="box" id="box"></div></li> 页
              </ul>
            </nav>
          </div>
        </div>
    </div>
</div>


