<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinopec.smcc.cpro.selfexamination.mapper.SelfexaminationMapper">
	<resultMap type="com.sinopec.smcc.cpro.selfexamination.entity.SelfexaminationListResult" id="SelfexaminationListResult">
		<id column="pkId" property="selfexaminationId" />
		<result column="fkSystemId" property="fkSystemId" />
		<result column="fkInspectionStatus" property="fkInspectionStatus" />
		<result column="fkInspectionReu" property="fkInspectionReu" />
		
		<result column="fkRectificationReu" property="fkRectificationReu" />
		<result column="inspectionDate" property="inspectionDate" />
		<result column="rectificationDate" property="rectificationDate" />
		<result column="deleteStatus" property="deleteStatus" />
		
		<result column="createUserName" property="createUserName" />
		<result column="createTime" property="createTime" />
		<result column="updateTime" property="updateTime" />
	  <result column="remark" property="remark" />
	  
	  <result column="examinationReportId" property="examinationReportId" />
	  <result column="examinationReportName" property="examinationReportName" />
	  <result column="examinationRectificationReportId" property="examinationRectificationReportId" />
	  <result column="examinationRectificationReportName" property="examinationRectificationReportName" />
	  <result column="systemName" property="systemName" />
	</resultMap>
	
	<resultMap type="com.sinopec.smcc.cpro.selfexamination.entity.SelfexaminationResult" id="SelfexaminationResult">
    <id column="pkId" property="selfexaminationId" />
    <result column="fkSystemId" property="fkSystemId" />
    <result column="fkInspectionStatus" property="fkInspectionStatus" />
    <result column="fkInspectionReu" property="fkInspectionReu" />
    
    <result column="fkRectificationReu" property="fkRectificationReu" />
    <result column="inspectionDate" property="inspectionDate" />
    <result column="rectificationDate" property="rectificationDate" />
    
	  <result column="examinationReportId" property="examinationReportId" />
	  <result column="examinationReportName" property="examinationReportName" />
	  <result column="examinationRectificationReportId" property="examinationRectificationReportId" />
	  <result column="examinationRectificationReportName" property="examinationRectificationReportName" />
  </resultMap>
  <!-- 根据条件查询分页自查信息列表 -->
	<select id="selectAllBySelfexaminationParam" parameterType="com.sinopec.smcc.cpro.selfexamination.entity.SelfexaminationParam" resultMap="SelfexaminationListResult">
		SELECT 
			self.pkId,self.fkSystemId,self.fkInspectionStatus,self.fkInspectionReu,
			self.fkRectificationReu,self.inspectionDate,self.rectificationDate,
			self.createUserName,self.createTime,self.updateTime,
			examinationReport.pkId AS examinationReportId,
			examinationReport.attachName AS examinationReportName,
			examinationRectificationReport.pkId AS examinationRectificationReportId,
			examinationRectificationReport.attachName AS examinationRectificationReportName,
			system.systemName AS systemName,
			selfSystemCode.codeName AS inspectionStatusName,
			inspectionReuSystemCode.codeName AS inspectionReuName,
			rectificationReuSystemCode.codeName AS rectificationReuName
		FROM t_cpro_self_inspection AS self
		LEFT JOIN t_cpro_attach examinationReport
			ON self.fkSystemId = examinationReport.fkSystemId
			AND self.pkId = examinationReport.fkSyssonId
			AND examinationReport.fkAttachType = 'examinationReport'
		LEFT JOIN t_cpro_attach examinationRectificationReport
			ON self.fkSystemId = examinationRectificationReport.fkSystemId
			AND self.pkId = examinationRectificationReport.fkSyssonId 
			AND examinationRectificationReport.fkAttachType = 'examinationRectificationReport'
		LEFT JOIN t_cpro_system system
		  ON system.pkId = self.fkSystemId
		LEFT JOIN t_cpro_system_code AS selfSystemCode 
      ON self.fkInspectionStatus = selfSystemCode.systemCode
      AND selfSystemCode.fkCodeType = 27
    LEFT JOIN t_cpro_system_code AS inspectionReuSystemCode 
      ON self.fkInspectionReu = inspectionReuSystemCode.systemCode
      AND inspectionReuSystemCode.fkCodeType = 39
    LEFT JOIN t_cpro_system_code AS rectificationReuSystemCode 
      ON self.fkRectificationReu = rectificationReuSystemCode.systemCode
      AND rectificationReuSystemCode.fkCodeType = 38
		<where>
      <![CDATA[
        self.deleteStatus = 1
        AND self.fkSystemId = #{fkSystemId}
      ]]>
    </where>
	</select>
	<!-- 根据SelfexaminationId，有则修改、无则添加自查信息 -->
	<insert id="insertOrUpdateSelfexamination" parameterType="com.sinopec.smcc.cpro.selfexamination.entity.SelfexaminationParam">
		INSERT into t_cpro_self_inspection(
			pkId,fkSystemId,fkInspectionStatus,fkInspectionReu,
			fkRectificationReu,inspectionDate,rectificationDate,deleteStatus,
			createUserName,createTime,updateTime,remark
		) values(
			<trim suffixOverrides="," >
				<choose>
          <when test="selfexaminationId != null and selfexaminationId != ''">
            #{selfexaminationId},
          </when>
          <otherwise>
            DEFAULT,
          </otherwise>
        </choose>
				<choose>
					<when test="fkSystemId != null and fkSystemId != ''">
						#{fkSystemId},
					</when>
					<otherwise>
						DEFAULT,
					</otherwise>
				</choose>
				<choose>
					<when test="fkInspectionStatus != null">
						#{fkInspectionStatus},
					</when>
					<otherwise>
						DEFAULT,
					</otherwise>
				</choose>
				<choose>
					<when test="fkInspectionReu != null">
						#{fkInspectionReu},
					</when>
					<otherwise>
						DEFAULT,
					</otherwise>
				</choose>
				<choose>
					<when test="fkRectificationReu != null">
						#{fkRectificationReu},
					</when>
					<otherwise>
						DEFAULT,
					</otherwise>
				</choose>
				<choose>
					<when test="inspectionDate != null">
						#{inspectionDate},
					</when>
					<otherwise>
						DEFAULT,
					</otherwise>
				</choose>
				<choose>
					<when test="rectificationDate != null">
						#{rectificationDate},
					</when>
					<otherwise>
						DEFAULT,
					</otherwise>
				</choose>
				<choose>
					<when test="deleteStatus != null">
						#{deleteStatus},
					</when>
					<otherwise>
						DEFAULT,
					</otherwise>
				</choose>
				<choose>
					<when test="createUserName != null and createUserName != ''">
						#{createUserName},
					</when>
					<otherwise>
						DEFAULT,
					</otherwise>
				</choose>
				<choose>
					<when test="createTime != null">
						#{createTime},
					</when>
					<otherwise>
						DEFAULT,
					</otherwise>
				</choose>
				<choose>
					<when test="updateTime != null">
						#{updateTime},
					</when>
					<otherwise>
						DEFAULT,
					</otherwise>
				</choose>
				<choose>
					<when test="remark != null and remark != ''">
						#{remark},
					</when>
					<otherwise>
						DEFAULT,
					</otherwise>
				</choose>
			</trim>
		) ON DUPLICATE KEY UPDATE
			fkInspectionStatus = #{fkInspectionStatus},
			<if test="inspectionDate != null">
				inspectionDate = #{inspectionDate},
			</if>
			<if test="rectificationDate != null">
				rectificationDate = #{rectificationDate},
			</if>
			<if test="fkInspectionReu != null">
				fkInspectionReu = #{fkInspectionReu},
			</if>
			fkRectificationReu = #{fkRectificationReu}
	</insert>
  <!-- 根据SelfexaminationId查询自查信息详情 -->
  <select id="selectSingleBySelfexaminationId" parameterType="com.sinopec.smcc.cpro.selfexamination.entity.SelfexaminationParam" resultMap="SelfexaminationResult">
    SELECT 
      self.pkId,self.fkSystemId,self.fkInspectionStatus,self.fkInspectionReu,
      self.fkRectificationReu,self.inspectionDate,self.rectificationDate,
      self.createUserName,self.createTime,self.updateTime,
			examinationReport.pkId AS examinationReportId,
			examinationReport.attachName AS examinationReportName,
			examinationRectificationReport.pkId AS examinationRectificationReportId,
			examinationRectificationReport.attachName AS examinationRectificationReportName
    FROM t_cpro_self_inspection AS self
		LEFT JOIN t_cpro_attach examinationReport
			ON self.fkSystemId = examinationReport.fkSystemId
			AND self.pkId = examinationReport.fkSyssonId
			AND examinationReport.fkAttachType = 'examinationReport'
		LEFT JOIN t_cpro_attach examinationRectificationReport
			ON self.fkSystemId = examinationRectificationReport.fkSystemId
			AND self.pkId = examinationRectificationReport.fkSyssonId 
			AND examinationRectificationReport.fkAttachType = 'examinationRectificationReport'
    <where>
      <![CDATA[
        AND self.pkId = #{selfexaminationId}
        AND self.deleteStatus = 1
      ]]>
    </where>
    LIMIT 0,1
  </select>
  <!-- 修改删除状态为删除状态 -->
  <update id="updateSelfexaminationDeleteStatusBySelfexaminationId" parameterType="com.sinopec.smcc.cpro.selfexamination.entity.SelfexaminationParam">
  	UPDATE t_cpro_self_inspection
		SET deleteStatus = 2
		WHERE
			pkId = #{selfexaminationId}
  </update>
  
  <select id="selectSingleBySystemId" parameterType="com.sinopec.smcc.cpro.selfexamination.entity.SelfexaminationParam" resultMap="SelfexaminationResult">
    SELECT 
      self.pkId,self.fkSystemId,self.fkInspectionStatus,self.fkInspectionReu,
      self.fkRectificationReu,self.inspectionDate,self.rectificationDate,
      self.createUserName,self.createTime,self.updateTime,
      examinationReport.pkId AS examinationReportId,
      examinationReport.attachName AS examinationReportName,
      examinationRectificationReport.pkId AS examinationRectificationReportId,
      examinationRectificationReport.attachName AS examinationRectificationReportName
    FROM t_cpro_self_inspection AS self
    LEFT JOIN t_cpro_attach examinationReport
      ON self.fkSystemId = examinationReport.fkSystemId
      AND self.pkId = examinationReport.fkSyssonId
      AND examinationReport.fkAttachType = 'examinationReport'
    LEFT JOIN t_cpro_attach examinationRectificationReport
      ON self.fkSystemId = examinationRectificationReport.fkSystemId
      AND self.pkId = examinationRectificationReport.fkSyssonId 
      AND examinationRectificationReport.fkAttachType = 'examinationRectificationReport'
    <where>
      <![CDATA[
        AND self.fkSystemId = #{fkSystemId}
        AND self.deleteStatus = 1
      ]]>
    </where>
    ORDER BY self.inspectionDate DESC
    LIMIT 0,1
  </select>
  
    <select id="selectSelfBySystemId" parameterType="com.sinopec.smcc.cpro.selfexamination.entity.SelfexaminationParam" resultMap="SelfexaminationListResult">
    SELECT 
      self.pkId,self.fkSystemId,self.fkInspectionStatus,self.fkInspectionReu,
      self.fkRectificationReu,self.inspectionDate,self.rectificationDate,
      self.createUserName,self.createTime,self.updateTime,
      examinationReport.pkId AS examinationReportId,
      examinationReport.attachName AS examinationReportName,
      examinationRectificationReport.pkId AS examinationRectificationReportId,
      examinationRectificationReport.attachName AS examinationRectificationReportName
    FROM t_cpro_self_inspection AS self
    LEFT JOIN t_cpro_attach examinationReport
      ON self.fkSystemId = examinationReport.fkSystemId
      AND self.pkId = examinationReport.fkSyssonId
      AND examinationReport.fkAttachType = 'examinationReport'
    LEFT JOIN t_cpro_attach examinationRectificationReport
      ON self.fkSystemId = examinationRectificationReport.fkSystemId
      AND self.pkId = examinationRectificationReport.fkSyssonId 
      AND examinationRectificationReport.fkAttachType = 'examinationRectificationReport'
    <where>
      <![CDATA[
        AND self.fkSystemId = #{fkSystemId}
        AND self.deleteStatus = 1
      ]]>
    </where>
  </select>
</mapper>