<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建定级信息</title>
    <!--公用样式-->
     <link  rel="stylesheet" type="text/css" href="../../static/css/public/smcc-styles.css" th:attr="href=@{/css/public/smcc-styles.css}">
    <link  rel="stylesheet" type="text/css" href="../../static/css/public/common.css" th:attr="href=@{/css/public/common.css}">
    <link rel="stylesheet" href="../../static/css/public/reset.css" th:attr="href=@{/css/public/reset.css}">
    <link rel="stylesheet" href="../../static/css/public/bootstrap.css" th:attr="href=@{/css/public/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/public/index.css" th:attr="href=@{/css/public/index.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/public/smcc-header.css" th:attr="href=@{/css/public/smcc-header.css}" />
    <!--组件样式-->
  <!--   <link rel="stylesheet" href="../../static/css/private/head.css" th:attr="href=@{/css/private/head.css}"> -->
    <link rel="stylesheet" href="../../static/css/private/addFormGrad.css" th:attr="href=@{/css/private/addFormGrad.css}">
    <link rel="stylesheet" href="../../static/css/private/addList.css" th:attr="href=@{/css/private/addList.css}">
    <link rel="stylesheet" href="../../static/css/private/total.css" th:attr="href=@{/css/private/total.css}">
    <link rel="stylesheet" href="../../static/css/private/statealert.css" th:attr="href=@{/css/private/statealert.css}">
    <style>
     .uploadSty .el-button{    bottom: 0px;}
     .el-input__suffix .el-input__suffix-inner{
              position: absolute;
              top: -10px;
              right: 3px; 
     }
     .el-form-item__content .col-md-8 .uploadSty .el-button {bottom:22px;}
        .mcAdd .addBaseBg,.mcAdd  .addSysBg{
            background-position: 0px -140px;
        }
        .mcAdd .addRankBg{
            background-position:-140px -70px;
        }
        .mcAddWrap .line{
            background:#58B24B;
        }
        /*.saveTextTitle{*/
        /*width: 12%;*/
        /*padding-left: 15px;*/
        /*}*/
        /*.mcTextArea{*/
        /*width: calc(88% - 26px);*/
        /*margin-left: 2px;*/
        /*}*/
    </style>
</head>
<body>
<div id="app" v-cloak>
    <smcc-header>
        <img src="../../static/images/logo.png" th:attr="src=@{/images/logo.png}" slot="smmc-header-img">
        <!--<img src="../../static/images/sousuo.jpg" th:attr="src=@{/images/sousuo.jpg}" slot="smmc-header-sou">
        <img src="../../static/images/ss.png" th:attr="src=@{/images/ss.png}" slot="smmc-head-ss">-->
    </smcc-header>
    <smcc-breadcrumb>
      <li slot="materialChangeBtn" class="fr liMargin">
        <button type="button" class="btn btn-default  btnNext fr" id="return" @click="returnBtn()" style="color: #666;background-color: #ffffff;border-color: #d0d0d0;">返回</button>
      </li>
    </smcc-breadcrumb>
    <add-list></add-list>
    <add-form-grad>
        <li slot="gradBtn" class="fr liMargin">
            <div class="saveBnt">
                <button type="button" class="btn btn-success " id="submit"  @click="judgeSaveOrNot()" v-show="!nextBtn">提交</button>
                <button type="button" class="btn btn-success " id="save" @click="saveBtn('formData')" v-show="!nextBtn">保存</button>
                <button type="button" class="btn btn-default" id="pre" @click="saveGradingToSession('formData')" v-show="!nextBtn">上一步</button>
            </div>
        </li>
        <li slot="gradNextBtn" class="fr liMargin">
            <div class="saveBnt">
                <button type="button" class="btn btn-default " id="pre" @click="saveGradingToSession('formData')"  v-show="nextBtn">上一步</button>
                <button type="button" class="btn btn-default " id="safe" @click="saveAlertBtn('formData')"  v-show="nextBtn">保存</button>
                <button type="button" class="btn btn-success " id="next" @click="next1Btn('formData')"  v-show="nextBtn">下一步</button>
            </div>
        </li>
    </add-form-grad>
    
     <div class="inquiryBoxShow" v-show="returnIndex">
        <div class="inquiry">
            <div class="cenrerBox">
                <i class="failIcon fl">!</i>
                <div class="fl">
                    <p>是否确定离开此页?</p>
                    <span>当前页面所填内容还未保存哦</span>
                </div>
            </div>
            <div class="inquiryBtn">
                <button type="button" class="btn btn-success" @click="returnIndexMethod()">确定</button>
                <button type="button" class="btn btn-default" @click="returnIndex = false">取消</button>
            </div>
        </div>
    </div>
    
    
    <div class="inquiry" v-show="returnCheck">
        <div class="inquiry">
            <div class="cenrerBox">
                <i class="failIcon fl">!</i>
                <div class="fl">
                    <p>是否保存?</p>
                    <span>未保存的部分将会消失哦</span>
                </div>
            </div>
            <div class="inquiryBtn">
                <button type="button" class="btn btn-success" @click="retuenSave('formData')">确定</button>
                <button type="button" class="btn btn-default" @click="returnBtn()">取消</button>
            </div>
        </div>
    </div>
    
    <div class="inquiry" v-show="saveSuccess">
        <div class="inquiry">
            <div class="cenrerBox">
                <i class="failIcon fl">!</i>
                <div class="fl">
                    <p>保存成功，是否需要提交审批</p>
                    <span>申请审批后内容无法修改哦</span>
                </div>
            </div>
            <div class="inquiryBtn">
                <button type="button" class="btn btn-success" @click="saveAndSubmit('formData')">确定</button>
                <button type="button" class="btn btn-default" @click="cancelSaveSuccess()">取消</button>
            </div>
        </div>
    </div>
    
    <div class="inquiry" v-show="check">
        <div class="inquiry"  style="position:fixed;">
            <div class="cenrerBox">
                <i class="failIcon fl">!</i>
                <div class="fl">
                    <p>是否保存?</p>
                    <span>未保存的部分将会消失哦</span>
                </div>
            </div>
            <div class="inquiryBtn">
                <button type="button" class="btn btn-success" @click="preBtn('formData')">确定</button>
                <button type="button" class="btn btn-default ls" @click="preBtnSuccessMethod('','',true)">取消</button>
            </div>
        </div>
    </div>
    <div class="inquiry" v-show="submitCheck">
        <div class="inquiry">
            <div class="cenrerBox">
                <i class="failIcon fl">!</i>
                <div class="fl">
                    <p>是否确认提交审批?</p>
                    <!-- <span>未保存的部分将会消失哦</span> -->
                </div>
            </div>
            <div class="inquiryBtn">
                <button type="button" class="btn btn-success" @click="submitBtn('formData')">确定</button>
                <button type="button" class="btn ls btn-default" @click="submitCheck = false">取消</button>
            </div>
        </div>
    </div>
    
    <div class="inquiry" v-show="saveThePrompt">
        <div class="inquiry">
            <div class="cenrerBox">
                <i class="failIcon fl">!</i>
                <div class="fl">
                    <p>所填内容还未保存，请先保存!</p>
                    <span>先保存才能提交审批</span>
                </div>
            </div>
            <div class="inquiryBtn">
                <button type="button" class="btn btn-success" @click="saveThePrompt = false">确定</button>
                <button type="button" class="btn ls btn-default" @click="saveThePrompt = false">取消</button>
            </div>
        </div>
    </div>
    
    <div class="startBox submit" style="display:none;">
      <i class="el-icon-circle-check" style="color:#5DAE51;"></i><P>提交成功!</P>
    </div>
    <div class="startBox save" style="display:none;">
      <i class="el-icon-circle-check" style="color:#5DAE51;"></i><P>保存成功!</P>
    </div>

    
</div>
</body>
<script src="../../static/js/public/vue.js" th:attr="src=@{/js/public/vue.js}"></script>
<script src="../../static/js/public/element.js" th:attr="src=@{/js/public/element.js}"></script>
<script src="../../static/js/public/index.js" th:attr="src=@{/js/public/index.js}"></script>
<script type="text/javascript">
    var bus = new Vue();
</script>
<script src="../../static/js/public/jquery.min.js" th:attr="src=@{/js/public/jquery.min.js}"></script>
<script src="../../static/js/public/bootstrap.min.js" th:attr="src=@{/js/public/bootstrap.min.js}"></script>

<script id="src-qianhou" data-src="../../static" th:attr="data-src=@{../../../}"></script>
<script src="../../static/js/public/getdata.js" th:attr="src=@{/js/public/getdata.js}"></script>
<script src="../../static/js/public/permitParam.js" th:attr="src=@{/js/public/permitParam.js}"></script>

<script async src="../../static/compnents/private/addList/addList.js" th:attr="src=@{/compnents/private/addList/addList.js}"></script>
<script async src="../../static/compnents/public/smcc-header/smcc-header.js" th:attr="src=@{/compnents/public/smcc-header/smcc-header.js}"></script>
<script async src="../../static/compnents/public/smcc-breadcrumb/smcc-breadcrumb.js" th:attr="src=@{/compnents/public/smcc-breadcrumb/smcc-breadcrumb.js}"></script>
<script async src="../../static/compnents/private/addFormGrad/addFormGrad.js" th:attr="src=@{/compnents/private/addFormGrad/addFormGrad.js}"></script>
<script async src="../../static/js/private/addCompanyGrad.js" th:attr="src=@{/js/private/addCompanyGrad.js}"></script>
<script type="text/javascript" th:inline="javascript">
    var systemId = [[${systemId}]];
    var companyCode = [[${companyCode}]]; 
    var companyId = [[${companyId}]]; 
    var type='new';
</script>
</html>