<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建系统信息</title>
    <!--公用样式-->
    <!--  <link  rel="stylesheet" type="text/css" href="../../static/css/public/smcc-styles.css" th:attr="href=@{/css/public/smcc-styles.css}"> -->
    <link  rel="stylesheet" type="text/css" href="../../static/css/public/common.css" th:attr="href=@{/css/public/common.css}">
    <link rel="stylesheet" href="../../static/css/public/reset.css" th:attr="href=@{/css/public/reset.css}">
    <link rel="stylesheet" href="../../static/css/public/bootstrap.css" th:attr="href=@{/css/public/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/public/index.css" th:attr="href=@{/css/public/index.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/public/smcc-header.css" th:attr="href=@{/css/public/smcc-header.css}" />
<!--组件样式-->
   <!--  <link rel="stylesheet" href="../../static/css/private/head.css" th:attr="href=@{/css/private/head.css}"> -->
    <link rel="stylesheet" href="../../static/css/private/addFormSysTable.css" th:attr="href=@{/css/private/addFormSysTable.css}">
    <link rel="stylesheet" href="../../static/css/private/addCompanyInfoPage.css" th:attr="href=@{/css/private/addCompanyInfoPage.css}">
    <link rel="stylesheet" href="../../static/css/private/total.css" th:attr="href=@{/css/private/total.css}">
    <link rel="stylesheet" href="../../static/css/private/statealert.css" th:attr="href=@{/css/private/statealert.css}">
    
    <style>
.useData .el-input__suffix .el-input__icon {
    position: absolute;
    top: -10px;
    right:0px; 
}

       .uploadSty button{bottom: 0px;}
        .mcAdd .addBaseBg{
            background-position: 0px -140px;
        }
        .mcAdd  .addSysBg{
            background-position: -70px -70px;
        }
       .mcAddWrap .line:nth-child(2){background:#58B24B;}
       input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
      }
      input[type="number"]{
          -moz-appearance: textfield;
      }
      .dialogShaw .btn-default:hover{
         background:#fff!important;
         color:#333!important;
     }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <smcc-header>
        <img src="../../static/images/logo.png" th:attr="src=@{/images/logo.png}" slot="smmc-header-img">
        <!--<img src="../../static/images/sousuo.jpg" th:attr="src=@{/images/sousuo.jpg}" slot="smmc-header-sou">-->
        <!--<img src="../../static/images/ss.png" th:attr="src=@{/images/ss.png}" slot="smmc-head-ss">-->
    </smcc-header>
    <smcc-breadcrumb>
      <li slot="materialChangeBtn" class="fr liMargin">
        <button type="button" class="btn btn-default  btnNext fr" id="return" @click="returnBtn()" style="color: #666;background-color: #ffffff;border-color: #d0d0d0;">返回</button>
      </li>
    </smcc-breadcrumb>
    <add-list></add-list>
    <add-form-system>
      <div slot="addSysBtn">
          <!-- <button type="button" class="btn btn-success " id="save" @click="saveBtn()">保存</button> -->
          <button type="button" class="btn btn-default " id="pre" @click="saveSystemToSession('formData')">上一步</button>
          <button type="button" class="btn btn-default" id="next" @click="nextBtn('formData')">下一步</button>
      </div>
    </add-form-system>
    
    <div class="inquiryBoxShow" v-show="returnIndex">
        <div class="inquiry">
            <div class="cenrerBox">
                <i class="failIcon fl">!</i>
                <div class="fl">
                    <p>是否确定离开此页?</p>
                    <span>当前页面所填内容还未保存哦</span>
                </div>
            </div>
            <div class="inquiryBtn">
                <button type="button" class="btn btn-success" @click="returnIndexMethod()">确定</button>
                <button type="button" class="btn btn-default" @click="returnIndex = false">取消</button>
            </div>
        </div>
    </div>
    
		<div class="inquiryBoxShow" v-show="check">
        <div class="inquiry">
            <div class="cenrerBox">
                <i class="failIcon fl">!</i>
                <div class="fl">
                    <p>是否保存?</p>
                    <span>未保存的部分将会消失哦</span>
                </div>
            </div>
            <div class="inquiryBtn">
                <button type="button" class="btn btn-success" @click="returnSave('formData')">确定</button>
                <button type="button" class="btn btn-default" @click="cancelSave()">取消</button>
            </div>
        </div>
    </div>
    <div class="startBox" style="display:none;">
      <i class="el-icon-circle-check" style="color:#5DAE51;"></i><P>保存成功!</P>
    </div>
    <div class="startBox" id="startBoxExistSystem" style="display:none;width:308px">
      <i class="el-icon-warning" style="display:block;color:#D81E06;font-size:32px;float:left;margin-right:12px;"></i><P>系统已存在，请重新选择系统！</P>
    </div>
</div>
</body>
<script src="../../static/js/public/vue.js" th:attr="src=@{/js/public/vue.js}"></script>
<script src="../../static/js/public/element.js" th:attr="src=@{/js/public/element.js}"></script>
<script type="text/javascript">
 var bus = new Vue();
</script>
<script src="../../static/js/public/index.js" th:attr="src=@{/js/public/index.js}"></script>
<script src="../../static/js/public/jquery.min.js" th:attr="src=@{/js/public/jquery.min.js}"></script>
<script src="../../static/js/public/bootstrap.min.js" th:attr="src=@{/js/public/bootstrap.min.js}"></script>

<script id="src-qianhou" data-src="../../static" th:attr="data-src=@{../../../}"></script>
<script src="../../static/js/public/getdata.js" th:attr="src=@{/js/public/getdata.js}"></script>
<script src="../../static/js/public/permitParam.js" th:attr="src=@{/js/public/permitParam.js}"></script>

<script async src="../../static/compnents/private/addList/addList.js" th:attr="src=@{/compnents/private/addList/addList.js}"></script>
<script async src="../../static/compnents/public/smcc-header/smcc-header.js" th:attr="src=@{/compnents/public/smcc-header/smcc-header.js}"></script>
<script async src="../../static/compnents/public/smcc-breadcrumb/smcc-breadcrumb.js" th:attr="src=@{/compnents/public/smcc-breadcrumb/smcc-breadcrumb.js}"></script>
<script async src="../../static/compnents/private/addFormSysTable/addFormSysTable.js" th:attr="src=@{/compnents/private/addFormSysTable/addFormSysTable.js}"></script>
<script async src="../../static/compnents/private/addFormSystem/addFormSys.js" th:attr="src=@{/compnents/private/addFormSystem/addFormSys.js}"></script>
<script async src="../../static/js/private/addCompanySystem.js" th:attr="src=@{/js/private/addCompanySystem.js}"></script>
<script type="text/javascript" th:inline="javascript">
var systemId = [[${systemId}]]; 
var companyId = [[${companyId}]]; 
var companyCode = [[${companyCode}]]; 
var type="create";
</script>
</html>