<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建等保申请</title>
    <link rel="stylesheet" href="../../static/css/public/reset.css">
    <link rel="stylesheet" href="../../static/css/private/addCompanyInfoPage.css">
</head>
<body>
<div id="app">
    <addFormSystem></addFormSystem>
</div>
</body>
<script src="../../static/js/public/vue.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script id="src-qianhou" data-edmit="未发现" data-src="../../static" th:attr="data-src=@{../../../}"></script>

<script async src="../../static/js/private/addCompanyInfoPage.js"></script>
<script async src="../../static/js/public/getdata.js"></script>
<script async src="../../static/compnents/private/addForm/addForm.js"></script>
<script async src="../../static/compnents/private/addFormSystem/addFormSys.js"></script>
</html>