<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=11">
    <title>申请定级填写材料信息</title>
    <!--公用样式-->
    <link rel="stylesheet" href="../../static/css/public/reset.css" th:attr="href=@{/css/public/reset.css}">
    <link rel="stylesheet" href="../../static/css/public/bootstrap.css" th:attr="href=@{/css/public/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/public/index.css" th:attr="href=@{/css/public/index.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/public/smcc-header.css" th:attr="href=@{/css/public/smcc-header.css}" />
    <!--组件样式-->
    <link rel="stylesheet" href="../../static/css/private/head.css" th:attr="href=@{/css/private/head.css}">
    <link rel="stylesheet" href="../../static/css/private/addFormMaterial.css" th:attr="href=@{/css/private/addFormMaterial.css}">
    <link rel="stylesheet" href="../../static/css/private/addReList.css" th:attr="href=@{/css/private/addReList.css}">
    <link rel="stylesheet" href="../../static/css/private/total.css" th:attr="href=@{/css/private/total.css}">
    <link rel="stylesheet" href="../../static/css/private/viewDetailsNav.css" th:attr="href=@{/css/private/viewDetailsNav.css}">
    <link rel="stylesheet" href="../../static/css/private/viewDetailsInfor.css" th:attr="href=@{/css/private/viewDetailsInfor.css}">
    <link rel="stylesheet" href="../../static/css/private/statealert.css" th:attr="href=@{/css/private/statealert.css}">
    
     <style type="text/css">
      .inner2{
         width:auto;
         margin-top: -30px;
      }
      .mcAddTian .tianMsg{
          margin-left: 0;
      }
      .fileList li{
          padding-right:0
        }
        .P-addForm-fj{
        	width:50%;
        	float:left;
        }
        .P-addForm-fj .P-addForm-fj{
        	width:35%;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <smcc-header>
        <img src="../../static/images/logo.png" th:attr="src=@{/images/logo.png}" slot="smmc-header-img">
    </smcc-header>
    <smcc-breadcrumb>
      <li slot="materialChangeBtn" class="fr liMargin">
        <div class="saveBnt">
          <button type="button" class="btn btn-success " id="submit" @click="submitCheck = true">提交</button>
          <button type="button" class="btn btn-success " id="save" @click="saveBtn('formData')">保存</button>
        <button type="button" class="btn btn-default  btnNext fr" id="return" @click="returnBtn()" style="color: #666;background-color: #ffffff;border-color: #d0d0d0;">返回</button>
        </div>
      </li>
    </smcc-breadcrumb>
    <material-nav></material-nav>
    
    <div class="inquiryBoxShow" v-show="submitCheck">
        <div class="inquiry">
            <div class="cenrerBox">
                <i class="failIcon fl">!</i>
                <div class="fl">
                    <p>是否确认提交审批?</p>
                    <span>未保存的部分将会消失哦</span>
                </div>
            </div>
            <div class="inquiryBtn">
                <button type="button" class="btn btn-success" @click="submitBtn('formData')">确定</button>
                <button type="button" class="btn btn-default" @click="submitCheck = false">取消</button>
            </div>
        </div>
    </div>
    <div class="startBox" style="display:none;">
      <i class="el-icon-circle-check" style="color:#5DAE51;"></i><P>保存成功!</P>
    </div>
</div>
</body>
<script src="../../static/js/public/vue.js" th:attr="src=@{/js/public/vue.js}"></script>
<script src="../../static/js/public/index.js" th:attr="src=@{/js/public/index.js}"></script>
<script src="../../static/js/public/element.js" th:attr="src=@{/js/public/element.js}"></script>
<script type="text/javascript">
  var bus = new Vue();
</script>
<script src="../../static/js/public/jquery.min.js" th:attr="src=@{/js/public/jquery.min.js}"></script>
<script src="../../static/js/public/bootstrap.min.js" th:attr="src=@{/js/public/bootstrap.min.js}"></script>
<script src="../../static/js/public/jquery.validate.min.js" th:attr="src=@{/js/public/jquery.validate.min.js}"></script>
<script src="../../static/js/public/messages_zh.js" th:attr="src=@{/js/public/messages_zh.js}"></script>

<script id="src-qianhou" data-src="../../static" th:attr="data-src=@{../../../}"></script>
<script src="../../static/js/public/getdata.js" th:attr="src=@{/js/public/getdata.js}"></script>
<script src="../../static/js/public/permitParam.js" th:attr="src=@{/js/public/permitParam.js}"></script>

<script async src="../../static/compnents/private/addList/addList.js" th:attr="src=@{/compnents/private/addList/addList.js}"></script>
<script async src="../../static/compnents/public/smcc-header/smcc-header.js" th:attr="src=@{/compnents/public/smcc-header/smcc-header.js}"></script>
<script async src="../../static/compnents/public/smcc-breadcrumb/smcc-breadcrumb.js" th:attr="src=@{/compnents/public/smcc-breadcrumb/smcc-breadcrumb.js}"></script>
<script async src="../../static/compnents/private/addFormMaterial/addFormMaterial.js" th:attr="src=@{/compnents/private/addFormMaterial/addFormMaterial.js}"></script>
<script async src="../../static/js/private/applicationGradingInfo.js" th:attr="src=@{/js/private/applicationGradingInfo.js}"></script>
<script async src="../../static/compnents/private/materialNav/materialNav.js" th:attr="src=@{/compnents/private/materialNav/materialNav.js}"></script>
<script async src="../../static/compnents/private/viewDetailsInfor/viewDetailsInfor.js" th:attr="src=@{/compnents/private/viewDetailsInfor/viewDetailsInfor.js}"></script>
<script async src="../../static/compnents/private/viewDetailsSystem/viewDetailsSystem.js" th:attr="src=@{/compnents/private/viewDetailsSystem/viewDetailsSystem.js}"></script>

<script type="text/javascript" th:inline="javascript">
var systemId = [[${systemId}]]; 
var companyId = [[${companyId}]];
</script>
</html>