<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>申请变更系统信息</title>
    <!--公用样式-->
    <link rel="stylesheet" href="../../static/css/public/reset.css" th:attr="href=@{/css/public/reset.css}">
    <link rel="stylesheet" href="../../static/css/public/bootstrap.css" th:attr="href=@{/css/public/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/public/index.css" th:attr="href=@{/css/public/index.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/public/smcc-header.css" th:attr="href=@{/css/public/smcc-header.css}" />
    <!--组件样式-->
    <link rel="stylesheet" href="../../static/css/private/head.css" th:attr="href=@{/css/private/head.css}">
    <link rel="stylesheet" href="../../static/css/private/addFormSysTable.css" th:attr="href=@{/css/private/addFormSysTable.css}">
    <link rel="stylesheet" href="../../static/css/private/addReList.css" th:attr="href=@{/css/private/addReList.css}">
    <link rel="stylesheet" href="../../static/css/private/addCompanyInfoPage.css" th:attr="href=@{/css/private/addCompanyInfoPage.css}">
    <link rel="stylesheet" href="../../static/css/private/total.css" th:attr="href=@{/css/private/total.css}">
    <link rel="stylesheet" href="../../static/css/private/statealert.css" th:attr="href=@{/css/private/statealert.css}">
  <style>
        .mcAdd .addBaseBg{
            background-position: 0px -140px;
        }
        .mcAdd  .addSysBg{
            background-position: -70px -70px;
        }
       .mcAddWrap .line:nth-child(2){background:#58B24B;}
       select{
	      appearance:none;
		  -moz-appearance:none;
		  -webkit-appearance:none;
       }
       .dowmBg{
		    width: 16px;
		    height: 9px;
		    background: url("../../images/down.png") no-repeat;
		    position: absolute;
		    top:12px;
		    right:12px;
    	}
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
      }
      input[type="number"]{
          -moz-appearance: textfield;
      }
</style>
</head>
<body>
<div id="app" v-cloak>
    <smcc-header>
        <img src="../../static/images/logo.png" th:attr="src=@{/images/logo.png}" slot="smmc-header-img">
        <!-- <img src="../../static/images/sousuo.jpg" th:attr="src=@{/images/sousou.jpg}" slot="smmc-header-sou">
        <img src="../../static/images/ss.png" th:attr="src=@{/images/ss.png}" slot="smmc-head-ss"> -->
    </smcc-header>
    <smcc-breadcrumb></smcc-breadcrumb>
    <add-re-list></add-re-list>
    <add-form-system>
        <div slot="changeBtn">
            <!-- <button type="button" class="btn btn-success " id="save" @click="saveBtn()">保存</button> -->
            <button type="button" class="btn btn-default " id="pre" @click="preBtn('formData')">上一步</button>
            <button type="button" class="btn btn-default" id="next" @click="nextBtn('formData')">下一步</button>
        </div>
    </add-form-system>
</div>
</body>
<script src="../../static/js/public/vue.js" th:attr="src=@{/js/public/vue.js}"></script>
<script src="../../static/js/public/element.js" th:attr="src=@{/js/public/element.js}"></script>
<script type="text/javascript">
 var bus = new Vue();
</script>
<script src="../../static/js/public/index.js" th:attr="src=@{/js/public/index.js}"></script>
<script src="../../static/js/public/jquery.min.js" th:attr="src=@{/js/public/jquery.min.js}"></script>
<script src="../../static/js/public/bootstrap.min.js" th:attr="src=@{/js/public/bootstrap.min.js}"></script>
<script src="../../static/js/public/jquery.validate.min.js" th:attr="src=@{/js/public/jquery.validate.min.js}"></script>
<script src="../../static/js/public/messages_zh.js" th:attr="src=@{/js/public/messages_zh.js}"></script>

<script id="src-qianhou" data-src="../../static" th:attr="data-src=@{../../../}"></script>
<script src="../../static/js/public/getdata.js" th:attr="src=@{/js/public/getdata.js}"></script>

<script async src="../../static/compnents/private/addReList/addReList.js" th:attr="src=@{/compnents/private/addReList/addReList.js}"></script>
<script async src="../../static/compnents/public/smcc_header/smcc_header.js" th:attr="src=@{/compnents/public/smcc_header/smcc_header.js}"></script>
<script async src="../../static/compnents/public/smcc-breadcrumb/smcc-breadcrumb.js" th:attr="src=@{/compnents/public/smcc-breadcrumb/smcc-breadcrumb.js}"></script>
<script async src="../../static/compnents/private/addFormSysTable/addFormSysTable.js" th:attr="src=@{/compnents/private/addFormSysTable/addFormSysTable.js}"></script>
<script async src="../../static/compnents/private/addFormSystem/addFormSys.js" th:attr="src=@{/compnents/private/addFormSystem/addFormSys.js}"></script>
<script async src="../../static/js/private/applicatuibChangSystem.js" th:attr="src=@{/js/private/applicatuibChangSystem.js}"></script>

<script type="text/javascript" th:inline="javascript">
var systemId = [[${systemId}]]; 
var companyId = [[${companyId}]]; 
var companyCode = [[${companyCode}]]; 
var type="change";
</script>
</html>