<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改系统信息</title>
    <!--公用样式-->
    <link rel="stylesheet" href="../../static/css/public/reset.css" th:attr="href=@{/css/public/reset.css}">
    <link rel="stylesheet" href="../../static/css/public/bootstrap.css" th:attr="href=@{/css/public/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/public/index.css" th:attr="href=@{/css/public/index.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/public/smcc-header.css" th:attr="href=@{/css/public/smcc-header.css}" />
    <!--组件样式-->
    <link rel="stylesheet" href="../../static/css/private/head.css" th:attr="href=@{/css/private/head.css}">
    <link rel="stylesheet" href="../../static/css/private/addFormSysTable.css" th:attr="href=@{/css/private/addFormSysTable.css}">
    <link rel="stylesheet" href="../../static/css/private/addCompanyInfoPage.css" th:attr="href=@{/css/private/addCompanyInfoPage.css}">
    <link rel="stylesheet" href="../../static/css/private/newSystemInformation.css" th:attr="href=@{/css/private/newSystemInformation.css}">
        <link rel="stylesheet" href="../../static/css/private/total.css" th:attr="href=@{/css/private/total.css}">

<style type="text/css">
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
      }
      input[type="number"]{
          -moz-appearance: textfield;
      }
</style>
</head>
<body>
<div id="app" v-cloak>
    <smcc-header>
        <img src="../../static/images/logo.png" th:attr="src=@{/images/logo.png}" slot="smmc-header-img">
        <!-- <img src="../../static/images/sousuo.jpg" th:attr="src=@{/images/sousou.jpg}" slot="smmc-header-sou">
        <img src="../../static/images/ss.png" th:attr="src=@{/images/ss.png}" slot="smmc-head-ss"> -->
    </smcc-header>
    <smcc-breadcrumb></smcc-breadcrumb>
    <add-form-system>
        <div slot="newSys" class="unitBtn">
            <button type="button" class="btn btn-success" @click="saveSystemInfo('formData')">保存</button>
            <button type="button" class="btn btn-default" @click="cleanSystemInfo">清空</button>
            <button type="button" class="btn btn-default" @click="returnSystemList">返回</button>
        </div>
    </add-form-system>
</div>
</body>
<script src="../../static/js/public/vue.js" th:attr="src=@{/js/public/vue.js}"></script>
<script type="text/javascript">
  var bus = new Vue();
</script>
<script src="../../static/js/public/index.js" th:attr="src=@{/js/public/index.js}"></script>
<script src="../../static/js/public/jquery.min.js" th:attr="src=@{/js/public/jquery.min.js}"></script>
<script src="../../static/js/public/bootstrap.min.js" th:attr="src=@{/js/public/bootstrap.min.js}"></script>
<script src="../../static/js/public/jquery.validate.min.js" th:attr="src=@{/js/public/jquery.validate.min.js}"></script>
<script src="../../static/js/public/messages_zh.js" th:attr="src=@{/js/public/messages_zh.js}"></script>

<script id="src-qianhou" data-src="../../static" th:attr="data-src=@{../../../}"></script>
<script src="../../static/js/public/getdata.js" th:attr="src=@{/js/public/getdata.js}"></script>

<script async src="../../static/compnents/public/smcc_header/smcc_header.js" th:attr="src=@{/compnents/public/smcc_header/smcc_header.js}"></script>
<script async src="../../static/compnents/public/smcc-breadcrumb/smcc-breadcrumb.js" th:attr="src=@{/compnents/public/smcc-breadcrumb/smcc-breadcrumb.js}"></script>
<script async src="../../static/compnents/private/addFormSysTable/addFormSysTable.js" th:attr="src=@{/compnents/private/addFormSysTable/addFormSysTable.js}"></script>
<script async src="../../static/compnents/private/addFormSystem/addFormSys.js" th:attr="src=@{/compnents/private/addFormSystem/addFormSys.js}"></script>
<!-- <script async src="../../static/js/private/newSystemInformation.js" th:attr="src=@{/js/private/newSystemInformation.js}"></script> -->
<script async src="../../static/js/private/addCompanySystem.js" th:attr="src=@{/js/private/addCompanySystem.js}"></script>
<script type="text/javascript" th:inline="javascript">
var systemId = [[${systemId}]]; 
var companyId = ''; 
var companyCode = [[${companyCode}]];
var type="update";
</script>
</html>