<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看详情</title>
     <link  rel="stylesheet" type="text/css" href="../../static/css/public/smcc-styles.css" th:attr="href=@{/css/public/smcc-styles.css}">
    <link  rel="stylesheet" type="text/css" href="../../static/css/public/common.css" th:attr="href=@{/css/public/common.css}">
    <link rel="stylesheet" href="../../static/css/public/reset.css" th:attr="href=@{/css/public/reset.css}">
    <link rel="stylesheet" href="../../static/css/public/bootstrap.css" th:attr="href=@{/css/public/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/public/index.css" th:attr="href=@{/css/public/index.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/public/smcc-header.css" th:attr="href=@{/css/public/smcc-header.css}" />
    
    <!--组件样式-->
       <link rel="stylesheet" type="text/css" href="../../static/css/private/fishbone.css" th:attr="href=@{/css/private/fishbone.css}">
   <!--  <link rel="stylesheet" href="../../static/css/private/head.css" th:attr="href=@{/css/private/head.css}"> -->
    <link rel="stylesheet" href="../../static/css/private/viewDetailsNav.css" th:attr="href=@{/css/private/viewDetailsNav.css}">
    <link rel="stylesheet" href="../../static/css/private/viewDetailsInfor.css" th:attr="href=@{/css/private/viewDetailsInfor.css}">
     <link rel="stylesheet" href="../../static/css/private/addFormGrad.css" th:attr="href=@{/css/private/addFormGrad.css}">
    <link rel="stylesheet" href="../../static/css/private/addList.css" th:attr="href=@{/css/private/addList.css}">
    <link rel="stylesheet" href="../../static/css/private/total.css" th:attr="href=@{/css/private/total.css}">
     <link rel="stylesheet" href="../../static/css/private/revokeRecord.css" th:attr="href=@{/css/private/revokeRecord.css}">
<style>
.text-right{ color:#333; }
.text-left{  color:#666;margin-left: -7px; }
.mcAdd .addBaseBg,.mcAdd  .addSysBg{ background-position: 0px -140px; }
.mcAdd .addRankBg{ background-position:-140px -70px; }
.mcAddWrap .line{ background:#58B24B; }
.saveTitle { margin-left: 8px; }
.xzBox {
	padding:0;
}
.xzBox>span{
	padding-right:10px;
} 
 @media screen and (min-width: 650px) {
            .qi {
                width:100%;
            }
    }
</style> 
</head>
<body>
<div id="app">
    <smcc-header>
        <img src="../../static/images/logo.png" th:attr="src=@{/images/logo.png}" slot="smmc-header-img">
        <!-- <img src="../../static/images/sousuo.jpg" th:attr="src=@{/images/sousou.jpg}" slot="smmc-header-sou">
        <img src="../../static/images/ss.png" th:attr="src=@{/images/ss.png}" slot="smmc-head-ss"> -->
    </smcc-header>
    <smcc-breadcrumb></smcc-breadcrumb>
    <view-details-nav></view-details-nav>
</div>
</body>
<script src="../../static/js/public/vue.js" th:attr="src=@{/js/public/vue.js}"></script>
<script src="../../static/js/public/index.js" th:attr="src=@{/js/public/index.js}"></script>
<script src="../../static/js/public/jquery.min.js" th:attr="src=@{/js/public/jquery.min.js}"></script>
<script type="text/javascript">
    var bus = new Vue();
</script>
<script type="text/javascript" th:inline="javascript">
  var companyId = [[${companyId}]];
  var systemId = [[${systemId}]];
  var fishboneType = "viewDetails";
</script>
<script src="../../static/js/public/bootstrap.min.js" th:attr="src=@{/js/public/bootstrap.min.js}"></script>
<script src="../../static/js/public/jquery.validate.min.js" th:attr="src=@{/js/public/jquery.validate.min.js}"></script>
<script src="../../static/js/public/messages_zh.js" th:attr="src=@{/js/public/messages_zh.js}"></script>
<script src="../../static/js/public/layDate/laydate/laydate.js" th:attr="src=@{/js/public/layDate/laydate/laydate.js}"></script>

<script id="src-qianhou" data-src="../../static" th:attr="data-src=@{../../../}"></script>
<script src="../../static/js/public/getdata.js" th:attr="src=@{/js/public/getdata.js}"></script>

<script async src="../../static/compnents/public/smcc-header/smcc-header.js" th:attr="src=@{/compnents/public/smcc-header/smcc-header.js}"></script>
<script async src="../../static/compnents/public/smcc-breadcrumb/smcc-breadcrumb.js" th:attr="src=@{/compnents/public/smcc-breadcrumb/smcc-breadcrumb.js}"></script>
<script async src="../../static/compnents/private/viewDetailsNav/viewDetailsNav.js" th:attr="src=@{/compnents/private/viewDetailsNav/viewDetailsNav.js}"></script>
<script async src="../../static/compnents/private/viewDetailsInfor/viewDetailsInfor.js" th:attr="src=@{/compnents/private/viewDetailsInfor/viewDetailsInfor.js}"></script>
<script async src="../../static/compnents/private/viewDetailsSystem/viewDetailsSystem.js" th:attr="src=@{/compnents/private/viewDetailsSystem/viewDetailsSystem.js}"></script>
<script async src="../../static/compnents/private/viewDetailsGrad/viewDetailsGrad.js" th:attr="src=@{/compnents/private/viewDetailsGrad/viewDetailsGrad.js}"></script>
<script async src="../../static/compnents/private/viewDetailsMaterial/viewDetailsMaterial.js" th:attr="src=@{/compnents/private/viewDetailsMaterial/viewDetailsMaterial.js}"></script>
<script async src="../../static/compnents/private/viewDetailsRecord/viewDetailsRecord.js" th:attr="src=@{/compnents/private/viewDetailsRecord/viewDetailsRecord.js}"></script>
<script async src="../../static/compnents/private/viewDetailsSelfe/viewDetailsSelfe.js" th:attr="src=@{/compnents/private/viewDetailsSelfe/viewDetailsSelfe.js}"></script>
<script async src="../../static/compnents/private/viewDetailsEvalu/viewDetailsEvalu.js" th:attr="src=@{/compnents/private/viewDetailsEvalu/viewDetailsEvalu.js}"></script>
<script async src="../../static/compnents/private/viewDetailsExamine/viewDetailsExamine.js" th:attr="src=@{/compnents/private/viewDetailsExamine/viewDetailsExamine.js}"></script>
<script async src="../../static/compnents/private/viewDetailsExamine1/viewDetailsExamine1.js" th:attr="src=@{/compnents/private/viewDetailsExamine1/viewDetailsExamine1.js}"></script>
<script async src="../../static/js/private/viewDetails.js" th:attr="src=@{/js/private/viewDetails.js}"></script>
<!--鱼骨图-->
<script async src="../../static/compnents/private/fishbone/fishbone.js" th:attr="src=@{/compnents/private/fishbone/fishbone.js}"></script>
<script async src="../../static/compnents/private/fishbone1/fishbone1.js" th:attr="src=@{/compnents/private/fishbone1/fishbone1.js}"></script>

</html>