<div class="smcc-page-box pos-relative">
	<ul class="clear-both smcc-page-list pos-absolute">
		<li class="float-le smcc-page-slide smcc-page-btn" :class="{'ban-click':ban_bol_start}" @click="FnPage('+')"> 上一页 </li>
		<li v-for="item in pagearr" class="float-le smcc-page-slide smcc-page-btn" :class="{'ban-active':act_bol[item-1]}" @click="FnPage(item)">{{item}}</li>
		<li class="float-le smcc-page-slide smcc-page-btn" :class="{'ban-click':ban_bol_end}" @click="FnPage('-')">下一页</li>
		<li class="float-le smcc-page-slide">共<span>{{page_sum}}</span>页</li>
		<li class="float-le smcc-page-slide">
			跳到
			<input class="form-inline" @keyup.13="FnPage('enter')"" v-model="page_now" type="text" />
			页
		</li>
	</ul>
</div>