<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinopec.smcc.cpro.node.mapper.NodeMapper">
  <resultMap id="NodeResult"
    type="com.sinopec.smcc.cpro.node.entity.NodeResult">
    <id column="pkId" property="nodeId" />
    <result column="fkSystemId" property="systemId" />
    <result column="operation" property="operation" />
    <result column="operator" property="operator" />
    <result column="operationResult" property="operationResult" />
    <result column="operationOpinion" property="operationOpinion" />
    <result column="createTime" property="createTime" />

  </resultMap>
  <select id="selectAllBynodeParam" parameterType="com.sinopec.smcc.cpro.node.entity.NodeParam" resultMap="NodeResult">
    <![CDATA[
      SELECT
				pkId,
				fkSystemId,
				operation,
				operator,
				operationResult,
				operationOpinion,
				createTime,
				( CASE fkSysChangeMatter WHEN '1' THEN '系统合并' WHEN '2' THEN '级别降低' WHEN '3' THEN '级别升高' WHEN '4' THEN '撤销备案' ELSE '其他' END ) AS fkChangeMatter,
				fkChangeReason,
				fkChangeContent 
			FROM
				t_cpro_node node 
    ]]>
    <where>
      <![CDATA[
        AND fkSystemId = #{systemId,jdbcType=CHAR}
      ]]>
    </where>
    		ORDER BY createTime
  </select>
  <select id="selectAllForExamine" parameterType="com.sinopec.smcc.cpro.node.entity.NodeParam" resultMap="NodeResult">
  	<![CDATA[
      SELECT
				pkId,
				fkSystemId,
				operation,
				operator,
				operationResult,
				operationOpinion,
				createTime,
				( CASE fkSysChangeMatter WHEN '1' THEN '系统合并' WHEN '2' THEN '级别降低' WHEN '3' THEN '级别升高' WHEN '4' THEN '撤销备案' ELSE '其他' END ) AS fkChangeMatter,
				fkChangeReason,
				fkChangeContent 
			FROM
				t_cpro_node node 
    ]]>
    <where>
      <![CDATA[
        AND fkSystemId = #{systemId,jdbcType=CHAR}
        AND (operation LIKE '%定级%' OR operation LIKE '%申请变更%' OR operation LIKE '%撤销备案%' OR operation LIKE '%审核%' OR operation LIKE '%创建%')
      ]]>
    </where>
    		ORDER BY createTime
  </select>
  
  <insert id="insertBynodeParam" parameterType="com.sinopec.smcc.cpro.node.entity.NodeParam">
      <![CDATA[
        INSERT INTO t_cpro_node (
          pkId,
          fkSystemId,
          operation,
          operator,
          operationResult,
          operationOpinion,
          createTime,
          fkChangeReason,
          fkChangeContent,
          fkSysChangeMatter
        )VALUES(
      ]]>
      <trim suffixOverrides="," >
        <![CDATA[
          #{nodeId},
        ]]>
        <![CDATA[
          #{systemId},
        ]]>
        <![CDATA[
          #{operation},
        ]]>
        <![CDATA[
          #{operator},
        ]]>
        <![CDATA[
          #{operationResult},
        ]]>
        <choose>
          <when test="operationOpinion != null and operationOpinion != ''">
              <![CDATA[
                #{operationOpinion,jdbcType=VARCHAR},
              ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <![CDATA[
          #{createTime},
        ]]>
        <choose>
          <when test="fkChangeReason != null and fkChangeReason != ''">
		        <![CDATA[
		          #{fkChangeReason},
		        ]]>
		        </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>		        
		    <choose>
          <when test="fkChangeContent != null and fkChangeContent != ''">
		        <![CDATA[
		          #{fkChangeContent},
		        ]]>
		        </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
		    <choose>
          <when test="fkSysChangeMatter != null and fkSysChangeMatter != ''">
		        <![CDATA[
		          #{fkSysChangeMatter},
		        ]]>
		        </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>		    
      </trim>
      <![CDATA[
        )
      ]]>
  </insert>
  <select id="selectSingleNode" parameterType="com.sinopec.smcc.cpro.node.entity.NodeParam" resultMap="NodeResult">
		SELECT
			pkId,
			fkSystemId,
			operation,
			operator,
			operationResult,
			operationOpinion,
			createTime 
		FROM
			t_cpro_node 
		WHERE
			fkSystemId = #{systemId} 
			AND operation = #{operation} 
			AND createTime > (
			SELECT
			createTime 
		FROM
			t_cpro_node node 
		WHERE
			operation LIKE '%审核%' 
			AND node.fkSystemId = #{systemId} 
		ORDER BY
			createTime DESC 
			LIMIT 0,1
			)
			LIMIT 0,1
  </select>
  <update id="updateNodeByNodeId">
  	UPDATE t_cpro_node
			SET operation = #{operation},
			 operator = #{operator},
			 operationResult = #{operationResult},
			 createTime = #{createTime},
			 operationOpinion = #{operationOpinion}
			WHERE
				pkId = #{nodeId}
  </update>
    <select id="selectSingleNodeBySystemId" parameterType="com.sinopec.smcc.cpro.node.entity.NodeParam" resultMap="NodeResult">
    SELECT
      pkId,
      fkSystemId,
      operation,
      operator,
      operationResult,
      operationOpinion,
      createTime
    FROM
      t_cpro_node 
    WHERE fkSystemId = #{systemId}
  </select>
    <select id="querySingleNode" parameterType="com.sinopec.smcc.cpro.node.entity.NodeParam" resultMap="NodeResult">
	  SELECT
        pkId,
        fkSystemId,
        operation,
        operator,
        operationResult,
        operationOpinion,
        createTime,		
        fkChangeContent,
        fkChangeReason,
				 (
     CASE fkSysChangeMatter
     WHEN '1' THEN
      '系统合并'
     WHEN '2' THEN
      '级别降低'
     WHEN '3' THEN
      '级别升高'
     WHEN '4' THEN
      '撤销备案'
     ELSE
      '其他'
     END
   )	 AS fkSysChangeMatter		
      FROM
        t_cpro_node node
    WHERE pkId = #{nodeId}
  </select>
</mapper>