<div class="innerSys">
    <p class="clearfix cut">
        <span class="fl tianMsg">定级信息</span>
    </p>
    <ul class="clearfix">
        <li class="col-md-12">
            <p class="col-md-6">
                <span class="col-md-3 text-right">系统名称：</span>
                <span class="col-md-6 text-left" style="width:70%;">{{formData.gradeRecordSysName}}</span>
            </p>
        </li>
        <li class="row">
                    <div class="col-lg-12 col-md-6 qi">
                        <label for="" class="col-lg-2 col-sm-1 text-left saveTitle">  
                                                                            确定安全保护等级:
                        </label>
                        <div class="col-md-10 col-xs-offset-2 col-sm-5 saveTable">
                            <ul class="clearfix">
                                <li class="row saveTableRowLine saveTableRow">
                                    <div class="col-md-2">安全保护等级类型</div>
                                    <div class="col-md-8">损害客体及损害程度</div>
                                    <div class="col-md-2">级别</div>
                                </li>
                                <li class="row saveTableRow saveTableHeg" style="height:311px;">
                                    <div class="col-md-2 mcAddSysBuild" style="height:311px;">业务信息</div>
                                    <ul class="col-md-10 saveTableLase" id="sysTable">
                                        <li class="saveTableBorder">
                                            <div class="col-md-1">
                                                <input type="radio" disabled  v-model="formData.fkBizSPRankLevel" id="101" value="101"  name="inform" class="inpChoose">
                                            </div>
                                            <div class="col-md-9 saveMsg">
                                                <input  id="10101" type="checkbox" disabled   class="inpChoose checkFirst checkOnly">仅对公民、法人和其他组织的合法权益造成伤害
                                            </div>
                                            <div class="col-md-2 saveTableBg saveLevel">
                                                <input type="radio" disabled name="business" id="101" :checked="formData.fkBizSPRankLevel === '101'"  class="inpChoose" disabled>第一级
                                            </div>
                                        </li>
                                        <li class="saveTableBorder">
                                            <div class="col-md-1 saveTableBorB inplast">
                                                <input  type="radio" disabled  v-model="formData.fkBizSPRankLevel" id="102" value="102" name="inform" class="inpChoose inpLase">
                                            </div>
                                            <div class="col-md-9 saveMsg">
                                                <div class="col-md-9">
                                                    <input  id="10201" disabled type="checkbox" class="inpChoose checkName">对公民、法人和其他组织的合法权益造成特别严重损害
                                                </div>
                                                <div class="col-md-9">
                                                    <input id="10202"  type="checkbox" disabled class="inpChoose checkName">对社会秩序和公共利益造成损害
                                                </div>
                                            </div>
                                            <div class="col-md-2 saveTableBg saveTableHgh saveLevel">
                                                <input type="radio" name="business" :checked="formData.fkBizSPRankLevel === '102'"  class="inpChoose" disabled id="onlyCheck">第二级
                                            </div>
                                        </li>
                                        <li class="saveTableBorder">
                                            <div class="col-md-1 saveTableBorB inplast" style="height:103px;">
                                                <input type="radio" disabled v-model="formData.fkBizSPRankLevel" id="103" value="103" name="inform" class="inpChoose inpLase">
                                            </div>
                                            <div class="col-md-9 saveMsg">
                                                <div class="col-md-9">
                                                    <input type="checkbox" disabled id="10301" class="inpChoose">对社会秩序和公共利益造成严重损害
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="checkbox" disabled id="10302" class="inpChoose">对国家安全造成严重损害
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="checkbox" disabled id="10303" class="inpChoose">对公民、法人和其他组织的合法权益造成特别严重损害
                                                </div>
                                            </div>
                                            <div class="col-md-2 saveTableBg saveTableHgh saveLevel" style="height:103px;">
                                                <input type="radio" name="business" :checked="formData.fkBizSPRankLevel === '103'" class="inpChoose" disabled>第三级
                                            </div>
                                        </li>
                                        <li class="saveTableBorder" >
                                            <div class="col-md-1 saveTableBorB inplast">
                                                <input type="radio" disabled v-model="formData.fkBizSPRankLevel" id="104" value="104" name="inform" class="inpChoose inpLase">
                                            </div>
                                            <div class="col-md-9 saveMsg">
                                                <div class="col-md-9">
                                                    <input type="checkbox" disabled id="10401"  class="inpChoose">对社会秩序和公共利益造成特别严重损害
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="checkbox" disabled id="10402"  class="inpChoose">对国家安全造成特别严重损
                                                </div>
                                            </div>
                                            <div class="col-md-2 saveTableBg saveTableHgh saveLevel">
                                                <input type="radio" name="business" :checked="formData.fkBizSPRankLevel === '104'"  class="inpChoose" disabled>第四级
                                            </div>
                                        </li>
                                        <li class="saveTableBorder"  >
                                            <div class="col-md-1">
                                                <input type="radio" disabled id="" v-model="formData.fkBizSPRankLevel"  id="105" value="105" name="inform" class="inpChoose">
                                            </div>
                                            <div class="col-md-9 saveMsg ">
                                                <input type="checkbox" disabled id="10501" class="inpChoose checkFirst">对国家安全造成特别严重损
                                            </div>
                                            <div class="col-md-2 saveTableBg saveLevel">
                                                <input type="radio" name="business" :checked="formData.fkBizSPRankLevel === '105'"  class="inpChoose" disabled>第五级
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="row saveTableRow saveTableHeg" style="height:311px;">
                                    <div class="col-md-2 mcAddSysBuild" style="height:311px;">系统信息</div>
                                    <ul class="col-md-10 saveTableLase">
                                        <li class="saveTableBorder">
                                            <div class="col-md-1">
                                                <input type="radio" disabled id="201" v-model="formData.fkBizSystemLevel" value="201"  name="inorm" class="inpChoose">
                                            </div>
                                            <div class="col-md-9 saveMsg">
                                                <input type="checkbox"  disabled id="20101" class="inpChoose checkFirst">仅对公民、法人和其他组织的合法权益造成伤害
                                            </div>
                                            <div class="col-md-2 saveTableBg saveLevel">
                                                <input type="radio" :checked="formData.fkBizSystemLevel === '201'" name="busine" class="inpChoose" disabled>第一级
                                            </div>
                                        </li>
                                        <li class="saveTableBorder">
                                            <div class="col-md-1 saveTableBorB inplast">
                                                <input type="radio" disabled id="202" v-model="formData.fkBizSystemLevel" value="202"   name="inorm" class="inpChoose inpLase">
                                            </div>
                                            <div class="col-md-9 saveMsg">
                                                <div class="col-md-9">
                                                    <input type="checkbox" disabled id="20201"  class="inpChoose">对公民、法人和其他组织的合法权益造成特别严重损害
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="checkbox" disabled id="20202" class="inpChoose">对社会秩序和公共利益造成损害
                                                </div>
                                            </div>
                                            <div class="col-md-2 saveTableBg saveTableHgh saveLevel">
                                                <input type="radio" name="busine" :checked="formData.fkBizSystemLevel === '202'" class="inpChoose" disabled>第二级
                                            </div>
                                        </li>
                                        <li class="saveTableBorder">
                                            <div class="col-md-1 saveTableBorB inplast" style="height:103px;">
                                                <input type="radio" disabled name="inorm" id="203" v-model="formData.fkBizSystemLevel" value="203"  class="inpChoose inpLase">
                                            </div>
                                            <div class="col-md-9 saveMsg">
                                                <div class="col-md-9">
                                                    <input type="checkbox"  disabled id="20301" class="inpChoose">对社会秩序和公共利益造成严重损害
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="checkbox" disabled  id="20302" class="inpChoose">对国家安全造成严重损害
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="checkbox" disabled id="20303" class="inpChoose">对公民、法人和其他组织的合法权益造成特别严重损害
                                                </div>
                                            </div>
                                            <div class="col-md-2 saveTableBg saveTableHgh saveLevel" style="height:103px;">
                                                <input type="radio" name="busine" :checked="formData.fkBizSystemLevel === '203'"  class="inpChoose" disabled>第三级
                                            </div>
                                        </li>
                                        <li class="saveTableBorder">
                                            <div class="col-md-1 saveTableBorB inplast">
                                                <input type="radio" disabled name="inorm" id="204"  v-model="formData.fkBizSystemLevel" value="204"   class="inpChoose inpLase">
                                            </div>
                                            <div class="col-md-9 saveMsg">
                                                <div class="col-md-9">
                                                    <input type="checkbox" disabled id="20401" class="inpChoose">对社会秩序和公共利益造成特别严重损害
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="checkbox" disabled id="20402" class="inpChoose">对国家安全造成特别严重损
                                                </div>
                                            </div>
                                            <div class="col-md-2 saveTableBg saveTableHgh saveLevel">
                                                <input type="radio" name="busine" :checked="formData.fkBizSystemLevel === '204'"  class="inpChoose" disabled>第四级
                                            </div>
                                        </li>
                                        <li class="saveTableBorder">
                                            <div class="col-md-1">
                                                <input type="radio" disabled id="205" v-model="formData.fkBizSystemLevel" value="205"  name="inorm" class="inpChoose">
                                            </div>
                                            <div class="col-md-9 saveMsg ">
                                                <input type="checkbox" disabled id="20501" class="inpChoose checkFirst">对国家安全造成特别严重损
                                            </div>
                                            <div class="col-md-2 saveTableBg saveLevel">
                                                <input type="radio" name="busine" :checked="formData.fkBizSystemLevel === '205'" class="inpChoose" disabled>第五级
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="row saveTableLast">
                                    <div class="col-md-2 saveTableBg saveTableMsy">信息系统安全保护等级</div>
                                    <div class="col-md-10 saveTableBg clearfix saveTableLast">
                                         <div class="fl col-md-2">
                                            <span>
                                                <input type="radio" id="" name="Choice" :checked="formData.fkSpRanklevel === '301'||formData.fkSpRanklevel ==301" class="inpChoose" disabled/>
                                            </span>第一级
                                        </div>
                                        <div class="fl col-md-2">
                                            <span>
                                                <input type="radio" id="" name="Choice" :checked="formData.fkSpRanklevel === '302'||formData.fkSpRanklevel ==302" class="inpChoose" disabled/>
                                            </span>第二级
                                        </div>
                                        <div class="fl col-md-2">
                                            <span>
                                                <input type="radio" id="" name="Choice" :checked="formData.fkSpRanklevel === '303'||formData.fkSpRanklevel ==303" class="inpChoose" disabled/>
                                            </span>第三级
                                        </div>
                                        <div class="fl col-md-2">
                                            <span>
                                                <input type="radio" id="" name="Choice" :checked="formData.fkSpRanklevel === '304'||formData.fkSpRanklevel ==304" class="inpChoose" disabled/>
                                            </span>第四级
                                        </div>
                                        <div class="fl col-md-2">
                                            <span>
                                                <input type="radio" id="" name="Choice" :checked="formData.fkSpRanklevel === '305'||formData.fkSpRanklevel ==305" class="inpChoose" disabled/>
                                            </span>第五级
                                        </div>
                                        <br>
                                        <p class="xing">信息系统安全保护等级为三级以上（包含三级）时，需要在备案时填写系统材料情况（备案表4）。</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>     
      <!--   <li class="col-md-12">
            <span class="col-md-2 text-right saveText">定级说明描述：</span>
            <span class="col-md-10 text-left">{{formData.rankExplainDesc}}</span>
        </li> -->
        <li class="col-md-12">
            <p class="col-md-6">
                <span class="col-md-3 text-right">定级时间：</span>
                <span class="col-md-3 text-left">{{formData.rankTime}}</span>
            </p>
            <p class="col-md-6">
                <span class="col-md-5 text-right">是否有主管部门：</span>
                <span class="col-md-3 text-left">
                   <div  v-if="formData.competentIsExisting == '1'">
                                                                  是
                   </div>
                   <div  v-if="formData.competentIsExisting == '2'">
                                                                 否
                   </div> 
                </span>
            </p>
        </li>
        <li class="col-md-12" v-if="formData.competentIsExisting == 1">
            <p class="col-md-6">
                <span class="col-md-3 text-right">主管部门名称：</span>
                <span class="col-md-3 text-left">{{formData.competentName}}</span>
            </p>
            <p class="col-md-6">
                <span class="col-md-5 text-right">主管部门审批定级情况：</span>
                <span class="col-md-6 text-left">
                   <div  v-if="formData.competentView == '1'">
                                                                 已审批
                   </div>
                   <div  v-if="formData.competentView == '2'">
                                                                 未审批
                   </div> 
                </span>
            </p>
        </li>
        <li class="col-md-12" style="padding-left:0;"  v-if="formData.competentIsExisting == 1 && formData.competentView == 1">
            <p class="col-md-6" style="padding-left:0;">
                <span class="col-md-5 text-right" style="margin-left: -68px;">上级主管部门审批意见：</span>
                <span class="col-md-6 text-left" @mouseenter="thingMove()" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><a @click="download(formData.directorOpinionId)" style="cursor:pointer" class="thingName">{{formData.directorOpinionName}}</a></span>
            </p>
            <p class="col-md-4" style="padding-left: 129px;">
                <span class="col-md-6 text-right" >附件名称：</span>
                <span class="col-md-6 text-left" class="thingName" @mouseenter="thingMove()" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">{{formData.directorOpinionName}}</span>
            </p>
        </li>
        <li class="col-md-12">
            <p class="col-md-6">
                <span class="col-md-3 text-right">定级报告：</span>
                <span class="col-md-6 text-left" @mouseenter="thingMove1()" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><a @click="download(formData.gradingReportId)" style="cursor:pointer" class="thingName1">{{formData.gradingReportName}}</a></span>
            </p>
            <p class="col-md-6">
                <span class="col-md-5 text-right">定级报告名称：</span>
                <span class="col-md-6 text-left" class="thingName1" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"  @mouseenter="thingMove1()">{{formData.gradingReportName}}</span>
            </p>
        </li>
        <li class="col-md-12">
            <p class="col-md-6" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
                <span class="col-md-3 text-right">专家评审情况：</span>
                <span class="col-md-6 text-left" @mouseenter="thingMove2()">
                <span>
                  <div  v-if="formData.expertView == '1'">
                  <span> 已审核
                      <a href="javascript:;" style="cursor:pointer;margin-left: 5px;" @click="download(formData.expertReviewId)" class="thingName2">{{formData.expertReviewName}}</a>  
                   </span>
                   </div>
                   <div  v-if="formData.expertView == '2'">
                                                                 未审核
                   </div> 
                 </span>
                </span>
            </p>
            <p class="col-md-6" class="col-md-6" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
                <span class="col-md-5 text-right">评审附件名称：</span>
                <span class="col-md-6 text-left"  @mouseenter="thingMove2()">
	                 <div v-if="formData.expertView == '1'" class="thingName2">
	                      {{formData.expertReviewName}}
	                 </div>
                </span>
            </p>
        </li>
        <li class="col-md-12">
            <p class="col-md-6">
                <span class="col-md-3 text-right">填表人：</span>
                <span class="col-md-3 text-left">{{formData.filler}}</span>
            </p>
            <p class="col-md-6">
                <span class="col-md-5 text-right">填表时间：</span>
                <span class="col-md-3 text-left">{{formData.fillDate}}</span>
            </p>
        </li>
    </ul>
</div>