<div class="header">
	<div>
		<div class="header-1">
			<div class="header-1-l">欢迎来光临</div>
			<div class="header-1-r">
				<div class="head-text">欢迎你：<span>{{userName}}</span>
					<a  @click="signOutMethod" href="javascript:void(0)" style="color: #47ca84;padding-left: 10px;">退出</a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="header-2" id="tab">
			<div class="header-2-l">
				<div class="logo"><img src="../../images/logo.png"></div>
				<div class="name">中国石化网络安全运营中心</div>
				<div class="clear"></div>
			</div>
			<div class="header-2-r">
				<div class="nav">
					<ul id="navigation-list">
						<li v-for="(item,ind) in mainNav" v-bind:class="{ active:item.isActive }" v-on:mouseenter="showSilder" v-on:mouseout="hideSilder">
							<a @mouseenter="FnShowToggle(item.name,ind)" :href="{ path: item.path }" v-if="item.path">{{ item.name }}</a>
              <a @mouseenter="FnShowToggle(item.name,ind)"  v-else>{{ item.name }}</a>
						</li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="search" @click="toggle"><img src="../../images/sousuo.jpg"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="search-bg" v-show="isShowSearchForm" @click="toggle">
		</div>
		<div class="search-con" v-show="isShowSearchForm">
			<div class="search-con-l-1"><input type="text" placeholder="请输入搜索内容"></div>
			<div class="search-con-l-2"><img src="../../images/ss.png" width="20" height="20"></div>
			<div class="clear"></div>
		</div>
    <transition name="custom-classes-transition" enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
			<div class="header-toggle-box" @mouseleave="FnShowToggle(false)" v-show="isShowToggle">
				<div class="toggle-box-header">
					<ul>
						<li v-for="(item,ind) in titleList">
							<h1 class="text-center">{{item.resourceName}}</h1>
						</li>
					</ul>
				</div>
				<section v-for="(item,ind) in toggleOneData">
					<div class="toggle-box-tr-one">
						<ul >
							<li v-for="(itemOne,indOne) in item" class="text-center" @click="FnToggleTwo(ind,indOne,isShowToggleTwoUl[indOne],itemOne.childList)">
								{{itemOne.resourceName}}
								<i class="ml5" :class="{
									'smcc-select-down' : isShowToggleTwoUl[indOne] && isShowToggleTwo[ind],
									'smcc-select-up' : !isShowToggleTwoUl[indOne] || !isShowToggleTwo[ind]
								}"></i>
							</li>
            </ul>
					</div>
					<div class="toggle-box-tr-two bgf5" v-if="isShowToggleTwo[ind]">
						<ul>
							<li class="text-center">
								<ul v-if="isShowToggleTwoUl[0]">
									<li v-for="(itemTwo,indTwo) in toggleTwoData" class="mb5">
										<a :href="itemTwo.resourceUrl" style="color:#666">{{itemTwo.resourceName}}</a>
									</li>
								</ul>
							</li>
							<li class="text-center">
								<ul v-if="isShowToggleTwoUl[1]">
									<li v-for="(itemTwo,indTwo) in toggleTwoData" class="mb5">
										<a :href="itemTwo.resourceUrl"  style="color:#666">{{itemTwo.resourceName}}</a>
									</li>
								</ul>
							</li>
							<li class="text-center">
								<ul v-if="isShowToggleTwoUl[2]">
									<li v-for="(itemTwo,indTwo) in toggleTwoData" class="mb5">
										<a :href="itemTwo.resourceUrl"  style="color:#666">{{itemTwo.resourceName}}</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</section>
			</div>
		</transition>
	</div>
</div>