<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinopec.smcc.cpro.system.mapper.SystemMapper">
  <resultMap id="BaseResultMap" type="com.sinopec.smcc.cpro.system.entity.SystemResult">
  	<id column="pkId" property="systemId" jdbcType="VARCHAR" />
    <result column="standardizedCode" property="standardizedCode" jdbcType="VARCHAR" />
    <result column="whenInvestmentUse" property="whenInvestmentUse" jdbcType="TIMESTAMP" />
    <result column="executiveOfficeName" property="executiveOfficeName" jdbcType="VARCHAR" />
    <result column="sysBusDescription" property="sysBusDescription" jdbcType="VARCHAR" />
    <result column="subIsSystem" property="subIsSystem" jdbcType="INTEGER" />
    <result column="executiveDireCon" property="executiveDireCon" jdbcType="VARCHAR" />
    <result column="systemName" property="systemName" jdbcType="VARCHAR" />
    <result column="gradeRecordSysName" property="gradeRecordSysName" jdbcType="VARCHAR" />
    <result column="executiveDireConTel" property="executiveDireConTel" jdbcType="VARCHAR" />
    <result column="fkCompanyCode" property="fkCompanyCode" jdbcType="VARCHAR" />
    <result column="fkResponsibleType" property="fkResponsibleType" jdbcType="VARCHAR" />
    <result column="fkProductsType" property="fkProductsType" jdbcType="VARCHAR" />
    <result column="serviceIsUse" property="serviceIsUse" jdbcType="INTEGER" />
    <result column="fkExaminStatus" property="fkExaminStatus" jdbcType="INTEGER" />
    <result column="productsNumber" property="productsNumber" jdbcType="VARCHAR" />
    <result column="nUseProbability" property="nUseProbability" jdbcType="INTEGER" />
    <result column="fkNationalIsProducts" property="fkNationalIsProducts" jdbcType="VARCHAR" />
    <result column="fkNationalIsProducts" property="fkNationalIsProducts" jdbcType="VARCHAR" />
    <result column="codeName" property="constructionTypeName" jdbcType="INTEGER" />
    <result column="codeName" property="combinedName" jdbcType="VARCHAR" />
    <result column="codeName" property="businessName" jdbcType="VARCHAR" />
    <result column="codeName" property="serviceScopeName" jdbcType="VARCHAR" />
    <result column="codeName" property="serviceObjectName" jdbcType="VARCHAR" />
    <result column="codeName" property="coverScopeName" jdbcType="VARCHAR" />
    <result column="codeName" property="newWorkNatureName" jdbcType="VARCHAR" />
    <result column="codeName" property="systemInterName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="SystemListResult" type="com.sinopec.smcc.cpro.system.entity.SystemListResult">
    <id column="pkId" property="systemId" jdbcType="VARCHAR" />
    <result column="systemName" property="systemName" jdbcType="VARCHAR" />
    <result column="sysBusDescription" property="sysBusDescription" jdbcType="VARCHAR" />
    <result column="whenInvestmentUse" property="whenInvestmentUse" jdbcType="TIMESTAMP" />
    <result column="codeName" property="businessName" jdbcType="VARCHAR" />
	</resultMap>
  <resultMap id="SystemTemplateListResult" type="com.sinopec.smcc.cpro.system.entity.SystemTemplateListResult">
    <id column="pkId" property="systemId" jdbcType="VARCHAR" />
    <result column="systemName" property="systemName" jdbcType="VARCHAR" />
    <result column="standardizedCode" property="standardizedCode" jdbcType="VARCHAR" />
    <result column="executiveOfficeName" property="executiveOfficeName" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectSystemTemPlate" parameterType="com.sinopec.smcc.cpro.system.entity.SystemParam" resultMap="SystemTemplateListResult">
    SELECT
      system.systemName,
      system.standardizedCode,
      system.executiveOfficeName
    FROM t_cpro_system AS system
    WHERE pkId in 
    <foreach collection="list" item="item" separator=",">
      #{item.systemId}
    </foreach>
  </select>
	<select id="selectDetailsSystem" parameterType="com.sinopec.smcc.cpro.system.entity.SystemParam" resultMap="BaseResultMap">
    SELECT
      system.pkId AS systemId,
			systemCodeConstructionType.codeName AS constructionTypeName,
			systemCodeCombined.codeName AS combinedName,
			system.whenInvestmentUse,
			system.systemName,
			system.standardizedCode,
			system.gradeRecordSysName,
			systemCodeBusiness.codeName AS businessName,
			system.sysBusDescription,
			systemCodeServiceScope.codeName AS serviceScopeName,
			systemCodeServiceObject.codeName AS serviceObjectName,
			systemCodeCoverScope.codeName AS coverScopeName,
			systemCodeNewWorkNature.codeName AS newWorkNatureName,
			systemCodeSystemInter.codeName AS systemInterName,
			systemKeyProducts.fkExaminStatus,
			systemKeyProducts.productsNumber,
			systemKeyProducts.fkNationalIsProducts,
			systemKeyProducts.nUseProbability,
			systemUseServices.fkProductsType,
			systemUseServices.serviceIsUse,
			systemUseServices.fkResponsibleType,
			company.companyName,
			system.executiveOfficeName,
			system.subIsSystem,
			system.executiveDireCon,
			system.executiveDireConTel
		FROM
			t_cpro_system AS system
		LEFT JOIN t_cpro_system_code AS systemCodeConstructionType 
			ON system.fkInfoSysTypeCon = systemCodeConstructionType.systemCode 
			AND systemCodeConstructionType.fkCodeType = 7
		LEFT JOIN t_cpro_system_code AS systemCodeCombined
			ON system.fkSystemIsMerge = systemCodeCombined.systemCode 
			AND systemCodeCombined.fkCodeType = 29
		LEFT JOIN t_cpro_system_code AS systemCodeBusiness
			ON system.sysBusSituationType = systemCodeBusiness.systemCode 
			AND systemCodeBusiness.fkCodeType = 22
		LEFT JOIN t_cpro_system_code AS systemCodeServiceScope
			ON system.sysServiceSitScope = systemCodeServiceScope.systemCode 
			AND systemCodeServiceScope.fkCodeType = 20
		LEFT JOIN t_cpro_system_code AS systemCodeServiceObject
			ON system.sysServiceSitObject = systemCodeServiceObject.systemCode 
			AND systemCodeServiceObject.fkCodeType = 16
		LEFT JOIN t_cpro_system_code AS systemCodeCoverScope
			ON system.npCoverageRange = systemCodeCoverScope.systemCode 
			AND systemCodeCoverScope.fkCodeType = 17
		LEFT JOIN t_cpro_system_code AS systemCodeNewWorkNature
			ON system.npNetworkProperties = systemCodeNewWorkNature.systemCode 
			AND systemCodeNewWorkNature.fkCodeType = 18
		LEFT JOIN t_cpro_system_code AS systemCodeSystemInter
			ON system.interconnectionSit = systemCodeSystemInter.systemCode 
			AND systemCodeSystemInter.fkCodeType = 13
		LEFT JOIN t_cpro_system_key_products AS systemKeyProducts 
			ON system.pkId = systemKeyProducts.fkSystemId
		LEFT JOIN t_cpro_system_use_services AS systemUseServices 
			ON system.pkId = systemUseServices.fkSystemId
    LEFT JOIN t_cpro_company AS company
      ON system.fkCompanyCode = company.companyCode
    WHERE
      system.deleteStatus = 1
      AND system.pkId = #{systemId,jdbcType=VARCHAR}
	</select>
	
  <select id="selectEditSystem" parameterType="com.sinopec.smcc.cpro.system.entity.SystemParam" resultMap="BaseResultMap">
    SELECT
      system.pkId AS systemId,
			systemCodeConstructionType.codeName AS constructionTypeName,
			systemCodeCombined.codeName AS combinedName,
			system.whenInvestmentUse,
			system.systemName,
			system.standardizedCode,
			system.gradeRecordSysName,
			systemCodeBusiness.codeName AS businessName,
			system.sysBusDescription,
			systemCodeServiceScope.codeName AS serviceScopeName,
			systemCodeServiceObject.codeName AS serviceObjectName,
			systemCodeCoverScope.codeName AS coverScopeName,
			systemCodeNewWorkNature.codeName AS newWorkNatureName,
			systemCodeSystemInter.codeName AS systemInterName,
			systemKeyProducts.fkExaminStatus,
			systemKeyProducts.productsNumber,
			systemKeyProducts.fkNationalIsProducts,
			systemKeyProducts.nUseProbability,
			systemUseServices.fkProductsType,
			systemUseServices.serviceIsUse,
			systemUseServices.fkResponsibleType,
			system.fkCompanyCode,
			system.executiveOfficeName,
			system.subIsSystem,
			system.executiveDireCon,
			system.executiveDireConTel
		FROM
			t_cpro_system AS system
		LEFT JOIN t_cpro_system_code AS systemCodeConstructionType 
			ON system.fkInfoSysTypeCon = systemCodeConstructionType.systemCode 
			AND systemCodeConstructionType.fkCodeType = 7
		LEFT JOIN t_cpro_system_code AS systemCodeCombined
			ON system.fkSystemIsMerge = systemCodeCombined.systemCode 
			AND systemCodeCombined.fkCodeType = 29
		LEFT JOIN t_cpro_system_code AS systemCodeBusiness
			ON system.sysBusSituationType = systemCodeBusiness.systemCode 
			AND systemCodeBusiness.fkCodeType = 22
		LEFT JOIN t_cpro_system_code AS systemCodeServiceScope
			ON system.sysServiceSitScope = systemCodeServiceScope.systemCode 
			AND systemCodeServiceScope.fkCodeType = 20
		LEFT JOIN t_cpro_system_code AS systemCodeServiceObject
			ON system.sysServiceSitObject = systemCodeServiceObject.systemCode 
			AND systemCodeServiceObject.fkCodeType = 16
		LEFT JOIN t_cpro_system_code AS systemCodeCoverScope
			ON system.npCoverageRange = systemCodeCoverScope.systemCode 
			AND systemCodeCoverScope.fkCodeType = 17
		LEFT JOIN t_cpro_system_code AS systemCodeNewWorkNature
			ON system.npNetworkProperties = systemCodeNewWorkNature.systemCode 
			AND systemCodeNewWorkNature.fkCodeType = 18
		LEFT JOIN t_cpro_system_code AS systemCodeSystemInter
			ON system.interconnectionSit = systemCodeSystemInter.systemCode 
			AND systemCodeSystemInter.fkCodeType = 13
		LEFT JOIN t_cpro_system_key_products AS systemKeyProducts 
			ON system.pkId = systemKeyProducts.fkSystemId
		LEFT JOIN t_cpro_system_use_services AS systemUseServices 
			ON system.pkId = systemUseServices.fkSystemId
    WHERE
      system.deleteStatus = 1
      AND system.pkId = #{systemId,jdbcType=VARCHAR}
  </select>
  
	<select id="selectAllBySystemParam" parameterType="com.sinopec.smcc.cpro.system.entity.SystemParam" resultMap="SystemListResult">
		SELECT
      system.pkId AS systemId,
      system.systemName,
      systemCode.codeName AS businessName,
      system.sysBusDescription,
      system.whenInvestmentUse
      FROM t_cpro_system AS system
    LEFT JOIN t_cpro_system_code AS systemCode
      ON system.sysBusSituationType = systemCode.systemCode
      AND systemCode.fkCodeType = 22
    <where>
  		<if test="systemName != null and systemName != ''">
        <bind name="systemName" value="'%' + systemName + '%'" />
    	  <![CDATA[
    		  AND system.systemName LIKE #{systemName,jdbcType=VARCHAR}
    	  ]]>
  		</if>
    </where>
	</select>
  
  <!-- 系统审核业务节点更新 -->
  <update id="updateKeySystem" parameterType="com.sinopec.smcc.cpro.system.entity.SystemParam" >
    <![CDATA[
      UPDATE t_cpro_system 
    ]]>
    <set>
      <if test="examineStatus != null ">
        <![CDATA[
          examineStatus = #{examineStatus,jdbcType=INTEGER},
        ]]>
      </if>
      <if test="examinationStatus != null ">
        <![CDATA[
          examinationStatus = #{examinationStatus,jdbcType=INTEGER},
        ]]>
      </if>
      <if test="updateTime != null ">
        <![CDATA[
          updateTime = #{updateTime,jdbcType=DATE},
        ]]>
      </if>
      <if test="recordStatus != null ">
        <![CDATA[
          recordStatus = #{recordStatus,jdbcType=INTEGER},
        ]]>
      </if>
      <if test="gradingStatus != null ">
        <![CDATA[
          gradingStatus = #{gradingStatus,jdbcType=INTEGER},
        ]]>
      </if>
      <if test="evaluationStatus != null ">
        <![CDATA[
          evaluationStatus = #{evaluationStatus,jdbcType=INTEGER},
        ]]>
      </if>
    </set>
    <where>
      <if test="systemId != null and systemId != ''">
        <![CDATA[
          AND pkId = #{systemId,jdbcType=VARCHAR}
        ]]>
      </if>
      <if test="deleteStatus != null and deleteStatus != ''">
        <![CDATA[
          AND deleteStatus = #{deleteStatus,jdbcType=INTEGER}
        ]]>
      </if>
      </where>
  </update>
	
	<insert id="insertSystem" parameterType="com.sinopec.smcc.cpro.system.entity.SystemResult">
  	INSERT INTO t_cpro_system
			(pkId,interconnectionSit,fkFatherSystemId,standardizedCode,createUserName,remark,
			whenInvestmentUse,examineStatus,executiveOfficeName,examinationStatus,sysBusDescription,
			subIsSystem,executiveDireCon,fkChangeMatter,systemName,deleteStatus,fkSystemType,
			appIsInternet,gradeRecordSysName,fkSystemIsMerge,changeReason,executiveDireConTel,
			npCoverageRange,updateTime,sysBusSituationType,
			sysServiceSitObject,sysServiceSitScope,fkCompanyCode,
			recordStatus,gradingStatus,changeContent,createTime,fkInfoSysTypeCon,
			npNetworkProperties,evaluationStatus)values(
	    <trim suffixOverrides="," >
        <![CDATA[
          #{systemId,jdbcType=VARCHAR},
        ]]>
        <choose>
          <when test="interconnectionSit != null ">
            <![CDATA[
              #{interconnectionSit,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="fkFatherSystemId != null ">
            <![CDATA[
              #{fkFatherSystemId,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="standardizedCode != null ">
            <![CDATA[
              #{standardizedCode,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="createUserName != null ">
            <![CDATA[
              #{createUserName,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="remark != null ">
            <![CDATA[
              #{remark,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="whenInvestmentUse != null ">
            <![CDATA[
              #{whenInvestmentUse,jdbcType=TIMESTAMP},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="examineStatus != null ">
            <![CDATA[
              #{examineStatus,jdbcType=INTEGER},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="executiveOfficeName != null ">
            <![CDATA[
              #{executiveOfficeName,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="examinationStatus != null ">
            <![CDATA[
              #{examinationStatus,jdbcType=INTEGER},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="sysBusDescription != null ">
            <![CDATA[
              #{sysBusDescription,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="subIsSystem != null ">
            <![CDATA[
              #{subIsSystem,jdbcType=INTEGER},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="executiveDireCon != null ">
            <![CDATA[
              #{executiveDireCon,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="fkChangeMatter != null ">
            <![CDATA[
              #{fkChangeMatter,jdbcType=INTEGER},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="systemName != null ">
            <![CDATA[
              #{systemName,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="deleteStatus != null ">
            <![CDATA[
              #{deleteStatus,jdbcType=TINYINT},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="fkSystemType != null ">
            <![CDATA[
              #{fkSystemType,jdbcType=INTEGER},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="appIsInternet != null ">
            <![CDATA[
              #{appIsInternet,jdbcType=TINYINT},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="gradeRecordSysName != null ">
            <![CDATA[
              #{gradeRecordSysName,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="fkSystemIsMerge != null ">
            <![CDATA[
              #{fkSystemIsMerge,jdbcType=TINYINT},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="changeReason != null ">
            <![CDATA[
              #{changeReason,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="executiveDireConTel != null ">
            <![CDATA[
              #{executiveDireConTel,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="npCoverageRange != null ">
            <![CDATA[
              #{npCoverageRange,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="updateTime != null ">
            <![CDATA[
              #{updateTime,jdbcType=DATE},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="sysBusSituationType != null ">
            <![CDATA[
              #{sysBusSituationType,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="sysServiceSitObject != null ">
            <![CDATA[
              #{sysServiceSitObject,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="sysServiceSitScope != null ">
            <![CDATA[
              #{sysServiceSitScope,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="fkCompanyCode != null ">
            <![CDATA[
              #{fkCompanyCode,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="recordStatus != null ">
            <![CDATA[
              #{recordStatus,jdbcType=INTEGER},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="gradingStatus != null ">
            <![CDATA[
              #{gradingStatus,jdbcType=INTEGER},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="changeContent != null ">
            <![CDATA[
              #{changeContent,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="createTime != null ">
            <![CDATA[
              #{createTime,jdbcType=TIMESTAMP},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="fkInfoSysTypeCon != null ">
            <![CDATA[
              #{fkInfoSysTypeCon,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="npNetworkProperties != null ">
            <![CDATA[
              #{npNetworkProperties,jdbcType=VARCHAR},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
          <when test="evaluationStatus != null ">
            <![CDATA[
              #{evaluationStatus,jdbcType=INTEGER},
            ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
      </trim>
	    )
	  	 ON DUPLICATE KEY UPDATE
	  	<trim suffixOverrides="," >
        <if test="interconnectionSit != null and interconnectionSit !=''">
          <![CDATA[
            interconnectionSit = #{interconnectionSit,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="fkFatherSystemId != null and fkFatherSystemId !=''">
          <![CDATA[
            fkFatherSystemId = #{fkFatherSystemId,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="standardizedCode != null and standardizedCode !=''">
          <![CDATA[
            standardizedCode = #{standardizedCode,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="createUserName != null and createUserName !=''">
          <![CDATA[
           createUserName = #{createUserName,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="remark != null and remark !=''">
          <![CDATA[
            remark = #{remark,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="whenInvestmentUse != null">
          <![CDATA[
            whenInvestmentUse = #{whenInvestmentUse,jdbcType=TIMESTAMP},
          ]]>
        </if>
        <if test="examineStatus != null and examineStatus !=''">
          <![CDATA[
            examineStatus = #{examineStatus,jdbcType=INTEGER},
          ]]>
        </if>
        <if test="executiveOfficeName != null and executiveOfficeName !=''">
          <![CDATA[
            executiveOfficeName = #{executiveOfficeName,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="examinationStatus != null and examinationStatus !=''">
          <![CDATA[
            examinationStatus = #{examinationStatus,jdbcType=INTEGER},
          ]]>
        </if>
        <if test="sysBusDescription != null and sysBusDescription !=''">
          <![CDATA[
            sysBusDescription = #{sysBusDescription,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="subIsSystem != null and subIsSystem !=''">
          <![CDATA[
            subIsSystem = #{subIsSystem,jdbcType=INTEGER},
          ]]>
        </if>
        <if test="executiveDireCon != null and executiveDireCon !=''">
          <![CDATA[
            executiveDireCon = #{executiveDireCon,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="fkChangeMatter != null and fkChangeMatter !=''">
          <![CDATA[
            fkChangeMatter = #{fkChangeMatter,jdbcType=INTEGER},
          ]]>
        </if>
        <if test="systemName != null and systemName !=''">
          <![CDATA[
            systemName = #{systemName,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="deleteStatus != null and deleteStatus !=''">
          <![CDATA[
            deleteStatus = #{deleteStatus,jdbcType=TINYINT},
          ]]>
        </if>
        <if test="fkSystemType != null and fkSystemType !=''">
          <![CDATA[
            fkSystemType = #{fkSystemType,jdbcType=INTEGER},
          ]]>
        </if>
        <if test="appIsInternet != null and appIsInternet !=''">
          <![CDATA[
            appIsInternet = #{appIsInternet,jdbcType=TINYINT},
          ]]>
        </if>
        <if test="gradeRecordSysName != null and gradeRecordSysName !=''">
          <![CDATA[
            gradeRecordSysName = #{gradeRecordSysName,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="fkSystemIsMerge != null and fkSystemIsMerge !=''">
          <![CDATA[
            fkSystemIsMerge = #{fkSystemIsMerge,jdbcType=TINYINT},
          ]]>
        </if>
        <if test="changeReason != null and changeReason !=''">
          <![CDATA[
            changeReason = #{changeReason,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="executiveDireConTel != null and executiveDireConTel !=''">
          <![CDATA[
            executiveDireConTel = #{executiveDireConTel,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="npCoverageRange != null and npCoverageRange !=''">
          <![CDATA[
            npCoverageRange = #{npCoverageRange,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="updateTime != null">
          <![CDATA[
            updateTime = #{updateTime,jdbcType=DATE},
          ]]>
        </if>
        <if test="sysBusSituationType != null and sysBusSituationType !=''">
          <![CDATA[
            sysBusSituationType = #{sysBusSituationType,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="sysServiceSitObject != null and sysServiceSitObject !=''">
          <![CDATA[
            sysServiceSitObject = #{sysServiceSitObject,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="sysServiceSitScope != null and sysServiceSitScope !=''">
          <![CDATA[
            sysServiceSitScope = #{sysServiceSitScope,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="fkCompanyCode != null and fkCompanyCode !=''">
          <![CDATA[
            fkCompanyCode = #{fkCompanyCode,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="recordStatus != null and recordStatus !=''">
          <![CDATA[
            recordStatus = #{recordStatus,jdbcType=INTEGER},
          ]]>
        </if>
        <if test="gradingStatus != null and gradingStatus !=''">
          <![CDATA[
            gradingStatus = #{gradingStatus,jdbcType=INTEGER},
          ]]>
        </if>
        <if test="changeContent != null and changeContent !=''">
          <![CDATA[
            changeContent = #{changeContent,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="createTime != null ">
          <![CDATA[
            createTime = #{createTime,jdbcType=TIMESTAMP},
          ]]>
        </if>
        <if test="fkInfoSysTypeCon != null and fkInfoSysTypeCon !=''">
          <![CDATA[
            fkInfoSysTypeCon = #{fkInfoSysTypeCon,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="npNetworkProperties != null and npNetworkProperties !=''">
          <![CDATA[
            npNetworkProperties = #{npNetworkProperties,jdbcType=VARCHAR},
          ]]>
        </if>
        <if test="evaluationStatus != null and evaluationStatus !=''">
          <![CDATA[
            evaluationStatus = #{evaluationStatus,jdbcType=INTEGER},
          ]]>
        </if>
      </trim>
  </insert>
  
  <update id="updateSystemStatusBySystemId" parameterType="com.sinopec.smcc.cpro.system.entity.SystemParam">
    UPDATE t_cpro_system 
    SET
    <if test="gradingStatus != null">
      <![CDATA[
        gradingStatus = #{gradingStatus,jdbcType=INTEGER}
      ]]>
    </if>
    <if test="examineStatus != null">
      <![CDATA[
        examineStatus = #{examineStatus,jdbcType=INTEGER}
      ]]>
    </if>
    <if test="recordStatus != null">
      <![CDATA[
        recordStatus = #{recordStatus,jdbcType=INTEGER}
      ]]>
    </if>
    <if test="evaluationStatus != null">
      <![CDATA[
        evaluationStatus = #{evaluationStatus,jdbcType=INTEGER}
      ]]>
    </if>
    <if test="examinationStatus != null">
      <![CDATA[
        examinationStatus = #{examinationStatus,jdbcType=INTEGER}
      ]]>
    </if>
    WHERE pkId = #{systemId}
  </update>
  
  <select id="selectSystemByStandardizedCode" parameterType="String" resultType="String">
    SELECT 
      standardizedCode
    FROM t_cpro_system
    WHERE 
      deleteStatus = 1 AND recordStatus = 1
      AND standardizedCode = #{standardizedCode}
  </select>
</mapper>
