<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinopec.smcc.cpro.system.mapper.SystemKeyProductsMapper">
  <resultMap id="BaseResultMap" type="com.sinopec.smcc.cpro.system.entity.SystemKeyResult">
    <id column="pkId" property="systemKeyProductsId" jdbcType="VARCHAR" />
    <result column="fkExaminStatus" property="fkExaminStatus" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER" />
    <result column="productsNumber" property="productsNumber" jdbcType="VARCHAR" />
    <result column="nUseProbability" property="nUseProbability" jdbcType="INTEGER" />
    <result column="otherName" property="otherName" jdbcType="VARCHAR" />
    <result column="fkNationalIsProducts" property="fkNationalIsProducts" jdbcType="VARCHAR" />
    <result column="fkSystemId" property="fkSystemId" jdbcType="VARCHAR" />
  </resultMap>
  
  <delete id="deleteSystemKeyProductsBySystemKeyProductsId" parameterType="java.util.List">
    DELETE FROM t_cpro_system_key_products WHERE pkId IN
      <foreach item="item" collection="list" open="(" separator="," close=")">
        #{item}
      </foreach>
  </delete>
  
  <delete id="deleteKey" parameterType="com.sinopec.smcc.cpro.system.entity.SystemKeyProducts">
    DELETE FROM t_cpro_system_key_products WHERE fkSystemId = #{systemId,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteSubKey" parameterType="java.util.List">
    DELETE FROM t_cpro_system_key_products WHERE fkSystemId IN
      <foreach item="item" collection="list" open="(" separator="," close=")">
        #{item.systemId}
      </foreach>
  </delete>
  
  <delete id="deleteSubKeyInfo" parameterType="java.util.List">
    DELETE FROM t_cpro_system_key_products WHERE fkSystemId IN
      <foreach item="item" collection="list" open="(" separator="," close=")">
        #{item.systemId}
      </foreach>
  </delete>
  
  <select id="selectSubSystem" parameterType="com.sinopec.smcc.cpro.system.entity.SystemKeyProducts" resultMap="BaseResultMap">
    SELECT 
      pkId,
      fkExaminStatus,
      fkNationalIsProducts,
      otherName 
    FROM t_cpro_system_key_products
    WHERE fkSystemId = #{systemId}
  </select>
  
  <insert id="insertSystemKeyProductsBySystemKeyProductsId" parameterType="java.util.List">
  INSERT INTO t_cpro_system_key_products
  (
  	pkId,fkExaminStatus,createTime,deleteStatus,productsNumber,nUseProbability,otherName,
  	fkNationalIsProducts,fkSystemId
  	) VALUES
  	<foreach collection="list" item="item" index="index" separator=",">
    (
	  	<trim suffixOverrides="," >
	      <![CDATA[
	        #{item.systemKeyProductsId,jdbcType=VARCHAR},
	      ]]>
	      <![CDATA[
	        #{item.fkExaminStatus,jdbcType=VARCHAR},
	      ]]>
	      <![CDATA[
	        #{item.createTime,jdbcType=TIMESTAMP},
	      ]]>
	      <choose>
	      	<when test="item.deleteStatus != null ">
			 			<![CDATA[
			   			#{item.deleteStatus,jdbcType=INTEGER},
			  		]]>
			  	</when>
			  	<otherwise>
			      <![CDATA[
			        DEFAULT,
			    	]]>
			    </otherwise>
			  </choose>
			  <choose>
			    <when test="item.productsNumber != null ">
			      <![CDATA[
			        #{item.productsNumber,jdbcType=VARCHAR},
			      ]]>
			    </when>
			    <otherwise>
			      <![CDATA[
			        DEFAULT,
			      ]]>
			    </otherwise>
			  </choose>
			  <choose>
			    <when test="item.nUseProbability != null ">
			      <![CDATA[
			        #{item.nUseProbability,jdbcType=INTEGER},
			      ]]>
			    </when>
			    <otherwise>
			      <![CDATA[
			        DEFAULT,
			      ]]>
			    </otherwise>
			  </choose>
			  <choose>
			    <when test="item.otherName != null ">
			      <![CDATA[
			        #{item.otherName,jdbcType=VARCHAR},
			      ]]>
			    </when>
			    <otherwise>
			      <![CDATA[
			        DEFAULT,
			      ]]>
			    </otherwise>
			  </choose>
			  <choose>
			    <when test="item.fkNationalIsProducts != null ">
			      <![CDATA[
			        #{item.fkNationalIsProducts,jdbcType=VARCHAR},
			      ]]>
			    </when>
			    <otherwise>
			      <![CDATA[
			        DEFAULT,
			      ]]>
			    </otherwise>
			  </choose>
			  <choose>
			    <when test="item.fkSystemId != null ">
			      <![CDATA[
			        #{item.fkSystemId,jdbcType=VARCHAR},
			      ]]>
			    </when>
			    <otherwise>
			      <![CDATA[
			        DEFAULT,
			      ]]>
			    </otherwise>
			  </choose>
		  </trim>
       )
	  </foreach>
  </insert>
</mapper>