<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinopec.smcc.cpro.system.mapper.SystemUseServicesMapper">
  <resultMap id="BaseResultMap" type="com.sinopec.smcc.cpro.system.entity.SystemUseServices">
    <id column="pkId" property="systemUseServicesId" jdbcType="VARCHAR" />
    <result column="fkResponsibleType" property="fkResponsibleType" jdbcType="VARCHAR" />
    <result column="fkProductsType" property="fkProductsType" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER" />
    <result column="serviceIsUse" property="serviceIsUse" jdbcType="INTEGER" />
    <result column="otherName" property="otherName" jdbcType="VARCHAR" />
    <result column="fkSystemId" property="fkSystemId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    pkId,fkResponsibleType,fkProductsType,createTime,deleteStatus,serviceIsUse,otherName,fkSystemId
  </sql>
  
  <delete id="deleteUse" parameterType="com.sinopec.smcc.cpro.system.entity.SystemUseServices">
    DELETE FROM t_cpro_system_use_services WHERE fkSystemId = #{systemId,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteSubUse" parameterType="java.util.List">
    DELETE FROM t_cpro_system_use_services WHERE fkSystemId IN
      <foreach item="item" collection="list" open="(" separator="," close=")">
        #{item.systemId}
      </foreach>
  </delete>
  
  <delete id="deleteSubUseInfo" parameterType="java.util.List">
    DELETE FROM t_cpro_system_use_services WHERE fkSystemId IN
      <foreach item="item" collection="list" open="(" separator="," close=")">
        #{item.systemId}
      </foreach>
  </delete>
  
  <delete id="deleteSystemUseServicesBySystemUseServicesId" parameterType="java.util.List">
    DELETE FROM t_cpro_system_use_services WHERE pkId in
      <foreach item="item" collection="list" open="(" separator="," close=")">
        #{item}
      </foreach>
  </delete>
  
  <insert id="insertSystemUseServicesBySystemUseServicesId" parameterType="java.util.List">
  	INSERT INTO t_cpro_system_use_services
  		(pkId,fkResponsibleType,fkProductsType,createTime,deleteStatus,serviceIsUse,otherName,
  		fkSystemId) VALUES
  		<foreach collection="list" item="item" index="index" separator=",">
        (
	  		<trim suffixOverrides="," >
				  <![CDATA[
				        #{item.systemUseServicesId,jdbcType=VARCHAR},
				  ]]>
		  		<choose>
				    <when test="item.fkResponsibleType != null and item.fkResponsibleType != ''">
				      <![CDATA[
				        #{item.fkResponsibleType,jdbcType=VARCHAR},
				      ]]>
				    </when>
				    <otherwise>
				      <![CDATA[
				        0,
				      ]]>
				    </otherwise>
		  		</choose>
		  		<choose>
				    <when test="item.fkProductsType != null ">
				      <![CDATA[
				        #{item.fkProductsType,jdbcType=INTEGER},
				      ]]>
				    </when>
				    <otherwise>
				      <![CDATA[
				        DEFAULT,
				      ]]>
				    </otherwise>
		  		</choose>
		  		<choose>
				    <when test="item.createTime != null ">
				      <![CDATA[
				        #{item.createTime,jdbcType=TIMESTAMP},
				      ]]>
				    </when>
				    <otherwise>
				      <![CDATA[
				        DEFAULT,
				      ]]>
				    </otherwise>
		  		</choose>
		  		<choose>
				    <when test="item.deleteStatus != null ">
				      <![CDATA[
				        #{item.deleteStatus,jdbcType=INTEGER},
				      ]]>
				    </when>
				    <otherwise>
				      <![CDATA[
				        DEFAULT,
				      ]]>
				    </otherwise>
		  		</choose>
		  		<choose>
				    <when test="item.serviceIsUse != null ">
				      <![CDATA[
				        #{item.serviceIsUse,jdbcType=INTEGER},
				      ]]>
				    </when>
				    <otherwise>
				      <![CDATA[
				        0,
				      ]]>
				    </otherwise>
		  		</choose>
		  		<choose>
				    <when test="item.otherName != null and item.otherName != ''">
				      <![CDATA[
				        #{item.otherName,jdbcType=VARCHAR},
				      ]]>
				    </when>
				    <otherwise>
				      <![CDATA[
				        DEFAULT,
				      ]]>
				    </otherwise>
		  		</choose>
		  		<choose>
				    <when test="item.fkSystemId != null and item.fkSystemId != ''">
				      <![CDATA[
				        #{item.fkSystemId,jdbcType=VARCHAR},
				      ]]>
				    </when>
				    <otherwise>
				      <![CDATA[
				        DEFAULT,
				      ]]>
				    </otherwise>
		  		</choose>
	  	  </trim>
        )
	  	 </foreach>
  </insert>
</mapper>