<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinopec.smcc.cpro.home.mapper.HomeMapper">
  <resultMap id="HomeRecordsResultMap" type="com.sinopec.smcc.cpro.home.entity.HomeResult">
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="fkCompanyCode" property="fkCompanyCode" jdbcType="VARCHAR" />
    <result column="level1" property="level1" jdbcType="INTEGER" />
    <result column="level2" property="level2" jdbcType="INTEGER" />
    <result column="level3" property="level3" jdbcType="INTEGER" />
    <result column="level4" property="level4" jdbcType="INTEGER" />
    <result column="level5" property="level5" jdbcType="INTEGER" />
    <result column="recordDate" property="recordDate" jdbcType="TIMESTAMP" />
    <result column="acceptDate" property="acceptDate" jdbcType="TIMESTAMP" />
    <result column="count" property="count" jdbcType="INTEGER" />
  </resultMap>
<select id="selectHomeRecordStatistics" parameterType="com.sinopec.smcc.cpro.home.entity.HomeResult"
  resultMap="HomeRecordsResultMap">
  SELECT companyName,
  SUM(IF(fkSpRanklevel=301,1,0)) AS Level1,
  SUM(IF(fkSpRanklevel=302,1,0)) AS Level2,
  SUM(IF(fkSpRanklevel=303,1,0)) AS Level3,
  SUM(IF(fkSpRanklevel=304,1,0)) AS Level4,
  SUM(IF(fkSpRanklevel=305,1,0)) AS Level5
  FROM v_records_10top
  where 1=1
  <if test="recordDateBegin != null ">
        <![CDATA[
          AND recordDate >= #{recordDateBegin,jdbcType=TIMESTAMP}
        ]]>
  </if>
  <if test="recordDateEnd != null ">
        <![CDATA[
          AND recordDate <= #{recordDateEnd,jdbcType=TIMESTAMP}
        ]]>
  </if>
  <if test="acceptDateBegin != null ">
        <![CDATA[
          AND acceptDate >= #{acceptDateBegin,jdbcType=TIMESTAMP}
        ]]>
  </if>
  <if test="acceptDateEnd != null ">
        <![CDATA[
          AND acceptDate <= #{acceptDateEnd,jdbcType=TIMESTAMP}
        ]]>
  </if>
  GROUP BY fkCompanyCode ORDER BY COUNT(fkCompanyCode) DESC
</select>
<select id="selectScoreStatisticsList" parameterType="com.sinopec.smcc.cpro.home.entity.HomeResult"
  resultMap="HomeRecordsResultMap">
  SELECT SUM(Level1) AS level1,SUM(Level2) AS level2,SUM(Level3) AS level3,SUM(Level4) AS level4,
  SUM(Level5) AS level5 from v_score_lj_score where 1=1
   <if test="rankTimeBegin != null ">
        <![CDATA[
          AND rankTime >= #{rankTimeBegin,jdbcType=TIMESTAMP}
        ]]>
      </if>
      <if test="rankTimeEnd != null ">
        <![CDATA[
          AND rankTime <= #{rankTimeEnd,jdbcType=TIMESTAMP}
        ]]>
      </if>
</select>
</mapper>