<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinopec.smcc.cpro.main.mapper.MainMapper">
  <resultMap id="MainListResult"
    type="com.sinopec.smcc.cpro.main.entity.MainListResult">
    <id column="pkid" property="id" />
    <result column="fkSystemId" property="fkSystemId" />
    <result column="fkBizSprankDegree" property="fkBizSprankDegree" />
    <result column="fkBizSprankLevel" property="fkBizSprankLevel" />
    <result column="fkBizSprankDegrees" property="fkBizSprankDegrees" />
    <result column="fkBizSprankLevels" property="fkBizSprankLevels" />
    <result column="appIsInternet" property="appIsInternet" />
    <result column="fkSpRanklevel" property="fkSpRanklevel" />
  </resultMap>
  <select id="selectAllByMainParam" parameterType="com.sinopec.smcc.cpro.main.entity.MainParam" resultMap="MainListResult">
    <![CDATA[
      SELECT
        system.pkId AS systemId, 
        system.systemName, 
        system.fkSystemIsMerge,
        company.companyName, 
        company.fkPlateType AS plateType, 
        systemCodeInfoSysTypeConstruction.codeName AS InfoSysTypeConstruction, 
        systemCodeSprankLevel.codeName AS SprankLevel,
        score.fkSpRanklevel AS fkSpRanklevel,
        appIsInternet, 
        gradingStatus, 
        examineStatus, 
        recordStatus, 
        evaluationStatus,
        examinationStatus,
        company.pkId AS companyId,
        company.companyCode,
        gradingAttch.pkId AS gradingPkId,
        checkAttch.pkId AS checkPkId,
        evaluationAttch.pkId AS evaluationPkId,
        selfAttch.pkId AS selfPkId,
        score.createTime AS scoreCreateTime,
        records.recordDate AS recordCreateTime,
        records.recordCode,
        records.acceptCompany
      FROM
        t_cpro_system AS system
      LEFT JOIN t_cpro_company AS company 
        ON system.fkCompanyCode = company.companyCode
      LEFT JOIN t_cpro_system_code AS systemCodeAppIsInternet
        ON system.appIsInternet = systemCodeAppIsInternet.systemCode 
        AND systemCodeAppIsInternet.fkCodeType = 10
      LEFT JOIN t_cpro_system_code AS systemCodeInfoSysTypeConstruction 
        ON system.fkInfoSysTypeCon = systemCodeInfoSysTypeConstruction.systemCode 
        AND systemCodeInfoSysTypeConstruction.fkCodeType = 7
      LEFT JOIN t_cpro_score AS score 
        ON system.pkid = score.fkSystemId
      LEFT JOIN t_cpro_system_code AS systemCodeSprankLevel 
        ON score.fkSprankLevel = systemCodeSprankLevel.systemCode 
        AND systemCodeSprankLevel.fkCodeType = 11
      LEFT JOIN t_cpro_records AS records 
        ON system.pkId = records.fkSystemId
      LEFT JOIN t_cpro_evaluation AS evaluation 
        ON system.pkId = evaluation.fkSystemId
        AND evaluation.createTime = (SELECT  MAX(eval.createTime) FROM t_cpro_evaluation eval 
                                     WHERE eval.fkSystemId = system.pkId  LIMIT 1)
      LEFT JOIN t_cpro_self_inspection AS selfInspection 
        ON system.pkId = selfInspection.fkSystemId
        AND selfInspection.createTime = (SELECT  MAX(inspec.createTime) FROM t_cpro_self_inspection inspec 
                                         WHERE inspec.fkSystemId =  system.pkId LIMIT 1)
      LEFT JOIN t_cpro_check AS examine 
        ON system.pkId = examine.fkSystemId
      LEFT JOIN t_cpro_attach AS gradingAttch 
        ON score.fkSystemId = gradingAttch.fkSystemId
        AND score.pkId = gradingAttch.fkSyssonId
        AND gradingAttch.fkAttachType = 'gradingReport'
      LEFT JOIN t_cpro_attach AS checkAttch 
        ON score.fkSystemId = checkAttch.fkSystemId
        AND score.pkId = checkAttch.fkSyssonId
        AND checkAttch.fkAttachType = 'expertReview'
      LEFT JOIN t_cpro_attach AS evaluationAttch 
        ON evaluation.fkSystemId = evaluationAttch.fkSystemId
        AND evaluation.pkId = evaluationAttch.fkSyssonId
        AND evaluationAttch.fkAttachType = 'evaluationPresentation'
      LEFT JOIN t_cpro_attach AS selfAttch 
        ON selfInspection.fkSystemId = selfAttch.fkSystemId
        AND selfInspection.pkId = selfAttch.fkSyssonId
        AND selfAttch.fkAttachType = 'examinationReport'
      LEFT JOIN t_cpro_system_code AS gradingSystemCode 
        ON system.gradingStatus = gradingSystemCode.systemCode
        AND gradingSystemCode.fkCodeType = 25
      LEFT JOIN t_cpro_system_code AS examineSystemCode 
        ON system.examineStatus = examineSystemCode.systemCode
        AND examineSystemCode.fkCodeType = 25
      LEFT JOIN t_cpro_system_code AS recordSystemCode 
        ON system.recordStatus = recordSystemCode.systemCode
        AND recordSystemCode.fkCodeType = 25
      LEFT JOIN t_cpro_system_code AS evaluationSystemCode 
        ON system.evaluationStatus = evaluationSystemCode.systemCode
        AND evaluationSystemCode.fkCodeType = 25
      LEFT JOIN t_cpro_system_code AS examinationSystemCode 
        ON system.examinationStatus = examinationSystemCode.systemCode
        AND examinationSystemCode.fkCodeType = 25
    ]]>
    <where>
      <if test="companyList != null">
        <![CDATA[
          AND company.companyCode IN  
        ]]>
        <foreach collection="companyList" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>
      </if>
      <if test="plateList != null">
        <![CDATA[
          AND company.fkPlateType IN  
        ]]>
        <foreach collection="plateList" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>
      </if>
      <if test="customFiltering != null and customFiltering != ''">
        <bind name="customFiltering" value="'%' + _parameter.customFiltering + '%'" />
          <![CDATA[
             system.systemName LIKE #{customFiltering,jdbcType=VARCHAR} 
             AND (system.deleteStatus=1 
				     AND system.fkSystemType != 3
				     AND fkSystemIsMerge = 2)
             OR company.companyName LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR company.fkPlateType LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR systemCodeSprankLevel.codeName LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.appIsInternet LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR systemCodeInfoSysTypeConstruction.codeName LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR examine.fkExaminStatus LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.standardizedCode LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.gradeRecordSysName LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.sysBusSituationType LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.sysBusDescription LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.sysServiceSitScope LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.sysServiceSitObject LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.npCoverageRange LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.npNetworkProperties LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.executiveOfficeName LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.executiveDireCon LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.executiveDireConTel LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.changeReason LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.changeContent LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR gradingSystemCode.codeName LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR examineSystemCode.codeName LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR recordSystemCode.codeName LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR evaluationSystemCode.codeName LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR examinationSystemCode.codeName LIKE #{customFiltering,jdbcType=VARCHAR}  
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR systemCodeAppIsInternet.codeName LIKE #{customFiltering,jdbcType=VARCHAR} 
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
          ]]>
      </if>
      AND system.deleteStatus=1 
      AND system.fkSystemType != 3
      AND company.deleteStatus=1
      <if test="customizedSearch != null ">
        <![CDATA[
          AND records.recordDate >= #{customizedSearch,jdbcType=DATE}
        ]]>
      </if>
      <!-- 受理备案单位 -->
      <if test="acceptCompany != null and acceptCompany != ''">
        <bind name="acceptCompany" value="'%' + _parameter.acceptCompany + '%'" />
        <![CDATA[
          AND records.acceptCompany LIKE #{acceptCompany,jdbcType=CHAR}
        ]]>
      </if>
      <if test="examOrg != null and examOrg != ''">
        <bind name="examOrg" value="'%' + _parameter.examOrg + '%'" />
        <![CDATA[
          AND evaluation.examOrg LIKE #{examOrg,jdbcType=CHAR}
        ]]>
      </if>
      <if test="auditTimeBegin != null ">
        <![CDATA[
          AND examine.executeTime >= #{auditTimeBegin,jdbcType=DATE}
        ]]>
      </if>
      <if test="auditTimeEnd != null ">
        <![CDATA[
          AND examine.executeTime <= #{auditTimeEnd,jdbcType=DATE}
        ]]>
      </if>
      <if test="recordDateBegin != null ">
        <![CDATA[
          AND records.recordDate >= #{recordDateBegin,jdbcType=DATE}
        ]]>
      </if>
      <if test="recordDateEnd != null ">
        <![CDATA[
          AND records.recordDate <= #{recordDateEnd,jdbcType=DATE}
        ]]>
      </if>
      <if test="examTimeBegin != null ">
        <![CDATA[
          AND evaluation.examTime >= #{examTimeBegin,jdbcType=DATE}
        ]]>
      </if>
      <if test="examTimeEnd != null ">
        <![CDATA[
          AND evaluation.examTime <= #{examTimeEnd,jdbcType=DATE}
        ]]>
      </if>
      <if test="rankTimeBegin != null ">
        <![CDATA[
          AND score.rankTime >= #{rankTimeBegin,jdbcType=DATE}
        ]]>
      </if>
      <if test="rankTimeEnd != null ">
        <![CDATA[
          AND score.rankTime <= #{rankTimeEnd,jdbcType=DATE}
        ]]>
      </if>
      <if test="inspectionDateBegin != null ">
        <![CDATA[
          AND selfInspection.inspectionDate >= #{inspectionDateBegin,jdbcType=DATE}
        ]]>
      </if>
      <if test="inspectionDateEnd != null ">
        <![CDATA[
          AND selfInspection.inspectionDate <= #{inspectionDateEnd,jdbcType=DATE}
        ]]>
      </if>
      <if test="fkCompanyCode != null and fkCompanyCode != ''">
        <![CDATA[
          AND system.fkCompanyCode = #{fkCompanyCode,jdbcType=CHAR}
        ]]>
      </if>
      <if test="systemId != null and systemId != ''">
        <![CDATA[
          AND system.pkId = #{systemId,jdbcType=CHAR}
        ]]>
      </if>
      <!-- 定级状态 -->
      <if test="systemCodeType != null and systemCodeType == '23'">
        <![CDATA[
          AND system.gradingStatus = #{gradingStatus,jdbcType=VARCHAR}
        ]]>
      </if>
      <!-- 审核状态  待审核-->
	    <if test="fkExaminStatus != null and fkExaminStatus == 1">
	        <![CDATA[
	          AND (examine.fkExaminStatus = 1 
	          OR  examine.fkExaminStatus = 2 )
	        ]]>
	    </if>
	    <!-- 审核状态 已审核-->
      <if test="fkExaminStatus != null and fkExaminStatus == 2">
          <![CDATA[
            AND examine.fkExaminStatus = 5
          ]]>
      </if>
      <!-- 审核状态 审核未通过-->
      <if test="fkExaminStatus != null and fkExaminStatus == 3">
          <![CDATA[
             AND (examine.fkExaminStatus = 3 
            OR  examine.fkExaminStatus = 4 )
          ]]>
      </if>
      <!-- 备案状态 -->
      <if test="systemCodeType != null and systemCodeType == '25'">
        <![CDATA[
          AND system.recordStatus = #{recordStatus,jdbcType=VARCHAR}
        ]]>
      </if>
      <!-- 测评状态 -->
      <if test="systemCodeType != null and systemCodeType == '26'">
        <![CDATA[
          AND system.evaluationStatus = #{evaluationStatus,jdbcType=VARCHAR}
        ]]>
      </if>
      <!-- 自查状态 -->
      <if test="systemCodeType != null and systemCodeType == '27'">
        <![CDATA[
          AND system.examinationStatus = #{examinationStatus,jdbcType=VARCHAR}
        ]]>
      </if>
      <if test="systemName != null and systemName != ''">
        <bind name="systemName" value="'%' + _parameter.systemName + '%'" />
        <![CDATA[
          AND system.systemName LIKE #{systemName,jdbcType=VARCHAR}
        ]]>
      </if>
      <if test="plateType != null and plateType != ''">
          <![CDATA[
            AND company.fkPlateType = #{plateType,jdbcType=VARCHAR}
          ]]>
      </if>
      <if test="sprankLevelArray != null and sprankLevelArray.length > 0">
        <![CDATA[
          AND score.fkSprankLevel IN  
        ]]>
        <foreach collection="sprankLevelArray" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>
      </if>
      <if test="subordinateProvincesArray != null and subordinateProvincesArray.length > 0">
          <![CDATA[
          AND company.fkSubordinatePro IN  
        ]]>
        <foreach collection="subordinateProvincesArray" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>
      </if>
      <!-- 等级 -->
      <if test="sprankLevel != null and sprankLevel != ''">
      	<![CDATA[
          AND score.fkSprankLevel = #{sprankLevel,jdbcType=VARCHAR}  
        ]]>
      </if>
      <!-- 定级系统或标准化网站系统 -->
      <choose>
      	<when test="systemType == 1">
      		<![CDATA[
      			AND system.fkSystemType < 3
      		]]>
      	</when>
      	<when test="systemType == 2">
      		<![CDATA[
      			AND system.fkSystemType = 3
      		]]>
      	</when>
      	<otherwise>
      		<![CDATA[
      			AND system.fkSystemType != 3
      		]]>
      	</otherwise>
      </choose>
      <!-- 图表类型 -->
      <if test="gradingShapeType != null ">
	      <if test="gradingShapeType == 1 ">
	        <![CDATA[
	          AND system.recordStatus = 3
	        ]]>
	      </if>
        <if test="gradingShapeType == 2 ">
          <![CDATA[
            AND system.evaluationStatus = 1
          ]]>
        </if>
        <if test="gradingShapeType == 3 ">
          <![CDATA[
            AND system.evaluationStatus = 2
          ]]>
        </if>
        <if test="gradingShapeType == 4 ">
          <![CDATA[
            AND system.examinationStatus = 1
          ]]>
        </if>
        <if test="gradingShapeType == 5 ">
          <![CDATA[
            AND system.examinationStatus = 2
          ]]>
        </if>
        <if test="gradingShapeType == 6 ">
          <![CDATA[
            AND system.fkInfoSysTypeCon = 1
          ]]>
        </if>
        <if test="gradingShapeType == 7 ">
          <![CDATA[
            AND system.fkInfoSysTypeCon = 2
          ]]>
        </if>
      </if>
      <!-- 定级时间 -->
      <if test="gradingBeginTime != null ">
        <![CDATA[
         AND score.rankTime >= #{gradingBeginTime}
        ]]>
      </if>
      <if test="gradingEndTime != null ">
        <![CDATA[
          AND score.rankTime <= #{gradingEndTime}
        ]]>
      </if>
    </where>
  </select>
  <update id="updateMainDeleteStatusBySystemId" parameterType="com.sinopec.smcc.cpro.main.entity.MainParam">
    UPDATE 
      t_cpro_system AS system
    LEFT JOIN t_cpro_score AS score
      ON system.pkid = score.fkSystemId
    LEFT JOIN t_cpro_check AS cproCheck
      ON system.pkid = cproCheck.fkSystemId
    LEFT JOIN t_cpro_records AS records
      ON system.pkid = records.fkSystemId
    SET system.deleteStatus = 2,
      cproCheck.deleteStatus = 2,
      records.deleteStatus = 2,
      score.deleteStatus = 2
    <where>
      <if test="systemId != null and systemId != ''">
          <![CDATA[
             system.pkId = #{systemId}
          ]]>
      </if>
    </where>
  </update>
  
    <select id="selectSystemName" parameterType="com.sinopec.smcc.cpro.main.entity.MainParam" resultMap="MainListResult">
    SELECT
      system.systemName,
      system.pkId AS systemId
    FROM 
      t_cpro_system AS system
    LEFT JOIN t_cpro_company AS company 
        ON system.fkCompanyCode = company.companyCode
    WHERE system.deleteStatus=1 and system.fkSystemType != 3 and company.deleteStatus=1
    
    <if test="companyList != null">
      <![CDATA[
        AND company.companyCode IN  
      ]]>
      <foreach collection="companyList" item="item" index="index" open="(" separator="," close=")">
        <![CDATA[
          #{item}
        ]]>
      </foreach>
    </if>
    <if test="plateList != null">
      <![CDATA[
        AND company.fkPlateType IN  
      ]]>
      <foreach collection="plateList" item="item" index="index" open="(" separator="," close=")">
        <![CDATA[
          #{item}
        ]]>
      </foreach>
    </if>
  </select>
  <update id="updateApplicationChangeBySystemId" parameterType="com.sinopec.smcc.cpro.main.entity.MainParam">
    UPDATE 
      t_cpro_system 
    SET 
      fkChangeMatter = #{fkChangeMatter},
      changeReason = #{changeReason},
      changeContent = #{changeContent}
    <where>
      <if test="systemId != null and systemId != ''">
          <![CDATA[
             pkId = #{systemId}
          ]]>
      </if>
    </where>
  </update>
  <update id="updateSystemStatusBySystemId" parameterType="com.sinopec.smcc.cpro.main.entity.MainParam">
    <![CDATA[
      UPDATE t_cpro_system AS system
    ]]>
    <set>
      <if test="gradingStatus != null">
        <![CDATA[
         system.gradingStatus = #{gradingStatus},
        ]]>
      </if>
     <if test="examineStatus != null">
        <![CDATA[
         system.examineStatus = #{examineStatus},
        ]]>
      </if>
      <if test="recordStatus != null">
        <![CDATA[
         system.recordStatus = #{recordStatus},
        ]]>
      </if>
      <if test="evaluationStatus != null">
        <![CDATA[
         system.evaluationStatus = #{evaluationStatus},
        ]]>
      </if>
      <if test="examinationStatus != null">
        <![CDATA[
         system.examinationStatus = #{examinationStatus},
        ]]>
      </if>
    </set>
    <where>
      <![CDATA[
         pkId = #{systemId}
      ]]>
    </where>
  </update>
  <select id="selectGradingStatistics" parameterType="com.sinopec.smcc.cpro.main.entity.MainParam" resultMap="MainListResult">
    SELECT
      count(score.fkSpRanklevel) AS spRanklevelCount,
      code.codeName AS spRanklevelName
    FROM
      t_cpro_score AS score
    LEFT JOIN t_cpro_system_code AS code 
      ON score.fkSpRanklevel = code.systemCode
      AND code.fkCodeType = 11
      AND code.systemFatherCode = 3
    LEFT JOIN t_cpro_system system
      ON score.fkSystemId = system.pkId
    LEFT JOIN t_cpro_company com 
      ON com.companyCode = system.fkCompanyCode
    <where>
      score.deleteStatus =1
      AND system.deleteStatus =1
      AND com.deleteStatus =1
      <if test="companyList != null">
        <![CDATA[
          AND com.companyCode IN  
        ]]>
        <foreach collection="companyList" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>
      </if>
      <if test="plateList != null">
        <![CDATA[
          AND com.fkPlateType IN  
        ]]>
        <foreach collection="plateList" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>
      </if>
      <if test="systemType != null and systemType == 1">
        <![CDATA[
           AND system.fkSystemType < 3
        ]]>
      </if>
      <if test="systemType != null and systemType == 2">
        <![CDATA[
           AND system.fkSystemType = 3
        ]]>
      </if>
      <if test="gradingBeginTime != null ">
        <![CDATA[
         AND score.rankTime >= #{gradingBeginTime}
        ]]>
      </if>
      <if test="gradingEndTime != null ">
        <![CDATA[
          AND score.rankTime <= #{gradingEndTime}
        ]]>
      </if>
      <if test="gradingShapeType != null ">
	      <if test="gradingShapeType == 1 ">
	        <![CDATA[
	          AND system.recordStatus = 3
	        ]]>
	      </if>
        <if test="gradingShapeType == 2 ">
          <![CDATA[
            AND system.evaluationStatus = 1
          ]]>
        </if>
        <if test="gradingShapeType == 3 ">
          <![CDATA[
            AND system.evaluationStatus = 2
          ]]>
        </if>
        <if test="gradingShapeType == 4 ">
          <![CDATA[
            AND system.examinationStatus = 1
          ]]>
        </if>
        <if test="gradingShapeType == 5 ">
          <![CDATA[
            AND system.examinationStatus = 2
          ]]>
        </if>
        <if test="gradingShapeType == 6 ">
          <![CDATA[
            AND system.fkInfoSysTypeCon = 1
          ]]>
        </if>
        <if test="gradingShapeType == 7 ">
          <![CDATA[
            AND system.fkInfoSysTypeCon = 2
          ]]>
        </if>
      </if>
    </where>
      GROUP BY
       score.fkSpRanklevel
  </select>
  <select id="selectRecordsCompanyNum" parameterType="com.sinopec.smcc.cpro.main.entity.MainParam" resultMap="MainListResult">
      SELECT
        SUM(IF (sce.fkSpRanklevel = 301, 1, 0)) AS Level1,
        SUM(IF (sce.fkSpRanklevel = 302, 1, 0)) AS Level2,
        SUM(IF (sce.fkSpRanklevel = 303, 1, 0)) AS Level3,
        SUM(IF (sce.fkSpRanklevel = 304, 1, 0)) AS Level4,
        SUM(IF (sce.fkSpRanklevel = 305, 1, 0)) AS Level5,
        SUM(IF (sce.fkSpRanklevel = 305, 1, 1)) AS Level,
        rec.recordCompany
      FROM
        t_cpro_system sys
      LEFT JOIN t_cpro_score sce ON sce.fkSystemId = sys.pkId
      LEFT JOIN t_cpro_records rec ON rec.fkSystemId = sys.pkId
      
    <where>
      sys.deleteStatus = 1
      AND sce.deleteStatus = 1
      AND rec.deleteStatus = 1
      <if test="recordsBeginTime != null ">
        <![CDATA[
         AND rec.recordDate >= #{recordsBeginTime,jdbcType=DATE}
        ]]>
      </if>
      <if test="recordsEndTime != null ">
        <![CDATA[
          AND rec.recordDate <= #{recordsEndTime,jdbcType=DATE}
        ]]>
      </if>
    </where>
    GROUP BY
      rec.recordCompany
	  ORDER BY
	    ORDER BY Level desc
	  LIMIT 0,10
  </select>
  
</mapper>