<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinopec.smcc.cpro.main.mapper.MainMapper">
  <resultMap id="MainListResult"
    type="com.sinopec.smcc.cpro.main.entity.MainListResult">
    <id column="pkid" property="id" />
    <result column="fkSystemId" property="fkSystemId" />
    <result column="fkBizSprankDegree" property="fkBizSprankDegree" />
    <result column="fkBizSprankLevel" property="fkBizSprankLevel" />
    <result column="fkBizSprankDegrees" property="fkBizSprankDegrees" />
    <result column="fkBizSprankLevels" property="fkBizSprankLevels" />
    <result column="appIsInternet" property="appIsInternet" />
    <result column="fkSpRanklevel" property="fkSpRanklevel" />
  </resultMap>
  <select id="selectAllByMainParam" parameterType="com.sinopec.smcc.cpro.main.entity.MainParam" resultMap="MainListResult">
    <![CDATA[
      SELECT
        system.pkId AS systemId, 
        system.systemName, 
        system.fkSystemIsMerge,
        system.fkChangeMatter,
        system.changeReason,
        system.changeContent,
        company.companyName, 
        company.fkPlateType AS plateType, 
        systemCodeInfoSysTypeConstruction.codeName AS InfoSysTypeConstruction, 
        systemCodeSprankLevel.codeName AS SprankLevel,
        score.fkSpRanklevel AS fkSpRanklevel,
        system.appIsInternet, 
        system.gradingStatus, 
        system.examineStatus, 
        system.recordStatus, 
        system.evaluationStatus,
        system.examinationStatus,
        company.pkId AS companyId,
        company.companyCode,
        gradingAttch.pkId AS gradingPkId,
        checkAttch.pkId AS checkPkId,
        evaluationAttch.pkId AS evaluationPkId,
        selfAttch.pkId AS selfPkId,
        score.createTime AS scoreCreateTime,
        records.recordDate AS recordCreateTime,
        records.recordCode,
        IF(system.recordStatus=4,1,2)AS rcordSort,
        records.acceptCompany,
        system1.systemName AS sonSystemName
      FROM
        t_cpro_system AS system
      LEFT JOIN t_cpro_system AS system1 
        ON system.pkId = system1.fkFatherSystemId 
        AND system1.fkSystemType = 3
        AND system1.deleteStatus = 1
      LEFT JOIN t_cpro_company AS company 
        ON system.fkCompanyCode = company.companyCode
      LEFT JOIN t_cpro_system_code AS systemCodeAppIsInternet
        ON system.appIsInternet = systemCodeAppIsInternet.systemCode 
        AND systemCodeAppIsInternet.fkCodeType = 10
      LEFT JOIN t_cpro_system_code AS systemCodeInfoSysTypeConstruction 
        ON system.fkInfoSysTypeCon = systemCodeInfoSysTypeConstruction.systemCode 
        AND systemCodeInfoSysTypeConstruction.fkCodeType = 7
      LEFT JOIN t_cpro_score AS score 
        ON system.pkid = score.fkSystemId AND score.deleteStatus=1
      LEFT JOIN t_cpro_system_code AS systemCodeSprankLevel 
        ON score.fkSprankLevel = systemCodeSprankLevel.systemCode 
        AND systemCodeSprankLevel.fkCodeType = 11
      LEFT JOIN t_cpro_records AS records 
        ON system.pkId = records.fkSystemId
      LEFT JOIN t_cpro_evaluation AS evaluation 
        ON system.pkId = evaluation.fkSystemId
        AND evaluation.deleteStatus = 1
        AND evaluation.createTime = (SELECT  MAX(eval.createTime) FROM t_cpro_evaluation eval 
                                     WHERE eval.fkSystemId = system.pkId AND eval.deleteStatus = 1 LIMIT 1)
      LEFT JOIN t_cpro_self_inspection AS selfInspection 
        ON system.pkId = selfInspection.fkSystemId
        AND selfInspection.deleteStatus = 1
        AND selfInspection.createTime = (SELECT  MAX(inspec.createTime) FROM t_cpro_self_inspection inspec 
                                         WHERE inspec.fkSystemId =  system.pkId AND inspec.deleteStatus = 1 LIMIT 1)
      LEFT JOIN t_cpro_check AS examine 
        ON system.pkId = examine.fkSystemId
      LEFT JOIN t_cpro_attach AS gradingAttch 
        ON score.fkSystemId = gradingAttch.fkSystemId
        AND score.pkId = gradingAttch.fkSyssonId
        AND gradingAttch.fkAttachType = 'gradingReport'
      LEFT JOIN t_cpro_attach AS checkAttch 
        ON score.fkSystemId = checkAttch.fkSystemId
        AND score.pkId = checkAttch.fkSyssonId
        AND checkAttch.fkAttachType = 'expertReview'
      LEFT JOIN t_cpro_attach AS evaluationAttch 
        ON evaluation.fkSystemId = evaluationAttch.fkSystemId
        AND evaluation.pkId = evaluationAttch.fkSyssonId
        AND evaluationAttch.fkAttachType = 'evaluationPresentation'
      LEFT JOIN t_cpro_attach AS selfAttch 
        ON selfInspection.fkSystemId = selfAttch.fkSystemId
        AND selfInspection.pkId = selfAttch.fkSyssonId
        AND selfAttch.fkAttachType = 'examinationReport'
      LEFT JOIN t_cpro_system_code AS gradingSystemCode 
        ON system.gradingStatus = gradingSystemCode.systemCode
        AND gradingSystemCode.fkCodeType = 25
      LEFT JOIN t_cpro_system_code AS examineSystemCode 
        ON system.examineStatus = examineSystemCode.systemCode
        AND examineSystemCode.fkCodeType = 25
      LEFT JOIN t_cpro_system_code AS recordSystemCode 
        ON system.recordStatus = recordSystemCode.systemCode
        AND recordSystemCode.fkCodeType = 25
      LEFT JOIN t_cpro_system_code AS evaluationSystemCode 
        ON system.evaluationStatus = evaluationSystemCode.systemCode
        AND evaluationSystemCode.fkCodeType = 25
      LEFT JOIN t_cpro_system_code AS examinationSystemCode 
        ON system.examinationStatus = examinationSystemCode.systemCode
        AND examinationSystemCode.fkCodeType = 25
      LEFT JOIN t_cpro_node node ON system.pkId = node.fkSystemId
        AND node.operation = '创建' AND node.operationResult = '已提交'
    ]]>
    <where>
      <if test="companyList != null">
        <![CDATA[
          AND company.companyCode IN  
        ]]>
        <foreach collection="companyList" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>
      </if>
      <if test="plateList != null">
        <![CDATA[
          AND company.fkPlateType IN  
        ]]>
        <foreach collection="plateList" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>
      </if>
      <if test="appIsInternet != null">
      	<![CDATA[
          AND system.appIsInternet = #{appIsInternet}
        ]]>
      </if>
      <if test="customFiltering != null and customFiltering != ''">
        <bind name="customFiltering" value="'%' + _parameter.customFiltering + '%'" />
          <![CDATA[
             system.systemName LIKE #{customFiltering,jdbcType=VARCHAR} 
             AND (system.deleteStatus=1 
				     AND system.fkSystemType != 3
				     AND fkSystemIsMerge = 2)
             OR company.companyName LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR company.fkPlateType LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR systemCodeSprankLevel.codeName LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.appIsInternet LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR systemCodeInfoSysTypeConstruction.codeName LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR examine.fkExaminStatus LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.standardizedCode LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.gradeRecordSysName LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.sysBusSituationType LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.sysBusDescription LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.sysServiceSitScope LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.sysServiceSitObject LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.npCoverageRange LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.npNetworkProperties LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.executiveOfficeName LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.executiveDireCon LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.executiveDireConTel LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.changeReason LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.changeContent LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR gradingSystemCode.codeName LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR examineSystemCode.codeName LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR recordSystemCode.codeName LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR evaluationSystemCode.codeName LIKE #{customFiltering,jdbcType=VARCHAR}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR examinationSystemCode.codeName LIKE #{customFiltering,jdbcType=VARCHAR}  
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR systemCodeAppIsInternet.codeName LIKE #{customFiltering,jdbcType=VARCHAR} 
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
          ]]>
      </if>
      AND system.deleteStatus=1 
      AND system.fkSystemType != 3
      AND company.deleteStatus=1
      <if test="customizedSearch != null ">
        <![CDATA[
          AND records.recordDate >= #{customizedSearch,jdbcType=DATE}
        ]]>
      </if>
      <!-- 所属单位 -->
      <if test="companyName != null and companyName != ''">
        <bind name="companyName" value="'%' + _parameter.companyName + '%'" />
        <![CDATA[
          AND company.companyName LIKE #{companyName,jdbcType=CHAR}
        ]]>
      </if>      
      <!-- 受理备案单位 -->
      <if test="acceptCompany != null and acceptCompany != ''">
        <bind name="acceptCompany" value="'%' + _parameter.acceptCompany + '%'" />
        <![CDATA[
          AND records.acceptCompany LIKE #{acceptCompany,jdbcType=CHAR}
        ]]>
      </if>
      <if test="examOrg != null and examOrg != ''">
        <bind name="examOrg" value="'%' + _parameter.examOrg + '%'" />
        <![CDATA[
          AND evaluation.examOrg LIKE #{examOrg,jdbcType=CHAR}
        ]]>
      </if>
      <if test="auditTimeBegin != null ">
        <![CDATA[
          AND node.createTime >= #{auditTimeBegin,jdbcType=DATE}
        ]]>
      </if>
      <if test="auditTimeEnd != null ">
        <![CDATA[
          AND node.createTime <= #{auditTimeEnd,jdbcType=DATE}
        ]]>
      </if>
      <if test="recordDateBegin != null ">
        <![CDATA[
          AND records.recordDate >= #{recordDateBegin,jdbcType=DATE}
        ]]>
      </if>
      <if test="recordDateEnd != null ">
        <![CDATA[
          AND records.recordDate <= #{recordDateEnd,jdbcType=DATE}
        ]]>
      </if>
      <if test="examTimeBegin != null ">
        <![CDATA[
          AND evaluation.examTime >= #{examTimeBegin,jdbcType=DATE}
        ]]>
      </if>
      <if test="examTimeEnd != null ">
        <![CDATA[
          AND evaluation.examTime <= #{examTimeEnd,jdbcType=DATE}
        ]]>
      </if>
      <if test="rankTimeBegin != null ">
        <![CDATA[
          AND score.rankTime >= #{rankTimeBegin,jdbcType=DATE}
        ]]>
      </if>
      <if test="rankTimeEnd != null ">
        <![CDATA[
          AND score.rankTime <= #{rankTimeEnd,jdbcType=DATE}
        ]]>
      </if>
      <if test="inspectionDateBegin != null ">
        <![CDATA[
          AND selfInspection.inspectionDate >= #{inspectionDateBegin,jdbcType=DATE}
        ]]>
      </if>
      <if test="inspectionDateEnd != null ">
        <![CDATA[
          AND selfInspection.inspectionDate <= #{inspectionDateEnd,jdbcType=DATE}
        ]]>
      </if>
      <if test="fkCompanyCode != null and fkCompanyCode != ''">
        <![CDATA[
          AND system.fkCompanyCode = #{fkCompanyCode,jdbcType=CHAR}
        ]]>
      </if>
      <if test="systemId != null and systemId != ''">
        <![CDATA[
          AND system.pkId = #{systemId,jdbcType=CHAR}
        ]]>
      </if>
      <!-- 定级状态 -->
      <if test="systemCodeType != null and systemCodeType == '23'">
        <![CDATA[
          AND system.gradingStatus = #{gradingStatus,jdbcType=VARCHAR}
        ]]>
      </if>
      <!-- 审核状态  待审核-->
	    <if test="fkExaminStatus != null and fkExaminStatus == 1">
	        <![CDATA[
	          AND examine.fkExaminStatus = 1 
	        ]]>
	    </if>
	    <if test="fkExaminStatus != null and fkExaminStatus == 2">
	        <![CDATA[
	          AND examine.fkExaminStatus = 2 
	        ]]>
	    </if>
	    <!-- 审核状态 已审核-->
      <if test="fkExaminStatus != null and fkExaminStatus == 5">
          <![CDATA[
            AND examine.fkExaminStatus = 5
          ]]>
      </if>
      <!-- 审核状态 审核未通过-->
      <if test="fkExaminStatus != null and fkExaminStatus == 3">
          <![CDATA[
             AND examine.fkExaminStatus = 3 
          ]]>
      </if>
      <if test="fkExaminStatus != null and fkExaminStatus == 4">
          <![CDATA[
             AND examine.fkExaminStatus = 4 
          ]]>
      </if>
      <!-- 备案状态 -->
      <if test="systemCodeType != null and systemCodeType == '25'">
        <![CDATA[
          AND system.recordStatus = #{recordStatus,jdbcType=VARCHAR}
        ]]>
      </if>
      <!-- 测评状态 -->
      <if test="systemCodeType != null and systemCodeType == '26'">
        <![CDATA[
          AND system.evaluationStatus = #{evaluationStatus,jdbcType=VARCHAR}
        ]]>
      </if>
      <!-- 自查状态 -->
      <if test="systemCodeType != null and systemCodeType == '27'">
        <![CDATA[
          AND system.examinationStatus = #{examinationStatus,jdbcType=VARCHAR}
        ]]>
      </if>
      <if test="systemName != null and systemName != ''">
        <bind name="systemName" value="'%' + _parameter.systemName + '%'" />
        <![CDATA[
          AND system.systemName LIKE #{systemName,jdbcType=VARCHAR}
        ]]>
      </if>
      <if test="plateType != null and plateType != ''">
          <![CDATA[
            AND company.fkPlateType = #{plateType,jdbcType=VARCHAR}
          ]]>
      </if>
      <if test="sprankLevelArray != null and sprankLevelArray.length > 0">
        <![CDATA[
          AND score.fkSprankLevel IN  
        ]]>
        <foreach collection="sprankLevelArray" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>
      </if>
      <if test="plTypeArray != null and plTypeArray.length > 0">
         <![CDATA[
           AND company.fkPlateType IN  
         ]]>
         <foreach collection="plTypeArray" item="item" index="index" open="(" separator="," close=")">
           <![CDATA[
             #{item}
           ]]>
         </foreach>
       </if>
        
      <if test="subordinateProvincesArray != null and subordinateProvincesArray.length > 0">
          <![CDATA[
          AND company.fkSubordinatePro IN  
        ]]>
        <foreach collection="subordinateProvincesArray" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>
      </if>
           
      <if test="gradingStatus1 !=null and gradingStatusType == '23'">
<!-- 				<foreach collection="gradingStatus1" item="item" open="AND (" close=")" index="index" separator=",">
					 system.gradingStatus = #{item}
				</foreach> -->
          <![CDATA[
          AND system.gradingStatus IN  
        ]]>
        <foreach collection="gradingStatus1" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>								
      </if>
      
      <if test="fkExaminStatus1 !=null and fkExaminStatusType == '24'">
          <![CDATA[
          AND system.examineStatus IN  
        ]]>
        <foreach collection="fkExaminStatus1" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>								
      </if> 
      
      <if test="recordStatus1 !=null and recordStatusType == '25'">
          <![CDATA[
          AND system.recordStatus IN  
        ]]>
        <foreach collection="recordStatus1" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>								
      </if>  
      
      <if test="evaluationStatus1 !=null and evaluationStatusType == '26'">
          <![CDATA[
          AND system.evaluationStatus IN  
        ]]>
        <foreach collection="evaluationStatus1" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>								
      </if>
      
      <if test="examinationStatus1 !=null and examinationStatusType == '27'">
          <![CDATA[
          AND system.examinationStatus IN  
        ]]>
        <foreach collection="examinationStatus1" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>								
      </if> 
      
      <if test="examinStatus1 !=null and examinStatusType == '28'">
          <![CDATA[
          AND system.examineStatus IN  
        ]]>
        <foreach collection="examinStatus1" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>								
      </if>                          
      
      <!-- 等级 -->
      <if test="sprankLevel != null and sprankLevel != ''">
      	<![CDATA[
          AND score.fkSprankLevel = #{sprankLevel,jdbcType=VARCHAR}  
        ]]>
      </if>
      <!-- 定级系统或标准化网站系统 -->
      <choose>
      	<when test="systemType == 1">
      		<![CDATA[
      			AND system.gradingStatus = 3
      			AND system.fkSystemType < 3
						AND (
							(
								system1.pkId IS NULL
								OR system1.fkFatherSystemId = ''
							)
							OR (
								system1.pkId IS NOT NULL
								AND system1.fkFatherSystemId != ''
								AND system1.pkId IN (
									SELECT
										MAX(system2.pkId)
									FROM
										t_cpro_system system2
									WHERE
										system.pkId = system2.fkFatherSystemId
									AND system2.fkSystemType = 3
									AND system2.deleteStatus = 1
								)
							)
						)
      		]]>
      	</when>
      	<when test="systemType == 2">
      		<![CDATA[
      			AND system.gradingStatus = 3
      			AND system1.fkSystemType = 3
      			AND system1.pkId IS NOT NULL 
      			AND system1.fkFatherSystemId != ''
      		]]>
      	</when>
      	<otherwise>
      		<![CDATA[
      			AND system.fkSystemType != 3
						AND (
							(
								system1.pkId IS NULL
								OR system1.fkFatherSystemId = ''
							)
							OR (
								system1.pkId IS NOT NULL
								AND system1.fkFatherSystemId != ''
								AND system1.pkId IN (
									SELECT
										MAX(system2.pkId)
									FROM
										t_cpro_system system2
									WHERE
										system.pkId = system2.fkFatherSystemId
									AND system2.fkSystemType = 3
									AND system2.deleteStatus = 1
								)
							)
						)
      		]]>
      	</otherwise>
      </choose>
      <!-- 图表类型 -->
      <if test="gradingShapeType != null ">
	      <if test="gradingShapeType == 1 ">
	        <![CDATA[
	          AND system.recordStatus = 3
	        ]]>
	      </if>
        <if test="gradingShapeType == 2 ">
          <![CDATA[
            AND system.evaluationStatus = 1
          ]]>
        </if>
        <if test="gradingShapeType == 3 ">
          <![CDATA[
            AND system.evaluationStatus = 3
          ]]>
        </if>
        <if test="gradingShapeType == 4 ">
          <![CDATA[
            AND system.examinationStatus = 1
          ]]>
        </if>
        <if test="gradingShapeType == 5 ">
          <![CDATA[
            AND system.examinationStatus = 3
          ]]>
        </if>
        <if test="jurBind=='总部'">
          <if test="gradingShapeType == 6 ">
            <![CDATA[
              AND system.fkInfoSysTypeCon = 1
            ]]>
          </if>
          <if test="gradingShapeType == 7 ">
            <![CDATA[
              AND system.fkInfoSysTypeCon IN (2,3)
            ]]>
          </if>
        </if>
        <if test="jurBind=='企业'">
          <if test="gradingShapeType == 6 ">
            <![CDATA[
              AND system.fkInfoSysTypeCon = 1
            ]]>
          </if>
          <if test="gradingShapeType == 7 ">
            <![CDATA[
              AND system.fkInfoSysTypeCon = 2
            ]]>
          </if>
        </if>
      </if>
      <!-- 定级时间 -->
      <if test="gradingBeginTime != null ">
        <![CDATA[
          AND score.rankTime >= #{gradingBeginTime}
        ]]>
      </if>
      <if test="gradingEndTime != null ">
        <![CDATA[
          AND score.rankTime <= #{gradingEndTime}
					AND score.deleteStatus =1
					AND system.deleteStatus =1
					AND system.recordStatus !=4
					AND company.deleteStatus =1
        ]]>
      </if>
    </where>
     <![CDATA[
       ORDER BY rcordSort DESC,system.createTime DESC
    ]]>
  </select>
  <update id="updateMainDeleteStatusBySystemId" parameterType="com.sinopec.smcc.cpro.main.entity.MainParam">
    UPDATE 
      t_cpro_system AS system
    LEFT JOIN t_cpro_score AS score
      ON system.pkid = score.fkSystemId
    LEFT JOIN t_cpro_check AS cproCheck
      ON system.pkid = cproCheck.fkSystemId
    LEFT JOIN t_cpro_records AS records
      ON system.pkid = records.fkSystemId
    SET system.deleteStatus = 2,
      cproCheck.deleteStatus = 2,
      records.deleteStatus = 2,
      score.deleteStatus = 2
    <where>
      <if test="systemId != null and systemId != ''">
          <![CDATA[
             system.pkId = #{systemId}
          ]]>
      </if>
    </where>
  </update>
  
    <select id="selectSystemName" parameterType="com.sinopec.smcc.cpro.main.entity.MainParam" resultMap="MainListResult">
    SELECT
      system.systemName,
      system.pkId AS systemId
    FROM 
      t_cpro_system AS system
    LEFT JOIN t_cpro_company AS company 
        ON system.fkCompanyCode = company.companyCode
    WHERE system.deleteStatus=1 and system.fkSystemType != 3 and company.deleteStatus=1
    
    <if test="companyList != null">
      <![CDATA[
        AND company.companyCode IN  
      ]]>
      <foreach collection="companyList" item="item" index="index" open="(" separator="," close=")">
        <![CDATA[
          #{item}
        ]]>
      </foreach>
    </if>
    <if test="plateList != null">
      <![CDATA[
        AND company.fkPlateType IN  
      ]]>
      <foreach collection="plateList" item="item" index="index" open="(" separator="," close=")">
        <![CDATA[
          #{item}
        ]]>
      </foreach>
    </if>
  </select>
  <update id="updateApplicationChangeBySystemId" parameterType="com.sinopec.smcc.cpro.main.entity.MainParam">
    UPDATE 
      t_cpro_system 
    SET 
      fkChangeMatter = #{fkChangeMatter},
      changeReason = #{changeReason},
      changeContent = #{changeContent}
    <where>
      <if test="systemId != null and systemId != ''">
          <![CDATA[
             pkId = #{systemId}
          ]]>
      </if>
    </where>
  </update>
  <update id="updateSystemStatusBySystemId" parameterType="com.sinopec.smcc.cpro.main.entity.MainParam">
    <![CDATA[
      UPDATE t_cpro_system AS system
    ]]>
    <set>
      <if test="gradingStatus != null">
        <![CDATA[
         system.gradingStatus = #{gradingStatus},
        ]]>
      </if>
     <if test="examineStatus != null">
        <![CDATA[
         system.examineStatus = #{examineStatus},
        ]]>
      </if>
      <if test="recordStatus != null">
        <![CDATA[
         system.recordStatus = #{recordStatus},
        ]]>
      </if>
      <if test="evaluationStatus != null">
        <![CDATA[
         system.evaluationStatus = #{evaluationStatus},
        ]]>
      </if>
      <if test="examinationStatus != null">
        <![CDATA[
         system.examinationStatus = #{examinationStatus},
        ]]>
      </if>
    </set>
    <where>
      <![CDATA[
         pkId = #{systemId}
      ]]>
    </where>
  </update>
  <select id="selectGradingStatistics" parameterType="com.sinopec.smcc.cpro.main.entity.MainParam" resultMap="MainListResult">
    SELECT
      count(score.fkSpRanklevel) AS spRanklevelCount,
      code.codeName AS spRanklevelName
    FROM
      t_cpro_score AS score
    LEFT JOIN t_cpro_system_code AS code 
      ON score.fkSpRanklevel = code.systemCode
      AND code.fkCodeType = 11
      AND code.systemFatherCode = 3
    LEFT JOIN t_cpro_system system
      ON score.fkSystemId = system.pkId 
      AND system.deleteStatus = 1
    LEFT JOIN t_cpro_system system1
      ON score.fkSystemId = system1.fkFatherSystemId
      AND system1.deleteStatus = 1
    LEFT JOIN t_cpro_company AS com  
      ON com.companyCode = system.fkCompanyCode
          LEFT JOIN t_cpro_records AS records 
      ON system.pkId = records.fkSystemId
    LEFT JOIN t_cpro_evaluation AS evaluation 
      ON system.pkId = evaluation.fkSystemId
      AND evaluation.deleteStatus = 1
      AND evaluation.createTime = (SELECT  MAX(eval.createTime) FROM t_cpro_evaluation eval 
                                   WHERE eval.fkSystemId = system.pkId AND eval.deleteStatus = 1 LIMIT 1)
    LEFT JOIN t_cpro_self_inspection AS selfInspection 
      ON system.pkId = selfInspection.fkSystemId
      AND selfInspection.deleteStatus = 1
      AND selfInspection.createTime = (SELECT  MAX(inspec.createTime) FROM t_cpro_self_inspection inspec 
                                       WHERE inspec.fkSystemId =  system.pkId AND inspec.deleteStatus = 1 LIMIT 1)
    LEFT JOIN t_cpro_check AS examine 
      ON system.pkId = examine.fkSystemId
    LEFT JOIN t_cpro_system_code AS systemCodeInfoSysTypeConstruction 
      ON system.fkInfoSysTypeCon = systemCodeInfoSysTypeConstruction.systemCode 
      AND systemCodeInfoSysTypeConstruction.fkCodeType = 7
    LEFT JOIN t_cpro_node node ON system.pkId = node.fkSystemId
      AND node.operation = '创建' AND node.operationResult = '已提交'
    <where>
      	score.deleteStatus = 1 
		AND system.deleteStatus = 1 
		AND com.deleteStatus = 1 
		AND system.examineStatus!=5
		AND system.gradingStatus!=4
		AND system.recordStatus!=4
		AND system.evaluationStatus!=4
		AND system.examinationStatus!=4
      <if test="companyList != null">
        <![CDATA[
          AND com.companyCode IN  
        ]]>
        <foreach collection="companyList" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>
      </if>
      <if test="plateList != null">
        <![CDATA[
          AND com.fkPlateType IN  
        ]]>
        <foreach collection="plateList" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>
      </if>
      <if test="systemType != null and systemType == 1">
        <![CDATA[
            AND system.gradingStatus = 3
           AND system.fkSystemType < 3
					AND (
						(
							system1.pkId IS NULL
							OR system1.fkFatherSystemId = ''
						)
						OR (
							system1.pkId IS NOT NULL
							AND system1.fkFatherSystemId != ''
							AND system1.pkId IN (
								SELECT
									MAX(system2.pkId)
								FROM
									t_cpro_system system2
								WHERE
									system.pkId = system2.fkFatherSystemId
								AND system2.fkSystemType = 3
								AND system2.deleteStatus = 1
							)
						)
					)
        ]]>
      </if>
      <if test="systemType != null and systemType == 2">
        <![CDATA[
       	   AND system.gradingStatus = 3
           AND system1.fkSystemType = 3
           AND system1.fkFatherSystemId IS NOT NULL 
           AND system1.fkFatherSystemId != ''
        ]]>
      </if>
      <if test="gradingBeginTime != null ">
        <![CDATA[
         AND score.rankTime >= #{gradingBeginTime}
        ]]>
      </if>
      <if test="gradingEndTime != null ">
        <![CDATA[
          AND score.rankTime <= #{gradingEndTime}
        ]]>
      </if>
      <if test="gradingShapeType != null ">
	      <if test="gradingShapeType == 1 ">
	        <![CDATA[
	          AND system.recordStatus = 3
	        ]]>
	      </if>
        <if test="gradingShapeType == 2 ">
          <![CDATA[
            AND system.evaluationStatus = 1
          ]]>
        </if>
        <if test="gradingShapeType == 3 ">
          <![CDATA[
            AND system.evaluationStatus = 3
          ]]>
        </if>
        <if test="gradingShapeType == 4 ">
          <![CDATA[
            AND system.examinationStatus = 1
          ]]>
        </if>
        <if test="gradingShapeType == 5 ">
          <![CDATA[
            AND system.examinationStatus = 3
          ]]>
        </if>
        <if test="jurBind=='总部'">
        	<if test="gradingShapeType == 6 ">
	          <![CDATA[
	            AND system.fkInfoSysTypeCon = 1
	          ]]>
	        </if>
	        <if test="gradingShapeType == 7 ">
	          <![CDATA[
	            AND system.fkInfoSysTypeCon IN (2,3)
	          ]]>
	        </if>
        </if>
        <if test="jurBind=='企业'">
        	<if test="gradingShapeType == 6 ">
	          <![CDATA[
	            AND system.fkInfoSysTypeCon = 1
	          ]]>
	        </if>
	        <if test="gradingShapeType == 7 ">
	          <![CDATA[
	            AND system.fkInfoSysTypeCon = 2
	          ]]>
	        </if>
        </if>
      </if>
            <!-- 查询条件连动 -->
      <if test="systemName != null and systemName != ''">
      	<bind name="systemName" value="'%' + _parameter.systemName + '%'" />
        <![CDATA[
          AND system.systemName LIKE #{systemName}
        ]]>
      </if>
      <if test="appIsInternet != null">
      	<![CDATA[
          AND system.appIsInternet = #{appIsInternet}
        ]]>
      </if>
      <if test="companyName and companyName != ''">
        <bind name="companyName" value="'%' + _parameter.companyName + '%'" />
        <![CDATA[
          AND com.companyName LIKE #{companyName}
        ]]>
      </if>
      <if test="auditTimeBegin != null ">
        <![CDATA[
          AND node.createTime >= #{auditTimeBegin}
        ]]>
      </if>
      <if test="auditTimeEnd != null ">
        <![CDATA[
          AND node.createTime <= #{auditTimeEnd}
        ]]>
      </if>
      <if test="acceptCompany != null and acceptCompany != ''">
        <bind name="acceptCompany" value="'%' + _parameter.acceptCompany + '%'" />
        <![CDATA[
          AND records.acceptCompany LIKE #{acceptCompany}
        ]]>
      </if>
      <if test="examOrg != null and examOrg != ''">
        <bind name="examOrg" value="'%' + _parameter.examOrg + '%'" />
        <![CDATA[
          AND evaluation.examOrg LIKE #{examOrg}
        ]]>
      </if>
      <if test="recordDateBegin != null ">
        <![CDATA[
          AND records.recordDate >= #{recordDateBegin}
        ]]>
      </if>
      <if test="recordDateEnd != null ">
        <![CDATA[
          AND records.recordDate <= #{recordDateEnd}
        ]]>
      </if>
      <if test="examTimeBegin != null ">
        <![CDATA[
          AND evaluation.examTime >= #{examTimeBegin}
        ]]>
      </if>
      <if test="examTimeEnd != null ">
        <![CDATA[
          AND evaluation.examTime <= #{examTimeEnd}
        ]]>
      </if>
      <if test="rankTimeBegin != null ">
        <![CDATA[
          AND score.rankTime >= #{rankTimeBegin}
        ]]>
      </if>
      <if test="rankTimeEnd != null ">
        <![CDATA[
          AND score.rankTime <= #{rankTimeEnd}
        ]]>
      </if>
      <if test="inspectionDateBegin != null ">
        <![CDATA[
          AND selfInspection.inspectionDate >= #{inspectionDateBegin}
        ]]>
      </if>
      <if test="inspectionDateEnd != null ">
        <![CDATA[
          AND selfInspection.inspectionDate <= #{inspectionDateEnd}
        ]]>
      </if>
      <if test="plTypeArray != null and plTypeArray.length > 0">
        <![CDATA[
          AND com.fkPlateType IN  
        ]]>
        <foreach collection="plTypeArray" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>
      </if>
      <if test="sprankLevelArray != null and sprankLevelArray.length > 0">
        <![CDATA[
          AND score.fkSprankLevel IN  
        ]]>
        <foreach collection="sprankLevelArray" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>
      </if>
      <if test="subordinateProvincesArray != null and subordinateProvincesArray.length > 0">
        <![CDATA[
          AND com.fkSubordinatePro IN  
        ]]>
        <foreach collection="subordinateProvincesArray" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>
      </if>
      <if test="customFiltering != null and customFiltering != ''">
        <bind name="customFiltering" value="'%' + _parameter.customFiltering + '%'" />
          <![CDATA[
             system.systemName LIKE #{customFiltering} 
             AND (system.deleteStatus=1 
				     AND system.fkSystemType != 3
				     AND fkSystemIsMerge = 2)
             OR com.companyName LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR com.fkPlateType LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR systemCodeSprankLevel.codeName LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.appIsInternet LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR systemCodeInfoSysTypeConstruction.codeName LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR examine.fkExaminStatus LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.standardizedCode LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.gradeRecordSysName LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.sysBusSituationType LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.sysBusDescription LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.sysServiceSitScope LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.sysServiceSitObject LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.npCoverageRange LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.npNetworkProperties LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.executiveOfficeName LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.executiveDireCon LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.executiveDireConTel LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.changeReason LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR system.changeContent LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR gradingSystemCode.codeName LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR examineSystemCode.codeName LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR recordSystemCode.codeName LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR evaluationSystemCode.codeName LIKE #{customFiltering}
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR examinationSystemCode.codeName LIKE #{customFiltering}  
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
             OR systemCodeAppIsInternet.codeName LIKE #{customFiltering} 
             AND (system.deleteStatus=1 
             AND system.fkSystemType != 3
             AND fkSystemIsMerge = 2)
          ]]>
      </if>
      <!-- 定级状态 -->
      <if test="systemCodeType != null and systemCodeType == '23'">
        <![CDATA[
          AND system.gradingStatus = #{gradingStatus}
        ]]>
      </if>
      <!-- 审核状态  待审核-->
	    <if test="fkExaminStatus != null and fkExaminStatus == 1">
	        <![CDATA[
	          AND examine.fkExaminStatus = 1 
	        ]]>
	    </if>
	    <if test="fkExaminStatus != null and fkExaminStatus == 2">
	        <![CDATA[
	          AND examine.fkExaminStatus = 2 
	        ]]>
	    </if>
	    <!-- 审核状态 已审核-->
      <if test="fkExaminStatus != null and fkExaminStatus == 5">
          <![CDATA[
            AND examine.fkExaminStatus = 5
          ]]>
      </if>
      <!-- 审核状态 审核未通过-->
      <if test="fkExaminStatus != null and fkExaminStatus == 3">
          <![CDATA[
             AND examine.fkExaminStatus = 3 
          ]]>
      </if>
      <if test="fkExaminStatus != null and fkExaminStatus == 4">
          <![CDATA[
             AND examine.fkExaminStatus = 4 
          ]]>
      </if>
      <!-- 备案状态 -->
      <if test="systemCodeType != null and systemCodeType == '25'">
        <![CDATA[
          AND system.recordStatus = #{recordStatus}
        ]]>
      </if>
      <!-- 测评状态 -->
      <if test="systemCodeType != null and systemCodeType == '26'">
        <![CDATA[
          AND system.evaluationStatus = #{evaluationStatus}
        ]]>
      </if>
      <!-- 自查状态 -->
      <if test="systemCodeType != null and systemCodeType == '27'">
        <![CDATA[
          AND system.examinationStatus = #{examinationStatus}
        ]]>
      </if>
      
      <if test="gradingStatus1 !=null and gradingStatusType == '23'">
        <![CDATA[
          AND system.gradingStatus IN  
        ]]>
        <foreach collection="gradingStatus1" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>								
      </if>
      <if test="fkExaminStatus1 !=null and fkExaminStatusType == '24'">
        <![CDATA[
          AND system.examineStatus IN  
        ]]>
        <foreach collection="fkExaminStatus1" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>								
      </if>
      <if test="recordStatus1 !=null and recordStatusType == '25'">
        <![CDATA[
          AND system.recordStatus IN  
        ]]>
        <foreach collection="recordStatus1" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>								
      </if> 
      <if test="evaluationStatus1 !=null and evaluationStatusType == '26'">
          <![CDATA[
          AND system.evaluationStatus IN  
        ]]>
        <foreach collection="evaluationStatus1" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>								
      </if>
      <if test="examinationStatus1 !=null and examinationStatusType == '27'">
        <![CDATA[
          AND system.examinationStatus IN  
        ]]>
        <foreach collection="examinationStatus1" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>								
      </if>
      <if test="examinStatus1 !=null and examinStatusType == '28'">
        <![CDATA[
          AND system.examineStatus IN  
        ]]>
        <foreach collection="examinStatus1" item="item" index="index" open="(" separator="," close=")">
          <![CDATA[
            #{item}
          ]]>
        </foreach>								
      </if>
    </where>
      GROUP BY
       score.fkSpRanklevel
  </select>
  <select id="selectRecordsCompanyNum" parameterType="com.sinopec.smcc.cpro.main.entity.MainParam" resultMap="MainListResult">
      SELECT
        SUM(IF (sce.fkSpRanklevel = 301, 1, 0)) AS Level1,
        SUM(IF (sce.fkSpRanklevel = 302, 1, 0)) AS Level2,
        SUM(IF (sce.fkSpRanklevel = 303, 1, 0)) AS Level3,
        SUM(IF (sce.fkSpRanklevel = 304, 1, 0)) AS Level4,
        SUM(IF (sce.fkSpRanklevel = 305, 1, 0)) AS Level5,
        SUM(IF (sce.fkSpRanklevel = 305, 1, 1)) AS Level,
        rec.recordCompany
      FROM
        t_cpro_system sys
      LEFT JOIN t_cpro_score sce ON sce.fkSystemId = sys.pkId
      LEFT JOIN t_cpro_records rec ON rec.fkSystemId = sys.pkId
      
    <where>
      sys.deleteStatus = 1
      AND sce.deleteStatus = 1
      AND rec.deleteStatus = 1
      <if test="recordsBeginTime != null ">
        <![CDATA[
         AND rec.recordDate >= #{recordsBeginTime,jdbcType=DATE}
        ]]>
      </if>
      <if test="recordsEndTime != null ">
        <![CDATA[
          AND rec.recordDate <= #{recordsEndTime,jdbcType=DATE}
        ]]>
      </if>
    </where>
    GROUP BY
      rec.recordCompany
	  ORDER BY
	    ORDER BY Level desc
	  LIMIT 0,10
  </select>
  
</mapper>