<!--测评-->
<div>
    <!--弹窗-->
    <div id="dialog" class="evaluationAlert hDiaTesting" style="display:none;position: fixed;top:0;left: 0;background: rgba(0,0,0,0.5);z-index: 2">
        <div class="evaluation" style="height:560px;margin-top:-245px;padding: 0 15px;">
            <span class="closes" @click="closes"></span>
            <p class="clearfix cut">
                <span class="fl revokeTitle" v-if="!editData.evaluationId">添加系统测评信息</span>
                <span class="fl revokeTitle" v-else>修改系统测评信息</span>
                <span class="fr tianMsg">带“ <span class="xing">*</span>”为必填项</span>
            </p>
            <el-form action="" :model="editData" :rules="rules" ref="editData" label-width="140px">
                <ul class="clearfix">
                    <li style="margin-top:20px;">测评</li>
                        <!-- <div style="margin-left: 15px; width: 10%;">测评</div> -->
                    <li class="row P-selfCheck">
                        <div class="col-md-6">
                            <el-form-item label="测评项目名称：" prop="examName">
                                <div class="col-md-8 col-sm-3" style="width: 80%;">
                                    <el-input clearable type="text" value="" v-model="editData.examName"></el-input>
                                </div>
                            </el-form-item>
                        </div>
                        <div class="col-md-6 timeClear">
                            <el-form-item label="测评时间：" prop="examTime">
                                <el-date-picker class="col-md-6 col-sm-3 useData" v-model="editData.examTime" type="date" placeholder="选择日期" style="width: 80%;"></el-date-picker>
                            </el-form-item>
                        </div>
                    </li>
                    <li class="row P-selfCheck">
                        <div class="col-md-6">
                            <el-form-item label="测评机构：" prop="examOrg">
                                <div class="col-md-8 col-sm-3" style="width: 80%;">
                                    <el-input clearable type="text" value="" v-model="editData.examOrg"></el-input>
                                </div>
                            </el-form-item>
                        </div>
                        <div class="col-md-6">
                            <el-form-item label="测评年度：" prop="examYear">
                             <!--    <el-select class="col-md-8 col-sm-3"   v-model="editData.examYear" style="width: 80%;">
                                    <el-option  label="2016" value="2016"></el-option>
                                    <el-option  label="2017" value="2017"></el-option>
                                    <el-option  label="2018" value="2018"></el-option>
                                    <el-option  label="2019" value="2019"></el-option>
                                </el-select> -->
                                <el-select clearable v-model="editData.examYear" filterable placeholder="请选择" style="width: 80%;">
                                            <el-option
                                                    v-for="item in years"
                                                    :key="item.value"
                                                    :label="item.label"
                                                    :value="item.value">
                                            </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                    </li>
                    <li class="row P-selfCheck">
                        <div class="col-md-6">
                            <el-form-item clearable label="测评状态：" prop="fkExamStatus">
                                <!-- <el-select class="col-md-8 col-sm-3"   v-model="editData.fkExamStatus" style="width: 80%;">
                                    <el-option  label="请选择" value="0"></el-option>
                                    <el-option  label="未测评" value="1"></el-option>
                                    <el-option  label="已测评" value="2"></el-option>
                                </el-select> -->
                                <el-select clearable style="width: 80%;" v-model="editData.fkExamStatus" :disabled = "change" @change="changeStatus()" filterable placeholder="请选择">
                                   <el-option
                                      v-for="item in examStatus"
                                      :key="item.value"
                                      :label="item.label"
                                      :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="col-md-6">
                            <el-form-item label="测评结果：" prop="fkExamResult">
                             <!--    <el-select class="col-md-8 col-sm-3"   v-model="editData.fkExamResult" style="width: 80%;">
                                    <el-option  label="请选择" value="0"></el-option>
                                    <el-option  label="符合" value="1"></el-option>
                                    <el-option  label="基本符合" value="2"></el-option>
                                    <el-option  label="不符合" value="3"></el-option>
                                </el-select> -->
                                <el-select clearable style="width: 80%;" v-model="editData.fkExamResult" :disabled = "change"  filterable placeholder="请选择">
                                   <el-option
                                      v-for="item in examResult"
                                      :key="item.value"
                                      :label="item.label"
                                      :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                    </li>
                   <li class="row P-selfCheck">
                        <div class="col-md-12 report" style="padding-left: 15px;">
                            <el-form-item label="测评报告：" prop="examReportName" ref='examReportName'>
                                <div class="clearfix sysText col-md-9 uploadBox">
                                    <div class="uploadSty">
                                        <ul class="fileList" id="fileList">
                                            <li v-if="editData.examReportName != null && editData.examReportName != ''">
                                                <div class="fl"  @click="fileDownload(editData.examReportPath,editData.examReportName,editData.examReport)" >{{editData.examReportName}}</div>
                                                <i @click="fileDel(editData.examReportPath,1)" class="el-icon-close fl"></i>
                                            </li>
                                        </ul>
                                        <el-button type="primary" size="small">上传</el-button>
                                    </div>
                                    <input type="file" value="" id="file" @change='onUpload' ref="refOnUpload">
                                    <p>
                                        附件总量最大 <span class="xing">30M</span>，上传格式为：word、pdf、exl、zip、rar、sep
                                    </p>
                                </div>
                            </el-form-item>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li>整改</li>
                    <li class="row P-selfCheck">
                        <div class="col-md-6">
                            <el-form-item label="整改结果：" prop="fkRectificationReu">
                               <!--  <el-select id="h-selectzhenggai"
                                        class="col-md-8 col-sm-3"
                                        v-model="editData.fkRectificationReu" style="width: 80%;">
                                     <el-option  label="请选择" value="0"></el-option>
                                     <el-option  label="已整改" value="1"></el-option>
                                     <el-option  label="未整改" value="2"></el-option>
                                </el-select> -->
                                <el-select clearable style="width: 80%;" v-model="editData.fkRectificationReu" :disabled = "change" @change="changeResult()"  filterable placeholder="请选择">
                                   <el-option
                                      v-for="item in rectificationReu"
                                      :key="item.value"
                                      :label="item.label"
                                      :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="col-md-6 timeClear">
                            <el-form-item label="整改时间：" prop="rectificationDate">
                                <el-date-picker class="col-md-6 col-sm-3 useData" v-model="editData.rectificationDate" type="date" placeholder="选择日期" style="width: 80%;"></el-date-picker>
                            </el-form-item>
                        </div>
                    </li>
                   <li class="row P-selfCheck">
                        <div class="col-md-12 report" style="padding-left: 15px;">
                            <el-form-item label="整改报告：" prop="rectificationReportName" ref='rectificationReportName'>
                                <div class="clearfix sysText col-md-9 uploadBox">
                                    <div class="uploadSty">
                                        <ul class="fileList" id="fileList2">
                                            <li v-if="!(editData.rectificationReportName == null || editData.rectificationReportName == '')">
                                                <div class="fl"  @click="fileDownload(editData.rectificationReportPath,editData.rectificationReportName,editData.rectificationReport)" >{{editData.rectificationReportName}}</div>
                                                <i @click="fileDel(editData.rectificationReportPath,2)" class="el-icon-close fl"></i>
                                            </li>
                                        </ul>
                                        <el-button type="primary" size="small">上传</el-button>
                                    </div>
                                    <input type="file" value="" id="file" @change='onUpload2' ref="refOnUpload2">
                                    <p>
                                        附件总量最大 <span class="xing">30M</span>，上传格式为：word、pdf、exl、zip、rar、sep
                                    </p>
                                </div>
                            </el-form-item>
                        </div>
                    </li>
                </ul>
            </el-form>
            <p class="h-p" style="width:100%;margin: -15px 15px;">
                <button type="button" class="btn btn-default" 
                        style="float:right;margin-right: 35px;padding: 6px 10px;height: 34px;" 
                        @click="closes">
                                        取消</button>
                <button type="button" class="btn " 
                        @click="saveEvaluation('editData')"
                        style="padding: 6px 10px;float:right;height:34px;width:70px;sfloat:right;margin-right:10px;background-color: #1e91e2;color:#fff;">确认
                </button>
            </p>
        </div>
    </div>

    <div class="container h-padding" >
        <!--系统定级备案测评列表-->
        <div class="container h-table-border" style="background:#fff;">
            <div style="height: 50px;line-height: 50px">
                <i class="h-list-line" style="vertical-align:middle;"></i>
                系统测评信息列表
            </div>
            <div class="h-bottom-line  h-bottom-position" style="margin: 0 -15px"></div>
            <p class="h-p" style="margin: 15px 0;text-align: center">
                <button type="button"  class="h-btn btn h-btn-add float-le" id="h-btn-add" @click="showDialog('')" style="border: none;"> </button>
                {{systemName}}
            </p>
            <div class="row" style="margin:0">
                <div class="col-md-12">
                    <div class="row table-responsive">
                        <table id="h-list-show" class="table table-bordered table-striped">
                            <tr class="tr-row rowOne1">
                                <th style="min-width:47px">序号</th>
                                <th>测评项目名称

                                    <slot name="paixujiantou"></slot>
                                </th>
                                <th>测评时间

                                    <slot name="paixujiantou2"></slot>
                                </th>
                                <th>测评机构

                                    <slot name="paixujiantou3"></slot>
                                </th>
                                <th>测评报告
                                </th>
                                <th style="max-width:75px">测评状态
                                    <slot name="paixujiantou4"></slot>
                                </th>
                                <th>测评结果
                                    <slot name="paixujiantou5"></slot>
                                </th>
                                <th>整改结果
                                    <slot name="paixujiantou6"></slot>
                                </th>
                                <th>整改时间
                                    <slot name="paixujiantou7"></slot>
                                </th>
                                <th>整改报告</th>
                                <th>操作</th>
                            </tr>
                            <tr class="tr-row" v-for="(testItem,index) in result">
                                <td>{{index+1}}</td>
                                <td>{{testItem.examName}}</td>
                                <td>{{testItem.examTime == '1970-01-01'?'':testItem.examTime}}</td>
                                <td>{{testItem.examOrg}}</td>
                                <td>
	                                <div style="text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:200px" @mouseover="xuanfu(testItem.examReportName)" :title="tishi">
	                                    <a href="javascript:;" @click="downloadReport(testItem.examReport)">{{testItem.examReportName}}</a>
	                                </div>
                                </td>
                                <td>{{testItem.fkExamStatus == 1?'未测评':(testItem.fkExamStatus == 2?'已测评':'')}}</td>
                                <td>{{testItem.fkExamResult == 1?'符合':(testItem.fkExamResult == 2?'基本符合':(testItem.fkExamResult == 3?'不符合':''))}}</td>
                                <td style=" vertical-align: middle; ">{{testItem.fkRectificationReu == 1?'已整改':(testItem.fkRectificationReu == 2?'未整改':'')}}</td>
                                <td>{{testItem.rectificationDate == '1970-01-01'?'':testItem.rectificationDate}}</td>
                                <td>
	                                <div style="text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:200px" @mouseover="xuanfu(testItem.rectificationReportName)" :title="tishi">
	                                    <a href="javascript:;" @click="downloadReport(testItem.rectificationReport)">{{testItem.rectificationReportName}}</a>
	                                </div>
                                </td>
                                <!--操作-->
                                <td style="color:#1e91e2;">
                                    <!--class="hide3"-->
                                    <a class="hide3">
                                        <i id="h-dingji" @click="showDialog(testItem.evaluationId)">编辑</i> <i style="color:#1e91e2 ">|</i>
                                      	<i @click="deleteClick(testItem.evaluationId)" type="text" size="small">删除</i>
                                           <!--  测评表格的删除弹窗 -->
                                            <div class="dialogShaw">
												                       <div class="inquiry" style="display:none" id="recordInquiry">
									                                <div class="cenrerBox">
																						        <i class="failIcon fl">!</i>
																						        <div class="fl">
																						          <p>是否删除</p>
																						        </div>
																						      </div>
																						      <div class="inquiryBtn">
																						          <button type="button" class="btn btn-success fl" @click="deleteEvaluation()">确定</button>
																						          <button type="button" class="btn btn-default fr" @click="closes">取消</button>
																						      </div>
									                                <!-- <p>是否删除</p>
									                                <div class="inquiryBtn">
									                                    <button type="button" class="btn btn-success fl" @click="deleteEvaluation()">确定</button>
									                                    <button type="button" class="btn btn-default fr" @click="closes">取消</button>
									                                </div> -->
												                        </div>
                                            </div> 
                                        </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--分页-->
	    <div class="h-page-box1" style="position:relative;width:100%;height:64px;margin-right: 0;">
	      <span style="float: left;padding-top: 18px">
	        <div v-if="result.currentPage==0">
	                        显示0到0行，共0行记录
	        </div>
	        <div v-else>
	                        显示{{((result.currentPage-1)*result.pagesize)+1}}到{{(result.currentPage)*(result.pagesize)}}行，共{{result.total}}行记录
	        </div>
	      </span>
	      <div class="h-page">
	        <nav aria-label="Page navigation">
	          <ul class="pagination">
	            <li @click="clickPage(result.currentPage-1)">
	              <a href="javascript:;" aria-label="Previous">
	                <span aria-hidden="true">上一页</span>
	              </a>
	            </li>
	            <li v-for="n in result.totalPages==0?1:result.totalPages" :class="[n==result.currentPage ? 'current' : '' ]">
	              <a href="javascript:;" @click="clickPage(n)">{{n}}</a>
	            </li>
	            <li @click="clickPage(result.currentPage+1)">
	              <a href="javascript:;" aria-label="Next">
	                <span aria-hidden="true">下一页</span>
	              </a>
	            </li> 共{{result.totalPages}}页，跳到
	            <li>
	            <input type="text" id="txt" @keydown.enter="hpageNum(this)" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" style="overflow: visible;">
	              <div class="box" id="box"></div></li> 页
	          </ul>
	        </nav>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="startBox" id="startBoxTest" style="display:none;">
      <i class="el-icon-circle-check" style="color:#5DAE51;"></i><P>保存成功!</P>
    </div>
</div>
