<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinopec.smcc.cpro.grading.mapper.AttachMaterialsMapper">
  <resultMap id="BaseResultMap" type="com.sinopec.smcc.cpro.grading.entity.AttachMaterialsListResult">
    <id column="pkId" property="attachId" jdbcType="VARCHAR" />
    <result column="fkSystemId" property="fkSystemId" jdbcType="VARCHAR" />
    <result column="fkSyssonId" property="fkSyssonId" jdbcType="VARCHAR" />
    <result column="fkAttachType" property="fkAttachType" jdbcType="VARCHAR" />
    <result column="attachName" property="attachName" jdbcType="VARCHAR" />
  </resultMap>
  
  <insert id="insertAttach" parameterType="com.sinopec.smcc.cpro.grading.entity.AttachMaterialsParam" >
    INSERT INTO t_cpro_company
      (
      pkId,fkSystemId,fkSyssonId,fkAttachType,attachName,mongoFileId,attachPath,deleteStatus,
      createUserName,createTime,updateTime,remark
      )VALUES(
        <trim suffixOverrides="," >
          <![CDATA[
            #{attachId},
          ]]>
          <choose>
            <when test="fkSystemId != null and fkSystemId != ''">
              <![CDATA[
                #{fkSystemId},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="fkSyssonId != null and fkSyssonId != ''">
              <![CDATA[
                #{fkSyssonId},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="fkAttachType != null and fkAttachType != ''">
              <![CDATA[
                #{fkAttachType},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="attachName != null and attachName != ''">
              <![CDATA[
                #{attachName},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="mongoFileId != null and mongoFileId != ''">
              <![CDATA[
                #{mongoFileId},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="attachPath != null and attachPath != ''">
              <![CDATA[
                #{attachPath},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="deleteStatus != null and deleteStatus != ''">
              <![CDATA[
                #{deleteStatus},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="createUserName != null and createUserName != ''">
              <![CDATA[
                #{createUserName},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="createTime != null and createTime != ''">
              <![CDATA[
                #{createTime},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="updateTime != null and updateTime != ''">
              <![CDATA[
                #{updateTime},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
          <choose>
            <when test="remark != null and remark != ''">
              <![CDATA[
                #{remark},
              ]]>
            </when>
            <otherwise>
              <![CDATA[
                DEFAULT,
              ]]>
            </otherwise>
          </choose>
        </trim>
      )
  </insert>
  
  <select id="selectDetailsAttach" parameterType="com.sinopec.smcc.cpro.grading.entity.AttachMaterialsParam" resultMap="BaseResultMap">
    SELECT 
      attach.fkSystemId,
      attach.fkSyssonId,
      attach.fkAttachType,
      attach.attachName
    FROM t_cpro_attach AS attach
    WHERE
      (fkAttachType = 'gradingReport' OR  fkAttachType = 'expertReview' OR fkAttachType = 'evaluationPresentation') 
      AND fkSystemId = #{fkSystemId} AND deleteStatus = 1
  </select>
  
  <select id="selectEditAttach" parameterType="com.sinopec.smcc.cpro.grading.entity.AttachMaterialsParam" resultMap="BaseResultMap">
    SELECT 
      attach.fkSystemId,
      attach.fkSyssonId,
      attach.fkAttachType,
      attach.attachName
    FROM t_cpro_attach AS attach
    WHERE
      (fkAttachType = 'topologyDescription' OR fkAttachType = 'organizationManagement' 
        OR fkAttachType = 'implementationPlan' OR fkAttachType = 'licenseCertificate'
        OR fkAttachType = 'directorOpinion' OR  fkAttachType = 'expertReview' 
        OR fkAttachType = 'evaluationPresentation') 
      AND fkSystemId = #{fkSystemId} AND deleteStatus = 1
  </select>
</mapper>