<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinopec.smcc.cpro.grading.mapper.GradingMapper">
  <resultMap id="BaseResultMap" type="com.sinopec.smcc.cpro.grading.entity.GradingListResult">
    <id column="pkId" property="gradingId" jdbcType="VARCHAR" />
    <result column="fkSystemId" property="fkSystemId" jdbcType="VARCHAR" />
    <result column="fkBizSPRankDegree" property="fkBizSPRankDegree" jdbcType="VARCHAR" />
    <result column="fkBizSPRankLevel" property="fkBizSPRankLevel" jdbcType="VARCHAR" />
    <result column="fkBizSystemDegree" property="fkBizSystemDegree" jdbcType="VARCHAR" />
    <result column="fkBizSystemLevel" property="fkBizSystemLevel" jdbcType="VARCHAR" />
    <result column="fkSpRanklevel" property="fkSpRanklevel" jdbcType="VARCHAR" />
    <result column="expertView" property="expertView" jdbcType="TINYINT" />
    <result column="rankExplainDesc" property="rankExplainDesc" jdbcType="VARCHAR" />
    <result column="rankTime" property="rankTime" jdbcType="DATE" />
    <result column="competentIsExisting" property="competentIsExisting" jdbcType="TINYINT" />
    <result column="competentName" property="competentName" jdbcType="VARCHAR" />
    <result column="competentView" property="competentView" jdbcType="TINYINT" />
    <result column="filler" property="filler" jdbcType="VARCHAR" />
    <result column="fillDate" property="fillDate" jdbcType="DATE" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="TINYINT" />
    <result column="createUserName" property="createUserName" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="DATE" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="systemCodeScore" type="com.sinopec.smcc.cpro.grading.entity.GradingListResult">
  </resultMap>
  
  <insert id="insertGrading" parameterType="com.sinopec.smcc.cpro.grading.entity.GradingListResult">
    INSERT INTO t_cpro_score
      (
        pkId,fkSystemId,fkBizSPRankDegree,fkBizSPRankLevel,fkBizSystemDegree,fkBizSystemLevel,
        fkSpRanklevel,expertView,rankExplainDesc,rankTime,competentIsExisting,competentName,
        competentView,filler,fillDate,deleteStatus,createUserName,createTime,updateTime,remark
      ) VALUES (
      <trim suffixOverrides="," >
        <![CDATA[
        #{gradingId,jdbcType=VARCHAR},
        ]]>
        <![CDATA[
        #{fkSystemId,jdbcType=VARCHAR},
        ]]>
        <choose>
          <when test="fkBizSPRankDegree != null and fkBizSPRankDegree != ''">
           <![CDATA[
             #{fkBizSPRankDegree,jdbcType=VARCHAR},
           ]]>
          </when>
          <otherwise>
            <![CDATA[
              DEFAULT,
            ]]>
          </otherwise>
        </choose>
        <choose>
         <when test="fkBizSPRankLevel != null and fkBizSPRankLevel != ''">
           <![CDATA[
             #{fkBizSPRankLevel,jdbcType=VARCHAR},
           ]]>
         </when>
         <otherwise>
           <![CDATA[
             DEFAULT,
           ]]>
         </otherwise>
        </choose>
        <choose>
         <when test="fkBizSystemDegree != null and fkBizSystemDegree != ''">
           <![CDATA[
             #{fkBizSystemDegree,jdbcType=VARCHAR},
           ]]>
         </when>
         <otherwise>
           <![CDATA[
             DEFAULT,
           ]]>
         </otherwise>
        </choose>
        <choose>
         <when test="fkBizSystemLevel != null and fkBizSystemLevel != ''">
           <![CDATA[
             #{fkBizSystemLevel,jdbcType=VARCHAR},
           ]]>
         </when>
         <otherwise>
           <![CDATA[
             DEFAULT,
           ]]>
         </otherwise>
        </choose>
        <choose>
         <when test="fkSpRanklevel != null and fkSpRanklevel != ''">
           <![CDATA[
             #{fkSpRanklevel,jdbcType=VARCHAR},
           ]]>
         </when>
         <otherwise>
           <![CDATA[
             DEFAULT,
           ]]>
         </otherwise>
        </choose>
        <choose>
         <when test="expertView != null and expertView != ''">
           <![CDATA[
             #{expertView,jdbcType=TINYINT},
           ]]>
         </when>
         <otherwise>
           <![CDATA[
             DEFAULT,
           ]]>
         </otherwise>
        </choose>
        <choose>
         <when test="rankExplainDesc != null and rankExplainDesc != ''">
           <![CDATA[
             #{rankExplainDesc,jdbcType=VARCHAR},
           ]]>
         </when>
         <otherwise>
           <![CDATA[
             DEFAULT,
           ]]>
         </otherwise>
        </choose>
        <choose>
         <when test="rankTime != null ">
           <![CDATA[
             #{rankTime,jdbcType=DATE},
           ]]>
         </when>
         <otherwise>
           <![CDATA[
             DEFAULT,
           ]]>
         </otherwise>
        </choose>
        <choose>
         <when test="competentIsExisting != null and competentIsExisting != ''">
           <![CDATA[
             #{competentIsExisting,jdbcType=TINYINT},
           ]]>
         </when>
         <otherwise>
           <![CDATA[
             DEFAULT,
           ]]>
         </otherwise>
        </choose>
        <choose>
         <when test="competentName != null and competentName != ''">
           <![CDATA[
             #{competentName,jdbcType=VARCHAR},
           ]]>
         </when>
         <otherwise>
           <![CDATA[
             DEFAULT,
           ]]>
         </otherwise>
        </choose>
        <choose>
         <when test="competentView != null and competentView != ''">
           <![CDATA[
             #{competentView,jdbcType=TINYINT},
           ]]>
         </when>
         <otherwise>
           <![CDATA[
             DEFAULT,
           ]]>
         </otherwise>
        </choose>
        <choose>
         <when test="filler != null and filler != ''">
           <![CDATA[
             #{filler,jdbcType=VARCHAR},
           ]]>
         </when>
         <otherwise>
           <![CDATA[
             DEFAULT,
           ]]>
         </otherwise>
        </choose>
        <choose>
         <when test="fillDate != null ">
           <![CDATA[
             #{fillDate,jdbcType=DATE},
           ]]>
         </when>
         <otherwise>
           <![CDATA[
             DEFAULT,
           ]]>
         </otherwise>
        </choose>
        <choose>
         <when test="deleteStatus != null and deleteStatus != ''">
           <![CDATA[
             #{deleteStatus,jdbcType=TINYINT},
           ]]>
         </when>
         <otherwise>
           <![CDATA[
             DEFAULT,
           ]]>
         </otherwise>
        </choose>
        <choose>
         <when test="createUserName != null and createUserName != ''">
           <![CDATA[
             #{createUserName,jdbcType=VARCHAR},
           ]]>
         </when>
         <otherwise>
           <![CDATA[
             DEFAULT,
           ]]>
         </otherwise>
        </choose>
        <choose>
         <when test="createTime != null ">
           <![CDATA[
             #{createTime,jdbcType=DATE},
           ]]>
         </when>
         <otherwise>
           <![CDATA[
             DEFAULT,
           ]]>
         </otherwise>
        </choose>
        <choose>
         <when test="updateTime != null ">
           <![CDATA[
             #{updateTime,jdbcType=DATE},
           ]]>
         </when>
         <otherwise>
           <![CDATA[
             DEFAULT,
           ]]>
         </otherwise>
        </choose>
        <choose>
         <when test="remark != null and remark != ''">
           <![CDATA[
             #{remark,jdbcType=VARCHAR},
           ]]>
         </when>
         <otherwise>
           <![CDATA[
             DEFAULT,
           ]]>
         </otherwise>
        </choose>
     </trim>
     )
  </insert>
  
  <select id="selectEditGrading" parameterType="com.sinopec.smcc.cpro.grading.entity.GradingParam" resultMap="BaseResultMap">
    SELECT
      score.fkBizSPRankDegree,
      score.fkBizSPRankLevel,
      score.fkBizSystemDegree,
      score.fkBizSystemLevel,
      score.fkSpRanklevel,
      score.rankExplainDesc,
      score.rankTime,
      score.competentIsExisting,
      score.competentName,
      score.competentView,
      score.expertView,
      score.filler,
      score.fillDate,
      attachGradingReport.attachName AS GradingReportName,
      attachGradingReport.fkSyssonId AS GradingReportId,
      attachExpertReview.attachName AS ExpertReviewName,
      attachExpertReview.fkSyssonId AS ExpertReviewId,
      attachEvaluationPresentation.attachName AS EvaluationPresentationName,
      attachEvaluationPresentation.fkSyssonId AS EvaluationPresentationId
    FROM t_cpro_score AS score
    LEFT JOIN t_cpro_attach AS attachGradingReport ON score.fkSystemId = attachGradingReport.fkSystemId
    	AND  attachGradingReport.fkAttachType = 'gradingReport' 
    LEFT JOIN t_cpro_attach AS attachExpertReview ON score.fkSystemId = attachExpertReview.fkSystemId
    	AND attachExpertReview.fkAttachType = 'expertReview'
    LEFT JOIN t_cpro_attach AS attachEvaluationPresentation ON score.fkSystemId = attachEvaluationPresentation.fkSystemId
    	AND attachEvaluationPresentation.fkAttachType = 'evaluationPresentation'
    WHERE
	    score.fkSystemId = #{fkSystemId}
  </select>
  
  <select id="selectDetailsGrading" parameterType="com.sinopec.smcc.cpro.grading.entity.GradingParam" resultMap="BaseResultMap">
    SELECT
      systemCode.codeName
    FROM t_cpro_system_code AS systemCode
    WHERE systemCode.fkCodeType = 11 AND fkSystemId = #{fkSystemId}
  </select>
</mapper>