<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinopec.smcc.cpro.systemcode.mapper.SystemCodeMapper">
  <resultMap id="BaseResultMap" type="com.sinopec.smcc.cpro.systemcode.entity.SystemCodeListResult">
    <result column="systemCode" property="systemCode" jdbcType="VARCHAR" />
    <result column="codeName" property="codeName" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectSystemCodeForByParamKeySystemCode" parameterType="com.sinopec.smcc.cpro.systemcode.entity.SystemCodeParam" resultMap="BaseResultMap">
    <![CDATA[
      SELECT 
        systemCode,
        codeName
      FROM t_cpro_system_code
    ]]>
    <where>
      <if test="codeType != null and codeType != ''">
        <![CDATA[
          AND fkCodeType = #{codeType,jdbcType=INTEGER}
        ]]>
      </if>
      <if test="systemFatherCode != null and systemFatherCode != ''">
        <![CDATA[
          AND systemFatherCode = #{systemFatherCode,jdbcType=INTEGER}
        ]]>
      </if>
      <if test="codeId != null and codeId != ''">
        <![CDATA[
          AND pkId = #{codeId,jdbcType=INTEGER}
        ]]>
      </if>
      <if test="codeName != null and codeName != ''">
        <![CDATA[
          AND codeName = #{codeName,jdbcType=INTEGER}
        ]]>
      </if>
      <if test="systemCode != null and systemCode != ''">
        <![CDATA[
          AND systemCode = #{systemCode,jdbcType=INTEGER}
        ]]>
      </if>
      <![CDATA[
        AND deleteStatus = 1
      ]]>
    </where>
    <![CDATA[
      ORDER BY codeOrder
    ]]>
  </select>
  <select id="selectSystemCodeForByParamKeyCodeName" parameterType="com.sinopec.smcc.cpro.systemcode.entity.SystemCodeParam" resultMap="BaseResultMap">
    <![CDATA[
      SELECT 
        codeName AS systemCode,
        codeName
      FROM t_cpro_system_code
    ]]>
    <where>
      <if test="codeType != null and codeType != ''">
        <![CDATA[
          AND fkCodeType = #{codeType,jdbcType=INTEGER}
        ]]>
      </if>
      <if test="systemFatherCode != null and systemFatherCode != ''">
        <![CDATA[
          AND systemFatherCode = #{systemFatherCode,jdbcType=INTEGER}
        ]]>
      </if>
      <if test="codeId != null and codeId != ''">
        <![CDATA[
          AND pkId = #{codeId,jdbcType=INTEGER}
        ]]>
      </if>
      <if test="codeName != null and codeName != ''">
        <![CDATA[
          AND codeName = #{codeName,jdbcType=INTEGER}
        ]]>
      </if>
      <if test="systemCode != null and systemCode != ''">
        <![CDATA[
          AND systemCode = #{systemCode,jdbcType=INTEGER}
        ]]>
      </if>
      <![CDATA[
        AND deleteStatus = 1
      ]]>
    </where>
    <![CDATA[
      ORDER BY codeOrder
    ]]>
  </select>
</mapper>