@charset "utf-8";
body,
h1, h2, h3, h4, h5, h6,
hr, p, blockquote,
dl, dt, dd, ul, ol, li,
button, input, textarea,
th, td {
    margin: 0;
    padding: 0;
    font-family:Arial,"微软雅黑", Helvetica, sans-serif;
}
/*设置默认字体:手机端的字体最好使用无衬字体*/
ul{
    margin:0 !important;
}
body {
    font-size: 12px;
    font-style: normal;
    font-family:"Microsoft YaHei","\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
}

/*字体太小不适合阅读,我们让small的字体恢复12px*/
small {
    font-size: 12px;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4, h5, h6 {
    font-size: 100%;
}
/*重置列表元素*/
ul, ol {
    list-style: none;
}

/*重置连接元素*/
a {
    text-decoration: none !important;
   /* background-color: transparent !important;*/
}

a:hover, a:active {
    outline-width: 0 !important;
    text-decoration: underline !important;
}

/*重置表格元素*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*重置hr*/
hr {
    border: none;
    height: 1px;
}

/*图形图片*/
img {
    border-style: none;
}

img:not([src]) {
    display: none;
}

svg:not(:root) {
    overflow: hidden;
}

/*--下面的操作是针对于HTML5和响应是布局准备的,不支持IE6~8以及其它低版本的浏览器--*/

html {
    /*禁用系统默认的菜单*/
    -webkit-touch-callout: none;

    /*关闭iPhone & Android的浏览器纵向和橫向模式中自动调整字体大小的功能*/
    -webkit-text-size-adjust: 100%;
}

input, textarea, button, a {
    /*表单或者连接元素在手机中点击时会出现边框或者彩色背景区域,这句话是去除点击的背景框*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

/*重置HTML5元素的默认样式*/
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
}

audio:not([controls]), video:not([controls]) {
    display: none;
    height: 0;
}

progress {
    vertical-align: baseline;
}

mark {
    background-color: #ff0;
    color: #000;
}

/*上标和下标*/
sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}
em, i{
    font-style:normal;/*斜体扶正*/
}
/*重置表单元素*/
button, input, select, textarea {
    /*使得表单元素在IE下能继承字体大小*/
    font-size: 100%;
    outline: none;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

textarea {
    overflow: auto;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
/* bootstrap  删除按钮 hover */
.clearfix .btn-default:hover {
  background-color: #e90a0a !important;
  color: #fff !important;
}
/* 页面加载闪烁 */
[v-cloak] {
  display: none;
}
/*浮动*/
.fl{
    float:left;
}
.fr{
    float:right;
}
/*清除浮动的影响*/
.clear:after {
    display: block;
    height: 0;
    content: "";
    clear: both;
}
/*标签禁用样式*/
.baseMesJY{
	background-color:#ededed;
	color:#bbbbbb;
}
/*页面内容宽*/
.inner{
    width: 1200px;
    margin:0 auto;
}
body{
    width: 100%;
    height: 100%;
    background: #ededed;
}
/*element  input初始文字显示颜色*/
input.el-input__inner::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #666;
}
input.el-input__inner:-moz-placeholder, textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666;
}
input.el-input__inner::-moz-placeholder, textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666;
}
input.el-input__inner:-ms-input-placeholder, textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #666;
} 
/*bootstrap按钮样式修改  */
.btn-default:hover {
	color: #333 !important;
	background-color: #fff !important;
	border-color: #cecece;
}
.btn-defaults:hover{
	color: #fff !important;
	background-color: #0065ba !important;
	border-color: #cecece;
},
.btn-default.focus,
.btn-default:focus {
	color: #333!important;
	background-color: #fff !important;
	border-color:#cecece;
}
.btn-default .badge {
	color: #333 !important;
	background-color: #fff !important;
} 

/*表一表单样式*/
.el-input__inner{
    height: 34px !important;
    line-height: 34px !important;
    border-radius:0 !important;
    border:1px solid #cecece !important;
}
.P-form-input{
    margin-bottom: 0px !important;
}
.P-form-input .el-form-item__label{
    padding-right: 15px !important;
    height: 34px !important;
    line-height: 34px !important;
}
.P-form-input .el-form-item__content{
    width: 318px;
    height: 34px !important;
    line-height: 34px !important;
}
.clearfix .lastLine{
    margin-top: initial !important;
}
.P-form-input .el-select{
    width: 100% !important;
}
.el-cascader{
    width:100% !important;
}
/*表四样式*/
.P-info-page li label.el-form-item__label{
    font-size:12px;
    font-weight: normal;
    padding-right: 18px;
}
.P-info-page .el-form-item{
    margin-bottom:0;
}
.P-info-page .uploadBox{
    width: 100%;
}
.P-sysTitle{
    width: 282px !important;
}
.P-info-page .sysTitle{
    font-size:12px;
}
/*表三样式*/
.P-addFormGrad .P-useData {
    margin-left: -15px;
}
.P-addFormGrad .el-form-item{
    margin-bottom: 0;
}
.P-useData .useData.el-input{
    width: 80%;
    margin-bottom: -50px;
}
.mcAddTian .P-useData .mcAddSysBuildChange{
    width: 80% !important;
}
.mcAddTian .P-useData input{
    width: 80%;
}
.P-useData .formChange{
    width: 80%;
}
.P-useData .sysText{
    width:80%;
    position:relative;
    overflow: hidden;
}
.mcAddTian .P-useData .formControl{
    width:calc(100% - 35px)
}
.P-useData .useData span.el-input__suffix{
    top:-32px;
}
.P-uploadSty .fileList li{
    width: 100%;
    border:0;
    background-color:transparent;
    margin:5px 0 0 0;
}
.P-uploadSty .fileList li div{
    width:calc(100% - 27px);
    padding:0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.P-uploadSty .fileList li i{
    float:right;
    border:0;
}
.el-cascader-menu{
  min-width:312px !important;
  height:auto !important;
  /* max-width:204px */
}
.el-cascader-menu li{
  margin-bottom:0 !important;
}
.el-popper[x-placement^=bottom]{
  margin-top:0 !important;
}
.el-select-dropdown__list li{
  margin-bottom:0 !important;
}
/* 表二信息系统建设类型提示 */
.hintBox{
  position:relative;
  left:160px;
  margin-bottom:-15px;
  font-size:12px;
}
.hintBox i{
  font-size:8px;
  height:14px;
  width:14px;
  line-height:15px;
  text-align:center;
  border:1px solid #ccc;
  color:#ccc;
  border-radius:50%;
  margin-right:5px;
  margin-top:2px;
}
.hintBox span{
  font-size:12px;
  color:#ccc;
}

/*表二样式*/
.P-addformsystem .el-form-item{
    margin-bottom:0;
}
.P-addformsystem .dataForm .mcAddSysBuildChange{
    width: 100% !important;
    margin-left:0;
}
.P-addformsystem .dataForm .baseMesWrap .baseMes1{
    width:100%;
    margin-left:0 !important;
}
.P-addformsystem .dataForm .mcTextArea{
    width: 100%;
    margin-left:0;
    padding:0 5px;
}
.P-addformsystem .dataForm .addForm2Table{
    width:100%;
    margin-left:0 !important;
}
.P-addformsystem .useData span.el-input__suffix{
    top:-32px;
}
.P-addformsystem .useData.el-input{
    width: 100%;
    margin-bottom:-50px;
}
.P-addsystem{
    width:80% ;
}

.el-form .el-form-item__content{
    line-height: 30px !important;
}
.el-form .el-form-item__label{
    line-height: 34px !important;
}

/*自查、测评弹框*/
.P-selfCheck .el-form-item{
    margin-bottom:0 !important;
}
.P-selfCheck .el-input{
    width: 100%;
}
.P-selfCheck .useData span.el-input__suffix{
    top:-32px;
}
.P-selfCheck .el-form-item__content>div{
    padding:0;
}

/*备案信息、撤销备案*/
.P-record .el-form-item{
    margin-bottom:0 !important;
}
.P-record .useData.el-input{
    width: 100%;
    margin-bottom:-30px;
}
.P-record .useData span.el-input__suffix{
    top:-32px;
}
.P-record .uploadBox{
    width: 100%;
    padding-left:0;
}
.P-record .mcTextArea{
    width: 100%;
    margin-left:0 !important;
    padding:0 5px !important;
}
/* 按钮 */
.selfButton{
	background: #fff;
    border: 1px solid #d0d0d0;
    padding:6px 16px;
    color: #666;
    border-radius: 2px;
}
/* 按钮鼠标移上颜色 */
.hoverBlue:hover{
	background:rgb(53, 127, 190)!important;
}
.hovergrey:hover{
	background:#f1f0f0!important;
}
/* 下拉框箭头的大小 */
.el-select .el-input .el-select__caret{
	    font-size: 22px!important;
}