/*头部动画*/

.smcc-fade-enter-active,
.smcc-fade-leave-active {
	transition: opacity .5s;
}

.smcc-fade-enter,
.smcc-fade-leave-to {
	opacity: 0;
}


/*头部开始*/

.header {}

.show {
	display: block!important;
}

.header-1 {
	padding-left: 37px;
	padding-right: 40px;
	height: 30px;
	line-height: 30px;
	background: #2978d0;
}

.header-1-l {
	float: left;
	color: #fff;
}

.header-1-r {
	float: right;
	color: #47ca84;
}

.header-user {
	height: 60px;
}

.head-text {
	float: left;
}

.head-text a {
	color: #47ca84;
	padding-left: 10px;
}

.set {
	float: left;
	padding-left: 45px;
}

.set img {
	margin-top: 5px;
	display: block;
}

.header-2 {
	padding-left: 37px;
	padding-right: 40px;
	height: 60px;
	background: url(../../images/headderJb.jpg) repeat;
	background-size: 1px 100%;
}

.header-2-l {
	float: left;
}

.logo {
	float: left;
	padding-right: 10px;
}

.logo img {
	display: block;
	margin-top: 10px;
}

.name {
	float: left;
	color: #ffffff;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	border-left: #ffffff 2px solid;
	padding-left: 10px;
	margin-top: 15px;
}

.header-2-r {
	float: right;
}

.nav {
	float: left;
	position: relative;
}

.nav ul li {
	position: relative;
	float: left;
	height: 60px;
	line-height: 60px;
	padding: 0px 20px;
}

.nav ul li.on {
	background: #2d85ce;
}

.nav ul li a {
	display: block;
	color: rgba(255, 255, 255, 0.8);
}

.nav ul li a:hover {
	display: block;
	color: rgb(255, 255, 255);
	font-weight: 600;
}

.navigation-list-sanjiao {
	position: absolute;
	display: block;
	width: 0px;
	height: 0px;
	left: 50%;
	margin-left: -10px;
	top: 40px;
	border-width: 8px 10px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}

.nav ul li a:hover {
	text-decoration: none;
}

.search {
	float: left;
	cursor: pointer;
	padding-left: 30px;
}

.search img {
	display: block;
	margin-top: 20px;
}

.smcc-header-user-datail li {
	line-height: 30px;
}

.search-con {
	padding: 10px;
	width: 460px;
	position: absolute;
	left: 50%;
	margin-left: -230px;
	z-index: 2;
}

.search-con-l-1 {
	float: left;
}

.search-con-l-1 input {
	width: 355px;
	height: 40px;
	background: inherit;
	border-radius: 2px;
	border: none;
	color: #fff;
	border-bottom: 1px solid #EDEDED;
	padding-left: 20px;
	margin-left: 10px;
}

.search-con-l-1 input[placeholder],
[placeholder],
*[placeholder] {
	color: #333 !important;
}

.search-con-l-2 {
	float: left;
}

.search-con-l-2 img {
	margin-top: 10px;
	margin-left: 10px;
}


/*二级三级 滑入滑出效果*/

.header-toggle-box {
	width: 70%;
	display: flex;
	display: -ms-flexbox;
	background-color: rgba(255, 255, 255);
	position: absolute;
	left: 10px;
	top: 55px;
	box-shadow: 0 0 4px 2px rgba(0,0,0,0.5);
	z-index: 8;
}

.toggle-box-left {
	width: 20%;
	background: #002157;
	font-size: 14px;
	color: #3c95df;
}

.toggle-box-left ul li {
	padding-left: 10px;
	cursor: pointer;
}

.toggle-box-left ul li .text-box {
	text-align: left;
	height: 60px;
	line-height: 60px;
	padding-left: 10px;
	border-bottom: 1px solid #3c95df;
}

.toggle-box-left ul li:last-child .text-box {
	border-bottom: none;
}

.toggle-box-left ul li:hover {
	background: #1875ec;
	color: #fff;
}

.toggle-box-right {
	padding-top: 45px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	background-color:#fff;
}

.right-con-box {
	flex: 1;
}

.right-con-box dt {
	max-width: 180px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 1px solid #EDEDED;
}

.header-blue-cre {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-image: url(../../images/blueCre.jpg);
	background-repeat: no-repeat;
	margin-right: 5px;
	transform: translateY(2px);
}

.con-chilid-box li {
	max-width: 180px;
	margin-top: 5px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-indent: 1em;
}

.con-chilid-box li:hover {
	background: #EDEDED;
	background-size: 100% 1px;
	border-radius: 4px;
}


/*用户详情信息*/

.smcc-header-user-bg {
	width: 120px;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.9);
	position: absolute;
	transform: translateX(-15px);
	right: 0;
	z-index: 100;
}

.smcc-header-user-datail {
	position: absolute;
	padding: 0 10px;
	color: #333;
	left: 0;
	top: 50%;
	margin-top: -25%;
}


/*下拉菜单样式*/

.smcc-select {
	/* position: relative; */
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.smcc-select-down:before {
	position: relative;
	top: -3px;
	left: 0;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-style: solid;
	border-color: #666;
	border-width: 1px 1px 0 0;
	content: '';
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	-ms-transform: rotate(135deg);
}

.smcc-select-up:before {
	position: relative;
	top: 3px;
	left: 0;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-style: solid;
	border-color: #666;
	border-width: 1px 1px 0 0;
	content: '';
	-webkit-transform: rotate(313deg);
	transform: rotate(313deg);
	-ms-transform: rotate(313deg);
}


/*头部结束*/