<!--自查-->
<div>
<!--弹出框-->
    <div id="dialog" class="evaluationAlert hDiaSelfCheck" 
    style=" display: none;position: fixed;top:0;left: 0;background: rgba(0,0,0,0.5);z-index: 2">
        <div class="evaluation" style="height: 560px;margin-top:-245px;">
            <span class="closes" @click="closes()"></span>
            <p class="clearfix cut">
                <span class="fl revokeTitle" v-if="!editParam.selfexaminationId">添加系统自查信息</span>
                <span class="fl revokeTitle" v-else>修改系统自查信息</span>
                <span class="fr tianMsg">带“ <span class="xing">*</span>”为必填项</span>
            </p>

            <el-form action="" :model="editParam" :rules="rules" ref="editParam" label-width="140px">
                <ul class="clearfix">
                    <li class="self"> 自查</li>
                    <li class="row P-selfCheck">
                      <div class="col-md-6">
                          <el-form-item label="自查项目名称：" prop="selfInspectionName">
                              <div class="col-md-8 col-sm-3" style="width: 80%;">
                                  <el-input type="text" value="" v-model="editParam.selfInspectionName"></el-input>
                              </div>
                          </el-form-item>
                      </div>
                      <div class="col-md-6">
												<el-form-item label="自查时间：" prop="inspectionDate">
													<el-date-picker class="col-md-6 col-sm-3 useData" v-model="editParam.inspectionDate" type="date" placeholder="选择日期" style="width: 80%;"></el-date-picker>
												</el-form-item>
                      </div>
                    </li>
                    <li class="row P-selfCheck">
                      <div class="col-md-6">
												<el-form-item label="自查状态：" prop="fkInspectionStatus">
													<!-- <el-select class="col-md-6 col-sm-3" v-model="editParam.fkInspectionStatus" style="width: 80%;">
					                  <el-option  label="请选择" value="0"></el-option>
					                  <el-option  label="未自查" value="1"></el-option>
					                  <el-option  label="已自查" value="2"></el-option>
													</el-select> -->
													    <el-select v-model="editParam.fkInspectionStatus" :disabled = "change" @change="changeStatus()"  filterable placeholder="请选择" >
					                         <el-option
						                          v-for="item in inspectionStatus"
						                          :key="item.value"
						                          :label="item.label"
						                          :value="item.value">
					                        </el-option>
					                    </el-select>
												</el-form-item>
                      </div>
                      <div class="col-md-6">
                          <el-form-item label="自查结果：" prop="fkInspectionReu">
                     <!--        <el-select class="col-md-6 col-sm-3" v-model="editParam.fkInspectionReu" style="width: 80%;">
                                  <el-option  label="请选择" value="0"></el-option>
                                  <el-option  label="符合" value="1"></el-option>
                                  <el-option  label="基本符合" value="2"></el-option>
                                  <el-option  label="不符合" value="3"></el-option>
                              </el-select> -->
                            <el-select v-model="editParam.fkInspectionReu" :disabled = "change"  filterable placeholder="请选择">
                                 <el-option
														      v-for="item in inspectionReu"
														      :key="item.value"
														      :label="item.label"
														      :value="item.value">
														    </el-option>
                            </el-select>
                          </el-form-item>
                      </div>
                    </li>
                    <li class="row P-selfCheck">
                        <div class="col-md-12 report" style="padding-left: 15px;">
                            <el-form-item label="自查报告：" prop="examinationReportName" ref='examinationReportName'>
                                <div class="clearfix sysText col-md-9 uploadBox">
                                    <div class="uploadSty">
                                        <ul class="fileList" id="fileList">
                                            <li v-if="!(editParam.examinationReportName == null || editParam.examinationReportName =='')">
                                                <div class="fl"  @click="fileDownload(editParam.examinationReportPath,editParam.examinationReportName,editParam.examinationReportId)" >{{editParam.examinationReportName}}</div>
                                                <i @click="fileDel(editParam.examinationReportPath,1)" class="el-icon-close fl"></i>
                                            </li>
                                        </ul>
                                        <el-button type="primary" size="small">上传</el-button>
                                    </div>
                                    <input type="file" value="" id="file" @change='onUpload' ref="refOnUpload">
                                    <p>
                                        附件总量最大 <span class="xing">30M</span>，上传格式为：doc,docx,xls,xlsx,pdf,zip,rar,sep
                                    </p>
                                </div>
                            </el-form-item>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li>整改</li>
                    <li class="row P-selfCheck">
                        <div class="col-md-6">
                            <el-form-item label="整改结果：" prop="fkRectificationReu">
                                <!-- <el-select class="col-md-8 col-sm-3"  v-model="editParam.fkRectificationReu" style="width: 80%;">
                                    <el-option  label="请选择" value="0"></el-option>
                                    <el-option  label="已整改" value="1"></el-option>
                                    <el-option  label="未整改" value="2"></el-option>
                                </el-select> -->
                                <el-select v-model="editParam.fkRectificationReu" :disabled = "change"  filterable placeholder="请选择" @change="rectChange">
					                         <el-option
					                            v-for="item in rectificationReu"
					                            :key="item.value"
					                            :label="item.label"
					                            :value="item.value">
						                        </el-option>
						                    </el-select>
                            </el-form-item>
                        </div>
                        <div class="col-md-6">
                            <el-form-item label="整改时间：" prop="rectificationDate" ref="rectificationDate">
                                <el-date-picker class="col-md-6 col-sm-3 useData" v-model="editParam.rectificationDate" type="date" placeholder="选择日期" style="width: 80%;"></el-date-picker>
                            </el-form-item>
                        </div>
                    </li>
                    <li class="row P-selfCheck">
                        <div class="col-md-12 report" style="padding-left: 15px;">
                            <el-form-item label="整改报告：" prop="examinationRectificationReportName" ref='examinationRectificationReportName'>
                                <div class="clearfix sysText col-md-9 uploadBox">
                                    <div class="uploadSty">
                                        <ul class="fileList" id="fileList2">
                                            <li v-if="!(editParam.examinationRectificationReportName == null || editParam.examinationRectificationReportName =='')">
                                                <div class="fl"  @click="fileDownload(editParam.examinationRectificationReportPath,editParam.examinationRectificationReportName,editParam.examinationRectificationReportId)" >{{editParam.examinationRectificationReportName}}</div>
                                                <i @click="fileDel(editParam.examinationRectificationReportPath,2)" class="el-icon-close fl"></i>
                                            </li>
                                        </ul>
                                        <el-button type="primary" size="small">上传</el-button>
                                    </div>
                                    <input type="file" value="" id="file" @change='onUpload2' ref="refOnUpload2">
                                    <p>
                                        附件总量最大 <span class="xing">30M</span>，上传格式为：doc,docx,xls,xlsx,pdf,zip,rar,sep
                                    </p>
                                </div>
                            </el-form-item>
                        </div>
                    </li>
                </ul>
            </el-form>
            <p class="h-p" style="width:100%;margin:-15px">

                <button type="button"

                        class="btn btn-default" style="padding:6px 10px;float:right;margin-right: 35px;padding: 6px 10px; margin-bottom: 15px" @click="closes">
                    取消</button>
                <button type="button" class="btn"
                        @click="saveSelfexamination('editParam')"
                        style="padding:6px 10px;float:right;margin-right:10px;margin-bottom:15px;background-color:rgb(61,149,223);color:#fff;">确认
                </button>

            </p>
        </div>
    </div>


		<div class="container h-padding">
		    <!--系统定级备案自查列表-->
		    <div class="container h-table-border" style="background:#fff;padding: 15px;padding-top: 0">
		        <div style="height: 50px;line-height: 50px">
		            <i class="h-list-line" style="vertical-align:middle;"></i>
		            系统自查信息列表
		        </div>
		        <div class="h-bottom-line  h-bottom-position" style="margin: 0 -15px"></div>
		        <p class="h-p" style="margin: 15px 0;text-align: center">
		        		<button type="button"  class="h-btn btn h-btn-add float-le" id="h-btn-add" @click="showDialog('')" style="border: none;"> </button>
  {{systemName}}		        </p>
		        <div class="row" style="margin:0">
		            <div class="col-md-12">
		                <div class="row table-responsive">
		                    <table id="h-list-show" class="table table-bordered table-striped">
		                        <tr class="tr-row rowOne2">
		                            <th style="min-width:47px">序号</th>
		                            <th>自查项目名称
		                                <slot name="paixujiantou"></slot>
		                            </th>
		                            <th>自查时间
		                                <slot name="paixujiantou2"></slot>
		                            </th>
		                            <th>自查状态
		                                <slot name="paixujiantou3"></slot>
		                            </th>
		                            <th>自查结果
		                            		<slot name="paixujiantou4"></slot>
		                            </th>
		                            <th style="max-width:75px">自查报告
		                            </th>
		                            <th>整改结果
		                                <slot name="paixujiantou5"></slot>
		                            </th>
		                            <th>整改时间
		                                <slot name="paixujiantou6"></slot>
		                            </th>
		                            <th>整改报告</th>
		                            <th>操作</th>
		                        </tr>
		                        <tr class="tr-row" v-for="(pro,index) in result">
		                            <td>{{index+1}}</td>
		                            <!--系统名称-->
		                            <td>{{pro.selfInspectionName}}</td>
		                            <!--自查时间-->
		                            <td>{{pro.inspectionDate == '1970-01-01'?'':pro.inspectionDate}}</td>
		                            <!--自查状态-->
		                            <td>{{pro.fkInspectionStatus == 1 ? '未自查':(pro.fkInspectionStatus == 2 ? '已自查':'')}}</td>
		                            <!--自查结果-->
		                            <td>{{pro.fkInspectionReu == 1 ? '符合':(pro.fkInspectionReu == 2 ? '基本符合':(pro.fkInspectionReu==3 ? '不符合':''))}}</td>
		                            <!--自查报告-->
		                            <td>
		                            <div style="text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:200px" @mouseover="xuanfu(pro.examinationReportName)" :title="tishi">
		                            	<a href="javascript:;" @click="downloadReport(pro.examinationReportId)">{{pro.examinationReportName}}</a>
		                            </div>
		                                
		                            </td>
		                            <!--整改结果-->
		                            <td style=" vertical-align: middle;">{{pro.fkRectificationReu == 1 ? '已整改':(pro.fkRectificationReu == 2 ? '未整改':'')}}</td>
		                            <!--整改时间-->
		                            <td>{{pro.rectificationDate == '1970-01-01'?'':pro.rectificationDate}}</td>
		                            <!--整改报告-->
		                            <td>
		                            <div style="text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:200px" @mouseover="xuanfu(pro.examinationRectificationReportName)" :title="tishi">
		                                <a href="javascript:;" @click="downloadReport(pro.examinationRectificationReportId)">{{pro.examinationRectificationReportName}}</a>
		                            </div>
		                            </td>
		                            <!--操作-->
		                            <td style="color:#1e91e2;">
		                                <!--class="hide3"-->
		                                <a class="hide3">
		                                    <i id="h-dingji" @click="showDialog(pro.selfexaminationId)">编辑</i> <i style="color:#1e91e2 ">|</i>
		                                 
		                                    
		                                    	<i @click="deleteClick" type="text" size="small">删除</i>
                                           <!--  测评表格的删除弹窗 -->
                                            <div class="dialogShaw">
	                                               
												   <div class="inquiry" style="display:none" id="recordInquiry">
												   		<div class="cenrerBox">
												        <i class="failIcon fl">!</i>
												        <div class="fl">
												          <p>是否删除</p>
												        </div>
												      </div>
												      <div class="inquiryBtn">
												          <button type="button" class="btn btn-success fl" @click="deleteSelfexamination(pro.selfexaminationId)">确定</button>
												          <button type="button" class="btn btn-default fr" @click="closes">取消</button>
												      </div>
												        <!-- <p>是否删除</p>
												        <div class="inquiryBtn">
												            <button type="button" class="btn btn-success fl" @click="deleteSelfexamination(pro.selfexaminationId)">确定</button>
												            <button type="button" class="btn btn-default fr" @click="closes">取消</button>
												        </div> -->
												    </div>
											 </div> 
		                                </a>
		                            </td>
		                        </tr>
		                    </table>
		                </div>
		            </div>
		        </div>
		        <!--分页-->
		        <div class="h-page-box1" style="position:relative;width:100%;height:64px;margin-right: 0;">
				      <span style="float: left;padding-top: 18px">
				        <div v-if="result.currentPage==0">
				                        显示0到0行，共0行记录
				        </div>
				        <div v-else>
				                        显示{{((result.currentPage-1)*result.pagesize)+1}}到{{(result.currentPage)*(result.pagesize)}}行，共{{result.total}}行记录
				        </div>
				      </span>
				      <div class="h-page">
				        <nav aria-label="Page navigation">
				          <ul class="pagination">
				            <li @click="clickPage(result.currentPage-1)">
				              <a href="javascript:;" aria-label="Previous">
				                <span aria-hidden="true">上一页</span>
				              </a>
				            </li>
				            <li v-for="n in result.totalPages==0?1:result.totalPages" :class="[n==result.currentPage ? 'current' : '' ]">
				              <a href="javascript:;" @click="clickPage(n)">{{n}}</a>
				            </li>
				            <li @click="clickPage(result.currentPage+1)">
				              <a href="javascript:;" aria-label="Next">
				                <span aria-hidden="true">下一页</span>
				              </a>
				            </li> 共{{result.totalPages}}页，跳到
				            <li>
				            <input type="text" id="txt" @keydown.enter="hpageNum(this)" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" style="overflow: visible;">
				              <div class="box" id="box"></div></li> 页
				          </ul>
				        </nav>
	            </div>
		        </div>
		    </div>
		</div>
		<div class="startBox" id="startBoxSelf" style="display:none;">
      <i class="el-icon-circle-check" style="color:#5DAE51;"></i><P>保存成功!</P>
    </div>
</div>
