@charset "utf-8";
.inner{
    width: 1900px;
    margin:0 auto;
}
.recordTitle{
    font:24px/1.5 "微软雅黑";
}
.recBtn{
    position: absolute;
    top: 8%;
    right: 2%;
    z-index: 10;
}
.comitBtm{
    display: none;
}
.btnBack{
    margin:0 3px;
}