@charset "utf-8";
li{
    margin-bottom:15px;
}
form{
    padding-left:15px;
}
label{
    padding-left:15px;
    font: normal 14px/34px "微软雅黑";
}
input{
    width: 100%;
    border: 1px solid #cecece;
    border-radius: 2px;
}
.choose{
    width: 100%;
    border: 1px solid #cecece;
    border-radius: 2px;
}
.col-md-3{
    padding:0;
}
.evalName{
    padding:0;
    line-height:30px;
}
.revData>input{
    background: url("../../images/datatime.png") no-repeat right 7px top 7px;
}
.evaluationAlert{
    width: 100%;
    height: 100%;
    background-color: #767676;
}
.evaluation{
    width: 50%;
    /*height: 419px;*/
    position: absolute;
    top:50%;
    left:60%;
    margin-left:-40%;
    margin-top:-210px;
    z-index: 2;
    background-color: #fff;
}
.closes{
    display: block;
    width: 50px;
    height: 50px;
    border:1px solid #fff;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background: url("../../images/close.png") no-repeat;
    position: absolute;
    top:-12%;
    right:-6%;
}
.cut:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #ededed;
    margin-left: 0 !important;
}
.revokeTitle{
    line-height:60px;
    /* margin-left: 15px; */
}
.tianMsg{
    margin:28px 15px 0;
    font: 12px/32px "微软雅黑";
    color: #333333;
}
.upFile{
    line-height:34px;
}
.col-md-10{
    
   
    padding: 0;
}
.report{
    padding:0;
}
.sysBtn{
    padding:7px 18px;
    margin-left:14px;
}
.closes{
    display: block;
    width: 50px;
    height: 50px;
    border:1px solid #fff;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background: url("../../images/close.png") no-repeat;
    position: absolute;
    top:-12%;
    right:-6%;
}
.xing{
    color: red;
}
.cut:before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 20px;
     background: #fff;
    margin: -4px 10px -4px 0;
}
.btn {
    position: relative;
    /* height: 30px; */
    width: auto;
    font-size: 14px;}