/*.h-body {*/
/*!*font-family: Arial, Helvetica, Sans-Serif;*!*/
/*overflow: auto;*/
/*color: #555555;*/
/*!*background: #fff;*!*/
/*font-size: 14px;*/
/*background: #ededed;*/
/*}*/

/**/
/*琛ㄦ牸bootstrap*/
.h-table-border table{
    border-collapse:collapse;
}
.h-table-border table th{
   font-size: 14px;
    font-family: Arial,"寰蒋闆呴粦", Helvetica, sans-serif;
    font-weight: normal;
}
.h-table-border table td{
    font-size: 12px;
    font-family: Arial,"寰蒋闆呴粦", Helvetica, sans-serif;
    font-weight: normal;
}
/*鐘舵��*/
.h-weijinxing{
    background: url("../../images/home/s01ztweijinxing.png") no-repeat 8px center  ;
}
.h-jingxingzhong{
    background: url("../../images/home/s01ztjinxingzhong.png") no-repeat 8px center  ;
  }
.h-wancheng{
    background: url("../../images/home/s01ztyiwancheng.png") no-repeat 8px center  ;
}
.h-chexiao{
    background: url("../../images/home/s01ztyichexiao.png") no-repeat 8px center  ;
}
.h-examine{
    background: url("../../images/home/examine.png") no-repeat 8px center  ;
}
/*  琛ㄦ牸鍙樼伆*/
.tr-row-gray{
		color:#bfbfbf;!important
}
/*涓嬭浇*/
.h-xiazai{
    background: url("../../images/home/xiazaikexiazai.png") no-repeat 8px center  ;
}
.h-weixiazai{
    background: url("../../images/home/xiazai bukexiazai.png") no-repeat 8px center  ;
}
.h-table-border tr{
    border: 1px solid #cecece;
}
.h-table-border table th {
    border-style: solid;
    border-color:#cecece;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding: 8px;
}
.h-table-border table td {
    border-style: solid;
    border-color:#cecece;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding: 8px;
}
/*闈㈠寘灞戝鑸�*/
.margin-clear {
    margin: 0;
}
/*娓呴櫎娴姩鐨勫奖鍝�*/
.clear:after {
    display: block;
    height: 0;
    content: "";
    clear: both;
}

.h-list-line{
    display: inline-block;
    width: 2px;
    height: 20px;
    border: 1px solid #3d95df;
}
.h-padding .container .h-list-line span img{
    margin-left: 10px;
}
.table .h-tr1 th {
    vertical-align: middle;
}
.btn {
    position: relative;
    height: 34px;
    width: 125px;
    font-size: 14px;

}
.h-btn {

    height: 34px;
    width: 34px;
}
 
.h-add {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    width: 32px;
    height: 32px;
}
.h-table {
    width: 1834px;
    height: 782px;
}

.table>tbody>tr>td{
    vertical-align: middle;!important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9;
}
/*甯姪涓績*/
/*绠ご*/
#arrowHelp{
    color:#333
}

.text h3{
    font-size: 22px;
    width: 111%;
    margin-left: -5%;
}
.text p{
    font-size: 12px;
    margin-top:13%;
}
.box3-text h3{
    font-size: 22px;
    width: 111%;
    margin-left: -5%;
}
.box3-text p{
    font-size: 12px;
    margin-top:13%;
}
.all {
    width: 100%;
    height: 250px;
}

.box1 {
    float: left;
    display: inline-block;
    width: 17.14%;
    height: 100%;
}

.box2 {
    float: left;
    display: inline-block;
    width: 17.14%;
    height: 100%;

}

.box3 {
    float: left;
    display: inline-block;
    width: 48%;
    background-color: #ededed;
    height: 85%;
    border: 1px solid #cecece;
    margin-top: 2%;

}

.box4 {
    float: left;
    display: inline-block;
    width: 17.14%;
    height: 100%;

}
/*box 1*/
.box1 .bg-item1 {
    float: left;
    display: inline-block;
    width: 77%;
    height: 85%;
    margin-top:24px;
    background-color: #ededed;
    border: 1px solid lightgray;
    background:url("../../../images/home/dianjidanweixitong.png") no-repeat ;
  background-position:center;
	background-size: 0% 0%;
}

.box1 .bg-item1 .content {
    float: left;
    width: 100%;
    height: 66%;
    margin: 10%;

}

.box1 .bg-item1 .content h4 {
    float: left;
    width: 78%;
    text-align: center;
    color: #333;
    font-weight: normal;
    font-size: 22px;
}

.box1 .bg-item1 .content .img-1 {
    float: left;
    height: 100%;
    width: 78%;
    background: url("../../images/home/help/s01danweixitongxinxi.png") no-repeat center;
    /*background-size: 125px, 125px;*/
    text-align: center;
}

.box1 .arrow1 {
    float: left;
    width: 23%;
    background: url("../../images/home/help/jiantou.png") no-repeat center;
    height: 100%;
}
/*box 2*/

.box2 .bg-item2 {
    float: left;
    display: inline-block;
    width: 77%;
    height: 85%;
    background-color: #ededed;
    margin-top:24px;
    border: 1px solid lightgray;
    background:url("../../../images/home/dianjidanweixitong.png");
    background-position:center;
	background-size: 0% 0%;
}

.box2 .bg-item2 .content {
    float: left;
    width: 100%;
    height: 66%;
    margin: 10%;

}

.box2 .bg-item2 .content h4 {
    float: left;
    width: 78%;
    text-align: center;
    color: #333;
    font-weight: normal;
    font-size: 22px;
}

.box2 .bg-item2 .content .img-1 {
    float: left;
    height: 100%;
    width: 78%;
    background: url("../../images/home/help/s01shenqingdingji.png") no-repeat center;
    background-size: 125px, 125px;
    text-align: center;
}

.box2 .arrow2 {
    float: left;
    width: 23%;
    background: url("../../images/home/help/jiantou.png") no-repeat center;
    height: 100%;
}
/*box 4*/
.box4 .bg-item4 {
    float: left;
    display: inline-block;
    width: 77%;
    height: 85%;
    /*background-image: url("img/鏅�氱姸鎬佸簳鍥�.jpg");*/
    /*background-size: 100% 100%;*/
    /*background-color: orangered;*/
    background-color: #ededed;
    margin-top:24px;
    border: 1px solid lightgray;
     background:url("../../../images/home/dianjishenqing.png");
      background-position:center;
	background-size: 0% 0%;
}

.box4 .bg-item4 .content {
    float: left;
    width: 80%;
    height: 66%;
    margin-left: 20%;

}

.box4 .bg-item4 .content h4 {
    float: left;
    width: 78%;
    text-align: center;
    color: #333;
    font-weight: normal;
    font-size: 22px;
}

.box4 .bg-item4 .content .img-1 {
    float: left;
    height: 100%;
    width: 78%;
    background: url("../../images/home/help/s01chexiaobeian.png") no-repeat center;
    background-size: 125px, 125px;
    text-align: center;
}

.box4 .arrow4 {
    float: left;
    width: 23%;
    background: url("../../images/home/help/jiantou.png") no-repeat center;
    height: 100%;
    background-image: none;
}
/*box3*/
.bg-item3{
    margin-top: 24px;
    height: 85%;
	background:url("../../../images/home/dianjishenhecepzicha.png");
    background-position:center;
	background-size: 0% 0%;
}
.box3-item{
    height: 87%;
    width: 25%;
    float: left;
    display: inline-block;
    /*background-image: url("img/鏅�氱姸鎬佸簳鍥�.jpg");*/
    /*background-size: 100% 100%;*/
    /*background-color: orangered;*/
}
.box3-item-content{
    float: left;
    width: 100%;
    height: 77.67%;
    margin: 10%;

}
.box3-item-content .box3-item-img-1{
    float: left;
    height: 100%;
    width: 78%;
    background: url("../../images/home/help/s01shenhe.png") no-repeat center;
    background-size: 125px, 125px;
    text-align: center;
}

.box3-item-content .box3-item-img-2{
    float: left;
    height: 100%;
    width: 78%;
    background: url("../../images/home/help/s01zicha.png") no-repeat center;
    background-size: 125px, 125px;
    text-align: center;
}
.box3-item-content .box3-item-img-3{
    float: left;
    height: 100%;
    width: 78%;
    background: url("../../images/home/help/s01ceping.png") no-repeat center;
    background-size: 125px, 125px;
    text-align: center;
}
.box3-item-content .box3-item-img-4{
    float: left;
    height: 100%;
    width: 78%;
    background: url("../../images/home/help/s01beian .png") no-repeat center;
    background-size: 125px, 125px;
    text-align: center;
}
.box3-item-content h4{
    float: left;
    width: 78%;
    text-align: center;
    color: #333;
    font-weight: normal;
    font-size: 22px;
}

/*hover*/
.box1 .bg-item1:hover{
    box-shadow: 0 0 100px rgba(36, 129, 236, 0.5);
}
.box2 .bg-item2:hover{
    box-shadow: 0 0 100px rgba(36, 129, 236, 0.5);
    /*box-shadow: 0px 0px 10px #2481ec;*/
}
.box4 .bg-item4:hover{
    box-shadow: 0 0 100px rgba(36, 129, 236, 0.5);
}
.box3:hover{
    box-shadow: 0 0 100px rgba(36, 129, 236, 0.5);
}
/*text*/
.text{
    display: none;
    text-align: center;
    color: #fff;
    padding:6%;
}
.text p{
    font-size: 12px;
    margin-top: 6%;
}
.box3-text{
    display: none;
    text-align: center;
    color: #fff;
    padding:6%;
}
.box3-text p{
    font-size: 12px;
    margin-top: 6%;
}

/*鎼滅储绛涢��*/
.h-search {
    width: 1890px;
    height: 118px;
    padding: 0 16px;
    overflow: auto;
}

.h-search-inner {
    width: 1860px;
    height: 118px;
    /*margin: 0 auto;*/
    background: #fff;
}

/*2*/
.form-control {
    width: 320px;
    height: 34px;
    border-radius: 0;
    /*寰堝叧閿細灏嗛粯璁ょ殑select閫夋嫨妗嗘牱寮忔竻闄�  钄′慨鏀�*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../../images/home/xialakuangxiala.png") no-repeat 98% 50% transparent ;
}

.h-system {
    width:100px;
    min-width:104px;
    padding-right: 0;
    line-height: 34px;
}

.h-col-md-9 {
    padding-left: 0;
}

.h-line {
    line-height: 34px;
}

.h-padding {
    padding: 0;
}


/*鎼滅储  鏃堕棿*/
.applyTime{
    margin-right: 0;
    padding: 0;!important;
    width: 20%;!important;
    text-align: center;
}

/*鎼滅储涓嬫媺绠ご 鎼滅储绔栫嚎*/
.h-styNameshuxian{
    z-index: 10000;
    position: absolute;
    right: 16px;
    top: 1px;
    height: 32px;
    width: 14%;
    background-color: #fff;
    /*border: 1px solid #ededed; */
    border-radius: 4px;
    /*border: none; */
    color: #cecece;
    vertical-align: middle;!important;
    text-align: center;
}
.h-styNameshuxian img {
    position: absolute;
    right: 6px;
    top: 13px;
    color: #dedede;
}
.h-styNameshuxian i {
    display: block;
    height: 37px;
    position: absolute;
    right: 26px;
    top: 5px;
    color: #cecece;
}
/*楂樼骇鏌ヨ*/
.h-btn-info {
    color: #fff;
    background-color: #3d95df;
    border-color: #3d95df;
}

.h-btn-info:hover {
    color: #fff;
    background-color: #3d95df;
    border-color: #3d95df;
}

.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: #3d95df;
    border-color: #3d95df;
}

.form-horizontal .form-style {
    margin: 0;
    font-size: 14px;
}

.checkbox-inline,
.radio-inline,
.checkbox-inline + .checkbox-inline,
.radio-inline + .radio-inline {
    margin: 0 15px 0 0;
}

/*鏃ュ巻鎼滅储*/
.float-le {
    float: left;
}

.margin-le {
    margin-left: 15px;
}

.input-box {
    padding: 0;
}

.form-control, .single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #a9a9a9;
    color: inherit;
    display: block;
    padding: 6px 12px;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}
.form-control, .single-line:focus{outline:none!important;box-shadow:none}
.form-horizontal .has-feedback .form-control-feedback {
    right: 0;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 16px;
    height: 16px;
}

.mr5 {
    margin-right: 5px;
}
.laydate-set-ym{
    background-color: #eeeeee;
    padding: 0 5px;
}
.laydate-set-ym:hover{
    background-color: #eeeeee;
}

/*楂樼骇鏌ヨinput鐨剅adio妗嗘牱寮�*/ 
 /*鎵�灞炴澘鍧�*/ 
 .checkName1 {
 			appearance: none;
            -webkit-appearance: none; /* 鍘绘帀radio鐨勯粯璁ゆ牱寮� */
            display: inline-block;
            margin-right: -15px;
		    outline: none;
		    width: 13px;
		    height: 13px;
             border-radius:none; 
            cursor: pointer;
            vertical-align: middle;
            box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
            /*background-color: hsla(0,0%,0%,0.6);*/
            background-image:url("../../images/true.png");
            background-repeat: no-repeat;
           /* -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
            -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);*/
            background-position: 0 24px;
        }
    .checkName1:active {
            background-position: center;
        }
  .checkName1:checked{
            background-position:center;
        } 

 /* 鐘舵��*/
 .checkName2 {
            -webkit-appearance: none; /* 鍘绘帀radio鐨勯粯璁ゆ牱寮� */
            display: inline-block;
           margin-right: -15px;
		    outline: none;
		    width: 13px;
		    height: 13px;
            /*border-radius: 10px;*/
            cursor: pointer;
            vertical-align: middle;
            box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
            /*background-color: hsla(0,0%,0%,0.6);*/
            background-image:url("../../images/true.png");
            background-repeat: no-repeat;
           /* -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
            -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);*/
            background-position: 0 24px;
        }
    .checkName2:active {
            background-position: center;
        }
  .checkName2:checked{
            background-position:center;
        } 
         /*绛変繚绾у埆*/
 .checkName3 {
            -webkit-appearance: none; /* 鍘绘帀radio鐨勯粯璁ゆ牱寮� */
            display: inline-block;
           margin-right: -15px;
		    outline: none;
		    width: 13px;
		    height: 13px;
            /*border-radius: 10px;*/
            cursor: pointer;
            vertical-align: middle;
            box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
            /*background-color: hsla(0,0%,0%,0.6);*/
            background-image:url("../../images/true.png");
            background-repeat: no-repeat;
           /* -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
            -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);*/
            background-position: 0 24px;
        }
    .checkName3:active {
            background-position: center;
        }
  .checkName3:checked{
            background-position:center;
        } 
         /*鍦板尯*/
 .checkName4 {
            -webkit-appearance: none; /* 鍘绘帀radio鐨勯粯璁ゆ牱寮� */
            display: inline-block;
           margin-right: -15px;
		    outline: none;
		    width: 13px;
		    height: 13px;
            /*border-radius: 10px;*/
            cursor: pointer;
            vertical-align: middle;
            box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
            /*background-color: hsla(0,0%,0%,0.6);*/
            background-image:url("../../images/true.png");
            background-repeat: no-repeat;
           /* -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
            -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);*/
            background-position: 0 24px;
        }
    .checkName4:active {
            background-position: center;
        }
  .checkName4:checked{
            background-position:center;
        } 
        
.form-group .control-label{
	width: 92px; 
	padding: 0; 
	margin-left: 33px; 
	min-width: 91px;
	text-align: right;
}
      