@charset "utf-8";
input{
    width: 100%;
    border:1px solid #cecece;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    line-height: 34px;
}
label{
    font:normal 14px/34px "微软雅黑";
    padding:0 !important;
}
.dataForm>li{
    margin-bottom:15px;
    display: flex;
    margin-left:70px;
}
.dataForm>li>div{
    padding:0;
}
/*.dataForm>li>div>div{
    padding:0;
}*/
.dataForm>li input{
    width: 140%;
}
.recordMain{
    width: 1200px;
    margin:0 auto;
}
.cut{
    font:14px/50px "微软雅黑";
    margin:0 16px;
}

.cut:after,.recordMain:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #ededed;
}
.cut:before{
    content: "";
    display: inline-block;
    width: 2px;
    height: 20px;
    background: #3d95df;
    vertical-align: middle;
    margin-right: 11px;
}
.recordPro{
    width: 80%;
    margin:0 auto;
}
.datasBgAll{
    display: block;
    width: 101px;
    height: 100px;
    background:url("../../images/record.png") no-repeat -8px 0;
    margin-left:32px;
}
.auditBg{
    background-position: -116px 0;
}
.fillInBg{
    background-position: -213px 0;
}
.overBg{
    background-position: -315px 0;
}
.process{
    display: flex;
    justify-content: space-between;
}
.process>li{
    width: 17%;
    text-align: center;
    position: relative;
}
.datasText,.recTitle{
    font:14px "微软雅黑";
    text-align: center;
    height: 40px;
}
.recTitle{
    margin-top:20px;
}
.dataLise{
    display: block;
    width: 60px;
    height: 61px;
    background: url("../../images/record.png") no-repeat -8px -121px;
    margin:10px 0 0 55px;
}
.dataAudit{
    background-position:-108px -121px;
}
.dataFillIn{
    background-position: -208px -121px;
}
.dataLise:after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #cecece;
    position: absolute;
    bottom: 20px;
    left:85%;
}
.dataLast{
    display: block;
    width: 61px;
    height: 61px;
    background: url("../../images/record.png") no-repeat -308px -121px;
    margin:10px 0 0 55px;
}
.datasMain{
    font:14px/1.5 "微软雅黑";
    margin:10% 5%;
    display: none;
}
.useData>input{
    background: url("../../images/datatime.png") no-repeat right 7px top 7px;
}
.sysText{
    width: 64%;
    padding:0;
}
.sysText>input{
    height: 34px;
    border:none;
    border-bottom: 1px solid #cecece;
}
.sysText>p{
    font:12px/24px "微软雅黑";
    color: #999999;
}
.sysBtn{
    padding:7px 15px;
}
#upBuil{
    width: 100%;
    padding:0;

}
.lastFile{
    margin-left:-52px !important;
}
.xing{
    color: red;
}