@charset "utf-8";
li{
    margin-bottom:15px;
}
label{

    font:normal 14px/34px "微软雅黑" !important;
}
.margin{
    margin-left:15px;
}
.wrap{
    width: 100%;
    height: 1000px;
    position: relative;
}
.closes{
    display: block;
    width: 50px;
    height: 50px;
    border:1px solid #fff;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background: url("../../images/close.png") no-repeat;
    position: absolute;
    top:-8%;
    right:-6%;
}
.revokeBg{
    width: 100%;
    height: 1000px;
    background-color: #767676;
    opacity: .8;
    position: fixed;
    top:0;
    left:0;
    z-index: 14;
}
.revokeTitle{
    line-height:60px;
    margin-left: 15px;
}
.revoke{
    width: 90%;
    height: 419px;
    position: absolute;
    top:-71%;
    left:5%;
    z-index: 146;
    background-color: #fff;
}
.cuto:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #ededed;
}
.tianMsg{
    margin:28px 15px 0;
    font: 14px/32px "微软雅黑";
    color: #333333;
}
.sysBnt{
    padding:7px 30px;
    margin-left:-8px;
}
.sysTet{
    margin-left:-10%;
    width: 80% !important;
}
.sysTet>div,.sysTet>input{
    height: 34px;
    border:none;
    border-bottom: 1px solid #cecece;
}
.sysTet>p{
    font:12px/24px "微软雅黑";
    color: #999999;
}
.revokeText{
    margin-left:-9%;
    line-height: 34px;
}
/*描述*/
.mcTextArea{
    width: 93%;
    height:94px;
    position:relative;
    padding:9px 0 0 9px  !important;
    border:1px solid #cecece;
    margin-left:4% !important;
}
.textAll,#textNum{
    font:12px "微软雅黑";
    color: #999999;
}
.saveTextTitle{
    padding:0;
}
.textAll,#textNum{
    font:12px "微软雅黑";
    color: #999999;
}
#textArea{
    width:100%;
    height:100%;
    border: none;
}
.textAll{
    bottom:3px;
    right:10px;
    position:absolute;
}
.btn{
    margin-right:10px;
}
.btnRight{
    margin-right:31px;
}
.active{
    border:1px solid #3d95df;
}
.active>i{
    border-left:1px solid #3d95df;
    color:#3d95df;
    cursor: pointer;
}
.xing{
    color: red;
}
.cover{
    display: none;
}