<div class="fishBone">

<!--鱼骨图弹窗 -->
  <div id="dialog" 
       class="evaluationAlert revokeBg"
       style="display: none">
    <div class="evaluation revoke" >
    <span class="closes" @click="closesDir"></span>
         <p class="clearfix cuto">
          <span class="fl revokeTitle" v-show="true">变更信息</span>
        </p>
         <div>
            <div class="col-md-12 clearPadding">
                        <!--变更事项--> 
                            <div class="col-md-10 clearPadding h-system-fishbone">
                                <span class="col-md-2 clearPadding " style="margin:15px 0 15px -40px"> 
                                                                                       变更事项：
                                </span>
                               <p class="col-md-3 clearPadding" style="margin:15px 0 15px -40px">{{result1.fkSysChangeMatter}}</p> 
                             </div>
                        <!--变更原因-->
                        <div class="col-md-10 clearPadding h-system-fishbone" style="margin:15px 0 15px -40px">
                                <span class="col-md-2 clearPadding "> 
                                                                                       变更原因：
                                </span>
                               <p class="col-md-3 clearPadding" style="margin:0 0 0 -40px">{{result1.fkChangeReason}}</p> 
                             </div>
                        <!--变更内容-->
                        <div class="col-md-10 clearPadding h-system-fishbone" style="margin:15px 0 15px -40px">
                                <span class="col-md-2 clearPadding "> 
                                                                                       变更内容：
                                </span>
                               <p class="col-md-6 clearPadding" style="margin:0 0 0 -40px">{{result1.fkChangeContent}}</p> 
                             </div>
               </div>
           </div>
      </div>
 </div>
 
   <div id="dialog1" 
       class="evaluationAlert"
       style="display: none;position: fixed;top:0;left: 0;background: rgba(0,0,0,0.5);width:100%;height:100%;z-index:100">
    <div class="evaluation" style="padding:15px;border: 1px solid #cecece;background:#fff; width:80%;  position: absolute;top: 50%;left: 50%;margin-left: -40%; margin-top: -210px;  z-index: 12;">
         <p class="clearfix cut">
          <span class="fl revokeTitle" v-show="true">撤销备案详情</span>
          <span @click="closes(2)" 
                class="fr revokeTitle" 
                style="margin-right: 15px;margin-bottom: 15px;cursor:pointer">X</span>
        </p>
         <div>
            <div class="col-md-12 clearPadding" style="padding:20px">
                        <!--变更事项--> 
                            <div class="col-md-10 clearPadding h-system-fishbone">
                                <span class="col-md-2 clearPadding "> 
                                                               变更事项:
                                </span>
                               <p class="col-md-3 clearPadding" v-show="true"> 
                                                                撤销备案
                               </p>
                             </div>
                         <!--撤销原因-->
                        <div class="col-md-10 clearPadding h-system-fishbone">
                                <span class="col-md-2 clearPadding "> 
                                                               撤销原因：
                                </span>
                               <p class="col-md-3 clearPadding">{{result1.revokereason}}</p> 
                             </div>
                           <!--撤销证明-->
                        <div class="col-md-10 clearPadding h-system-fishbone">
                                <span class="col-md-2 clearPadding "> 
                                                                撤销证明：
                                </span>
                               <p class="col-md-6 clearPadding">
                               <a>{{result1.revokeRecordsName}}</a>
                               </p> 
                             </div>
               </div>
           </div>
      </div>
 </div>

    <ul>    
     <li :class="[index%2!==0?'bottom':'top']" v-for="(pro,index) in result.data" v-show="true">
            <div class="item">
                    <div class="content">
                        <div class="frist_div">操作：{{pro.operation}}</div>
	                        <div class="second_div" v-if="pro.operation == '申请变更' || pro.operation == '撤销备案' ">变更事项：{{pro.operation}} <i @click="showDialog(pro.nodeId)">
	                        	<img alt="" src="../images/home/eye.png" style="width:20px;height:20px;cursor:pointer">
	                        </i> </div> 
                        <div class="second_div">操作人：{{pro.operator}}</div>
                        <div class="thirs_div">操作结果：{{pro.operationResult}}</div>
                        <div style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:150px" class="thirs_div" v-if="pro.operationOpinion!=''" :title="option" >操作意见：{{pro.operationOpinion}}</div>
                    	<div class="thirs_div" v-else>操作意见：无</div>
                    </div>
                    <!-- <div class="over_time">完成时间:{{pro.createTime}}</div> -->
                    <div class="over_time">完成时间:{{formatDate(pro.createTime)}}</div>
                <div class="centerline">
                    <div class="cricle"></div>
                    <div class="line beianline"></div>
                </div>
            </div>
        </li> 
    </ul>
</div>