 <div>
     <div class="container h-padding" style="margin-bottom:15px">
         <!--系统定级备案测评列表-->
         <div class="container" style="background:#fff;padding: 15px">
             <div style="height: 50px;line-height: 50px;margin-top: -15px">
                 <i class="h-list-line" style="vertical-align:middle;"></i>
                 <p style="display: inline-block">审核意见</p>
             </div>
             <div class="h-bottom-line  h-bottom-position" style="margin: 0 -15px"></div>
             <!--审核意见-->
             <div class="row h-table-border" style="margin:0">
                 <div class="col-md-12">
                     <!--审核结果-->
                     <div class="row" style="margin: 15px -15px">
                         <div class="col-md-4 clearPadding">
                             <div class="col-md-2 h-system clearPadding">
                                 <span class="xing">*</span>
                                 审核结果:
                             </div>
                             <div class="col-md-8 h-col-md-9" style="margin-left:10px;">
                              <template>
                                <el-select v-model="formData.scoreCheckResult" id="scoreCheckResult" filterable placeholder="请选择" >
                                  <el-option v-for="item in scoreCheckResultList" :key="item.codeId" :label="item.codeName" :value="item.codeId"></el-option>
                                </el-select>
                              </template>
                             </div>
                         </div>
                     </div>
                     <!--业务描述-->
                     <div class="row" >
                         <div class="col-md-8 text-left clearPadding" >
                             <span for="" class="col-md-2 col-sm-1 saveTextTitle" style="width: 100px;ssss min-width: 104px;">
                                 <span class="xing">*</span>
                                 审核原因:
                             </span>
                             <div @click="text" class="auditGradYewuDescribe col-md-8 col-md-offset-1 col-sm-3" style="border-radius:4px;margin-left:10px;">
                               <textarea id="textArea" cols="30" rows="10" placeholder="请输入" v-model="formData.scoreCheckReason"></textarea>
                               <span class='textAll'><span id="textNum">0</span>/200</span>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!--申请处理记录-->
     <div class="container h-padding">
         <div class="container" style="background:#fff;padding: 15px">
             <div style="height: 50px;line-height: 50px;margin-top: -15px;">
                 <i class="h-list-line" style="vertical-align:middle;"></i>
                 <p style="display: inline-block">申请处理记录</p>
             </div>
             <div class="h-bottom-line  h-bottom-position" style="margin:0 -15px"></div>
             <!--审核历史列表-->
             <div class="row" style="margin:0">
                 <div class="col-md-12">
                     <div class="row table-responsive" style="font-size: 12px;color:#333333">
                         <fishbone></fishbone>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>

