 <div>
<!--验证失败弹窗-->
<template>
  <el-button type="text" @click="open5"></el-button>
</template>
     <div class="container h-padding" style="margin-bottom:15px">
         <!--系统定级备案测评列表-->
         <div class="container" style="background:#fff;padding: 15px；margin-top: -15px;">
             <div style="height: 50px;line-height: 50px;marign-top:-15px;">
                 <i class="h-list-line" style="vertical-align:middle;"></i>
                 <p style="display: inline-block">审核意见</p>
             </div>
             <div class="h-bottom-line  h-bottom-position" style="margin: 0 -15px"></div>
             <!--变更事项-->
             <div class="row auditChangeshixiang" 
                  style="margin-top: 10px;margin-left:10px;" 
                  v-show="fkChangeMatterShow">
                 <div class="col-md-12 text-left clearPadding" >
                     <span class="col-md-1  clearPadding" 
                            style=" width: 71px;  min-width: 71px;"> 
                             变更事项：
                     </span>
                     <div class="auditChangeyuanyin col-md-10" style="margin-left: 10px; padding: 0;">
                        <p class="textArea">{{formData.fkChangeMatter}}</p> 
                     </div>
                 </div>
             </div>
             <!--变更原因-->
             <div class="row auditChangeshixiang" 
              style="margin-top: 10px;margin-left: 10px;"
             v-show="changeContentShow">
                 <div class="col-md-12 text-left clearPadding" >
                     <span class="col-md-1  clearPadding" style="  width: 71px;  min-width: 71px;  "> 
                      变更原因：
                     </span>
                     <div class="auditChangeyuanyin col-md-10" style="margin-left: 10px;    padding: 0;">
                         <p class="textArea">{{formData.changeContent}}</p>
                     </div>
                 </div>
             </div>
             <!--变更内容-->
             <div class="row auditChangeshixiang" v-show="changeReasonShow"  style="margin-top: 10px;margin-left:10px;">
                 <div class="col-md-12 text-left clearPadding" >
                     <span class="col-md-1  clearPadding" style=" width: 71px;  min-width: 71px;">
                      变更内容：
                       </span>
                     <div class="auditChangeyuanyin col-md-10" style="margin-left: 10px;    padding: 0;" >
                         <p class="textArea">{{formData.changeReason}}</p>
                     </div>
                 </div>
             </div>
             <!--变更事项-->
             <div class="row auditChangeshixiang" style="margin-top: 10px;margin-left:10px;" v-show="fkrevokematterShow">
                <div class="col-md-12 text-left clearPadding" >
                    <span class="col-md-1  clearPadding"  style=" width: 71px;  min-width: 71px;"> 
                     变更事项：
                      </span>
                    <div class="auditChangeyuanyin col-md-10" style="margin-left: 10px;    padding: 0;">
                       <p   class="textArea">{{formData.fkrevokematter}}
                        </p> 
                    </div>
                </div>
             </div>
             <!--撤销原因-->
             <div class="row auditChangeshixiang" v-show="revokereasonShow" style="margin-left: 10px;">
                 <div class="col-md-12 text-left clearPadding" >
                     <span class="col-md-1  clearPadding" style=" width: 71px;  min-width: 71px; margin-bottom: 10px;" >
                       撤销原因： </span>
                     <div class="auditChangeyuanyin col-md-10" style=" padding-left: 0px;  margin-left: 10px;">
                         <p class="textArea">{{formData.revokereason}}</p>
                     </div>
                 </div>
             </div>
             <!--撤销证明-->
            <div class="row auditChangeshixiang" style="margin-left:10px;" v-show="revokeRecordsNameShow">
                <div class="col-md-12 text-left clearPadding" >
                    <span class="col-md-1  clearPadding" style=" width: 71px;  min-width: 71px"> 
                     撤销证明：
                      </span>
                    <div class="auditChangeyuanyin col-md-10" style="padding-left: 0px;  margin-left: 10px;">
                        <p class="textArea">
                            <a onclick="downloadFile()" href="#"> {{formData.revokeRecordsName}}</a>
                        </p>
                    </div>
                </div>
             </div>
             <!--审核意见-->
             <div class="row h-table-border" style="margin:0 ;    margin-bottom: 15px;" v-show="jurisdictionShow">
                 <div class="col-md-12" style="padding: 0;">
                     <!--审核结果-->
                     <div class="row" style=" margin-left: 0;margin-top:5px;">
                         <div class="col-md-4 clearPadding">
                             <div class="col-md-8 h-col-md-9" style="margin-left:-8px;">
                             <!--  <template>
                                <el-select v-model="formData.scoreCheckResult" id="scoreCheckResult" filterable placeholder="请选择" >
                                  <el-option v-for="item in scoreCheckResultList" :key="item.codeId" :label="item.codeName" :value="item.codeId"></el-option>
                                </el-select>
                              </template> -->
                              
                              <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
								  <el-form-item label="审核结果：" prop="scoreCheckResult">
								    <el-select v-model="ruleForm.scoreCheckResult" id="scoreCheckResult" @change="changeScore()" filterable placeholder="请选择">
								     <el-option v-for="item in scoreCheckResultList" :key="item.codeId" :label="item.codeName" :value="item.codeId"></el-option>
								  </el-select>
								  </el-form-item> 
								 <div class="one"> 
                 <!-- <div class="one" @click="submitForm('','ruleForm')">  -->
								      <el-form-item label="审核原因：" prop="scoreCheckReason" >
									    <el-input type="textarea" id="textArea" v-model="ruleForm.scoreCheckReason"></el-input>
									  </el-form-item>
								 </div> 
							 </el-form>
					 
							 </div>
                         </div>
                     </div>
 				</div>
             </div>
         </div>
     </div>
     <!--申请处理记录-->
     <div class="container h-padding">
         <div class="container" style="background:#fff;padding: 15px">
             <div style="height: 50px;line-height: 50px;margin-top: -15px;">
                 <i class="h-list-line" style="vertical-align:middle;"></i>
                 <p style="display: inline-block">申请处理记录</p>
             </div>
             <div class="h-bottom-line  h-bottom-position" style="margin:0 -15px"></div>
             <!--审核历史列表-->
             <div class="row" style="margin:0">
                 <div class="col-md-12">
                     <div class="row table-responsive" style="font-size: 12px;color:#333333">
                         <fishbone></fishbone>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>

