
<div class="container h-padding" style="margin:15px;font-size: 14px;font-style: normal">
       <div class="container h-table-border inputPadding" style="background:#fff;padding: 15px">
            <div style="height: 50px;line-height: 50px;margin-top: -15px">
                <i class="h-list-line" style="vertical-align:middle;"></i>
                    漏洞统计排行
                <span class="xiahuaxian hoverOne" @click="getStatisticsType(2)"  style="float: right;">
                    标准化网站系统
                </span>
                <span class="xiahuaxian hoverTwo" @click="getStatisticsType(1)" style="float: right;margin-right: 20px;">
                    定级系统
                </span>
            </div>
            <!--分割线-->
            <div class="h-bottom-line  h-bottom-position" style="margin: 0 -15px;background:#ececec;"></div>
            <div class="row" style="height:450px;margin:0;">
                <div class="col-md-12">
                     <div class="row">
                         <div class="col-md-6 chart chart1 padding-0"  >
                             <!--饼状图-->
                            <div class="col-md-6 bingzhuangtu two">
                                <div style="height: 100px">
                                    <p class="p1">系统等保等级分布</p>
                                    <p class="p2">点击图表查看不同等保等级下系统详情</p>
                                    <div class="p3">
                                        <p class="float-le h-applyTime" >时间:</p>
                                        <div class="float-le timeInput chartstarttime"> 
                                            <template>
                                                <div class="block">
                                                    <!--<span class="demonstration">默认</span>-->
                                                    <el-date-picker class="h-applyTime input"
                                                                    id="gradingBeginTime"
                                                                    v-model="value1"
                                                                    type="date"
                                                                    placeholder="选择日期"
                                                                    @blur="getGradingStatisticsBegin()">
                                                    </el-date-picker>
                                                </div>
                                            </template>
                                        </div>
                                        <p class="float-le"> 到 </p>
                                        <div class="float-le timeInput chartstarttime"  >
                                            <template>
                                                <div class="block">
                                                    <!--<span class="demonstration">默认</span>-->
                                                    <el-date-picker class="h-applyTime input"
                                                                    id="gradingEndTime" 
                                                                    v-model="value3"
                                                                    type="date"
                                                                    placeholder="选择日期"
                                                                    @blur="getGradingStatisticsEnd()">
                                                    </el-date-picker>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                                <div class="bingzhuangBox pos-relative" style="margin-top:5px;">
                                    <!--饼状图表-->
 								   <div class="bingtubiao" style="height:400px;">
                                        <chart-pie :val1="value1"></chart-pie>
                                    </div>
                                </div>
                            </div>
                             <!--小堆叠图-->
                            <div class="col-md-6 xiaoduidie" >
                                <div style="height: 100px">
                                    <p class="p1">不同等保级别系统在不同管理状态下详情</p>
                                    <p class="p2">点击图表查看不同管理状态下不同等保级别的系统详情</p>
                                    <div class="p3">
                                        <p class="float-le h-applyTime" >时间:</p>
                                        <div class="float-le timeInput chartstarttime two">
                                            <template>
                                                <div class="block">
                                                    <!--<span class="demonstration">默认</span>-->
                                                    <el-date-picker class="h-applyTime input"
                                                                    v-model="gradingShapeBegin"
                                                                    type="date"
                                                                    @blur="getGradingShapeBegin()"
                                                                    placeholder="选择日期">
                                                    </el-date-picker>
                                                </div>
                                            </template>
                                        </div>
                                        <p class="float-le"> 到 </p>
                                        <div class="float-le timeInput chartstarttime two">
                                            <template>
                                                <div class="block">
                                                    <!--<span class="demonstration">默认</span>-->
                                                    <el-date-picker class="h-applyTime input"
                                                            v-model="gradingShapeEnd"
                                                            type="date"
                                                            @blur="getGradingShapeEnd()"
                                                            placeholder="选择日期">
                                                    </el-date-picker>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                                <div class="xiaoduidieBox">
                                    <div>
                                        <p class="h-line float-le">类型:</p>
                                        <div class=" duidieIns float-le pos-relative duidieInsSelect">
                                            <!--<span>|</span>-->
                                            <template>
                                                <el-select v-model="gradingShapeType" @change="getGradingShapeType()" clearable filterable placeholder="请选择">
                                                      <el-option  v-for="item in shapeType"
																  :key="item.value"
																  :label="item.label"
																  :value="item.value">
                                                    </el-option>
                                                </el-select>
                                            </template>
                                            <div class="xiaoduitubiao" style="margin-left:-20px;"> 
                                                <chart-bar></chart-bar>
                                             </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                         </div>
                         <!--大堆叠图1-->
                         <div class="col-md-6 chart chart2 bingzhuangtu" >
                             <div style="height: 100px">
                                 <p class="p1">备案单位数量Top10</p>
                                 <p class="p2">备案数量前10的单位排名</p>
                                 <div class="p3 pos-relative">
                                          <div>
                                             <p class="float-le" style="min-width: 5%">时间:</p>
                                             <div class="float-le timeInput chartstarttime two">
                                                 <template>
                                                     <div class="block">
                                                         <!--<span class="demonstration">默认</span>-->
                                                         <el-date-picker class="h-applyTime input"
                                                                         v-model="recordDateBegin"
                                                                         type="date"
                                                                         @blur="getRecordDateBegin()"
                                                                         placeholder="选择日期">
                                                         </el-date-picker>
                                                     </div>
                                                 </template>
                                             </div>
                                             <p class="float-le"> 到 </p>
                                             <div class="float-le timeInput chartstarttime two"  >
                                                 <template>
                                                     <div class="block">
                                                         <!--<span class="demonstration">默认</span>-->
                                                         <el-date-picker class="h-applyTime input"
                                                                         v-model="recordDateEnd"
                                                                         type="date"
                                                                         @blur="getRecordDateEnd()"
                                                                         placeholder="选择日期">
                                                         </el-date-picker>
                                                     </div>
                                                 </template>
                                             </div>
                                          </div>
                                         <p class="float-ri tubiaocon">
                                             <span class="float-ri"><i class="sekuai sekuaiGreen5"></i> 五级</span>
                                             <span class="float-ri"><i class="sekuai sekuaiGreen4"></i> 四级</span>
                                             <span class="float-ri"><i class="sekuai sekuaiGreen3"> </i> 三级</span>
                                             <span class="float-ri"><i class="sekuai sekuaiGreen2"></i> 二级</span>
                                             <span class="float-ri"><i class="sekuai sekuaiGreen1"></i> 一级</span>
                                         </p>
                                     </div>
                             </div>
                             <div class="bingzhuangBox" style="width:750px;margin-left:-65px;">
                               <chart-stack-one></chart-stack-one>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
          	<div class="h-bottom-line h-bottom-position" style="background: #ececec;width: 48.5%;margin:-25px -15px 0 -15px;"></div>
            <div class="row" style="margin:0;height:450px; ">
                <div class="col-md-12 paddind-0">
                    <div class="row">
                        <!--折线图-->
                        <div class="col-md-6 chart chart3 bingzhuangtu" >
                            <div style="height: 100px">
                                <div class="pos-relative">
                                    <p class="p1">系统等保管理趋势 </p>
                                    <p class="p2">不同等保管理状态下系统数量</p>
                                    <!--<span>|</span>-->
                                    <template>
                                   
                                        <el-select v-model="yearType" @change="getYearType()" filterable clearable placeholder="请选择" style="width: 33%;position: absolute;right: 0;top:0;">
                                            <el-option
                                                    v-for="item in years"
                                                    :key="item.value"
                                                    :label="item.label"
                                                    :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </template>
                                </div>
                            </div>
                            <div class="bingzhuangBox" style="height:300px;width:650px;">
                              <chart-line></chart-line>
                            </div>
                        </div>

                        <div class="col-md-6 chart2 chart4 bingzhuangtu two" >
                            <div style="height: 100px">
                                <p class="p1">受理备案单位数量Top10</p>
                                <p class="p2">受理备案数量前10的单位排名</p>
                                <div class="p3 pos-relative">
                                    <div>
                                        <p class="float-le" style="min-width: 5%">时间:</p>
                                        <div class="float-le timeInput chartstarttime">
                                            <template>
                                                <div class="block">
                                                    <!--<span class="demonstration">默认</span>-->
                                                    <el-date-picker class="h-applyTime input"
	                                                                   v-model="acceptRecordDateBegin"
	                                                                   type="date"
	                                                                   @blur="getAcceptRecordDateBegin()"
	                                                                   placeholder="选择日期">
                                                    </el-date-picker>
                                                </div>
                                            </template>
                                        </div>
                                        <p class="float-le"> 到 </p>
                                        <div class="float-le timeInput chartstarttime"  >
                                            <template>
                                                <div class="block">
                                                    <!--<span class="demonstration">默认</span>-->
                                                    <el-date-picker class="h-applyTime input"
                                                                     v-model="acceptRecordDateEnd"
                                                                     type="date"
                                                                     @blur="getAcceptRecordDateEnd()"
                                                                     placeholder="选择日期">
                                                    </el-date-picker>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                    <p class="float-ri tubiaocon">
                                        <span class="float-ri"><i class="sekuai sekuaiBlue5"></i> 五级</span>
                                        <span class="float-ri"><i class="sekuai sekuaiBlue4"></i> 四级</span>
                                        <span class="float-ri"><i class="sekuai sekuaiBlue3"></i> 三级</span>
                                        <span class="float-ri"><i class="sekuai sekuaiBlue2"></i> 二级</span>
                                        <span class="float-ri"><i class="sekuai sekuaiBlue1"></i> 一级</span>
                                    </p>

                                </div>
                            </div>
                            <div class="bingzhuangBox" style="width:750px;margin-left:-65px;">
                              <chart-stack-two></chart-stack-two>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
</div>
