<div class="innerSys">
    <p class="clearfix cut">
        <span class="fl tianMsg">系统自查信息列表</span>
    </p>
    <table class="table table-bordered table-responsive table-striped">
        <tr class="table-bordered rowOneSelf">
            <th>序号</th>
            <th>自查项目名称  <slot name="paixujiantou"></slot></th>
            <th>自查时间 <slot name="paixujiantou1"></slot></th>
            <th>自查状态 <slot name="paixujiantou2"></slot></th>
            <th>自查结果 <slot name="paixujiantou3"></slot></th>
            <th>自查报告</th>
            <th>整改结果<slot name="paixujiantou4"></slot> </th>
            <th>整改时间 <slot name="paixujiantou5"></slot></th>
            <th>整改报告</th>
        </tr>
        <tr class="table-bordered" v-for="(item,index) in selfList">
            <td>{{index+1}}</td>
            <td>{{item.selfInspectionName}}</td>
            <td>{{item.inspectionDate}}</td>
            <td>{{item.inspectionStatusName}}</td>
            <td>{{item.inspectionReuName}}</td>
            <td>
            	<div style="text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:200px" @mouseover="xuanfu(item.examinationReportName)" :title="tishi">
            		<a @click="download(item.examinationReportId)"  style="cursor:pointer" >{{item.examinationReportName}}</a>
            	</div>
            </td>
            <td>{{item.rectificationReuName}}</td>
            <td>{{item.rectificationDate}}</td>
            <td>
            	<div style="text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:200px" @mouseover="xuanfu(item.examinationRectificationReportName)" :title="tishi">
            		<a @click="download(item.examinationRectificationReportId)"  style="cursor:pointer">{{item.examinationRectificationReportName}}</a>
            	</div>
            </td>
        </tr>
    </table>
    <!--分页-->
    <div class="h-page-box1" style="position:relative;width:100%;height:64px;margin-right: 0;">
      <span style="float: left;padding-top: 18px">
        <div v-if="result.currentPage==0">
                        显示0到0行，共0行记录
        </div>
        <div v-else>
                        显示{{((result.currentPage-1)*result.pagesize)+1}}到{{(result.currentPage)*(result.pagesize)}}行，共{{result.total}}行记录
        </div>
      </span>
                        <div class="h-page">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li @click="clickPage(result.currentPage-1)">
                                        <a href="javascript:;" aria-label="Previous">
                                            <span aria-hidden="true">上一页</span>
                                        </a>
                                    </li>
                                    <li v-for="n in result.totalPages==0?1:result.totalPages"
                                        :class="[n==result.currentPage ? 'current' : '' ]">
                                        <a href="javascript:;" @click="clickPage(n)">{{n}}</a>
                                    </li>
                                    <li @click="clickPage(result.currentPage+1)">
                                        <a href="javascript:;" aria-label="Next">
                                            <span aria-hidden="true">下一页</span>
                                        </a>
                                    </li>
                                    共{{result.totalPages}}页，跳到
                                    <li>
                                        <input type="text" id="txt" @keydown.enter="hpageNum(this)"
                                               onkeyup="this.value=this.value.replace(/\D/g,'')"
                                               onafterpaste="this.value=this.value.replace(/\D/g,'')"
                                               style="overflow: visible;">
                                        <div class="box" id="box"></div>
                                    </li>
                                    页
                                </ul>
                            </nav>
    </div>
</div>
</div>